Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(www): blog post [EN] Behind the Screen: A Yes-Code Blog of Svelte Vietnam
  .changeset/soft-queens-beg.md
  .prettierignore
  sites/www/src/lib/client/actions/intersect.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
Due: eslint, prettier --write, stylelint

feat(www): blog post layout - link to github source code
  .changeset/tough-llamas-marry.md
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

docs(DEVELOPMENT): clarifying commit guidelines
  CONTRIBUTING.md
  docs/DEVELOPMENT.md
  docs/DEV_BLOG_POST.md
Due: prettier --write

chore(www): blog - turn off mocking data in listing page
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write

refactor: use a common registration CTA section for all blog/* pages
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): update thumbnail for behind the screen a yes code blog
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.webp
Due: none

refactor(www): let thumbnail be link in blog post item
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/lib/client/styles/postcss/tailwind.cjs
  sites/www/src/lib/client/styles/utilities/utilities.css
Due: eslint, prettier --write, stylelint

style(www): blog - registration section padding and wrap on mobile
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): Breadcrumbs blurred edge on overflow scroll
  .changeset/sour-crabs-compare.md
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
Due: eslint, prettier --write, stylelint

style(www): blog post (details) page - mobile layout
  .changeset/strong-socks-own.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): temporarily hide untouched pages
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

docs(DEV_BLOG_POST): add publication checklist
  docs/DEV_BLOG_POST.md
Due: prettier --write

style(www): apply c-link to anchor tag inside prose
  sites/www/tailwind.config.cjs
Due: eslint, prettier --write

feat(www): new blog post - [VI] Svelte Việt Nam: từ vườn nhà vươn ra thế giới
  .changeset/nine-timers-lick.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/authors.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

feat(www): blog post layout - language indicator (original / translated)
  .changeset/orange-oranges-walk.md
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  sites/www/_templates/post/create/content.en.ejs.t
  sites/www/_templates/post/create/content.vi.ejs.t
  sites/www/_templates/post/create/data.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): tooltip for language indicator - blog post layout
  .changeset/cold-fireants-hope.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/client/styles/components/index.cjs
  sites/www/src/lib/client/styles/components/tooltip.css
  sites/www/src/lib/client/tooltips/TextTooltip.svelte
  sites/www/src/lib/client/tooltips/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): update text for blog post 'Svelte Việt Nam: từ vườn nhà vươn ra thế giới'
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(www): blog post page layout - More Posts section
  .changeset/early-rats-greet.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): add new blog posts to rss & sitemap
  .changeset/wild-shrimps-return.md
  sites/www/src/routes/(api)/rss.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

feat(www): [EN] Svelte Vietnam: from Local to Global
  .changeset/tidy-humans-attack.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
Due: eslint, prettier --write, stylelint

refactor(www): automatically inject `target` & `rel` attributes to external links via svelte preprocessor
  .changeset/yellow-mails-own.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/additional-svelte-typings.d.ts
  sites/www/src/lib/client/components/ContributorCard/ContributorCard.svelte
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/components/ProjectCard/ProjectCard.svelte
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

style(www): minor UI details adjustment
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): add thumbnail for EN Svelte Vietnam: from Local to Global
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/images/thumbnail.webp
Due: eslint, prettier --write, stylelint

fix(www): outdated named export
  sites/www/src/lib/shared/mocks/index.ts
Due: eslint, prettier --write

feat(www): first draft PC version of blog post page
  .changeset/wet-ants-rescue.md
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/shared/assets/images/svg/google/share.svg
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

feat(www): VI blog post Behind the Screen: blog chạy bằng cơm (và code)
  .changeset/shiny-camels-poke.md
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/authors.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/confused-man.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/creative-paper.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/cta-write.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/hardcoded-data.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/tech-and-bug.svg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
Due: eslint, prettier --write, stylelint

docs(DEV_BLOG_POST): add mini section to instruct how to create component
  docs/DEV_BLOG_POST.md
Due: prettier --write

feat: add Posts section to home page
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): widen spacing in /blog listing page
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
Due: eslint, prettier --write, stylelint
