Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

style(www): EnhancedCodeBlock - copy icon btn should be white always
  sites/www/src/lib/client/components/EnhancedCodeBlock/EnhancedCodeBlock.svelte
Due: eslint, prettier --write, stylelint

feat(www): multiple series for post
  .changeset/odd-bulldogs-join.md
  sites/www/_templates/post/create/data.ejs.t
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/blog/series.ts
  sites/www/src/lib/shared/data/blog/types.ts
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

style(www): common css for figure & iframe in blog posts
  sites/www/src/lib/client/styles/blog.css
Due: stylelint

chore(www): use a 16x9 thumbnail fallback image for blog post
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/shared/assets/images/fallback/16x9.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): allow blog post creation hygen to prompt for publication date
  sites/www/_templates/post/create/prompt.js
Due: eslint, prettier --write

fix(www): blog post inSeries search duplicated posts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
Due: eslint, prettier --write

perf(www): blog post inSeries search - stop at max length
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
Due: eslint, prettier --write

feat(www): new algorithm for searching posts in same series
  .changeset/fair-hairs-wink.md
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): remove border of 16x9 fallback img
  sites/www/src/lib/shared/assets/images/fallback/16x9.jpg
Due: none

fix(mailer): typo in EN footer template
  services/mailer/src/lib/server/mjml/includes/no-reply-footer-en.mjml
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
Due: none

style(www): set indent style for mdsvex files to spaces for consistent rendering of code block
  .editorconfig
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): bump SvelteKit, shikiji, and superforms
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

fix(www): run vitePreprocess after other Svelte preprocessors
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

fix(www): correct `inLanguage` property of BlogPosting structured data
  sites/www/src/lib/shared/data/blog/helpers.ts
Due: eslint, prettier --write

style(www): increase icon size of c-callout
  libs/ui/css/components/c-callout.css
Due: stylelint

chore: upgrade @svelte-put/*
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
  sites/www/src/routes/[lang=lang]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade vite & svelte-kit
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(www): make optional keywords, thumbnail, ogImage
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/lib/shared/mocks/index.ts
Due: eslint, prettier --write

refactor(www): resolveLangVar -> localizeLangVar
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/lib/shared/services/i18n/index.ts
  sites/www/src/routes/(api)/rss.xml/+server.ts
Due: eslint, prettier --write

refactor(www): deprecate ROOT_URL, can be extracted from env
  sites/www/_templates/post/create/page.server.ejs.t
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/lib/shared/data/structured.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/(api)/.well-known/webfinger/+server.ts
  sites/www/src/routes/[lang=lang]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[lang=lang]/(prototype)/people/+page.server.ts
  sites/www/src/routes/[lang=lang]/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/+page.server.ts
  sites/www/src/routes/[lang=lang]/blog/+page.server.ts
  sites/www/src/routes/[lang=lang]/code-of-conduct/+page.server.ts
  sites/www/src/routes/[lang=lang]/design/+page.server.ts
  sites/www/src/routes/[lang=lang]/design/blog/+page.server.ts
  sites/www/src/routes/[lang=lang]/design/colors/+page.server.ts
  sites/www/src/routes/[lang=lang]/design/typography/+page.server.ts
  sites/www/src/routes/[lang=lang]/events/(events)/202312-year-end-online-meetup/+page.server.ts
  sites/www/src/routes/[lang=lang]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[lang=lang]/events/+page.server.ts
  sites/www/src/routes/[lang=lang]/jobs/+page.server.ts
  sites/www/src/routes/[lang=lang]/roadmap/+page.server.ts
  sites/www/src/routes/[lang=lang]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[lang=lang]/roadmap/_page/translation/vi.ts
  sites/www/src/routes/[lang=lang]/sponsor/+page.server.ts
  sites/www/src/routes/[lang=lang]/subscriptions/[token]/+page.server.ts
Due: eslint, prettier --write

refactor(www): people - change field name avatarURL -> avatarStaticPath to signify static nature
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/Person/Person.svelte
  sites/www/src/lib/shared/data/people/index.ts
Due: eslint, prettier --write, stylelint

refactor(www): move $client/actions -> $lib/actions
  sites/www/src/lib/actions/intersect.ts
  sites/www/src/routes/(localized)/_page/components/SectionCommunity.svelte
  sites/www/src/routes/(localized)/_page/components/SectionEvents.svelte
  sites/www/src/routes/(localized)/_page/components/SectionImpact.svelte
  sites/www/src/routes/(localized)/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/(localized)/_page/components/SectionJobs.svelte
  sites/www/src/routes/(localized)/_page/components/SectionPosts.svelte
  sites/www/src/routes/(localized)/_page/components/SectionSponsor.svelte
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/blog/+page.svelte
  sites/www/src/routes/(localized)/code-of-conduct/+page.svelte
  sites/www/src/routes/(localized)/design/+page.svelte
  sites/www/src/routes/(localized)/design/blog/+page.svelte
  sites/www/src/routes/(localized)/design/colors/+page.svelte
  sites/www/src/routes/(localized)/design/typography/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/+page.svelte
  sites/www/src/routes/(localized)/jobs/+page.svelte
  sites/www/src/routes/(localized)/roadmap/+page.svelte
  sites/www/src/routes/(localized)/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): remove and unpack $3rd alias
  sites/www/src/lib/client/components/ConsecutiveFadeUpIntro/ConsecutiveFadeUpIntro.svelte
  sites/www/src/routes/(localized)/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/(localized)/_page/components/SectionIntro/animation.ts
  sites/www/src/routes/(localized)/sponsor/+page.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

refactor(www): group turnstile action and server code into $lib/turnstile
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/turnstile/turnstile.action.ts
  sites/www/src/lib/turnstile/turnstile.server.ts
Due: eslint, prettier --write, stylelint

refactor(www): move $client/modals -> $lib/modals
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/QRCode/index.ts
  sites/www/src/lib/modals/WireframeVersionNotice/WireframeVersionNotice.cache.ts
  sites/www/src/lib/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/modals/WireframeVersionNotice/index.ts
  sites/www/src/lib/modals/WireframeVersionNotice/translation/en.ts
  sites/www/src/lib/modals/WireframeVersionNotice/translation/index.ts
  sites/www/src/lib/modals/WireframeVersionNotice/translation/vi.ts
  sites/www/src/lib/modals/index.ts
  sites/www/src/routes/(localized)/(prototype)/+layout.svelte
  sites/www/src/routes/(localized)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): deprecate $client/utils - not used anywhere
  sites/www/src/lib/client/utils/screen.ts
Due: eslint, prettier --write

refactor(www): move $client/notifications -> $lib/notifications
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/notifications/BaseNotification.svelte
  sites/www/src/lib/notifications/DiscordNotification.svelte
  sites/www/src/lib/notifications/NotificationPortal.svelte
  sites/www/src/lib/notifications/TextOnlyNotification.svelte
  sites/www/src/lib/notifications/index.ts
  sites/www/src/routes/(localized)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/design/colors/+page.svelte
  sites/www/src/routes/(localized)/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): $client/forms & $server/actions -> $lib/forms
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/forms/actions/mail/mail.server.ts
  sites/www/src/lib/forms/actions/mail/translation/en.ts
  sites/www/src/lib/forms/actions/mail/translation/index.ts
  sites/www/src/lib/forms/actions/mail/translation/vi.ts
  sites/www/src/lib/forms/index.ts
  sites/www/src/routes/(localized)/blog/+layout.server.ts
  sites/www/src/routes/(localized)/blog/+page.server.ts
  sites/www/src/routes/(localized)/design/blog/+page.svelte
  sites/www/src/routes/(localized)/events/+page.server.ts
  sites/www/src/routes/(localized)/jobs/+page.server.ts
  sites/www/src/routes/(localized)/subscriptions/[token]/+page.server.ts
  sites/www/src/routes/(localized)/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move $client/tooltips -> $lib/tooltips
  sites/www/src/lib/components/EventCard/EventCard.svelte
  sites/www/src/lib/notifications/BaseNotification.svelte
  sites/www/src/lib/tooltips/TextTooltip.svelte
  sites/www/src/lib/tooltips/index.ts
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move $client/easter -> $lib/easter
  sites/www/src/lib/easter/BlueScreenOfDeath.svelte
  sites/www/src/lib/easter/ascii-pho.ts
  sites/www/src/lib/easter/ascii-pho.txt
  sites/www/src/lib/easter/hat-blow.ts
  sites/www/src/routes/(localized)/+page.svelte
  sites/www/src/routes/+error.svelte
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move $client/styles -> $lib/css
  sites/www/_templates/css/create/component.ejs.t
  sites/www/_templates/css/create/component.inject.ejs.t
  sites/www/_templates/css/create/prompt.js
  sites/www/src/lib/css/app.css
  sites/www/src/lib/css/blog.css
  sites/www/src/lib/css/code.css
  sites/www/src/lib/css/heading-anchor.css
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/design/blog/+page.svelte
  sites/www/src/routes/(localized)/design/colors/+page.svelte
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move $client/cache -> $lib/cache
  sites/www/src/lib/cache/browser/browser-cache.class.ts
  sites/www/src/lib/cache/browser/browser-cache.decorator.ts
  sites/www/src/lib/cache/browser/index.ts
  sites/www/src/lib/modals/WireframeVersionNotice/WireframeVersionNotice.cache.ts
Due: eslint, prettier --write

refactor(www): move $shared/utils -> $lib/utils
  sites/www/src/lib/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/components/EventCard/EventCard.svelte
  sites/www/src/lib/components/Header/Header.svelte
  sites/www/src/lib/utils/clamp.ts
  sites/www/src/lib/utils/datetime.ts
  sites/www/src/routes/(api)/humans.txt/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move $shared/types -> $lib/types
  sites/www/src/lib/components/ContributorCard/ContributorCard.svelte
  sites/www/src/lib/components/JobCard/JobCard.svelte
  sites/www/src/lib/components/ProjectCard/ProjectCard.svelte
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/lib/types/index.ts
  sites/www/src/routes/(localized)/_page/components/SectionImpact.svelte
  sites/www/src/routes/(localized)/_page/components/SectionJobs.svelte
  sites/www/src/routes/(localized)/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint
