Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(recruit): add approvedAt to job-posting data model (manual approval workflow)
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/job-postings/tables.ts
Due: eslint, prettier --write, stylelint

chore(backend): consistent subject line for employer emails
  workers/backend/src/mjml/templates/recruit-employer-change-email/index.ts
  workers/backend/src/mjml/templates/recruit-employer-login/index.ts
  workers/backend/src/mjml/templates/recruit-employer-onboard/index.ts
Due: eslint, prettier --write

fix(backend): add missing name typing in recruit-employer-change-email vars
  workers/backend/src/mjml/templates/recruit-employer-change-email/index.ts
Due: eslint, prettier --write

feat(recruit+backend): send email to employer on successful job posting creation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  workers/backend/src/mjml/templates/ids.ts
  workers/backend/src/mjml/templates/index.ts
  workers/backend/src/mjml/templates/recruit-employer-create-job-posting/en.mjml
  workers/backend/src/mjml/templates/recruit-employer-create-job-posting/index.ts
  workers/backend/src/mjml/templates/recruit-employer-create-job-posting/vi.mjml
Due: eslint, prettier --write

feat(recruit+backend): send email to admin on successful job posting creation
  sites/recruit.sveltevietnam.dev/.env.example
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  workers/backend/src/mjml/includes/admin-footer/en.mjml
  workers/backend/src/mjml/includes/admin-footer/vi.mjml
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/en.mjml
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/index.ts
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/vi.mjml
  workers/backend/src/mjml/templates/recruit-employer-create-job-posting/vi.mjml
  workers/backend/src/worker.ts
Due: eslint, prettier --write

enhance(recruit): render approved_at for job posting, instead of created_at
  packages/kit/src/components/job-posting-list/JobPosting.svelte
  packages/kit/src/components/job-posting-list/index.d.ts
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(recruit): setup deploy script
  sites/recruit.sveltevietnam.dev/package.json
  turbo.json
Due: prettier --write

chore(recruit): setup custom domain
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: prettier --write

chore(kit): setup dev global App typings
  packages/kit/src/app.d.ts
Due: eslint, prettier --write

chore(kit+www+recruit): configure cookie domain to root
  packages/kit/src/hooks.js
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/hooks.server.ts
Due: eslint, prettier --write

refactor(backend): improve drizzle config to get d1 local file more consistent
  workers/backend/drizzle.config.ts
  workers/backend/package.json
  workers/backend/src/database/dev.js
Due: eslint, prettier --write

feat(backend): export wrangler.json, schema, and utils to get orm & push schema programatically
  workers/backend/package.json
  workers/backend/src/database/dev.js
Due: eslint, prettier --write

feat(backend): setup a test environment for e2e
  .gitignore
  workers/backend/drizzle.config.ts
  workers/backend/package.json
  workers/backend/wrangler.json
Due: eslint, prettier --write

fix(backend): specifiy optional cwd in db/dev utils
  workers/backend/src/database/dev.js
Due: eslint, prettier --write

fix(backend): remove $/ type alias, allow type discovery from importer
  workers/backend/src/app.d.ts
  workers/backend/src/data/bluesky-posts/index.ts
  workers/backend/src/data/employers/index.ts
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/job-postings/tables.ts
  workers/backend/src/data/links.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/mails/tables.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/database/schema.ts
  workers/backend/src/worker.ts
  workers/backend/tsconfig.json
Due: eslint, prettier --write

refactor(backend+recruit): simplify db/* exports
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  workers/backend/package.json
Due: eslint, prettier --write

refactor(recruit): authenticate form action - get backend first before proceed
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
Due: eslint, prettier --write

feat(recruit): setup test environment for e2e
  sites/recruit.sveltevietnam.dev/.env.example
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/svelte.config.js
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write

feat(recruit): implement e2e global setup & teardown boilerplate with playwright
  package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/.gitignore
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/tests/001-authenticate.e2e.ts
  sites/recruit.sveltevietnam.dev/tests/_db.setup.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
  workers/backend/src/database/dev.js
Due: eslint, prettier --write

fix(backend): write db/dev as TS to support easier cross-project type hint
  workers/backend/package.json
  workers/backend/src/database/dev.ts
Due: eslint, prettier --write

fix(backend): better check for local vs deployed env (avoid using secret store in local)
  workers/backend/src/app.d.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/worker.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

enhance(recruit): authenticate - wrap callout in output element
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit.e2e): extract backend config to utils
  sites/recruit.sveltevietnam.dev/tests/_db.setup.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
  sites/recruit.sveltevietnam.dev/tests/utils.ts
Due: eslint, prettier --write

feat(recruit): load authenticate resent waiting time from wrangler env
  sites/recruit.sveltevietnam.dev/src/app.d.ts
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write, stylelint

fix(i18n): move internal message factory functions to separate module (avoid error when import outside of Svelte context)
  packages/i18n/package.json
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/runtime/factory.js
  packages/i18n/src/runtime/index.js
Due: eslint, prettier --write

refactor(backend): set mail toekn TTL in wrangler config
  workers/backend/src/app.d.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

chore: set volta explicitly in each package.json for node version consistency
  packages/css/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

fix(i18n): put back default field in exports to support CJS import (drizzle)
  packages/i18n/package.json
Due: prettier --write

chore: set pnpm settings minimumReleaseAge to 3 days
  pnpm-workspace.yaml
Due: none

enhance(recruit): add role, label to account-menu, close on link click
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): label each form with its section heading in profile page
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.svelte
Due: eslint, prettier --write, stylelint

test(recruit): skip turnstile if in test mode
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
Due: eslint, prettier --write

chore(backend): skip queue batching in local envs
  workers/backend/wrangler.json
Due: prettier --write

feat(backend): add dev util to get kv blob path in local env
  workers/backend/src/database/dev.ts
Due: eslint, prettier --write

refactor(recruit): rename e2e to uat to be more specific about user-facing test strategy
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/tests/001-authenticate.e2e.ts
  sites/recruit.sveltevietnam.dev/tests/_db.setup.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
Due: eslint, prettier --write

refactor(recruit): deprecate db setup & teardown test dependency in favor for encapsulated fixture
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/tests/_db.setup.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/utils.ts
Due: eslint, prettier --write

test(recruit): implement set up page object models (POMs) for authenticate, onbaording, welcom, and profile pages
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/poms/utils.ts
  sites/recruit.sveltevietnam.dev/tests/poms/welcome.ts
Due: eslint, prettier --write, stylelint

refactor(recruit): move backend config getter to test-with-backend fixture
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/utils.ts
Due: eslint, prettier --write

perf(recruit): put back separate db setup and teardown project to optimize tests
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/tests/_db.setup.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
Due: eslint, prettier --write
