Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor: set up representative page skeletons
  eslint.config.js
  libs/utils/src/language/index.js
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/data/emails.ts
  sites/sveltevietnam.dev/src/data/links.ts
  sites/sveltevietnam.dev/src/data/structured.ts
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/hooks.ts
  sites/sveltevietnam.dev/src/lib/constants/index.ts
  sites/sveltevietnam.dev/src/lib/meta/index.ts
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/design/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/design/+page.svelte
  sites/sveltevietnam.dev/static/favicon.svg
  sites/sveltevietnam.dev/static/logo/negative-with-text.svg
  sites/sveltevietnam.dev/static/logo/negative.svg
  sites/sveltevietnam.dev/static/logo/original-with-text.svg
  sites/sveltevietnam.dev/static/logo/original.jpg
  sites/sveltevietnam.dev/static/logo/original.png
  sites/sveltevietnam.dev/static/logo/original.svg
  sites/sveltevietnam.dev/static/logo/positive-with-text.svg
  sites/sveltevietnam.dev/static/logo/positive.svg
Due: eslint, prettier --write, stylelint

chore: ugprade dependencies
  package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: codegen i18n routing configuration via vite-plugin
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/data/routing/en.generated.json
  sites/sveltevietnam.dev/src/data/routing/reroute-config.generated.json
  sites/sveltevietnam.dev/src/data/routing/vi.generated.json
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/hooks.ts
  sites/sveltevietnam.dev/src/lib/constants/index.ts
  sites/sveltevietnam.dev/src/lib/meta/index.ts
  sites/sveltevietnam.dev/src/lib/meta/structured.ts
  sites/sveltevietnam.dev/src/lib/routing/context.svelte.ts
  sites/sveltevietnam.dev/src/lib/routing/utils.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/design/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/design/_page/routing.json
  sites/sveltevietnam.dev/src/routing.generated.d.ts
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

refactor(libs/i18n): re-organize vite plugin code
  .prettierignore
  libs/i18n/package.json
  libs/i18n/src/internals/build.js
  libs/i18n/src/internals/codegen.js
  libs/i18n/src/internals/collect.js
  libs/i18n/src/internals/locale.schema.json
  libs/i18n/src/internals/parse.js
  libs/i18n/src/internals/private.d.ts
  libs/i18n/src/internals/transform.js
  libs/i18n/src/internals/utils.js
  libs/i18n/src/vite.js
  libs/i18n/src/vite/index.js
  libs/i18n/src/vite/plugin.js
  libs/i18n/src/vite/utils.js
  sites/sveltevietnam.dev/src/data/locales/en.json
  sites/sveltevietnam.dev/src/data/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/_page/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/_page/locales/vi.json
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

feat(libs/i18n): support HMR on locale file change
  libs/i18n/package.json
  libs/i18n/src/internals/build.js
  libs/i18n/src/vite.js
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(libs/i18n): support HMR for unlinked (removed) locale files
  libs/i18n/src/internals/build.js
  libs/i18n/src/internals/codegen.js
  libs/i18n/src/vite.js
Due: eslint, prettier --write

feat(libs/i18n): add cli entry with lint command
  lefthook.yaml
  libs/i18n/package.json
  libs/i18n/src/cli.js
  libs/i18n/src/internals/lint.js
  libs/i18n/src/vite.js
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: eslint, prettier --write

perf(libs/i18n): lint/build directories asynchronously
  libs/i18n/src/internals/build.js
  libs/i18n/src/internals/lint.js
Due: eslint, prettier --write

chore(libs/i18n): report parsing error in lint more gracefully
  libs/i18n/src/internals/lint.js
Due: eslint, prettier --write

feat(libs/i18n): change load function to loadLocale, export the local Locale type
  libs/i18n/src/internals/codegen.js
Due: eslint, prettier --write

chore(libs/i18n): skip file with parsing errors during build
  libs/i18n/src/internals/build.js
Due: eslint, prettier --write

chore(libs/i18n): swap string instead of snippet as the fallback for T.svelte
  libs/i18n/src/runtime/T.svelte
Due: eslint, prettier --write, stylelint

refactor: change libs/* directory name to packages/* (may be published in the future)
  docs/DEVELOPMENT.md
  packages/i18n/.gitignore
  packages/i18n/package.json
  packages/i18n/src/cli.js
  packages/i18n/src/index.js
  packages/i18n/src/internals/build.js
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/internals/collect.js
  packages/i18n/src/internals/lint.js
  packages/i18n/src/internals/locale.schema.json
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/private.d.ts
  packages/i18n/src/internals/transform.js
  packages/i18n/src/internals/utils.js
  packages/i18n/src/language.js
  packages/i18n/src/runtime/T.svelte
  packages/i18n/src/runtime/T.svelte.d.ts
  packages/i18n/src/runtime/index.js
  packages/i18n/src/runtime/types.public.d.ts
  packages/i18n/src/runtime/types.public.js
  packages/i18n/src/utils/index.js
  packages/i18n/src/utils/lang-var/pack-lang-var/pack-lang-var.js
  packages/i18n/src/utils/lang-var/unpack-lang-var/unpack-lang-var.js
  packages/i18n/src/utils/url/delocalize-url/delocalize-url.js
  packages/i18n/src/utils/url/delocalize-url/delocalize-url.test.js
  packages/i18n/src/utils/url/get-lang-from-url/get-lang-from-url.js
  packages/i18n/src/utils/url/get-lang-from-url/get-lang-from-url.test.js
  packages/i18n/src/utils/url/is-url-localized/is-url-localized.js
  packages/i18n/src/utils/url/is-url-localized/is-url-localized.test.js
  packages/i18n/src/utils/url/localize-url/localize-url.js
  packages/i18n/src/utils/url/localize-url/localize-url.test.js
  packages/i18n/src/vite.js
  packages/i18n/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --write, stylelint

style(packages/ui): add common typography components c-text-*
  packages/ui/css/components/c-text-*.css
  packages/ui/css/components/index.css
  packages/ui/css/theme/colors/index.css
  packages/ui/css/theme/colors/palette.css
  packages/ui/css/theme/index.css
Due: stylelint

feat(sveltevietnam.dev): implement language menu
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/header/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/header/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/header/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/header/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/images/flag-gb.svg
  sites/sveltevietnam.dev/src/lib/components/language-menu/images/flag-vn.svg
  sites/sveltevietnam.dev/src/lib/components/language-menu/index.ts
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/generated/index.js
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.ts
  sites/sveltevietnam.dev/src/routes/(site)/+page.svelte
Due: eslint, prettier --write, stylelint

style(ui): reduce proxy palette variables
  packages/ui/css/theme/colors/index.css
  packages/ui/css/theme/colors/palette.css
Due: stylelint

feat(sveltevietnam.dev): implement ColorSchemeMenu & enhance a11y for LanguageMenu
  sites/sveltevietnam.dev/src/lib/actions/inert.ts
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/index.ts
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/locales/generated/index.js
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/header/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/header/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/header/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/header/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/language-menu/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement desktop skeleton for Header
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/hooks.ts
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): add page menu to header for desktop
  sites/sveltevietnam.dev/src/data/routing/generated/vi.json
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/index.ts
  sites/sveltevietnam.dev/src/lib/components/page-menu/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/page-menu/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/page-menu/locales/generated/index.js
  sites/sveltevietnam.dev/src/lib/components/page-menu/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/page-menu/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.ts
  sites/sveltevietnam.dev/src/routes/(site)/_page/routing.json
Due: eslint, prettier --write, stylelint

feat(sveltevietnam): implement mobile header
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/data/routing/generated/en.json
  sites/sveltevietnam.dev/src/data/routing/generated/reroute-config.json
  sites/sveltevietnam.dev/src/data/routing/generated/vi.json
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/bluesky.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/cloudflare-workers.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/discord.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/facebook.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/github.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/opencollective.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/svelte.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/tailwindcss.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/youtube.svg
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/header/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/header/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/header/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/header/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/social-links/SocialLinks.svelte
  sites/sveltevietnam.dev/src/lib/components/social-links/index.ts
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/preprocess-inline-svg.d.ts
  sites/sveltevietnam.dev/src/routes/(site)/search/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/search/_page/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/search/_page/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/search/_page/locales/generated/index.js
  sites/sveltevietnam.dev/src/routes/(site)/search/_page/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/search/_page/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/search/_page/routing.json
  sites/sveltevietnam.dev/src/routing.generated.d.ts
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement Footer
  packages/ui/css/medias.css
  packages/ui/css/theme/breakpoints.css
  sites/sveltevietnam.dev/src/data/routing/generated/en.json
  sites/sveltevietnam.dev/src/data/routing/generated/vi.json
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/svelte.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/simpleicons/tailwindcss.svg
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/footer/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/footer/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/footer/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/footer/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/GreenWebBadge.svelte
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/index.ts
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/locales/generated/index.js
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/NotByAiBadge.svelte
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/index.ts
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/locales/generated/en.js
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/locales/generated/index.js
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/locales/generated/vi.js
  sites/sveltevietnam.dev/src/lib/components/not-by-ai-badge/locales/vi.json
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/social-links/SocialLinks.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.ts
  sites/sveltevietnam.dev/src/routes/(site)/rss.xml/+server.ts
  sites/sveltevietnam.dev/src/routes/(site)/rss.xml/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/sitemap.xml/+server.ts
  sites/sveltevietnam.dev/src/routes/(site)/sitemap.xml/_page/routing.json
  sites/sveltevietnam.dev/src/routing.generated.d.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): reduce footer about wording
  sites/sveltevietnam.dev/src/lib/components/footer/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/footer/locales/generated/en.js
Due: eslint, prettier --write

feat(sveltevietnam.dev): hide header on scrolling down
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam/ui): override default tailwind typography variables. Add missing svelte color
  packages/ui/css/components/c-btn/c-btn.css
  packages/ui/css/theme/colors/index.css
  packages/ui/css/typography.css
Due: stylelint

chore(sveltevietnam.dev): move opacity var into a $derived - Header component
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement static resource section on homepage
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/book.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/box.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/puzzle.png
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/puzzle.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/rect-washer.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-docs.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-github.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-hack.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-lab.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-playground.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-radio.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-society.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-summit.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-tutorial.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/svelte-society-logo.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/locales/vi.json
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): make border of step glow and spin - resources section on homepage
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement sponsor section and skeletons for blog and events sections on homepage
  packages/ui/css/theme/index.css
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/tba/TBA.svelte
  sites/sveltevietnam.dev/src/lib/components/tba/index.ts
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/blog/SectionBlog.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/SectionEvents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/sponsor/SectionSponsor.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/sponsor/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/sponsor/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/sponsor/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/sponsor/locales/vi.json
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement blog page skeleton
  packages/ui/css/base.css
  pnpm-lock.yaml
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/data/routing/generated/en.json
  sites/sveltevietnam.dev/src/data/routing/generated/reroute-config.json
  sites/sveltevietnam.dev/src/data/routing/generated/vi.json
  sites/sveltevietnam.dev/src/lib/assets/images/patterns/circuit-dark.avif
  sites/sveltevietnam.dev/src/lib/assets/images/patterns/circuit-light.avif
  sites/sveltevietnam.dev/src/lib/assets/images/patterns/jigsaw-dark.avif
  sites/sveltevietnam.dev/src/lib/assets/images/patterns/jigsaw-light.avif
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/index.ts
  sites/sveltevietnam.dev/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  sites/sveltevietnam.dev/src/lib/components/breadcrumbs/index.ts
  sites/sveltevietnam.dev/src/lib/components/gradient-background/GradientBackground.svelte
  sites/sveltevietnam.dev/src/lib/components/gradient-background/index.ts
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/routes/(site)/blog/+layout.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/_page/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/_page/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/_page/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/_page/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/categories/[category]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/categories/[category]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/latest/_page/routing.json
  sites/sveltevietnam.dev/src/routing.generated.d.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): complete blog index page with post layout
  packages/ui/css/components/c-link-lazy.css
  packages/ui/css/theme/index.css
  packages/ui/css/utilities/max-w-pad.css
  sites/sveltevietnam.dev/src/data/routing/generated/en.json
  sites/sveltevietnam.dev/src/data/routing/generated/reroute-config.json
  sites/sveltevietnam.dev/src/data/routing/generated/vi.json
  sites/sveltevietnam.dev/src/lib/assets/images/fallbacks/16x9.jpg
  sites/sveltevietnam.dev/src/lib/assets/images/fallbacks/1x1.jpg
  sites/sveltevietnam.dev/src/lib/assets/images/fallbacks/3x2.jpg
  sites/sveltevietnam.dev/src/lib/assets/images/fallbacks/og.jpg
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/series/[series]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/series/[series]/_page/routing.json
  sites/sveltevietnam.dev/src/routing.generated.d.ts
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/i18n/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix: correctly split route key with multiple layout groups
  sites/sveltevietnam.dev/src/lib/routing/utils.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/loaders.ts
Due: eslint, prettier --write

refactor: move sub level blog post listing pages into layout group (listing)
  sites/sveltevietnam.dev/src/data/mocks.ts
  sites/sveltevietnam.dev/src/data/routing/generated/en.json
  sites/sveltevietnam.dev/src/data/routing/generated/vi.json
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/[category]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/[category]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/_page/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/_page/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/_page/locales/generated/index.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/_page/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/_page/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/_page/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/_page/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/_page/locales/generated/index.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/_page/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/_page/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/latest/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/[series]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/[series]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/_page/locales/en.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/_page/locales/generated/en.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/_page/locales/generated/index.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/_page/locales/generated/vi.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/_page/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routing.generated.d.ts
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies; switch back to pure inert attribute (reprecate use:insert)
  package.json
  packages/i18n/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/actions/inert.ts
Due: eslint, prettier --write
