Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

style(www): subscriptions/token - minor styling adjustments
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): replace key visuals in /events page
  .changeset/lovely-ravens-dance.md
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/key-visuals.webp
Due: eslint, prettier --write, stylelint

chore: allow both langs in blog post proposal
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
Due: none

chore: use copilot4pr in PR pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: add inside and technical tag options to blog post proposal
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
Due: none

chore: add more information for blog post link request
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/en_external_blog_post_link_request.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_external_blog_post_link_request.yaml
Due: none

feature(www): ToBeAnnounced - figure variant as the default
  .changeset/afraid-gifts-shave.md
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/tba-figure.webp
Due: eslint, prettier --write, stylelint

chore: deprecate gtag & partytown in favor of Cloudflare Zaraz
  .changeset/five-sloths-try.md
  .eslintignore
  .github/workflows/deploy_www.yaml
  .prettierignore
  pnpm-lock.yaml
  services/mailer/.eslintrc.cjs
  sites/www/.env
  sites/www/.eslintrc.cjs
  sites/www/.gitignore
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/shared/utils/html-scripts.ts
  sites/www/src/routes/+layout.svelte
  sites/www/static/~partytown/partytown-atomics.js
  sites/www/static/~partytown/partytown-media.js
  sites/www/static/~partytown/partytown-sw.js
  sites/www/static/~partytown/partytown.js
Due: eslint, prettier --write, stylelint

chore: add unique message id to `mshick/add-pr-comment action run
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
Due: none

style(www): extract c-link-box css component
  .changeset/odd-pumpkins-happen.md
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
Due: eslint, prettier --write, stylelint

chore: move blog output prototype phase
  sites/www/_templates/post/create/listing-import.inject.ejs.t
  sites/www/_templates/post/create/listing-post.inject.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: add typing and mock data generator for external post
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/mocks/index.ts
Due: eslint, prettier --write

refactor(www): turnstile in MailRegistrationForm - give turnstile div a default size to avoid layout shift
  .changeset/stupid-donkeys-raise.md
  sites/www/src/lib/client/actions/turnstile.ts
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
Due: eslint, prettier --write, stylelint

fix(www): turn on token validation & fetching for /subscriptions route
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.server.ts
Due: eslint, prettier --write

chore(www): mark blog task as completed in roadmap
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

feat(mailer): new 'blog' subscription domain
  .changeset/flat-eyes-call.md
  internals/isc/src/mailer/subscriptions/dto.js
  services/mailer/d1/migrations/0003_add_blog_column_to_subscriptions.sql
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
Due: eslint, prettier --write

feat(www): full responsive first draft of blog page
  .changeset/fresh-wolves-hide.md
  internals/isc/src/mailer/subscriptions/dto.js
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/BlogPostItem/index.ts
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/client/components/ExternalBlogPostItem/index.ts
  sites/www/src/lib/client/components/FallbackImage/FallbackImage.svelte
  sites/www/src/lib/client/components/FallbackImage/index.ts
  sites/www/src/lib/client/styles/components/tag.css
  sites/www/src/lib/client/styles/postcss/tailwind.cjs
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/shared/utils/datetime.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): remove /events/[slug] - each page will be static
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): empty TBA state for sections in /blog
  .changeset/rotten-insects-leave.md
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): add blog field to /subscriptions/[token]
  .changeset/silly-planes-play.md
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): consistent text link style for title of card / list item
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/components/ProjectCard/ProjectCard.svelte
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): consolidate tag css component padding (same on mobile / desktop)
  sites/www/src/lib/client/styles/components/tag.css
Due: stylelint

style(www): widen spacing in /blog listing page
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
Due: eslint, prettier --write, stylelint

feat: add Posts section to home page
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): blog listing page - add additional contact instruction
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

docs(DEV_BLOG_POST): add mini section to instruct how to create component
  docs/DEV_BLOG_POST.md
Due: prettier --write

feat(www): first draft PC version of blog post page
  .changeset/wet-ants-rescue.md
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/shared/assets/images/svg/google/share.svg
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

feat(www): VI blog post Behind the Screen: blog chạy bằng cơm (và code)
  .changeset/shiny-camels-poke.md
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/authors.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/confused-man.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/creative-paper.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/cta-write.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/hardcoded-data.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/tech-and-bug.svg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
Due: eslint, prettier --write, stylelint
