Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(organisms.Header): autoclose overlay on mobile when switching language
  src/lib/client/components/organisms/Header/Header.svelte
Due: eslint, prettier --write, stylelint

feat(page.sponsor): bootstrap & wireframe
  src/lib/shared/services/i18n/translations/pages/sponsor/en.ts
  src/lib/shared/services/i18n/translations/pages/sponsor/vi.ts
  src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

style(organisms.Footer): remove link text on >= md screen, add open collective social icon
  src/lib/client/components/icons/simpleicons/OpenCollective.svelte
  src/lib/client/components/organisms/Footer/Footer.svelte
  src/lib/shared/constants/index.ts
Due: eslint, prettier --write, stylelint

style(page.code-of-conduct): minor adjustment for gap & icon switch
  src/lib/client/components/icons/google/ShieldWithHeart.svelte
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/en.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/vi.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor: update title for code of conduct link
  src/lib/client/components/organisms/Footer/Footer.svelte
Due: eslint, prettier --write, stylelint

docs: add PROJECT_REFERENCES doc
  .prettierignore
  docs/PROJECT_REFERENCES.md
Due: prettier --write

chore: update wording CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Due: prettier --write

docs: add SECURITY
  SECURITY.md
Due: prettier --write

docs: add basic PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs: README - project status and links
  README.md
Due: prettier --write

chore: set site as under construction, hide all content for now
  src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: add .nvmrc & update dependencies
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(organisms.EventCard): bootstrap & wireframe
  src/lib/client/components/organisms/EventCard/EventCard.svelte
  src/lib/client/components/organisms/EventCard/index.ts
  src/lib/shared/assets/images/svg/google/arrow-right-alt.svg
  src/lib/shared/assets/images/svg/google/location-on.svg
  src/lib/shared/assets/images/svg/google/schedule.svg
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/events/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor: extract page level components - page, header, h1, h2
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  src/routes/[[lang=lang]]/sponsor/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

feat(page.events): bootstrap & wireframe
  src/lib/client/components/organisms/EventCard/EventCard.svelte
  src/lib/shared/mocks/index.ts
  src/lib/shared/services/i18n/translations/pages/events/en.ts
  src/lib/shared/services/i18n/translations/pages/events/vi.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/sponsor/+page.svelte
  stylelint.config.cjs
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

WIP feat(page.events): notification registration form
  package.json
  pnpm-lock.yaml
  src/lib/shared/services/i18n/translations/pages/events/en.ts
  src/lib/shared/services/i18n/translations/pages/events/vi.ts
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

chore: update dependencies & utilize type inference for page data prop
  package.json
  pnpm-lock.yaml
  src/routes/+layout.server.ts
  src/routes/[[lang=lang]]/+layout.svelte
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/jobs/+page.server.ts
  src/routes/[[lang=lang]]/jobs/+page.svelte
  src/routes/[[lang=lang]]/people/+page.server.ts
  src/routes/[[lang=lang]]/people/+page.svelte
  src/routes/[[lang=lang]]/sponsor/+page.server.ts
  src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

chore: setup hygen for quick scaffoling project artifacts
  _templates/component/new/index.ejs.t
  _templates/component/new/prompt.js
  _templates/component/new/svelte.ejs.t
  _templates/generator/help/index.ejs.t
  _templates/generator/new/hello.ejs.t
  _templates/generator/with-prompt/hello.ejs.t
  _templates/generator/with-prompt/prompt.ejs.t
  _templates/init/repo/new-repo.ejs.t
  _templates/package.json
  _templates/translation/new/en.ejs.t
  _templates/translation/new/index.ejs.t
  _templates/translation/new/prompt.js
  _templates/translation/new/vi.ejs.t
  package.json
  pnpm-lock.yaml
  src/lib/shared/services/i18n/translations/__template__/en.ts
  src/lib/shared/services/i18n/translations/__template__/index.ts
  src/lib/shared/services/i18n/translations/__template__/vi.ts
Due: eslint, prettier --write

refactor: scope footer & header translation to components domain
  src/lib/client/components/organisms/Footer/Footer.svelte
  src/lib/client/components/organisms/Header/Header.svelte
  src/lib/shared/services/i18n/translations/components/footer/en.ts
  src/lib/shared/services/i18n/translations/components/footer/index.ts
  src/lib/shared/services/i18n/translations/components/footer/vi.ts
  src/lib/shared/services/i18n/translations/components/header/en.ts
  src/lib/shared/services/i18n/translations/components/header/index.ts
  src/lib/shared/services/i18n/translations/components/header/vi.ts
Due: eslint, prettier --write, stylelint

refactor: extract logics, ui, translations of mail listing registration
  src/lib/client/components/organisms/MailRegistrationForm/MailRegistrationForm.svelte
  src/lib/client/components/organisms/MailRegistrationForm/index.ts
  src/lib/server/actions/mail.ts
  src/lib/shared/services/i18n/translations/actions/mail/en.ts
  src/lib/shared/services/i18n/translations/actions/mail/index.ts
  src/lib/shared/services/i18n/translations/actions/mail/vi.ts
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

feat(organisms.JobCard): initial implementation
  package.json
  pnpm-lock.yaml
  src/lib/client/components/organisms/EventCard/EventCard.svelte
  src/lib/client/components/organisms/JobCard/JobCard.svelte
  src/lib/client/components/organisms/JobCard/index.ts
  src/lib/shared/assets/images/svg/google/volunteer-activism.svg
  src/lib/shared/services/i18n/translations/components/job-card/en.ts
  src/lib/shared/services/i18n/translations/components/job-card/index.ts
  src/lib/shared/services/i18n/translations/components/job-card/vi.ts
  src/reset.d.ts
Due: eslint, prettier --write, stylelint

feat(page.jobs): bootstrap & wireframe
  _templates/component/new/svelte.ejs.t
  _templates/translation/new/prompt.js
  src/lib/shared/mocks/index.ts
  src/lib/shared/services/i18n/translations/pages/events/en.ts
  src/lib/shared/services/i18n/translations/pages/events/vi.ts
  src/lib/shared/services/i18n/translations/pages/jobs/en.ts
  src/lib/shared/services/i18n/translations/pages/jobs/vi.ts
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/jobs/+page.server.ts
  src/routes/[[lang=lang]]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

style(page.jobs): sensisble support for mobile UI
  src/lib/client/components/organisms/JobCard/JobCard.svelte
  src/routes/[[lang=lang]]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

feat(pages.people): bootstrap & wireframe implementation
  src/lib/client/components/organisms/ContributorCard/ContributorCard.svelte
  src/lib/client/components/organisms/ContributorCard/ContributorLink.svelte
  src/lib/client/components/organisms/ContributorCard/index.ts
  src/lib/shared/assets/images/svg/google/favorite.svg
  src/lib/shared/assets/images/svg/google/public.svg
  src/lib/shared/assets/images/svg/google/social-leaderboard.svg
  src/lib/shared/assets/images/svg/google/thumb-up.svg
  src/lib/shared/assets/images/svg/google/verified.svg
  src/lib/shared/assets/images/svg/simpleicon/linkedin.svg
  src/lib/shared/constants/index.ts
  src/lib/shared/mocks/index.ts
  src/lib/shared/services/i18n/translations/pages/people/en.ts
  src/lib/shared/services/i18n/translations/pages/people/vi.ts
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/people/+page.server.ts
  src/routes/[[lang=lang]]/people/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

chore(page.people): correct mocking contributor data
  src/lib/shared/mocks/index.ts
Due: eslint, prettier --write

chore(page.impact): bootstrap & wireframe implementation
  src/lib/client/components/organisms/ProjectCard/ProjectCard.svelte
  src/lib/client/components/organisms/ProjectCard/index.ts
  src/lib/shared/assets/images/svg/google/eco.svg
  src/lib/shared/assets/images/svg/google/handshake.svg
  src/lib/shared/constants/index.ts
  src/lib/shared/mocks/index.ts
  src/lib/shared/services/i18n/translations/pages/impact/en.ts
  src/lib/shared/services/i18n/translations/pages/impact/vi.ts
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/people/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

feat: homepage boostrap & wireframe implementation
  src/lib/client/components/organisms/Header/Header.svelte
  src/lib/client/styles/app.css
  src/lib/shared/mocks/index.ts
  src/lib/shared/services/i18n/translations/pages/home/en.ts
  src/lib/shared/services/i18n/translations/pages/home/vi.ts
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/impact/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
