Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(@services/discord): add .env.development for references
  services/discord/.env.development
Due: none

refactor(@services/discord): encapsulate discord logics into own file
  services/discord/package.json
  services/discord/src/app.d.ts
  services/discord/src/discord.js
  services/discord/src/env.js
  services/discord/src/server.js
Due: eslint, prettier --write

feat: init @services/discord
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/discord/.gitignore
  services/discord/package.json
  services/discord/src/app.d.ts
  services/discord/src/server.js
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(@services/discord): type checking with jsconfig. Improve env loading with zod & custom fastify plugin
  pnpm-lock.yaml
  services/discord/jsconfig.json
  services/discord/package.json
  services/discord/src/app.d.ts
  services/discord/src/env.js
  services/discord/src/server.js
Due: eslint, prettier --write

chore: update deps
  package.json
  pnpm-lock.yaml
  sites/www/package.json
Due: prettier --write

chore: better manage encrypted .env with git-secret
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
  services/discord/.env.development
  services/discord/.env.secret
Due: none

chore(@services/discord): specify server port through env
  services/discord/package.json
  services/discord/src/env.js
  services/discord/src/server.js
Due: eslint, prettier --write

chore(@services/discord): health check path /healthz
  services/discord/src/server.js
Due: eslint, prettier --write

chore: temporarily disable client websocket connection to discord service
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(@sites/www): change some mocking data & fix minor styles
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
Due: eslint, prettier --write, stylelint

chore(@services/discord): add MODE to env, set host based on MODE
  .gitsecret/paths/mapping.cfg
  services/discord/.env.secret
  services/discord/src/env.js
  services/discord/src/server.js
Due: eslint, prettier --write

feat(@services/discord): resolve #84
  services/discord/src/discord.js
  services/discord/src/discord/discord.bot.js
  services/discord/src/discord/discord.fastify.js
  services/discord/src/discord/discord.service.js
  services/discord/src/discord/discord.websocket.js
  services/discord/src/discord/index.js
  services/discord/src/server.js
Due: eslint, prettier --write

perf: use webp instead of png for images
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/shared/assets/images/fallback/company.png
  sites/www/src/lib/shared/assets/images/fallback/company.webp
  sites/www/src/lib/shared/assets/images/fallback/default.png
  sites/www/src/lib/shared/assets/images/fallback/default.webp
  sites/www/src/lib/shared/assets/images/fallback/job.png
  sites/www/src/lib/shared/assets/images/fallback/job.webp
  sites/www/src/lib/shared/assets/images/fallback/sponsor.png
  sites/www/src/lib/shared/assets/images/fallback/sponsor.webp
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/lib/shared/mocks/vietnam-image.jpg
  sites/www/src/lib/shared/mocks/vietnam-image.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-ellipse.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-ellipse.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-polygon.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-polygon.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-star.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-star.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-ellipse.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-ellipse.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-star.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-star.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-large.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-large.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-small.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-small.webp
  sites/www/src/routes/[[lang=lang]]/_page/images/community-shape-ellipse.png
  sites/www/src/routes/[[lang=lang]]/_page/images/community-shape-ellipse.webp
  sites/www/src/routes/[[lang=lang]]/_page/images/community-shape-polygon.png
  sites/www/src/routes/[[lang=lang]]/_page/images/community-shape-polygon.webp
  sites/www/src/routes/[[lang=lang]]/_page/images/community-shape-star.png
  sites/www/src/routes/[[lang=lang]]/_page/images/community-shape-star.webp
Due: eslint, prettier --write, stylelint

fix(@sties/www:header.ColorSchemaMenu): fix accessibility problems reported by light house
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
Due: eslint, prettier --write, stylelint

style(@sites/www:LanguageNav): increase default opacity for better contrast
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

chore: add screenshots and fallback OG image
  sites/www/static/images/og/home.webp
  sites/www/static/images/screenshots/screenshot-1280x720.webp
  sites/www/static/images/screenshots/screenshot-428x926.webp
  sites/www/static/site.webmanifest
Due: none

chore: setup multilang SEO meta tags for each page
  sites/www/.vscode/settings.json
  sites/www/src/app.d.ts
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
Due: eslint, prettier --write, stylelint

chore: wording update
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write

refactor(@sites/www): set color scheme cookie from client side
  sites/www/.env
  sites/www/src/hooks.server.ts
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/(api)/api/color-scheme/+server.ts
  sites/www/src/routes/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade to latest dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

chore(discord): switch to tsconfig.json (instead of jsconfig.json)
  services/discord/src/app.d.ts
  services/discord/tsconfig.json
Due: eslint, prettier --write

fix(discord): add destroy method to discord service
  services/discord/src/discord/discord.service.js
Due: eslint, prettier --write

docs(dicsord): document what discordbot and discordwebsocket do for easier comparison
  services/discord/src/discord/discord.bot.js
  services/discord/src/discord/discord.websocket.js
Due: eslint, prettier --write

chore(discord): enable bot to send welcome message to real #hello channel
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  services/discord/src/discord/discord.bot.js
Due: eslint, prettier --write

chore: hoist stylelint deps and config to repo root
  package.json
  sites/www/package.json
  stylelint.config.cjs
Due: eslint, prettier --write

style(www): fix lint style
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/client/components/ProjectCard/ProjectCard.svelte
  sites/www/src/lib/client/styles/theme.cjs
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): lazily check for gtag in conditions (avoid breaking on local firefox dev)
  pnpm-lock.yaml
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): content update (wording, homepage construction note)
  sites/www/src/lib/client/actions/intersect.ts
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): resolve issues reported by polypane
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
  sites/www/prettier.config.cjs
  sites/www/src/app.html
  sites/www/static/site.webmanifest
Due: eslint, prettier --write

refactor: deprecate the @mixin dark in favor of postcss-color-scheme plugin
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/globals/mixins/dark.cjs
  sites/www/src/lib/client/styles/globals/mixins/index.cjs
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  services/discord/package.json
  sites/www/package.json
Due: eslint, prettier --write

fix: better html scripts (partytown & gtag) management
  sites/www/.env
  sites/www/.eslintrc.cjs
  sites/www/src/lib/shared/utils/html-scripts.ts
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): setup notification system with @svelte-put/noti
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/client/notifications/Notification.svelte
  sites/www/src/lib/client/notifications/NotificationPortal.svelte
  sites/www/src/lib/client/notifications/index.ts
  sites/www/src/lib/client/styles/theme.cjs
  sites/www/src/lib/shared/assets/images/svg/google/check-circle.svg
  sites/www/src/routes/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): extract a base Notification component, extend from there
  sites/www/src/lib/client/notifications/BaseNotification.svelte
  sites/www/src/lib/client/notifications/TextOnlyNotification.svelte
  sites/www/src/lib/client/notifications/index.ts
Due: eslint, prettier --write, stylelint

refactor: move prettier config to repo root
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  sites/www/package.json
  sites/www/prettier.config.cjs
Due: eslint, prettier --write

refactor(www): css comonent avatar - make usable
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/styles/components/avatar.css
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
