Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

style(www): Settings modal - keep CTAs sticky at bottom
  sites/www/src/lib/components/Settings/Settings.svelte
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
Due: eslint, prettier --write, stylelint

style(libs/ui): add c-backdrop component
  .changeset/orange-beers-carry.md
  libs/ui/src/css/core/components/c-backdrop.css
  libs/ui/src/css/core/components/index.js
Due: eslint, prettier --write, stylelint

enhance(sites/www): Settings - confirm if leave without saving
  sites/www/src/lib/actions/dirtyform.ts
  sites/www/src/lib/components/Settings/Settings.svelte
  sites/www/src/lib/components/Settings/index.ts
  sites/www/src/lib/modals/Confirmation/Confirmation.svelte
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
  sites/www/src/routes/(localized)/settings/+page.server.ts
Due: eslint, prettier --write, stylelint

feat(libs/ui): c-btn--pop button variant
  .changeset/good-fireants-warn.md
  libs/ui/src/css/core/components/c-btn.css
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
  sites/www/src/routes/(localized)/events/+page.svelte
  sites/www/src/routes/(localized)/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

style(sites/www): Settings - adjust border color
  sites/www/src/lib/components/Settings/Settings.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
Due: eslint, prettier --write, stylelint

fix(sites/www): EventListItem - correctly copy event url
  sites/www/src/lib/components/EventListItem/EventListItem.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade @sveltejs/adapter-cloudflare
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
  sveltejs-adapter-cloudflare-4.2.0.tgz
Due: prettier --write

docs: update DEVELOPMENT - remove node version recommendation, link to package.json
  docs/DEVELOPMENT.md
Due: prettier --write

chore(www): publish event content for 2024 Spring Meetup
  sites/www/src/lib/data/people/avatars/trongnguyen24.jpg
  sites/www/src/lib/data/people/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
  sites/www/src/routes/(localized)/events/(events)/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): move sponsor section down, no longer most important
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

fix(mailer): remove eticket image in confirmation email
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-vi.template.mjml
Due: none

fix(libs/ui): correctly pass class attribute to enhanced-code-block
  .changeset/popular-bikes-end.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write, stylelint

feat(sites/ui): allow focusing lines, inpsired by shiki focus transformer
  .changeset/olive-laws-refuse.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
  sites/www/src/routes/(localized)/design/blog/code/_page/content.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/meta-block-focus.md.svelte
Due: eslint, prettier --write, stylelint

feat(www): new blog post 'Introduction to Svelte Action: Runtime Superpowers'
  .changeset/polite-spoons-cross.md
  sites/www/src/lib/data/blog/posts.ts
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/+page.server.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/+page.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/_page/images/thumbnail.jpg
Due: eslint, prettier --write, stylelint

chore(www): typo and wording
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240414-introduction-to-svelte-action-runtime-superpower/_page/content.en.md.svelte
Due: eslint, prettier --write, stylelint

style(libs/ui): increase blur effect for focus lines of enhanced code blocks
  .changeset/sharp-spies-retire.md
  libs/ui/src/css/typography/base/prose.css
Due: prettier --write, stylelint

chore(www): adjust timeline content - Spring 2024 HCM meetup
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(libs/ui): allow skipping meta block & enhanced-code-block processing with '/// enhanced=false' meta line
  .changeset/friendly-suns-juggle.md
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write

feat(www): new blog post (EN & VI) - 'Come for Svelte, Stay for the Web'
  .changeset/friendly-rivers-pump.md
  sites/www/src/lib/data/blog/posts.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/+page.server.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/+page.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/examples/.markdownlint.json
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/examples/example.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/images/clickoutside.png
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/images/preprocess-blog.png
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/images/svelte-preprocessor.png
  sites/www/src/routes/(localized)/blog/(posts)/20240420-come-for-svelte-stay-for-the-web/_page/images/thumbnail.jpg
Due: eslint, prettier --write, stylelint

WIP
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/routes/(localized)/presentation/+page.server.ts
  sites/www/src/routes/(localized)/presentation/+page@.svelte
  sites/www/src/routes/(localized)/presentation/_page/images/preprocess-blog.png
  sites/www/src/routes/(localized)/presentation/_page/images/svelte-and-kit-version-timeline.svg
  sites/www/src/routes/(localized)/presentation/_page/images/svelte-preprocessor.png
  sites/www/src/routes/(localized)/presentation/_page/reveal.config.ts
  sites/www/src/routes/(localized)/presentation/_page/reveal.css
Due: eslint, prettier --write, stylelint

chore(www): update blog post CSS Component - add more context about impact of global css
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/network-transfer.png
Due: eslint, prettier --write, stylelint

fix(www): correctly render lang version tooltip
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/events/check-in/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): fix broken links in design/colors page
  sites/www/src/routes/(localized)/design/colors/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): typo fixes
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/roadmap/_page/translation/en.ts
Due: eslint, prettier --write, stylelint

chore: set pnpm to v9, and node to 20.13
  .github/workflows/changesets.yaml
  .github/workflows/deploy_discord.yaml
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
  .github/workflows/unit_tests.yaml
  package.json
Due: prettier --write

chore(www): 2024 Spring HCM meetup - remove e-ticket registration
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

chore(libs/ui): migrate enhance-code-block to Svelte 5
  .changeset/five-seals-fry.md
  libs/ui/package.json
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte.d.ts
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte.d.ts
  libs/ui/src/lib/components/FileIcon.svelte
  libs/ui/src/lib/components/enhanced-code-block-group-context.svelte.js
  libs/ui/src/lib/preprocessors/enhance-code-block/index.js
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
  pnpm-lock.yaml
Due: eslint, prettier --write, stylelint

fix(libs/ui): correct path to enhnaced code block components
  .changeset/cool-grapes-visit.md
  libs/ui/src/lib/preprocessors/enhance-code-block/index.js
Due: eslint, prettier --write

chore(libs/ui): remove :where in css of enhanced code block components
  .changeset/clean-bottles-speak.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
Due: eslint, prettier --write, stylelint

chore(libs/ui): extract component prop types to own file
  .changeset/yellow-kangaroos-promise.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte.d.ts
  libs/ui/src/lib/components/enhanced-code-block-group-context.svelte.js
  libs/ui/src/lib/components/types.d.ts
Due: eslint, prettier --write, stylelint

chore(libs/ui): FileIcon move to Svelte 5 syntax
  .changeset/mighty-countries-drop.md
  libs/ui/src/lib/components/FileIcon.svelte
Due: eslint, prettier --write, stylelint

fix(libs/ui): add back default values for props of EnhancedCodeBlock
  .changeset/swift-foxes-relax.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/types.d.ts
Due: eslint, prettier --write, stylelint

chore: put back @internals/utils
  libs/utils/.gitignore
  libs/utils/package.json
  libs/utils/src/index.js
  libs/utils/src/language/index.js
  libs/utils/src/url/delocalize-url/delocalize-url.js
  libs/utils/src/url/delocalize-url/delocalize-url.test.js
  libs/utils/src/url/get-lang-from-url/get-lang-from-url.js
  libs/utils/src/url/get-lang-from-url/get-lang-from-url.test.js
  libs/utils/src/url/index.js
  libs/utils/src/url/is-url-localized/is-url-localized.js
  libs/utils/src/url/is-url-localized/is-url-localized.test.js
  libs/utils/src/url/localize-url/localize-url.js
  libs/utils/src/url/localize-url/localize-url.test.js
  libs/utils/tsconfig.json
  libs/utils/vitest.config.js
Due: eslint, prettier --write

fix(libs/utils): remove deprecated signature subpackage pub definition
  libs/utils/package.json
Due: prettier --write

chore(libs/utils): fix jsdoc lint
  libs/utils/src/language/index.js
  libs/utils/src/url/delocalize-url/delocalize-url.js
  libs/utils/src/url/get-lang-from-url/get-lang-from-url.js
  libs/utils/src/url/localize-url/localize-url.js
Due: eslint, prettier --write
