Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

style(sveltevietnam.dev): sponsor page - relax max-width for paragraphs
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): sponsor page - wording adjustments
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

fix(sveltevietnam.dev): sponsor page - typo in ml class
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): edit code of conduct page
  sites/sveltevietnam.dev/src/lib/components/faq/FAQ.Item.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): code-of-conduct - minor CSS touch up
  sites/sveltevietnam.dev/src/lib/components/intro-separator/IntroSeparator.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/_page/images/quote.svg
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): unpack flex layout - sponsor page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

fix(i18n): avoid var name collision
  packages/i18n/src/internals/transform.js
Due: eslint, prettier --write

refactor(sveltevietnam.dev): extract resuable 'pen' variant for IntroSeparator
  sites/sveltevietnam.dev/src/lib/components/blog-listing-intro/BlogListingIntro.svelte
  sites/sveltevietnam.dev/src/lib/components/intro-separator/IntroSeparator.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): cap blog post content to max-w-readable-relaxed
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): bootstrap /:lang/blog/write page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/images/og-blog-write.en.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/images/og-blog-write.vi.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/images/plant.svg
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): create:post script
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

chore: update pretter ignore and config for yaml
  .prettierignore
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  prettier.config.js
  sites/sveltevietnam.dev/package.json
Due: eslint, prettier --write

chore(sveltevietnam.dev): format all locales yaml with prettier
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/locales/en.yaml
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/en.yaml
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

style(sveltevietnam.dev): load fallback image for person list item
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): create:person script
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

chore: copy env via boot command
  docs/DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/package.json
  turbo.json
Due: prettier --write

chore: run dts in boot command
  package.json
Due: prettier --write

style: consolidate border-radius for code blocks
  packages/css/src/typography.css
  packages/markdown/src/components/code-block/CodeBlock.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  eslint.config.js
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

style: use fira code for codeblock
  packages/css/src/theme/index.css
  packages/css/src/typography.css
  sites/sveltevietnam.dev/src/app.html
Due: prettier --write, stylelint

style(CodeBlock): add right border to files group label
  packages/markdown/src/components/code-block/CodeBlock.svelte
Due: eslint, prettier --write, stylelint

fix(CodeBlockGroup): apply border radius from css var
  packages/markdown/src/components/code-block-group/CodeBlockGroup.svelte
Due: eslint, prettier --write, stylelint

feat(css): c-select CSS component
  packages/css/src/components/c-select.css
  packages/css/src/components/index.css
Due: stylelint

feat(sveltevietnam.dev): CalloutPlayground component
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/callout-playground/CalloutPlayground.svelte
  sites/sveltevietnam.dev/src/lib/components/callout-playground/index.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): render table of contents as recursive tree (with more spacing and left border)
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/components/table-of-contents/TableOfContents.svelte
  sites/sveltevietnam.dev/src/lib/components/table-of-contents/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam): adjust wording write section of blog page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

feat(sveltevietnam.dev): /vi/blog/viet/ page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/data-edit/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/callout/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-basic.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-diff.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-group-files.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-group-tabs.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-highlight-focus.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/example/content/content.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/example/images/blog.png
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): self contain post metadata in a single definition file
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/blog/posts/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231012-svelte-vietnam-from-local-to-global/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231020-lets-write-a-simple-svelte-preprocessor/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/metadata.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): self contain post series data in a single definition file
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/blog/series/behind-the-screen/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/styling-svelte-vietnam/index.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): self contain post categories metadata in a single definition file
  sites/sveltevietnam.dev/src/data/blog/categories/community/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/ecosystem/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/insider/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/svelte-and-kit/index.ts
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
Due: eslint, prettier --write

fix(sveltevietnam.dev): update create-post script to contain metdata in single definition file
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): remove outdated section in /vi/blog/viet
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/data-edit/vi.md.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): self contain person data in a single definition file
  sites/sveltevietnam.dev/src/data/people/locales/en.yaml
  sites/sveltevietnam.dev/src/data/people/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/index.ts
  sites/sveltevietnam.dev/src/data/people/vnphanquang/index.ts
Due: eslint, prettier --write

style(sveltevietnam.dev): set absolute for see more link in person listing card on >2xl container
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): /en/blog/write page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/data-edit/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/data-edit/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/callout/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-group-files.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/example/content/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/example/content/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): create-post script - set lowercase for keywords and relative url in content example
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

style(sveltevietnam.dev): simplify icon matching - PersonLinks component
  sites/sveltevietnam.dev/src/lib/components/person-links/PersonLinks.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): put back create-person script
  sites/sveltevietnam.dev/scripts/create-person.ts
  sites/sveltevietnam.dev/scripts/create-post.ts
  sites/sveltevietnam.dev/scripts/helpers.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): remove duplicate lines in script helpers
  sites/sveltevietnam.dev/scripts/helpers.ts
Due: eslint, prettier --write

chore: remove obsolete copilot marker in pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
