Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat: homepage boostrap & wireframe implementation
  src/lib/client/components/organisms/Header/Header.svelte
  src/lib/client/styles/app.css
  src/lib/shared/mocks/index.ts
  src/lib/shared/services/i18n/translations/pages/home/en.ts
  src/lib/shared/services/i18n/translations/pages/home/vi.ts
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/impact/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor: flatten organisms into just components (avoid premature generics)
  _templates/component/create/index.ejs.t
  _templates/component/create/prompt.js
  _templates/component/create/svelte.ejs.t
  _templates/translation/create/en.ejs.t
  _templates/translation/create/index.ejs.t
  _templates/translation/create/prompt.js
  _templates/translation/create/vi.ejs.t
  src/lib/client/components/ContributorCard/ContributorCard.svelte
  src/lib/client/components/ContributorCard/ContributorLink.svelte
  src/lib/client/components/ContributorCard/index.ts
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/EventCard/index.ts
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/components/Footer/index.ts
  src/lib/client/components/Header/ColorSchemeIcon.svelte
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/Header/index.ts
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/components/JobCard/index.ts
  src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  src/lib/client/components/MailRegistrationForm/index.ts
  src/lib/client/components/ProjectCard/ProjectCard.svelte
  src/lib/client/components/ProjectCard/index.ts
  src/routes/[[lang=lang]]/+layout.svelte
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/jobs/+page.svelte
  src/routes/[[lang=lang]]/people/+page.svelte
Due: eslint, prettier --write, stylelint

chore: bootstrap modal system & WireframeVersionNotice
  _templates/modal/create/index.ejs.t
  _templates/modal/create/prompt.js
  _templates/modal/create/svelte.ejs.t
  package.json
  pnpm-lock.yaml
  src/lib/client/modals/BaseModal/BaseModal
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  src/lib/client/modals/WireframeVersionNotice/index.ts
  src/lib/client/modals/index.ts
  src/lib/shared/assets/images/svg/google/handyman.svg
  src/lib/shared/constants/index.ts
  src/routes/[[lang=lang]]/+layout.svelte
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/people/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(modals.WireframeVersionNotice): wording update, remove 'the'
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
Due: eslint, prettier --write, stylelint

style(WireframeVersionNotice): add shadow
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
Due: eslint, prettier --write, stylelint

feat(client.sevice.cache): implement base cache service
  package.json
  pnpm-lock.yaml
  src/lib/client/services/cache/browser-cache.class.ts
  src/lib/client/services/cache/browser-cache.decorator.ts
  src/lib/client/services/cache/index.ts
  tsconfig.json
Due: eslint, prettier --write

refactor(modals.WireframeVersionNotice): allow 'do-not-show' cta on second appearance
  src/lib/client/modals/BaseModal/BaseModal
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.cache.ts
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  src/lib/client/services/cache/browser-cache.decorator.ts
  src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(modals.WireframeVersionNotice): add translations
  _templates/translation/create/prompt.js
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  src/lib/shared/services/i18n/translations/modals/wireframe-version-notice/en.ts
  src/lib/shared/services/i18n/translations/modals/wireframe-version-notice/index.ts
  src/lib/shared/services/i18n/translations/modals/wireframe-version-notice/vi.ts
  src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(actions.mail): migrate translations location to adjacent
  src/lib/shared/actions/mail/mail.server.ts
  src/lib/shared/actions/mail/translation/en.ts
  src/lib/shared/actions/mail/translation/index.ts
  src/lib/shared/actions/mail/translation/vi.ts
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/jobs/+page.server.ts
Due: eslint, prettier --write

refactor(modals.WireframeVersionNotice): migrate translations location to adjacent
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  src/lib/client/modals/WireframeVersionNotice/translation/en.ts
  src/lib/client/modals/WireframeVersionNotice/translation/index.ts
  src/lib/client/modals/WireframeVersionNotice/translation/vi.ts
  src/lib/shared/services/i18n/translations/modals/wireframe-version-notice/en.ts
  src/lib/shared/services/i18n/translations/modals/wireframe-version-notice/vi.ts
Due: eslint, prettier --write, stylelint

refactor(components): migrate translations location to adjacent
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/components/Footer/translation/en.ts
  src/lib/client/components/Footer/translation/index.ts
  src/lib/client/components/Footer/translation/vi.ts
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/Header/translation/en.ts
  src/lib/client/components/Header/translation/index.ts
  src/lib/client/components/Header/translation/vi.ts
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/components/JobCard/translation/en.ts
  src/lib/client/components/JobCard/translation/index.ts
  src/lib/client/components/JobCard/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(pages): migrate translations location to adjacent
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/_page/translation/en.ts
  src/routes/[[lang=lang]]/_page/translation/index.ts
  src/routes/[[lang=lang]]/_page/translation/vi.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  src/routes/[[lang=lang]]/code-of-conduct/_page/translation/en.ts
  src/routes/[[lang=lang]]/code-of-conduct/_page/translation/index.ts
  src/routes/[[lang=lang]]/code-of-conduct/_page/translation/vi.ts
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/_page/translation/en.ts
  src/routes/[[lang=lang]]/events/[slug]/_page/translation/index.ts
  src/routes/[[lang=lang]]/events/[slug]/_page/translation/vi.ts
  src/routes/[[lang=lang]]/events/_page/translation/en.ts
  src/routes/[[lang=lang]]/events/_page/translation/index.ts
  src/routes/[[lang=lang]]/events/_page/translation/vi.ts
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/impact/_page/translation/en.ts
  src/routes/[[lang=lang]]/impact/_page/translation/index.ts
  src/routes/[[lang=lang]]/impact/_page/translation/vi.ts
  src/routes/[[lang=lang]]/jobs/+page.server.ts
  src/routes/[[lang=lang]]/jobs/_page/translation/en.ts
  src/routes/[[lang=lang]]/jobs/_page/translation/index.ts
  src/routes/[[lang=lang]]/jobs/_page/translation/vi.ts
  src/routes/[[lang=lang]]/people/+page.server.ts
  src/routes/[[lang=lang]]/people/_page/translation/en.ts
  src/routes/[[lang=lang]]/people/_page/translation/index.ts
  src/routes/[[lang=lang]]/people/_page/translation/vi.ts
  src/routes/[[lang=lang]]/sponsor/+page.server.ts
  src/routes/[[lang=lang]]/sponsor/_page/translation/en.ts
  src/routes/[[lang=lang]]/sponsor/_page/translation/index.ts
  src/routes/[[lang=lang]]/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write

refactor(hygen.translation): support creating translation file relatively at each domain location
  _templates/translation/create/en.ejs.t
  _templates/translation/create/index.ejs.t
  _templates/translation/create/prompt.js
  _templates/translation/create/vi.ejs.t
  package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

style(c-link): richer hover animation for text link, deprecate :has
  src/lib/client/components/Footer/Footer.svelte
  src/routes/[[lang=lang]]/_page/translation/vi.ts
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor: deprecate @apply space-* in favor of @mixin space
  postcss.config.cjs
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/ProjectCard/ProjectCard.svelte
  src/lib/client/styles/mixins/space.css
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
Due: eslint, prettier --write, stylelint

docs(README.md): add in latest sveltevietnam logo
  README.md
Due: prettier --write

chore(app.d.ts): clear unncessary typings
  src/app.d.ts
Due: eslint, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: eslint, prettier --write

fix: inject BUILD info constants rather than env vars
  .env
  .eslintrc.cjs
  src/app.d.ts
  src/app.html
  src/routes/(api)/humans.txt/+server.ts
  src/routes/(api)/rss.xml/+server.ts
  src/routes/(api)/sitemap.xml/+server.ts
  vite.config.ts
Due: eslint, prettier --write

feat(security.txt): initial implementation
  src/routes/(api)/.well-known/security.txt/+server.ts
  src/routes/(api)/.well-known/security.txt/security.template.txt
  src/routes/(api)/humans.txt/humans.template.txt
Due: eslint, prettier --write

chore: setup experimental typing for @svelte-put/preprocess-inline-svg
  package.json
  pnpm-lock.yaml
  src/additional-svelte-typings.d.ts
  src/lib/client/components/ContributorCard/ContributorLink.svelte
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/components/Header/ColorSchemeIcon.svelte
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/components/ProjectCard/ProjectCard.svelte
  src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/people/+page.svelte
  svelte.config.js
Due: eslint, prettier --write, stylelint

feat(webfinger): initial implementation
  .env
  src/lib/shared/constants/index.ts
  src/routes/(api)/.well-known/security.txt/+server.ts
  src/routes/(api)/.well-known/webfinger/+server.ts
  static/logo.jpg
  static/logo.png
  static/logo.svg
Due: eslint, prettier --write

refactor: deprecate PUBLIC_ROOT_URL env for more portable build
  .env
  src/routes/(api)/rss.xml/+server.ts
  src/routes/(api)/sitemap.xml/+server.ts
  src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: setup favicon, manifest and necessary metadata
  src/app.html
  src/routes/(api)/ads.txt/+server.ts
  src/routes/(api)/ads.txt/ads.template.txt
  src/routes/+layout.svelte
  static/apple-touch-icon-precomposed.png
  static/apple-touch-icon.png
  static/browserconfig.xml
  static/favicon.ico
  static/images/favicon/android/android-chrome-144x144.png
  static/images/favicon/android/android-chrome-192x192.png
  static/images/favicon/android/android-chrome-256x256.png
  static/images/favicon/android/android-chrome-36x36.png
  static/images/favicon/android/android-chrome-384x384.png
  static/images/favicon/android/android-chrome-48x48.png
  static/images/favicon/android/android-chrome-512x512.png
  static/images/favicon/android/android-chrome-72x72.png
  static/images/favicon/android/android-chrome-96x96.png
  static/images/favicon/favicon-16x16.png
  static/images/favicon/favicon-32x32.png
  static/images/favicon/ms/mstile-144x144.png
  static/images/favicon/ms/mstile-150x150.png
  static/images/favicon/ms/mstile-310x150.png
  static/images/favicon/ms/mstile-310x310.png
  static/images/favicon/ms/mstile-70x70.png
  static/safari-pinned-tab.svg
  static/site.webmanifest
Due: eslint, prettier --write, stylelint

chore: setup header logo
  postcss.config.cjs
  src/lib/client/components/Header/Header.svelte
  src/lib/client/styles/app.css
  src/lib/shared/assets/images/svg/sveltevietnam-grayscale.svg
  src/lib/shared/assets/images/svg/sveltevietnam.svg
Due: eslint, prettier --write, stylelint

chore: upgrade to pnpm 8.0.0, regenerate lock file
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(css): allow style component declaration in css files
  package.json
  pnpm-lock.yaml
  src/lib/client/styles/components/action-card.css
  src/lib/client/styles/components/avatar.css
  src/lib/client/styles/components/btn.css
  src/lib/client/styles/components/container.css
  src/lib/client/styles/components/graphic.css
  src/lib/client/styles/components/index.cjs
  src/lib/client/styles/components/input.css
  src/lib/client/styles/components/link.css
  src/lib/client/styles/components/page.css
  src/lib/client/styles/components/sponsor.css
  src/lib/client/styles/css-node-loader.cjs
  src/lib/client/styles/tailwind.cjs
  src/lib/client/styles/theme.cjs
  stylelint.config.cjs
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint
