Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

fix(sites/wwww): 2023 year-end meetup event page - set mark for video links
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(libs/ui): extract preprocessor auto-external-link from sites/www
  libs/ui/package.json
  libs/ui/svelte/preprocessors/auto-external-link/index.js
  sites/www/svelte.config.js
Due: eslint, prettier --write

refactor(libs/ui): extract mdsvex from sites/www
  libs/ui/package.json
  libs/ui/svelte/preprocessors/auto-external-link/index.js
  libs/ui/svelte/preprocessors/enhance-code-block/index.js
  libs/ui/svelte/preprocessors/mdsvex/index.js
  libs/ui/svelte/preprocessors/mdsvex/shiki.js
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/svelte.config.js
Due: eslint, prettier --write

chore(libs/ui): hygen adjustment & explicit files in package.json
  libs/ui/_templates/css/create/component.inject.ejs.t
  libs/ui/package.json
Due: prettier --write

fix(sites/www): negate tailwind default darkmode
  libs/ui/css/tailwind.js
Due: eslint, prettier --write

refactor: remove postcss-space-between
  libs/ui/css/components/__wireframe__.css
  libs/ui/css/postcss.js
  libs/ui/package.json
  libs/ui/tsconfig.json
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/src/routes/(localized)/_page/page.css
Due: eslint, prettier --write, stylelint

refactor: remove postcss-load-config
  libs/ui/css/postcss.js
  libs/ui/package.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/postcss.config.js
Due: eslint, prettier --write

refactor: upgrade postcss-color-scheme
  libs/ui/css/tailwind.js
  libs/ui/package.json
  pnpm-lock.yaml
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

hotfix(libs/ui): put back filtering element from code.children
  libs/ui/svelte/preprocessors/mdsvex/shiki.js
  sites/www/src/routes/(localized)/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore: scope ci publish script to only build necessary pacakge
  package.json
Due: prettier --write

chore: explicit load NPM_TOKEN from secrets in changeset publication step (changeset workflow)
  .github/workflows/changesets.yaml
Due: none

chore(www): ignore .md.svelte files in optimizeDeps
  sites/www/vite.config.ts
Due: eslint, prettier --write

docs: clean up READMEs
  README.md
  libs/ui/README.md
Due: prettier --write

style(libs/ui): c-callout border-left 3 -> 4px
  .changeset/perfect-phones-whisper.md
  libs/ui/src/css/components/c-callout.css
Due: prettier --write, stylelint

style(libs/ui): base typography prose styles
  .changeset/pink-pumas-greet.md
  libs/ui/src/css/base/index.js
  libs/ui/src/css/base/prose.css
  libs/ui/src/lib/css/tailwind.js
  sites/www/src/lib/css/blog.css
  sites/www/src/lib/css/code.css
  sites/www/src/lib/css/heading-anchor.css
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/design/blog/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(libs/ui): separate css for core vs typography presets
  .changeset/polite-beers-sneeze.md
  libs/ui/.gitignore
  libs/ui/src/css/base/index.js
  libs/ui/src/css/build.js
  libs/ui/src/css/core/base/base.css
  libs/ui/src/css/core/base/colors.css
  libs/ui/src/css/core/base/index.js
  libs/ui/src/css/core/base/max-w-pad.css
  libs/ui/src/css/core/components/__wireframe__.css
  libs/ui/src/css/core/components/c-avatar.css
  libs/ui/src/css/core/components/c-btn.css
  libs/ui/src/css/core/components/c-callout.css
  libs/ui/src/css/core/components/c-input.css
  libs/ui/src/css/core/components/c-link.css
  libs/ui/src/css/core/components/c-loader.css
  libs/ui/src/css/core/components/c-logo.css
  libs/ui/src/css/core/components/c-splash.css
  libs/ui/src/css/core/components/c-tag.css
  libs/ui/src/css/core/components/c-tooltip.css
  libs/ui/src/css/core/components/containers/c-card-action.css
  libs/ui/src/css/core/components/containers/c-intro.css
  libs/ui/src/css/core/components/index.js
  libs/ui/src/css/core/components/typography/c-text-body1.css
  libs/ui/src/css/core/components/typography/c-text-body2.css
  libs/ui/src/css/core/components/typography/c-text-cap1.css
  libs/ui/src/css/core/components/typography/c-text-cap2.css
  libs/ui/src/css/core/components/typography/c-text-h1.css
  libs/ui/src/css/core/components/typography/c-text-h2.css
  libs/ui/src/css/core/components/typography/c-text-h3.css
  libs/ui/src/css/core/components/typography/c-text-h4.css
  libs/ui/src/css/core/components/typography/c-text-h5.css
  libs/ui/src/css/core/utilities/index.js
  libs/ui/src/css/core/utilities/utilities.css
  libs/ui/src/css/typography/base/index.js
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/css/utilities/index.js
  libs/ui/src/lib/css/tailwind.js
Due: eslint, prettier --write, stylelint

style(libs/ui): revert to default tailwindcss/typography for inline code within anchor tag
  .changeset/cyan-ducks-wait.md
  libs/ui/src/css/typography/base/prose.css
Due: prettier --write, stylelint

chore(www): adjust some wordings for blog post Styling Svelte Vietnam - CSS component
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
Due: eslint, prettier --write, stylelint

style(libs/ui): code block - display language, better copy button UX
  .changeset/gentle-socks-beg.md
  .changeset/silent-schools-matter.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
  sites/www/src/lib/assets/images/svg/lucide/copy-check.svg
  sites/www/src/lib/assets/images/svg/lucide/copy.svg
  turbo.json
Due: eslint, prettier --write, stylelint

refactor(libs/ui): explicit <enhanced:codeblock>
  .changeset/wicked-olives-share.md
  libs/ui/package.json
  libs/ui/src/lib/preprocessors/enhance-code-block/index.js
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(libs/ui): <enhanced-code-block group> for multi-tabbed code blocks
  .changeset/hip-bottles-glow.md
  libs/ui/jsconfig.json
  libs/ui/package.json
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
  libs/ui/src/lib/css/tailwind.js
  libs/ui/src/lib/preprocessors/enhance-code-block/index.js
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
  pnpm-lock.yaml
Due: eslint, prettier --write, stylelint

fix(libs/ui): shiki transformer - closing block tag in html comment
  .changeset/moody-moose-dress.md
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write

chore: upgrade dependencies
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

feat(libs/ui): shiki dual themes - Light/Dark Plus
  .changeset/eight-teachers-rhyme.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write, stylelint

chore: adjust changeset format
  .changeset/cyan-ducks-wait.md
Due: prettier --write

style(libs/ui): highlight & diff colors in dual themes
  .changeset/fluffy-dragons-greet.md
  libs/ui/src/css/typography/base/prose.css
Due: prettier --write, stylelint

chore(libs/ui): ignore jss types in bundle
  libs/ui/jsconfig.json
  libs/ui/package.json
Due: prettier --write

fix(libs/ui): shiki - should always include data-lang in metadata
  .changeset/brave-dancers-give.md
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write

chore: remove hygen npm script, use hygen directly
  libs/ui/package.json
Due: prettier --write

chore(sites/www): setup hygen for creating event
  sites/www/.eslintrc.cjs
  sites/www/_templates/_utils/slugify.js
  sites/www/_templates/event/create/data.ejs.t
  sites/www/_templates/event/create/listing-import.inject.ejs.t
  sites/www/_templates/event/create/listing-post.inject.ejs.t
  sites/www/_templates/event/create/page.ejs.t
  sites/www/_templates/event/create/page.server.ejs.t
  sites/www/_templates/event/create/prompt.js
  sites/www/_templates/event/create/translation-en.ejs.t
  sites/www/_templates/event/create/translation-index.ejs.t
  sites/www/_templates/event/create/translation-vi.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/src/lib/data/events/index.ts
Due: eslint, prettier --write

chore: update hygen command paths
  libs/ui/_templates/css/create/component.ejs.t
  libs/ui/_templates/css/create/component.inject.ejs.t
Due: none

chore: upgrade dependencies
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(libs/ui): filename header in enhanced code block
  .changeset/tall-rabbits-unite.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/FileIcon.svelte
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write, stylelint

refactor(libs/ui): shiki code block - allow a separate line with /// ... for metadata
  .changeset/rude-plants-talk.md
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write

refactor(sites/www): blog code blocks - explicit filename header
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): correctly specify html lang
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

style(libs/ui): currentcolor fill for FileIcon
  .changeset/stale-moles-sneeze.md
  libs/ui/src/lib/components/FileIcon.svelte
Due: eslint, prettier --write, stylelint

style(libs/ui): transparent background for c-callout
  .changeset/angry-items-remember.md
  libs/ui/src/css/core/components/c-callout.css
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  stylelint.config.js
Due: eslint, prettier --write, stylelint

refactor(sites/www): extract common DateTimeRangeDisplayText
  sites/www/src/lib/components/DateTimeRangeDisplayText/DateTimeRangeDisplayText.svelte
  sites/www/src/lib/components/DateTimeRangeDisplayText/index.ts
  sites/www/src/lib/components/EventCard/EventCard.svelte
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
  turbo.json
Due: eslint, prettier --write, stylelint
