Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

fix(www): update module imports for create-person & create-post scripts
  sites/sveltevietnam.dev/scripts/create-person.ts
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

chore(www): make sure only request bluesky linkage in browser
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): production build error referencing element binding
  packages/kit/src/components/breadcrumbs/Breadcrumbs.svelte
Due: eslint, prettier --write, stylelint

fix(i18n): fix hydration mismatch issue in production build
  .changeset/eight-lies-drum.md
  packages/i18n/src/runtime/T/MaybeHtml.svelte
  packages/i18n/src/runtime/T/T.svelte
Due: eslint, prettier --write, stylelint

chore(www): turn off BlogNewsletter temporarily on blog pages (pending migration to form remote function)
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): cleanup outdated code in load function of blog index page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
Due: eslint, prettier --write

fix(www): correct edit link following recent change in event & blog entries
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/+page.server.ts
Due: eslint, prettier --write

fix(www): remove debounced processing in table of contents -> more consistent in production build
  sites/sveltevietnam.dev/src/lib/components/table-of-contents/TableOfContents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): wording adjustments to i18n exp blog post
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251105-internationalisation-with-remote-function-a-proof-of-concept/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251105-internationalisation-with-remote-function-a-proof-of-concept/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(www): avoid shrinking in highlight sections of roadmap page on small screens
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/milestone/Milestone.svelte
Due: eslint, prettier --write, stylelint

Revert "fix(i18n): fix hydration mismatch issue in production build"
  packages/i18n/src/runtime/T/MaybeHtml.svelte
  packages/i18n/src/runtime/T/T.svelte
Due: eslint, prettier --write, stylelint

chore: changeset for 1f366dbb2f11fc12dfac71f986e302b59a49f5b6 revert
  .changeset/dull-taxis-relax.md
Due: prettier --write

chore: exclude core svelte dependencies from pnpm min age rule
  pnpm-workspace.yaml
Due: none

fix: deprecate normalize-diacritics (postscript fails on windows)
  package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/scripts/create-post.ts
  sites/sveltevietnam.dev/scripts/helpers.ts
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

fix(i18n): resolve dts-buddy issues on windows
  .changeset/dull-rats-pick.md
  packages/i18n/src/builder/build/types.public.d.ts
  packages/i18n/src/factory/create-message-prerender-fn/create-message-prerender-fn.d.ts
  packages/i18n/src/parser/parse-locale/types.public.d.ts
  packages/i18n/src/runtime/T/types.public.d.ts
  packages/i18n/src/runtime/context/Provider/Provider.svelte.d.ts
  packages/i18n/src/vite/types.public.d.ts
Due: eslint, prettier --write

chore(i18n): remove vite-tsconfig-paths, set alias directly via vitest config
  packages/i18n/package.json
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

fix(recruit): change to double quote for boot:env:test script (otherwise fail on windows)
  sites/recruit.sveltevietnam.dev/package.json
Due: prettier --write

fix: load ad-hoc env with cross-env (support windows)
  package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

fix(i18n): skip running tests in node_modules (caught on windows)
  packages/i18n/vitest.config.ts
Due: eslint, prettier --write

fix(i18n): path resolution on windows
  .changeset/early-candles-vanish.md
  packages/i18n/src/builder/build/build.test.ts
  packages/i18n/src/parser/parse-locale/parse-locale.js
  packages/i18n/src/parser/parse-locale/parse-locale.test.ts
  packages/i18n/src/vite/tests/error-forwarding/test.ts
  packages/i18n/src/vite/tests/missing-input/test.ts
  packages/i18n/src/vite/vite.js
  packages/i18n/tests/utils.ts
Due: eslint, prettier --write

chore: setup cross-platform ci test for i18n
  .github/workflows/i18n-test.yaml
  packages/i18n/package.json
Due: prettier --write

test(i18n): lazy load message mapping into page object model, not available at build time yet
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/remote/test.ts
  packages/i18n/tests/e2e/static/package.json
  packages/i18n/tests/e2e/static/test.ts
  packages/i18n/tests/e2e/utils.ts
Due: eslint, prettier --write

chore(workflows.i18n-test): install only chrome for playwright
  .github/workflows/i18n-test.yaml
Due: none

test(i18n): skip windows on CI temporarily
  .github/workflows/i18n-test.yaml
Due: none

refactor: convert subscriber upsert form from serve action to remote function
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/forms/common/Issues.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscribe/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/forms/subscribe/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/forms/subscribe/subscribe.form.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscribe/subscribe.remote.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/subscribe.schema.server.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): avoid await waterfall in blog post page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade svelte to 5.43.6
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix(www): forms.subscribe i18n message references
  sites/sveltevietnam.dev/src/lib/forms/subscribe/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/forms/subscribe/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/forms/subscribe/subscribe.form.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscribe/subscribe.schema.server.ts
Due: eslint, prettier --write, stylelint

refactor(www): convert subscriber update form & mail page to using remote function
  packages/kit/src/constants.js
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/domains/common/FormIssues.svelte
  sites/sveltevietnam.dev/src/lib/domains/mail/functions.remote.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/index.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/subscribe.form.svelte
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/subscribe.remote.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/subscribe.schema.server.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/functions.remote.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/index.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/schema.server.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/update-subscription.form.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpdateForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/forms/subscriber/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/forms/subscriber/schema.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/_page/locales/en.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/_page/locales/vi.yaml
Due: eslint, prettier --write, stylelint

chore: set pnpm trust policy
  pnpm-workspace.yaml
Due: none

enhance(kit+www): improve global loading indicator strategy
  packages/kit/package.json
  packages/kit/src/components/index.js
  packages/kit/src/components/loading-bar/LoadingBar.svelte
  packages/kit/src/components/loading-bar/index.d.ts
  packages/kit/src/components/loading-bar/index.js
  packages/kit/src/contexts/index.js
  packages/kit/src/contexts/loading.svelte.js
  packages/kit/src/contexts/provider/Provider.svelte
  packages/kit/src/contexts/provider/Provider.svelte.d.ts
  packages/kit/src/contexts/provider/index.js
  packages/kit/src/layouts/common/CommonLayout.svelte
  packages/kit/src/layouts/common/index.d.ts
  packages/kit/src/layouts/common/index.js
  packages/kit/src/layouts/index.js
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/lib/components/page-load-indicator/index.ts
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/subscribe.form.svelte
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/update-subscription.form.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): add links to svelte & vite documentary to from-local-to-global blog post
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20231012-svelte-vietnam-from-local-to-global/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20231012-svelte-vietnam-from-local-to-global/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore: move onlyBuiltDependencies config to pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --write

chore: upgrade svelte dependencies
  package.json
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade vite dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade cloudflare dependencies
  package.json
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade tailwindcss dependencies
  packages/css/package.json
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade eslint dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write
