Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(libs/ui): merge initial & current props of `EnhancedCodeBlockGroup` to title
  .changeset/wicked-llamas-whisper.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/group-tabs.md.svelte
Due: eslint, prettier --write, stylelint

chore: bump node version to 20 for github workflow
  .github/workflows/changesets.yaml
  .github/workflows/unit_tests.yaml
Due: none

chore: simplify ci:publish script
  libs/ui/package.json
  package.json
Due: prettier --write

fix(libs/ui): avoid using crypto in EnhancedCodeBlock to cover more build environment
  .changeset/serious-cougars-pay.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
Due: eslint, prettier --write, stylelint

fix(libs/ui): reconfigure build & package scripts to avoid circular dependencies
  libs/ui/package.json
Due: prettier --write

refactor(libs/ui): move c-tooltip to userland setup
  .changeset/fluffy-steaks-build.md
  libs/ui/src/css/core/components/c-tooltip.css
  libs/ui/src/css/core/components/index.js
  sites/www/src/lib/css/app.css
Due: eslint, prettier --write, stylelint

refactor(libs/ui): remove implicit c-link--icon
  .changeset/fast-rockets-dream.md
  libs/ui/src/css/core/components/c-link.css
Due: prettier --write, stylelint

style(sites/www): blog post layout - incidate copy btn success state with a replacement for icon instead of noti
  sites/www/src/lib/assets/images/svg/lucide/clipboard-check.svg
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): better event listing item
  sites/www/src/lib/assets/images/fallback/3x2.jpg
  sites/www/src/lib/assets/images/svg/lucide/calendar.svg
  sites/www/src/lib/assets/images/svg/lucide/clock.svg
  sites/www/src/lib/assets/images/svg/lucide/map-pin.svg
  sites/www/src/lib/assets/images/svg/lucide/mouse-pointer-click.svg
  sites/www/src/lib/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/components/DateTimeRangeDisplayText/DateTimeRangeDisplayText.svelte
  sites/www/src/lib/components/EventCard/EventCard.svelte
  sites/www/src/lib/components/EventCard/index.ts
  sites/www/src/lib/components/EventListItem/EventListItem.svelte
  sites/www/src/lib/components/EventListItem/index.ts
  sites/www/src/lib/components/EventListItem/translation/en.ts
  sites/www/src/lib/components/EventListItem/translation/index.ts
  sites/www/src/lib/components/EventListItem/translation/vi.ts
  sites/www/src/lib/components/Footer/Footer.svelte
  sites/www/src/lib/tooltips/index.ts
  sites/www/src/lib/utils/datetime.ts
  sites/www/src/routes/(localized)/_page/components/SectionEvents.svelte
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/images/og-en.jpg
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/images/og-vi.jpg
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/images/thumbnail.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/og.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail.jpg
  sites/www/src/routes/(localized)/events/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): BlogPostItem -> BlogPostListItem, rename for consistency
  sites/www/src/lib/components/BlogPostItem/index.ts
  sites/www/src/lib/components/BlogPostListItem/BlogPostListItem.svelte
  sites/www/src/lib/components/BlogPostListItem/index.ts
  sites/www/src/lib/components/ExternalBlogPostItem/index.ts
  sites/www/src/lib/components/ExternalBlogPostListItem/ExternalBlogPostListItem.svelte
  sites/www/src/lib/components/ExternalBlogPostListItem/index.ts
  sites/www/src/routes/(localized)/_page/components/SectionPosts.svelte
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/+page.svelte
Due: eslint, prettier --write, stylelint

style(sites/www): EventListItem - negate letter-spacing for day text
  sites/www/src/lib/components/EventListItem/EventListItem.svelte
Due: eslint, prettier --write, stylelint

style(sites/www): EventListItem - fix alignment & spacing in smaller screens
  sites/www/src/lib/components/EventListItem/EventListItem.svelte
Due: eslint, prettier --write, stylelint

chore(sites/www): add image credits - 2024 spring meetup page
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: update dependencies
  internals/isc/package.json
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  services/qr/package.json
  sites/www/package.json
Due: prettier --write

chore: update service url env to localhost now that sveltekit support wrangler d1 during dev
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/.env
Due: prettier --write

feat(sites/www): Countdown component (used in events/self-checkin)
  sites/www/src/lib/components/Countdown/Countdown.svelte
  sites/www/src/lib/components/Countdown/index.ts
Due: eslint, prettier --write, stylelint

fix(sites/www): switching lang should preserve query params
  sites/www/src/lib/components/Header/components/LanguageNav.svelte
Due: eslint, prettier --write, stylelint

feat(sites/www): migration & dao setup for event_checkins table
  sites/www/d1/migrations/0001_create_event_checkins_table.sql
  sites/www/src/lib/daos/event_checkins.dao.ts
Due: eslint, prettier --write

refactor(sites/www): add optinal bufferMstto getEventStatus helper - to check event check-in time (+- 2 hours)
  sites/www/src/lib/data/events/helpers.ts
Due: eslint, prettier --write

refactor(sites/www): error page - show both code & message
  sites/www/src/lib/errors/index.ts
  sites/www/src/routes/+error.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): put event id right into the meta object
  sites/www/src/lib/data/events/types.ts
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write

feat(sites/www): implement event self-checkin system (#240)
  internals/isc/src/www/errors.js
  services/mailer/src/routes/(signed)/send/+server.ts
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/lib/utils/datetime.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/self-check-in/+page.server.ts
  sites/www/src/routes/(localized)/events/self-check-in/+page.svelte
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(mailer): turn off mail sent log
  services/mailer/src/routes/(signed)/send/+server.ts
Due: eslint, prettier --write

fix: turbo dev should not run parallel
  package.json
  turbo.json
Due: prettier --write

refactor(sites/www): check user in right away when using embedded QR code (clicked from email)
  sites/www/src/routes/(localized)/events/self-check-in/+page.server.ts
  sites/www/src/routes/(localized)/events/self-check-in/+page.svelte
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(sites/www): edit migrations, avoid dropping
  sites/www/d1/migrations/0000_create_event_tickets_table.sql
  sites/www/d1/migrations/0001_create_event_checkins_table.sql
Due: none

chore: upgrade dependencies
  internals/isc/package.json
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  services/qr/package.json
  sites/www/package.json
Due: prettier --write

refactor(sites/www): migrate path events/self-check-in to events/check-in
  package.json
  pnpm-lock.yaml
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/check-in/+page.server.ts
  sites/www/src/routes/(localized)/events/check-in/+page.svelte
  sites/www/src/routes/(localized)/events/check-in/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/check-in/_page/translation/index.ts
  sites/www/src/routes/(localized)/events/check-in/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: revert vite to fixed v5.1.6 (problem with dev server)
  libs/ui/package.json
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(sites/www): merging wrangler tomls into one with env
  .gitsecret/paths/mapping.cfg
  sites/www/wrangler.production.toml.secret
  sites/www/wrangler.toml
Due: none

refactor(sites/www): get client secret for ISC via d1 database instead of .env
  .github/workflows/deploy_www.yaml
  internals/isc/src/www/errors.js
  sites/www/.env
  sites/www/src/lib/forms/actions/mail/mail.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/subscriptions/[token]/+page.server.ts
Due: eslint, prettier --write

style(sites/www): EventListItem - better date text alignment
  sites/www/src/lib/components/EventListItem/EventListItem.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www, services/mailer): merge subscription handling into www (resolve #255)
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
  internals/db/package.json
  internals/db/src/daos/isc_clients.dao.js
  internals/db/src/daos/subscriptions.dao.js
  internals/db/src/seed.sql
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/subscriptions/dto.js
  internals/isc/src/mailer/subscriptions/http.js
  internals/isc/src/mailer/subscriptions/index.js
  internals/isc/src/www/errors.js
  services/mailer/.env
  services/mailer/src/hooks.server.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  services/mailer/src/routes/(signed)/verify/[token]/+server.ts
  services/mailer/src/routes/mails/[token]/+server.ts
  services/qr/src/index.js
  sites/www/.env
  sites/www/src/lib/forms/actions/mail/mail.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/check-in/+page.svelte
  sites/www/src/routes/(localized)/subscriptions/[token]/+page.server.ts
  sites/www/src/routes/(localized)/subscriptions/[token]/_page/translation/en.ts
  sites/www/src/routes/(localized)/subscriptions/[token]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(sites/www): allow scanning QR for event checkin
  internals/db/src/daos/event_checkins.dao.js
  pnpm-lock.yaml
  services/mailer/src/routes/(signed)/send/+server.ts
  sites/www/package.json
  sites/www/src/lib/components/Countdown/index.ts
  sites/www/src/lib/components/Timer/Timer.svelte
  sites/www/src/lib/components/Timer/index.ts
  sites/www/src/lib/modals/QRScanner/QRScanner.svelte
  sites/www/src/lib/modals/QRScanner/index.ts
  sites/www/src/routes/(localized)/events/check-in/+page.server.ts
  sites/www/src/routes/(localized)/events/check-in/+page.svelte
  sites/www/src/routes/(localized)/events/check-in/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/check-in/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: update dependencies
  internals/db/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  services/qr/package.json
  sites/www/package.json
Due: prettier --write

feat(sites/www): visual sitemap resolve #252
  sites/www/src/lib/assets/images/svg/lucide/home.svg
  sites/www/src/lib/assets/images/svg/lucide/paint-roller.svg
  sites/www/src/lib/assets/images/svg/lucide/pencil.svg
  sites/www/src/lib/assets/images/svg/lucide/users.svg
  sites/www/src/lib/components/Footer/Footer.svelte
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(localized)/sitemap/+page.server.ts
  sites/www/src/routes/(localized)/sitemap/+page.svelte
  sites/www/src/routes/(localized)/sitemap/_page/images/branch-down.svg
  sites/www/src/routes/(localized)/sitemap/_page/images/branch-right.svg
  sites/www/src/routes/(localized)/sitemap/_page/images/l-right-down.svg
  sites/www/src/routes/(localized)/sitemap/_page/translation/en.ts
  sites/www/src/routes/(localized)/sitemap/_page/translation/index.ts
  sites/www/src/routes/(localized)/sitemap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): align connecting lines in mobile
  sites/www/src/routes/(localized)/sitemap/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  internals/db/package.json
  internals/isc/package.json
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/qr/package.json
  sites/www/package.json
Due: prettier --write

refactor(sites/www, services/qr): reflect new version of @svelte-put/qr
  package.json
  pnpm-lock.yaml
  services/qr/package.json
  services/qr/src/index.js
  sites/www/package.json
  sites/www/src/lib/modals/QRCode/QRCode.svelte
Due: eslint, prettier --write, stylelint
