Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat: migrate fonts to fontless plugin and add theme variables
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

[v1] blog: add tuannguyen to people-of-svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/images/effective-learning.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/metadata.ts
  sites/sveltevietnam.dev/src/data/people/anhtuank7c/avatar.jpg
  sites/sveltevietnam.dev/src/data/people/anhtuank7c/index.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): use markdown blockquote syntax for simplicity - tuan-nguyen-people-of-svelte blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): remove newline between Q & A for visual grouping - tuan-nguyen people-of-svelte blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(css): implement CSS component c-text-bubble
  packages/css/src/components/c-text-bubble.css
  packages/css/src/components/index.css
Due: stylelint

style(css): use rem in typography override of c-callout
  packages/css/src/components/c-callout/c-callout.css
Due: stylelint

chore(sveltevietnam.dev): set up global MaybePromise type
  sites/sveltevietnam.dev/eslint.config.js
  sites/sveltevietnam.dev/src/app.d.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): set name as optional in Avatar component
  sites/sveltevietnam.dev/src/lib/components/avatar/Avatar.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement basic Chat UI (for use in firechat section of people-of-svelte blog series)
  sites/sveltevietnam.dev/src/lib/components/chat/Chat.Container.svelte
  sites/sveltevietnam.dev/src/lib/components/chat/Chat.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/chat/context.ts
  sites/sveltevietnam.dev/src/lib/components/chat/index.ts
  sites/sveltevietnam.dev/src/lib/components/chat/utils.ts
Due: eslint, prettier --write, stylelint

enhance(sveltevietnam.dev): integrate new Chat UI for firechat section of existing posts in people-of-svelte series
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correctly hide not-by-ai badge if ai=true in blog post metadata
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

feat(sveltevietnam.dev): add reference to writing guide in blog post pages
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): cap height of table of content and let scrollable
  sites/sveltevietnam.dev/src/lib/components/table-of-contents/TableOfContents.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): mention bluesky linking & usage of AI in writing guide
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): support 2 display mode bubble & box for chat component
  packages/css/src/components/c-text-bubble.css
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/components/chat/Chat.Container.svelte
  sites/sveltevietnam.dev/src/lib/components/chat/Chat.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/chat/context.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): remove user-id cookie (no longer used for anything)
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/hooks.server.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): clean up legacy hook file [Skip CI]
  sites/sveltevietnam.dev/src/legacy-hooks.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): remove no longer needed recast package [Skip CI]
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

enhance(sveltevietnam.dev): normalize diacritics for generated slug
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

fix(sveltevietnam.dev): avoid using <> in pagefind blog post - false positive parsing error for elements
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): attempt to load layer declaration in JS (better reusability)
  packages/css/src/layers.css
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(css): abstract body, [id], img, kbd base styles to @sveltevietnam/css
  packages/css/src/base.css
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

chore(markdown): set config parameter as optional
  packages/markdown/src/index.js
Due: eslint, prettier --write

fix(sveltevietnam.dev): avoid using <script> in umami blog post (false positive parsing error)
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): fallback to math.random for crypto.randomUUID
  sites/sveltevietnam.dev/src/lib/turnstile/turnstile.server.ts
Due: eslint, prettier --write

feat(sveltevietnam.dev): track search events
  sites/sveltevietnam.dev/src/lib/dialogs/components/search-dialog/SearchDialog.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): misaligned lang link in blog post to writing guide
  sites/sveltevietnam.dev/src/data/locales/en.yaml
Due: none

chore(sveltevietnam.dev): fix wording / typo in blog writing guidelines EN
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/en.md.svelte
Due: eslint, prettier --write, stylelint

chore: add .vscode/launch to gitignore
  .gitignore
Due: none

fix(sveltevietnam.dev): remove unnecessary asterisk at Svelte playground on homepage
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

fix(sveltevietnam.dev): place eslint ignore on right line
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
Due: eslint, prettier --write

chore(stylelint): place theme function rule ignore in right place
  stylelint.config.js
Due: eslint, prettier --write

chore: install dependencies sequentially before running other boot scripts
  package.json
Due: prettier --write

docs(DEVELOPMENT): note about boot script, improve commit&pr guidelines
  docs/DEVELOPMENT.md
Due: prettier --write

docs(TECHNICAL_REFERENCES): update links
  docs/TECHNICAL_REFERENCES.md
Due: prettier --write

docs(README): link directly to DEVELOPMENT for code enthusiasts
  README.md
Due: prettier --write

docs(sveltevietnam.dev): add example about loading content of codeblock from external files
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-external-src.en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-external-src.vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/en.md.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade packages base tsconfig and add node type for markdown
  packages/markdown/package.json
  packages/markdown/tsconfig.json
  packages/tsconfig.json
Due: prettier --write

chore: upgrade async-stack (fix type inference)
  packages/css/src/components/c-dialog.css
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/metadata.ts
  sites/sveltevietnam.dev/src/lib/dialogs/context.svelte.ts
  sites/sveltevietnam.dev/src/lib/dialogs/enhanced-dialog.js
Due: eslint, prettier --write, stylelint
