Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(www): prepare breadcrumb data and integrate Breadcrumbs component into pages
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
Due: eslint, prettier --write, stylelint

feat(www): initial implementation for Breadcrumbs component
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/lib/client/components/Breadcrumbs/index.ts
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/lib/shared/assets/images/svg/icon/caret.svg
Due: eslint, prettier --write, stylelint

feat(www): util buildBreadcrumbs in navigation service
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/shared/services/i18n/translations/navigation/en.ts
  sites/www/src/lib/shared/services/i18n/translations/navigation/vi.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
Due: eslint, prettier --write, stylelint

chore(.github): setup config and bug report (EN)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/en_bug_report.yaml
  .github/assets/site_version_location.png
Due: none

chore(.github): setup config and bug report (VI)
  .github/ISSUE_TEMPLATE/en_bug_report.yaml
  .github/ISSUE_TEMPLATE/vi_bug_report.yaml
Due: none

chore(.github): add emoji to github issue name for easier visual recognition
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/en_bug_report.yaml
  .github/ISSUE_TEMPLATE/en_contributor_nomination.yaml
  .github/ISSUE_TEMPLATE/en_external_blog_post_link_request.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_bug_report.yaml
  .github/ISSUE_TEMPLATE/vi_contributor_nomitaion.yaml
  .github/ISSUE_TEMPLATE/vi_external_blog_post_link_request.yaml
Due: none

chore: change workflow name unit-tests -> unit_tests
  .github/workflows/unit_tests.yaml
Due: none

chore: github workflow setup manual cloudflare page deployment
  .github/workflows/cloudflare.yaml
Due: none

chore: cloudflare.yaml - environment aware setup
  .github/workflows/cloudflare.yaml
  sites/www/.env
  sites/www/src/hooks.server.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade node & dependencies
  libs/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

fix: clouflare github action workflow - trigger for PR of @sties/www
  .github/workflows/cloudflare.yaml
Due: none

chore: update some sp typography styles
  sites/www/src/lib/client/styles/utilities/typography.css
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

docs(README): try out the new note github markdown syntax
  README.md
Due: prettier --write

chore: enhance cloudflare github action workflow with skip-duplicate-actions
  .github/workflows/cloudflare.yaml
Due: none

style(www): update home page design specs & typography
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/components/index.cjs
  sites/www/src/lib/client/styles/components/tag.css
  sites/www/src/lib/client/styles/utilities/typography.css
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/lib/shared/types/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/_page/page.css
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): update footer & header design specs & typography
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/client/styles/components/link.css
Due: eslint, prettier --write, stylelint

fix(www): switching lang in home page falsely reset scroll to top
  sites/www/src/routes/[[lang=lang]]/_page/components/PageTransition.svelte
Due: eslint, prettier --write, stylelint

style(www): minor text & spacing adjustments
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/styles/components/tag.css
Due: eslint, prettier --write, stylelint

chore: attempt at setting up deployment to fly.io for @services/discord
  .github/workflows/flyio.yaml
  package.json
  pnpm-lock.yaml
  services/discord/.dockerignore
  services/discord/Dockerfile
  services/discord/README.md
  services/discord/fly.toml
  services/discord/package.json
  services/discord/src/env.js
Due: eslint, prettier --write

chore: github action cloudflare - only ignore skip for workflow_dispatch
  .github/workflows/cloudflare.yaml
Due: none

fix(.github/flyio.yaml): use flyctl explicitly (no alias fly available in action workflow)
  .github/workflows/flyio.yaml
  package.json
Due: prettier --write

fix(.github): remove global paths_ignore from fkirc/skip-duplicate-action
  .github/workflows/cloudflare.yaml
  .github/workflows/flyio.yaml
Due: none

chore: disable auto run for flyio.yaml on push to production (run locally for now)
  .github/workflows/flyio.yaml
Due: none

chore(discord): move deploy script local discord project
  package.json
  services/discord/fly.toml
  services/discord/package.json
Due: prettier --write

chore: cloudflare.yaml - attempt to better filter should-skip
  .github/workflows/cloudflare.yaml
Due: none

chore: don't check in partytown debug lib folder
  sites/www/.gitignore
  sites/www/static/~partytown/debug/partytown-atomics.js
  sites/www/static/~partytown/debug/partytown-media.js
  sites/www/static/~partytown/debug/partytown-sandbox-sw.js
  sites/www/static/~partytown/debug/partytown-sw.js
  sites/www/static/~partytown/debug/partytown-ww-atomics.js
  sites/www/static/~partytown/debug/partytown-ww-sw.js
  sites/www/static/~partytown/debug/partytown.js
Due: eslint, prettier --write

chore: move events page out of prototype phase
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: WIP events design first draft setup
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: add some TODOs to unit_tests github action workflow
  .github/workflows/unit_tests.yaml
Due: none

style(www): MailRegistrationForm - update style to latest design from events page
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
Due: eslint, prettier --write, stylelint

style(www): PageNav - active link disable pointer events
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
Due: eslint, prettier --write, stylelint

feat(www): events page - first design draft
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/components/btn.css
  sites/www/src/lib/client/styles/components/input.css
  sites/www/src/lib/client/styles/theme.cjs
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/header-figures.webp
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint
