Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(www): introduce /roadmap page
  .changeset/tiny-wasps-do.md
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.svelte
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/images/au-lac.svg
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/images/dong.svg
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/images/key-visuals.svg
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/images/tu_chu.svg
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/images/tu_nom.svg
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

refactor(www): change Svelte Vietnam to Svelte Việt Nam in vi texts
  .changeset/light-mugs-remember.md
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_contributor_nomitaion.yaml
  .github/ISSUE_TEMPLATE/vi_external_blog_post_link_request.yaml
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Footer/translation/vi.ts
  sites/www/src/lib/client/modals/WireframeVersionNotice/translation/vi.ts
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/lib/shared/services/i18n/translations/common/en.ts
  sites/www/src/lib/shared/services/i18n/translations/common/index.ts
  sites/www/src/lib/shared/services/i18n/translations/common/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): add /roadmap to sitemap.xml
  .changeset/spicy-kids-accept.md
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

style(www): roadmap navigation 2 columns desktop
  .changeset/wicked-suns-search.md
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/shared/services/i18n/translations/navigation/en.ts
  sites/www/src/lib/shared/services/i18n/translations/navigation/vi.ts
  sites/www/src/lib/shared/services/navigation/index.ts
Due: eslint, prettier --write, stylelint

style(www): footer spacing adjustments
  sites/www/src/lib/client/components/Footer/Footer.svelte
Due: eslint, prettier --write, stylelint

refactor(www): extract ToBeAnnounced component
  .changeset/metal-jobs-matter.md
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/index.ts
  sites/www/src/lib/shared/assets/images/svg/tba.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): apply intersect intro animation to /roadmap page
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): /code-of-conduct page with basic design
  .changeset/curly-spoons-confess.md
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.svelte
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): add visual figures to action cards on /events
  .changeset/twelve-rules-double.md
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

chore: deploy preview & production based on changeset branch PR
  .github/workflows/cloudflare.yaml
Due: none

chore: cloudflare.yaml - reduce duplicated github actions, ignore PR closed trigger event
  .github/workflows/cloudflare.yaml
Due: none

chore: cloudflare.yaml - apply workflow_dispatch input
  .github/workflows/cloudflare.yaml
Due: none

docs(www): README.md - add link to /roadmap
  README.md
Due: prettier --write

refactor: rescope & rename deployment workflow to one for each service/site, with name reflecting processes, not platforms
  .github/workflows/deploy_discord.yaml
  .github/workflows/deploy_www.yaml
Due: none

chore: changesets.yaml - capitalize name
  .github/workflows/changesets.yaml
Due: none

chore: expand author field in package.json to object
  libs/utils/package.json
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

chore: setup @services/mailer
  .changeset/tasty-pugs-play.md
  package.json
  pnpm-lock.yaml
  services/mailer/.env
  services/mailer/.eslintrc.cjs
  services/mailer/.gitignore
  services/mailer/CHANGELOG.md
  services/mailer/package.json
  services/mailer/postcss.config.cjs
  services/mailer/prettier.config.cjs
  services/mailer/src/additional-svelte-typings.d.ts
  services/mailer/src/app.d.ts
  services/mailer/src/app.html
  services/mailer/src/lib/client/styles/app.css
  services/mailer/src/reset.d.ts
  services/mailer/src/routes/+layout.svelte
  services/mailer/src/routes/+page.svelte
  services/mailer/static/robots.txt
  services/mailer/svelte.config.js
  services/mailer/tailwind.config.cjs
  services/mailer/tsconfig.json
  services/mailer/vite.config.ts
  services/mailer/wrangler.toml
  sites/www/tailwind.config.cjs
Due: eslint, prettier --write, stylelint

chore(mailer): /healthz
  .changeset/eleven-pants-end.md
  services/mailer/package.json
  services/mailer/src/routes/healthz/+server.ts
Due: eslint, prettier --write

feat(utils): implement helpers for request signing and verification
  libs/utils/package.json
  libs/utils/src/index.js
  libs/utils/src/signature/index.js
  libs/utils/src/signature/request/request.js
  libs/utils/src/signature/request/request.test.js
  libs/utils/src/signature/signature/signature.js
  libs/utils/src/signature/signature/signature.test.js
  libs/utils/test/setup-crypto.js
  libs/utils/vitest.config.js
Due: eslint, prettier --write

feat(mailer): hooks - basic authentication
  .changeset/small-zebras-tan.md
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/src/app.d.ts
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/daos/clients.dao.ts
  services/mailer/src/lib/server/errors.ts
Due: eslint, prettier --write

fix(mailer): fix missing ambient types
  services/mailer/src/app.d.ts
  services/mailer/vite.config.ts
  sites/www/src/app.d.ts
Due: eslint, prettier --write

refactor(www): reduce zod dependencies
  .changeset/lovely-cameras-add.md
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  libs/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
  sites/www/static/~partytown/partytown-atomics.js
  sites/www/static/~partytown/partytown-media.js
  sites/www/static/~partytown/partytown-sw.js
  sites/www/static/~partytown/partytown.js
Due: eslint, prettier --write

feat(mailer): /subscribe POST endpoint
  .changeset/rare-buckets-switch.md
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/lib/server/errors.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
Due: eslint, prettier --write

refactor(mailer): scope dtos & daos into domain
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/clients/clients.dao.ts
  services/mailer/src/lib/server/subscriptions/subscriptions.dao.ts
  services/mailer/src/lib/server/subscriptions/subscriptions.dto.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
Due: eslint, prettier --write

chore(mailer): /subscribe DTO
  .changeset/lucky-spies-exercise.md
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/common/dto.ts
  services/mailer/src/lib/server/common/errors.ts
  services/mailer/src/lib/server/errors.ts
  services/mailer/src/lib/server/subscriptions/subscriptions.dto.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
Due: eslint, prettier --write

refactor(utils): rename @libs/utils -> @internals/utils
  .changeset/brown-cats-buy.md
  .changeset/new-hotels-tell.md
  .changeset/pre.json
  .github/workflows/deploy_www.yaml
  .github/workflows/unit_tests.yaml
  internals/utils/.gitignore
  internals/utils/CHANGELOG.md
  internals/utils/package.json
  internals/utils/src/index.js
  internals/utils/src/signature/index.js
  internals/utils/src/signature/request/request.js
  internals/utils/src/signature/request/request.test.js
  internals/utils/src/signature/signature/signature.js
  internals/utils/src/signature/signature/signature.test.js
  internals/utils/src/url/delocalize-url/delocalize-url.js
  internals/utils/src/url/delocalize-url/delocalize-url.test.js
  internals/utils/src/url/get-lang-from-url/get-lang-from-url.js
  internals/utils/src/url/get-lang-from-url/get-lang-from-url.test.js
  internals/utils/src/url/index.js
  internals/utils/src/url/is-url-localized/is-url-localized.js
  internals/utils/src/url/is-url-localized/is-url-localized.test.js
  internals/utils/src/url/localize-url/localize-url.js
  internals/utils/src/url/localize-url/localize-url.test.js
  internals/utils/test/setup-crypto.js
  internals/utils/tsconfig.json
  internals/utils/vitest.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/mailer/package.json
  services/mailer/src/hooks.server.ts
  sites/www/package.json
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(isc+www+mailer): reconciliate /subscribe endpoint for mailer service
  .changeset/pink-moons-wonder.md
  .changeset/unlucky-seas-greet.md
  internals/isc/.gitignore
  internals/isc/CHANGELOG.md
  internals/isc/package.json
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/index.js
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/subscription/dto.js
  internals/isc/src/mailer/subscription/http.js
  internals/isc/src/mailer/subscription/index.js
  internals/isc/tsconfig.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/common/dto.ts
  services/mailer/src/lib/server/common/errors.ts
  services/mailer/src/lib/server/daos/clients.dao.ts
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/lib/server/subscriptions/subscriptions.dto.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  sites/www/.env
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/lib/server/actions/mail/translation/vi.ts
Due: eslint, prettier --write

fix(www+mailer+isc): fix typos, missing error handling for /subscribe endpoint
  internals/isc/src/common/http.js
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  services/mailer/svelte.config.js
  sites/www/.env
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore(mailer): migrations for creating subscriptions and clients table
  .changeset/afraid-mayflies-explain.md
  services/mailer/README.md
  services/mailer/d1/migrations/0000_create_subscription_table.sql
  services/mailer/d1/migrations/0001_create_client_table.sql
  services/mailer/d1/seed.sql
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/wrangler.toml
Due: eslint, prettier --write

fix(mailer): clients.dao should expect object in query result
  .changeset/perfect-ligers-shop.md
  services/mailer/src/lib/server/daos/clients.dao.ts
Due: eslint, prettier --write

fix(mailer): await for verifyRequest
  .changeset/lucky-paws-explain.md
  internals/utils/src/signature/request/request.test.js
  services/mailer/src/hooks.server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore(mailer): github deployment workflow
  .github/workflows/deploy_mailer.yaml
  services/mailer/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint
