Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(sveltevietnam.dev): remove old routing vite plugin artifacts
  sites/sveltevietnam.dev/src/lib/components/blog-listing-intro/BlogListingIntro.svelte
  sites/sveltevietnam.dev/src/lib/routing/utils.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
Due: eslint, prettier --write, stylelint

fix(packages/routes): correctly join path in static route generation
  packages/routes/src/internals/codegen/routes.js
Due: eslint, prettier --write

chore(sveltevietnam.dev): turn discord QR code into a link as well (BSOD)
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): routes.config.ts - skip localization and names for BSOD page
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): flatten locals, temporarily stop redirecting non-localized paths, and switch to using params in layout functions for lang
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/constants/index.ts
  sites/sveltevietnam.dev/src/lib/routing/context.svelte.ts
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/search/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.server.ts
  sites/sveltevietnam.dev/src/routes/+error.svelte
  sites/sveltevietnam.dev/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietanm.dev): make sure lang change invalidate load functions
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.server.ts
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): typo in vi message of ecosystem category
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
Due: none

feat(sveltevietnam.dev): support generating reroute for localization
  packages/routes/package.json
  packages/routes/src/internals/codegen/index.js
  packages/routes/src/internals/codegen/reroute.js
  packages/routes/src/internals/transform.js
  packages/routes/src/private.d.ts
  packages/routes/src/runtime/index.js
  packages/routes/src/runtime/types.public.d.ts
  packages/routes/src/runtime/types.public.js
  packages/routes/src/vite.js
  sites/sveltevietnam.dev/src/hooks.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.server.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): redirect root path to one of localized
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/+server.ts
Due: eslint, prettier --write, stylelint

chore: fix up eslint issues
  eslint.config.js
  sites/sveltevietnam.dev/src/lib/components/faq/index.ts
  sites/sveltevietnam.dev/src/lib/meta/structured/organization.ts
Due: eslint, prettier --write

chore(packages/routes): remove cli entry point
  packages/routes/package.json
  packages/routes/src/cli.js
  pnpm-lock.yaml
Due: eslint, prettier --write

chore(packages/i18n+routes): fix typo in alias import of vite.createLogger
  packages/i18n/src/logger.js
  packages/routes/src/logger.js
Due: eslint, prettier --write

feat(sveltevietnam.dev): implement blog categories & series listing pages
  sites/sveltevietnam.dev/src/data/blog/categories/community/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/categories/ecosystem/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/categories/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/insider/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/categories/svelte-and-kit/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/categories/types.ts
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/blog/series/behind-the-screen/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/series/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/styling-svelte-vietnam/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/series/types.ts
  sites/sveltevietnam.dev/src/lib/components/blog-post-collection-list-item/BlogPostCollectionListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-collection-list-item/index.ts
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.server.ts
Due: eslint, prettier --write, stylelint

perf(sveltevietnam.dev): add explicit sizes for thumbnail in BlogPostCollectionListItem
  sites/sveltevietnam.dev/src/lib/components/blog-post-collection-list-item/BlogPostCollectionListItem.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): typo in category locale en message
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
Due: none

chore(sveltevietnam.dev): turn on prerendering for compatible pages
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/+page.server.ts
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

style(sveltevietnam.dev): prevent flex shrinking in FAQ.Item and Person
  sites/sveltevietnam.dev/src/lib/components/faq/FAQ.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/person/Person.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): minor typo on 202404-spring meetup event page
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/en.yaml
Due: none

fix(packages/markdown): correct minimze icon class
  packages/markdown/src/components/btn-fullscreen/BtnFullscreen.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): mobile-menu - add backdrop, lock scroll, and correct z-index
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

chore: change pnpm setup to pnpm boot (avoid conflict with pnpm built-in command)
  docs/DEVELOPMENT.md
  package.json
Due: prettier --write

feat(sveltevietnam.dev): noti.toast - allow passing title & message as i18n Message
  sites/sveltevietnam.dev/src/lib/notifications/components/BaseNotification.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/Toast.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/discord-new-message/DiscordNewMessage.svelte
  sites/sveltevietnam.dev/src/lib/notifications/context.svelte.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): show notification about v1 site being worked on
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/BaseNotification.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/v1-site-construction/V1SiteConstruction.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/v1-site-construction/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correct i81n message passing to notifications
  packages/i18n/src/runtime/index.js
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/Toast.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): use effect for cleaner Header mobile menu lockscroll handling
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correctly cap width on mobile for blog post pages
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

enhance(sveltevietnam.dev): switch to using pointerevent in NotificationPortal to support wider range of devices
  sites/sveltevietnam.dev/src/lib/notifications/components/NotificationPortal.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): increase v1 notice noti to 10_000 timeout
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): load OG image from current origin instead of from env (allow better social sharing for preview sites)
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

[V1] refactor(sveltevietnam.dev): edit page sponsor overhaul
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/_page/images/irrigation.svg
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): clean up routing.json artifacts from old routing strategy
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/rss.xml/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/search/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/_page/routing.json
Due: prettier --write

chore(sveltevietnam.dev): set high priority for image at top of events page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): set rel & target for mailto links
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam): correct alternate lang for /:lang/people/:id route
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.server.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): close dropdown menu when header collapses on scroll
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

[V1] refactor(sveltevietnam.dev): resolve comments on sponsor page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/_page/images/irrigation.svg
Due: eslint, prettier --write, stylelint

[V1] refactor(sveltevietnam.dev): fix svg outline color
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/_page/images/irrigation.svg
Due: none

[v1] refactor(sveltevietnam.dev): add max-width and eager loading
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): sponsor kv image - keep eye color fixed in black
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/_page/images/irrigation.svg
Due: none
