Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

style(libs.ui): c-input - new variants :--checkbox & :--radio-labeled (prep for later use in /settings)
  libs/ui/css/components/c-input.css
Due: stylelint

feat(libs.ui,sites/www): add primary & secondary colors
  libs/ui/css/colors/colors.css
  libs/ui/css/colors/colors.js
  sites/www/src/routes/(localized)/design/colors/+page.svelte
  sites/www/src/routes/(localized)/design/colors/_page/translation/en.ts
  sites/www/src/routes/(localized)/design/colors/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): add the Settings page & modal, allow user customization of splash screen
  sites/www/src/lib/components/Footer/Footer.svelte
  sites/www/src/lib/components/Footer/translation/en.ts
  sites/www/src/lib/components/Footer/translation/vi.ts
  sites/www/src/lib/components/Header/Header.svelte
  sites/www/src/lib/components/Settings/ColorSchemeSkeleton.svelte
  sites/www/src/lib/components/Settings/Settings.svelte
  sites/www/src/lib/components/Settings/index.ts
  sites/www/src/lib/modals/Confirmation/Confirmation.svelte
  sites/www/src/lib/modals/Confirmation/index.ts
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
  sites/www/src/lib/modals/Settings/index.ts
  sites/www/src/lib/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/lib/routing/routing.server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(localized)/settings/+page.server.ts
  sites/www/src/routes/(localized)/settings/+page.svelte
  sites/www/src/routes/(localized)/settings/_page/translation/en.ts
  sites/www/src/routes/(localized)/settings/_page/translation/index.ts
  sites/www/src/routes/(localized)/settings/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(libs.ui): c-link - reduce transition duration for :--icon & :--lazy variants
  libs/ui/css/components/c-link.css
Due: stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(www): settings update form action - make fields optional
  sites/www/src/routes/(localized)/settings/+page.server.ts
Due: eslint, prettier --write

fix(www): update reference to [lang=lang] route segment to (localized)
  docs/DEV_BLOG_POST.md
  sites/www/_templates/post/create/page.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/_templates/translation/create/prompt.js
  sites/www/src/hooks.server.ts
Due: eslint, prettier --write

chore(www): localize ambiguous internal links
  docs/DEV_BLOG_POST.md
  sites/www/src/routes/(localized)/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/_page/translation/en.ts
  sites/www/src/routes/(localized)/blog/_page/translation/vi.ts
  sites/www/src/routes/(localized)/roadmap/_page/translation/en.ts
  sites/www/src/routes/(localized)/roadmap/_page/translation/vi.ts
  sites/www/src/routes/(localized)/sponsor/_page/translation/en.ts
  sites/www/src/routes/(localized)/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(stylelint): ignore *.md.svelte files
  stylelint.config.js
Due: eslint, prettier --write

chore(sites/www+libs/ui): add postcss + tailwindcss as unspecified peer dependencies of libs/ui
  pnpm-lock.yaml
  sites/www/package.json
Due: prettier --write

refactor(libs/ui): better naming for JSS node loader
  libs/ui/css/base/index.js
  libs/ui/css/components/index.js
  libs/ui/css/jss-node-loader.js
  libs/ui/css/utilities/index.js
Due: eslint, prettier --write

refactor(sties/www+libs/ui): move focus-within global outline styles to libs/ui
  libs/ui/css/base/base.css
  sites/www/src/lib/css/app.css
Due: stylelint

docs(libs/ui): entry README.md
  libs/ui/README.md
Due: prettier --write

feat(www): VI 3-part series 'Styling Svelte Vietnam'
  .changeset/fuzzy-trainers-hang.md
  sites/www/src/lib/data/blog/posts.ts
  sites/www/src/lib/data/blog/series.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/+page.server.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/+page.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-content.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-hate-en.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-hate-vi.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-in-postcss.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/thumbnail.jpg
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/+page.server.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/+page.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/atomic-design-comic-en.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/atomic-design-comic-vi.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/atomic-design-nightmare.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/component-based-development.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/just-changing-color.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/template-based-development.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/thumbnail.jpg
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/+page.server.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/+page.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/images/css-to-jss-build.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/images/css-to-jss-inline.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/images/design-system-package.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/images/tailwindcss-vscode-intellisense.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/images/thumbnail.jpg
Due: eslint, prettier --write, stylelint

feat(www): EN translations of blog post series "Styling Svelte Vietnam"
  .changeset/quick-pears-protect.md
  libs/ui/css/jss-node-loader.js
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-hate-en.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-in-postcss-en.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/images/tailwind-in-postcss-vi.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/just-changing-color-en.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/images/just-changing-color-vi.png
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

docs: add MadeWithSvelte badge to entry README
  README.md
Due: prettier --write

chore(www): update EN word count for part III blog post of Styling Svelte Vietnam series
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/data.ts
Due: eslint, prettier --write

chore: update dependencies
  internals/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

fix(mailer): rollback @tsndr/cloudflare-worker-jwt version to fix build error
  pnpm-lock.yaml
  services/mailer/package.json
Due: prettier --write

fix(www): strange bug during MDsvex processing in the presence of backtick `
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies & set turbo persistent for dev command
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
  turbo.json
Due: prettier --write

style(www): header - on mobile place hamburger menu at last
  sites/www/src/lib/components/Header/Header.svelte
Due: eslint, prettier --write, stylelint

chore(www): blog posts proofread for typo, grammar errors, and wording update
  libs/ui/README.md
  sites/www/src/routes/(localized)/_page/components/SectionEvents.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/data.ts
Due: eslint, prettier --write, stylelint

refactor(www): migrate shikiji back to shiki (resolve #222)
  .changeset/blue-crews-live.md
  pnpm-lock.yaml
  sites/www/mdsvex.config.js
  sites/www/package.json
  sites/www/src/lib/components/EnhancedCodeBlock/EnhancedCodeBlock.svelte
  sites/www/src/routes/(localized)/design/blog/_page/translation/en.ts
  sites/www/src/routes/(localized)/design/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): fix typo part iii styling vietnam blog post
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): update roadmap wording at survey task
  sites/www/src/routes/(localized)/roadmap/_page/translation/en.ts
  sites/www/src/routes/(localized)/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

chore(www): add to splash screen blog instruction for turning off
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

style(www): settings modal - sticky close button top right
  sites/www/src/lib/modals/Settings/Settings.svelte
Due: eslint, prettier --write, stylelint

style(www): top links in styling svelte vietnam blog series - c-link adjustment
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

style(www): add shadow for modals
  sites/www/src/lib/modals/Confirmation/Confirmation.svelte
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
Due: eslint, prettier --write, stylelint

chore: bump pnpm
  sites/www/package.json
Due: prettier --write

refactor: extract turnstile action to own package (@svelte-put/cloudflare-turnstile)
  package.json
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/turnstile/turnstile.action.ts
Due: eslint, prettier --write, stylelint

chore: udpate dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

refactor(libs/ui): scope fonts inside css
  libs/ui/css/fonts/fonts.css
  libs/ui/css/fonts/inter/inter-cyrillic-ext.woff2
  libs/ui/css/fonts/inter/inter-cyrillic.woff2
  libs/ui/css/fonts/inter/inter-greek-ext.woff2
  libs/ui/css/fonts/inter/inter-greek.woff2
  libs/ui/css/fonts/inter/inter-latin-ext.woff2
  libs/ui/css/fonts/inter/inter-latin.woff2
  libs/ui/css/fonts/inter/inter-var.woff2
  libs/ui/css/fonts/inter/inter-vietnamese.woff2
  libs/ui/css/fonts/inter/inter.font.css
  libs/ui/css/fonts/lora/Lora-Italic[wght].woff2
  libs/ui/css/fonts/lora/Lora[wght].woff2
  libs/ui/css/fonts/lora/lora.font.css
  libs/ui/css/postcss.js
  libs/ui/package.json
  sites/www/postcss.config.js
  sites/www/src/lib/css/app.css
  sites/www/tailwind.config.js
Due: eslint, prettier --write, stylelint

refactor(libs/ui): extract the enhance-code-block preprocess from sites/www
  libs/ui/.eslintrc.cjs
  libs/ui/package.json
  libs/ui/svelte/components/EnhancedCodeBlock.svelte
  libs/ui/svelte/preprocessors/enhance-code-block/index.js
  libs/ui/tsconfig.json
  pnpm-lock.yaml
  sites/www/src/lib/components/EnhancedCodeBlock/EnhancedCodeBlock.svelte
  sites/www/src/lib/components/EnhancedCodeBlock/index.ts
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

style(libs/ui): consistent outline color on focus for c-input text
  libs/ui/css/components/c-input.css
Due: stylelint

fix(libs/ui): fix tsc errors
  libs/ui/css/base/index.js
  libs/ui/css/components/index.js
  libs/ui/css/jss-node-loader.js
  libs/ui/css/tailwind.js
  libs/ui/css/utilities/index.js
  libs/ui/package.json
  libs/ui/tailwind.config.js
  libs/ui/tsconfig.json
  pnpm-lock.yaml
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

perf(libs/ui): simplify base jss with array instead of deep-merged object
  libs/ui/css/base/index.js
Due: eslint, prettier --write

fix(sites/www): missing intersect action in design/* pages
  sites/www/src/routes/(localized)/design/blog/+page.svelte
  sites/www/src/routes/(localized)/design/colors/+page.svelte
Due: eslint, prettier --write, stylelint

chore(libs/ui): preprocessor enhance-code-block - avoid duplication
  libs/ui/svelte/preprocessors/enhance-code-block/index.js
Due: eslint, prettier --write
