Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore: add svetle files to prettier step in lefthook
  lefthook.yaml
Due: none

test(i18n): setup a separate project for vitest browser mode
  package.json
  packages/i18n/package.json
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

test(i18n): call actual message created by factory in test
  packages/i18n/src/factory/create-message/create-message.test.ts
Due: eslint, prettier --write

fix(i18n): always output t.remote.js (empty in static mode), to support vite's static analysis
  packages/i18n/src/builder/build/__snapshots__/static/t.remote.js
  packages/i18n/src/builder/build/build.js
  packages/i18n/src/builder/build/build.test.ts
  packages/i18n/src/builder/build/types.public.d.ts
  packages/i18n/src/vite/vite.js
Due: eslint, prettier --write

fix(i18n): proxy root module to static submodule when in static mode, to support non-async Svelte projects where await syntax would otherwise throw
  packages/i18n/package.json
  packages/i18n/src/runtime/T/StaticT.svelte
  packages/i18n/src/runtime/T/StaticT.svelte.d.ts
  packages/i18n/src/runtime/T/T.svelte
  packages/i18n/src/runtime/T/static.js
  packages/i18n/src/runtime/static.js
  packages/i18n/src/vite/vite.js
Due: eslint, prettier --write, stylelint

chore(i18n): update license field to point to LICENSE at root
  packages/i18n/package.json
Due: prettier --write

chore: upgrade dependencies
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

test(i18n): add e2e smoke tests
  packages/i18n/package.json
  packages/i18n/tests/e2e/lib/components/welcome/locales/en.yaml
  packages/i18n/tests/e2e/lib/components/welcome/locales/vi.yaml
  packages/i18n/tests/e2e/lib/i18n/locales/en.yaml
  packages/i18n/tests/e2e/lib/i18n/locales/vi.yaml
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/remote/playwright.config.ts
  packages/i18n/tests/e2e/remote/src/app.html
  packages/i18n/tests/e2e/remote/src/routes/+page.svelte
  packages/i18n/tests/e2e/remote/svelte.config.js
  packages/i18n/tests/e2e/remote/test.ts
  packages/i18n/tests/e2e/remote/tsconfig.json
  packages/i18n/tests/e2e/remote/vite.config.js
  packages/i18n/tests/e2e/static/package.json
  packages/i18n/tests/e2e/static/playwright.config.ts
  packages/i18n/tests/e2e/static/src/app.html
  packages/i18n/tests/e2e/static/src/routes/+page.svelte
  packages/i18n/tests/e2e/static/svelte.config.js
  packages/i18n/tests/e2e/static/test.ts
  packages/i18n/tests/e2e/static/tsconfig.json
  packages/i18n/tests/e2e/static/vite.config.js
  packages/i18n/tests/e2e/utils.ts
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sites/recruit.sveltevietnam.dev/playwright.config.ts
Due: eslint, prettier --write, stylelint

chore(i18n): add id to exclude attribute list during saniziation
  packages/i18n/src/runtime/context/context/index.svelte.js
Due: eslint, prettier --write

chore(i18n): add funding info to package.json
  packages/i18n/package.json
Due: prettier --write

docs(i18n): bootstrap basic info about package and how to use [Skip CI]
  packages/i18n/README.md
Due: prettier --write

fix(i18n): set children as optional for Provider
  packages/i18n/src/runtime/context/Provider/Provider.svelte.d.ts
Due: eslint, prettier --write

chore(i18n): add CHANGELOG
  packages/i18n/CHANGELOG.md
Due: prettier --write

chore(i18n): ignore test artifacts from tarball
  packages/i18n/package.json
Due: prettier --write

chore(i18n): set version, generate changeset
  .changeset/little-results-knock.md
  packages/i18n/package.json
Due: prettier --write

chore: update action packages in changeset workflow
  .github/workflows/changesets.yaml
Due: none

docs(i18n): link from root README
  README.md
Due: prettier --write

chore: set changeset config access to public
  .changeset/config.json
Due: prettier --write

chore(i18n): remove outdated cli dependencies
  .changeset/funky-lines-relate.md
  packages/i18n/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(i18n): update package description
  packages/i18n/package.json
Due: prettier --write

docs(18n): correct pnpm install command
  packages/i18n/README.md
Due: prettier --write

fix(i18n): normalize identifier for lang with subtag
  .changeset/shaggy-streets-pick.md
  packages/i18n/src/builder/build/__snapshots__/common/messages/index.js
  packages/i18n/src/compiler/generate-message-module/generate-message-module.js
  packages/i18n/src/compiler/generate-message-module/generate-message-module.test.ts
  packages/i18n/src/compiler/generate-message/generate-message.js
  packages/i18n/src/compiler/generate-message/generate-message.test.ts
  packages/i18n/src/compiler/utils.js
Due: eslint, prettier --write

fix(i18n): add missing svelte export conditions
  .changeset/beige-pigs-smash.md
  packages/i18n/package.json
Due: prettier --write

fix(i18n): prevent $i18n alias imports from dev optimization
  .changeset/puny-coats-taste.md
  packages/i18n/src/vite/vite.js
Due: eslint, prettier --write

chore: turn on provenance flag in changeset workflow
  .github/workflows/changesets.yaml
Due: none

chore(i18n): rename generated t -> query
  .changeset/fifty-groups-rush.md
  packages/i18n/src/builder/build/__snapshots__/remote/t.remote.js
  packages/i18n/src/builder/build/build.js
  packages/i18n/src/runtime/context/context/index.svelte.js
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/static/ssr.test.svelte.ts
  packages/i18n/tests/e2e/remote/test.ts
Due: eslint, prettier --write

feat(i18n): allow importing generated modules from @sveltevietnam/i18n/generated/*
  .changeset/huge-baths-hammer.md
  packages/i18n/README.md
  packages/i18n/package.json
  packages/i18n/src/$generated/constants/index.d.ts
  packages/i18n/src/$generated/constants/index.js
  packages/i18n/src/$generated/index.d.ts
  packages/i18n/src/$generated/index.js
  packages/i18n/src/$generated/messages/index.d.ts
  packages/i18n/src/$generated/messages/index.js
  packages/i18n/src/$generated/t.remote/index.d.ts
  packages/i18n/src/$generated/t.remote/index.js
  packages/i18n/src/$generated/throw.js
  packages/i18n/src/builder/build/__snapshots__/remote/i18n.d.ts.snap
  packages/i18n/src/builder/build/__snapshots__/static/i18n.d.ts.snap
  packages/i18n/src/builder/build/types.public.d.ts
  packages/i18n/src/compiler/generate-dts/generate-dts.js
  packages/i18n/src/compiler/generate-dts/generate-dts.test.ts
  packages/i18n/src/runtime/T/types.public.d.ts
  packages/i18n/src/runtime/context/context/index.svelte.js
  packages/i18n/src/runtime/generated.js
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/static/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/static/ssr.test.svelte.ts
  packages/i18n/src/vite/types.public.d.ts
  packages/i18n/src/vite/vite.js
  packages/i18n/tests/e2e/remote/src/routes/+page.svelte
  packages/i18n/tests/e2e/static/src/routes/+page.svelte
  packages/i18n/tsconfig.json
  packages/i18n/vitest.config.ts
Due: eslint, prettier --write, stylelint

refactor(recruit+www): switch to @sveltevietnam/i18n/generated/messages imports where possible
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/schema.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/schema.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/utils.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/+page.server.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/schema.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/rss.xml/+server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.server.ts
Due: eslint, prettier --write, stylelint

docs: correct i18n package description
  README.md
Due: prettier --write

fix(i18n): unite overload into one single interface for query function
  .changeset/slimy-towns-deny.md
  packages/i18n/src/$generated/t.remote/index.d.ts
Due: eslint, prettier --write

fix(i18n): unite overload into one single interface for context.t function
  .changeset/thirty-zebras-kneel.md
  packages/i18n/src/runtime/context/context/index.svelte.d.ts
Due: eslint, prettier --write

docs(i18n): add note about generated remote function
  packages/i18n/README.md
Due: prettier --write

docs(i18n): add note about generated output
  packages/i18n/README.md
Due: prettier --write

refactor(i18n): split createMessageQueryInputSchema into its own module
  packages/i18n/src/factory/create-message-query-fn/create-message-query-fn.d.ts
  packages/i18n/src/factory/create-message-query-fn/create-message-query-fn.js
  packages/i18n/src/factory/create-message-query-fn/create-message-query-fn.test.ts
  packages/i18n/src/factory/create-message-query-input-schema/create-message-query-input-schema.d.ts
  packages/i18n/src/factory/create-message-query-input-schema/create-message-query-input-schema.js
  packages/i18n/src/factory/create-message-query-input-schema/create-message-query-input-schema.test.ts
  packages/i18n/src/factory/create-message-query-input-schema/index.js
  packages/i18n/src/factory/index.js
  packages/i18n/src/factory/types.private.d.ts
Due: eslint, prettier --write

test(i18n): address type errors in vite unit tests
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/static/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/static/ssr.test.svelte.ts
Due: eslint, prettier --write

feat(i18n): generate prerender remote function
  .changeset/fine-lemons-throw.md
  packages/i18n/src/$generated/t.remote/index.d.ts
  packages/i18n/src/builder/build/__snapshots__/remote/t.remote.js
  packages/i18n/src/builder/build/build.js
  packages/i18n/src/factory/create-message-prerender-fn/create-message-prerender-fn.d.ts
  packages/i18n/src/factory/create-message-prerender-fn/create-message-prerender-fn.js
  packages/i18n/src/factory/create-message-prerender-fn/index.js
  packages/i18n/src/factory/index.js
Due: eslint, prettier --write

chore(markdown): remove peerDependencies specs
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

test(i18n): exclude generated imports from optimizeDeps
  packages/i18n/vitest.config.ts
Due: eslint, prettier --write

test(i18n): add test cases for when lang is passed as T prop
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/static/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/static/ssr.test.svelte.ts
Due: eslint, prettier --write

feat(i18n): support custom remote function
  .changeset/hot-toys-attend.md
  packages/i18n/src/runtime/T/StaticT.svelte
  packages/i18n/src/runtime/T/T.svelte
  packages/i18n/src/runtime/T/types.public.d.ts
  packages/i18n/src/runtime/context/Provider/Provider.svelte
  packages/i18n/src/runtime/context/Provider/Provider.svelte.d.ts
  packages/i18n/src/runtime/context/context/index.svelte.d.ts
  packages/i18n/src/runtime/context/context/index.svelte.js
  packages/i18n/src/runtime/tests/in-provider.svelte
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/static/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/utils.ts
  packages/i18n/tests/e2e/remote/src/routes/+page.svelte
  packages/i18n/tests/e2e/static/src/routes/+page.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
