Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

style(www): NotificationPortal - smoother transition, align items right
  sites/www/src/lib/client/notifications/NotificationPortal.svelte
Due: eslint, prettier --write, stylelint

feat(discord): throttle createMessage event and send to www clients
  services/discord/package.json
  services/discord/src/discord/discord.bot.js
  services/discord/src/discord/discord.constants.js
  services/discord/src/discord/discord.websocket.js
Due: eslint, prettier --write

feat(www): receive message event from discord service and fire notification
  pnpm-lock.yaml
  sites/www/src/lib/client/notifications/BaseNotification.svelte
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/lib/client/notifications/NotificationPortal.svelte
  sites/www/src/lib/client/notifications/index.ts
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): extract a base Notification component, extend from there
  sites/www/src/lib/client/notifications/BaseNotification.svelte
  sites/www/src/lib/client/notifications/TextOnlyNotification.svelte
  sites/www/src/lib/client/notifications/index.ts
Due: eslint, prettier --write, stylelint

refactor(www): css comonent avatar - make usable
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/styles/components/avatar.css
Due: eslint, prettier --write, stylelint

refactor: move prettier config to repo root
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  sites/www/package.json
  sites/www/prettier.config.cjs
Due: eslint, prettier --write

fix(www): load discord ws url through .env
  sites/www/.env
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): DiscordNotification - set link blank target
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
Due: eslint, prettier --write, stylelint

chore: setup github workflow for unit testing
  .github/workflows/unit-tests.yaml
Due: none

refactor: extract utils for url handling into @libs/utils project
  libs/utils/.gitignore
  libs/utils/package.json
  libs/utils/src/index.js
  libs/utils/src/url/delocalize-url/delocalize-url.js
  libs/utils/src/url/delocalize-url/delocalize-url.test.js
  libs/utils/src/url/get-lang-from-url/get-lang-from-url.js
  libs/utils/src/url/get-lang-from-url/get-lang-from-url.test.js
  libs/utils/src/url/index.js
  libs/utils/src/url/is-url-localized/is-url-localized.js
  libs/utils/src/url/is-url-localized/is-url-localized.test.js
  libs/utils/src/url/localize-url/localize-url.js
  libs/utils/src/url/localize-url/localize-url.test.js
  libs/utils/tsconfig.json
  libs/utils/vitest.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/discord/package.json
  sites/www/package.json
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/shared/services/i18n/i18n.constants.ts
  sites/www/src/lib/shared/services/i18n/i18n.types.ts
  sites/www/src/lib/shared/services/i18n/i18n.utils.ts
  sites/www/src/lib/shared/services/i18n/index.ts
  sites/www/src/routes/+layout.svelte
  turbo.json
Due: eslint, prettier --write, stylelint

refactor(libs/utils): reorder params of localizeUrl
  libs/utils/src/url/localize-url/localize-url.js
  libs/utils/src/url/localize-url/localize-url.test.js
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: remove legacy Footer
  sites/www/src/lib/client/components/Footer/Footer.legacy.svelte
Due: eslint, prettier --write, stylelint

refactor(libs/utils): add test cases for urls ending in slash
  libs/utils/src/url/delocalize-url/delocalize-url.js
  libs/utils/src/url/delocalize-url/delocalize-url.test.js
  libs/utils/src/url/get-lang-from-url/get-lang-from-url.test.js
  libs/utils/src/url/is-url-localized/is-url-localized.test.js
  libs/utils/src/url/localize-url/localize-url.js
  libs/utils/src/url/localize-url/localize-url.test.js
Due: eslint, prettier --write

refactor(www): simplify internal localized links & auto-redirect navigation
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

fix(www): redirect from cookie page not if exist
  sites/www/src/hooks.server.ts
Due: eslint, prettier --write

style(SpashScreen): increase variant random ratio to quick:slow=3:1
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
Due: eslint, prettier --write, stylelint

refactor(www): mail registration flow - simplify with sveltekit-superforms
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/client/actions/turnstile.ts
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/lib/server/actions/mail/translation/index.ts
  sites/www/src/lib/server/actions/mail/translation/vi.ts
  sites/www/src/lib/shared/actions/mail/mail.server.ts
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): turnstile action - update action interface
  sites/www/src/lib/client/actions/turnstile.ts
Due: eslint, prettier --write

feat(www): mail form - complete submission flow, delay, loading state, and notifications
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/styles/components/btn.css
  sites/www/src/lib/client/styles/components/index.cjs
  sites/www/src/lib/client/styles/components/loader.css
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/lib/server/actions/mail/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
Due: eslint, prettier --write, stylelint

fix(www): MailRegistrationForm - reliable turnstyle input on language switch
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
Due: eslint, prettier --write, stylelint

refactor(www): wrap discord ws connection in trycatch
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

fix: move hygen _template files (missing after monorepo migration)
  sites/www/_templates/component/create/index.ejs.t
  sites/www/_templates/component/create/prompt.js
  sites/www/_templates/component/create/svelte.ejs.t
  sites/www/_templates/css/create/component.ejs.t
  sites/www/_templates/css/create/component.inject.ejs.t
  sites/www/_templates/css/create/prompt.js
  sites/www/_templates/generator/help/index.ejs.t
  sites/www/_templates/generator/new/hello.ejs.t
  sites/www/_templates/generator/with-prompt/hello.ejs.t
  sites/www/_templates/generator/with-prompt/prompt.ejs.t
  sites/www/_templates/init/repo/new-repo.ejs.t
  sites/www/_templates/modal/create/index.ejs.t
  sites/www/_templates/modal/create/prompt.js
  sites/www/_templates/modal/create/svelte.ejs.t
  sites/www/_templates/package.json
  sites/www/_templates/translation/create/en.ejs.t
  sites/www/_templates/translation/create/index.ejs.t
  sites/www/_templates/translation/create/prompt.js
  sites/www/_templates/translation/create/vi.ejs.t
Due: eslint, prettier --write

feat(www): setup & hygen template for new blog post
  .editorconfig
  sites/www/_templates/post/create/content.en.ejs.t
  sites/www/_templates/post/create/content.vi.ejs.t
  sites/www/_templates/post/create/data.ejs.t
  sites/www/_templates/post/create/listing-import.inject.ejs.t
  sites/www/_templates/post/create/listing-post.inject.ejs.t
  sites/www/_templates/post/create/page.ejs.t
  sites/www/_templates/post/create/page.server.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/src/app.d.ts
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/services/i18n/index.ts
  sites/www/src/lib/shared/types/index.ts
  sites/www/src/routes/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/_page/data.ts
Due: eslint, prettier --write, stylelint

feat(blog): setup mdsvex for blog content
  pnpm-lock.yaml
  sites/www/_templates/post/create/content.en.ejs.t
  sites/www/_templates/post/create/content.vi.ejs.t
  sites/www/_templates/post/create/data.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/package.json
  sites/www/svelte.config.js
Due: eslint, prettier --write

feat(sites): setup @tailwind/typography for blog post
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.svelte
  sites/www/tailwind.config.cjs
Due: eslint, prettier --write, stylelint
