Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

test(i18n): add test cases to make sure custom remote from prop takes precedence over context
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
Due: eslint, prettier --write

test(i18n): add e2e test for prerendering
  packages/i18n/tests/e2e/remote/src/lib/components/demo.svelte
  packages/i18n/tests/e2e/remote/src/routes/prerender/+page.svelte
  packages/i18n/tests/e2e/remote/src/routes/prerender/+page.ts
  packages/i18n/tests/e2e/remote/src/routes/query/+page.svelte
  packages/i18n/tests/e2e/remote/src/routes/query/+page.ts
  packages/i18n/tests/e2e/remote/test.ts
  packages/i18n/tests/e2e/utils.ts
Due: eslint, prettier --write, stylelint

fix(i18n): optional chaninig options in t for remote resolving
  packages/i18n/src/runtime/context/context/index.svelte.js
Due: eslint, prettier --write

fix(www): downgrade svelte to 5.39.13 to avoid some runtime issues in latest versions
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

enhance(i18n): better align `t` parameter and `T` prop interface
  .changeset/fancy-rockets-clean.md
  packages/i18n/src/runtime/T/StaticT.svelte
  packages/i18n/src/runtime/T/T.svelte
  packages/i18n/src/runtime/context/context/index.svelte.d.ts
  packages/i18n/src/runtime/context/context/index.svelte.js
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/static/browser.test.svelte.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(i18n): switch to using `prerender` as default remote
  .changeset/major-ads-rhyme.md
  packages/i18n/src/runtime/context/context/index.svelte.js
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

docs(i18n): add note about custom remote function
  packages/i18n/README.md
Due: prettier --write

fix(kit): correct i18n key to desc in qr code dialog
  packages/kit/src/dialogs/qr-code/DialogQrCode.svelte
Due: eslint, prettier --write, stylelint

fix(kit): deprecate @svelte-put/lockscroll, switch to simple attachment for now
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/kit/src/contexts/lockscroll.svelte.js
  packages/kit/src/dialogs/portal/DialogPortal.svelte
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/vite.config.ts
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

style: use starting-style and allow-discrete for more idiomatic enter animation of dialogs
  packages/css/src/components/c-dialog.css
  packages/kit/src/dialogs/confirmation/DialogConfirmation.svelte
  packages/kit/src/dialogs/qr-code/DialogQrCode.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/DialogHelp.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/confirmation-dialog.svelte
  sites/sveltevietnam.dev/src/lib/dialogs/search-dialog/SearchDialog.svelte
Due: eslint, prettier --write, stylelint

chore: bump pnpm version
  package.json
Due: prettier --write

fix(www): turn off lockscroll on dialogs - workaround for current svelte & kit version
  packages/kit/src/dialogs/portal/DialogPortal.svelte
Due: eslint, prettier --write, stylelint

style: increase theme transition duration to 600ms
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

fix: header dropdowns should pass open binding down to Dropdown component
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  packages/kit/src/components/language-menu/LanguageMenu.svelte
Due: eslint, prettier --write, stylelint

style: encapsulate theme transition in color-scheme menu
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: eslint, prettier --write, stylelint

chore: set pagefind vite plugin to verbose if run locally
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

chore(www): pagefind vite plugin - start server by using the preview function from vite
  sites/sveltevietnam.dev/src/lib/pagefind/vite.ts
Due: eslint, prettier --write

chore: turn of debug mode for routes plugin if running in CI
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
Due: eslint, prettier --write

chore: bump node version
  package.json
Due: prettier --write

chore(kit): flatten href await in DialogQrCode
  packages/kit/src/dialogs/qr-code/DialogQrCode.svelte
Due: eslint, prettier --write, stylelint

fix: workaround current issue with dynamic dialog rendering
  packages/kit/src/dialogs/confirmation/DialogConfirmation.svelte
  sites/sveltevietnam.dev/src/lib/dialogs/search-dialog/SearchDialog.svelte
Due: eslint, prettier --write, stylelint

fix(www): force kill process on preview port during pagefind vite plugin
  sites/sveltevietnam.dev/src/lib/pagefind/vite.ts
Due: eslint, prettier --write

fix(www): correctly skip `outdate` output if undefined
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

fix(www): pagefind vite plugin - fallback to spawning child process but detach it (lsof not available on all system)
  sites/sveltevietnam.dev/src/lib/pagefind/vite.ts
Due: eslint, prettier --write

chore(recruit): enable prerendering on homepage
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.server.ts
  sites/recruit.sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

fix(recruit: switch global i18n remote stratety to query
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(kit): remove legacy t:lang context
  packages/kit/src/contexts/provider/ContextsProvider.svelte
Due: eslint, prettier --write, stylelint

fix(recruit): load static messages for floating-link-editor (otherwise would need to inject contexts)
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/FloatingLinkEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/register.ts
Due: eslint, prettier --write, stylelint

fix(recruit): set i18n remote strategy to prerender on homepage
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(i18n): make remote prop mandatory at context level
  .changeset/two-knives-occur.md
  packages/i18n/README.md
  packages/i18n/src/runtime/context/context/index.svelte.d.ts
  packages/i18n/src/runtime/context/context/index.svelte.js
Due: eslint, prettier --write

docs(i18n): polish docs, fix typo, add contributing link
  packages/i18n/README.md
Due: prettier --write

docs(i18n): add link to changelog
  packages/i18n/README.md
Due: prettier --write

feat(www): publish new blog post - i18n with remote function
  sites/sveltevietnam.dev/src/data/blog/posts/20251105-internationalisation-with-remote-function-a-proof-of-concept/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20251105-internationalisation-with-remote-function-a-proof-of-concept/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20251105-internationalisation-with-remote-function-a-proof-of-concept/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20251105-internationalisation-with-remote-function-a-proof-of-concept/metadata.ts
Due: eslint, prettier --write, stylelint

chore: upgrade Svelte
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix(recruit): should destruct t from i18n context
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

fix(www): fallback to $effect in search dialog to avoid some clashing with async svelte
  sites/sveltevietnam.dev/src/lib/dialogs/search-dialog/SearchDialog.svelte
  sites/sveltevietnam.dev/src/lib/search/context.svelte.ts
Due: eslint, prettier --write, stylelint

refactor(www): get request event automatically in getBackend util
  sites/sveltevietnam.dev/src/lib/backend/utils.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
Due: eslint, prettier --write

refactor: reduce @atproto/api runtime dependencies (fix #357)
  sites/sveltevietnam.dev/src/lib/bluesky/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/components/BlueskyComments.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/locales/en.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/remotes/get-bluesky-post-linkage.remote.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/remotes/index.ts
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint
