Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(css): extract flag to icons (for language display)
  packages/css/src/icons/flags/gb.svg
  packages/css/src/icons/flags/i-flag-gb.css
  packages/css/src/icons/flags/i-flag-vn.css
  packages/css/src/icons/flags/vn.svg
  packages/css/src/icons/index.css
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/images/flag-gb.svg
  sites/sveltevietnam.dev/src/lib/components/language-menu/images/flag-vn.svg
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement v1 settings page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/_page/components/ColorSchemeSkeleton.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/_page/images/lightbulb.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/_page/images/og-settings.en.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/_page/images/og-settings.vi.jpg
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correct dir name of generated post from create-post script
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): shorten description for people data
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/index.ts
  sites/sveltevietnam.dev/src/data/people/vnphanquang/index.ts
Due: eslint, prettier --write

[v1] blog: add nguyenle to people of svelte
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/images/summarizer.png
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/metadata.ts
  sites/sveltevietnam.dev/src/data/people/liti-dev/index.ts
Due: eslint, prettier --write, stylelint

[v1] blog: restore env and format nguyenle eng ver
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): remove duplicate date stamp in generated 20250522-nguyen-le blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/images/summarizer.png
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/metadata.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): add people-of-svelte blog post series (and link 2020522-nguyen-le to it)
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/series/people-of-svelte/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/people-of-svelte/thumbnail.jpg
Due: eslint, prettier --write

enhance(sveltevietnam.dev): add specific ui variants for BlogPostShowcase when only 1 or 2 posts
  sites/sveltevietnam.dev/src/lib/components/blog-post-showcase/BlogPostShowcase.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): list people-of-svelte posts on blog listing page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): a few minor syntax adjustments for 20250522-nguyen-le... blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(vscode): associate *.md.svelte to markdown to avoid autoformat
  .vscode/settings.json
Due: prettier --write

fix(sveltevietnam.dev): inline title svg in splash screen to avoid fouc
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/SplashScreenPlayground.svelte
  sites/sveltevietnam.dev/src/lib/styles/splash.css
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): blog writing guide - note about VScode config
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement dynamic sitemap.xml
  sites/sveltevietnam.dev/src/data/blog/categories/index.ts
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/index.ts
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/data/people/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/+server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/sitemap.template.xml
Due: eslint, prettier --write

chore(sveltevietnam.dev): add static root sitemapindex
  sites/sveltevietnam.dev/static/sitemap.xml
Due: none

fix(sveltevietnam.dev): typo changefreq in sitemap template
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/sitemap.template.xml
Due: none

[v1] blog: add thumbnail to series people of svelte
  sites/sveltevietnam.dev/src/data/blog/series/people-of-svelte/thumbnail.jpg
Due: none

chore(sveltevietnam.dev): add back __BUILD_TIMESTAMP global
  eslint.config.js
  sites/sveltevietnam.dev/eslint.config.js
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

feat(sveltevietnam.dev): implement dynamic lang-specific rss.xml
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/rss.xml/+server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/rss.xml/rss.template.xml
  sites/sveltevietnam.dev/static/logo/rss.png
Due: eslint, prettier --write

fix(sveltevietnam.dev): beforeNavigate - fire notification only when redirected from form submission
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): pass missing origin to buildStructured* functions
  sites/sveltevietnam.dev/src/lib/meta/structured/blog.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): add animejs to vite optimizeDeps
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

fix(sveltevientam.dev): add explicit width height in usage of Avatar
  sites/sveltevietnam.dev/src/lib/components/person/Person.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/discord-new-message/DiscordNewMessage.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): should check for string / Picture of `src` prop in Avatar
  sites/sveltevietnam.dev/src/lib/components/avatar/Avatar.svelte
Due: eslint, prettier --write, stylelint

style(css): add reusable interactive utility with some default easing & duration
  packages/css/src/utilities/index.css
  packages/css/src/utilities/interactive.css
Due: stylelint

feat(sveltevietnam.dev): render comments from bluesky if specified in blog post page
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/bluesky/index.ts
  sites/sveltevietnam.dev/src/lib/utils/datetime.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(backend): save and retrieve bluesky post - blog post linkage
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  workers/backend/src/data/bluesky-posts/index.ts
  workers/backend/src/data/bluesky-posts/schema.ts
  workers/backend/src/data/bluesky-posts/table.ts
  workers/backend/src/database/migrations/0001_create_bluesky_posts_table.sql
  workers/backend/src/database/migrations/meta/0001_snapshot.json
  workers/backend/src/database/migrations/meta/_journal.json
  workers/backend/src/database/schema.ts
  workers/backend/src/worker.ts
Due: eslint, prettier --write

style(sveltevietnam.dev): relax max width on listing header on blog listing page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
Due: eslint, prettier --write, stylelint

[v1] add tianguyen photos
  sites/sveltevietnam.dev/src/data/people/liti-dev/avatar.jpg
  sites/sveltevietnam.dev/src/data/people/liti-dev/pop-image.png
Due: none

fix(sveltevietnam.dev): prevent overflow on intro section of homepage
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): turn of rotation of cursor animation on homepage - resources section
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): adjust robots.txt to correctly ignore mails route
  sites/sveltevietnam.dev/static/robots.txt
Due: none

feat(sveltevietnam.dev): implement site analytics with basic events using umami
  pnpm-lock.yaml
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/page-edit-link/PageEditLink.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): automate rel & target insertion for external links using preprocessor
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): add @atprotocol/api to vite's optimizeDeps
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): adjust to relative import paths in come-for-svelte-... blog post to avoid false dependency parsing
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): clean umami logs
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): rename umami delayed-hydration event
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint
