Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(i18n+recruit): migrate i18n in postings page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
Due: eslint, prettier --write, stylelint

feat(i18n): export KeySimple and KeyWithParams type from generated submodule
  packages/i18n-new/src/runtime/generated.d.ts
  packages/kit/src/components/copy-btn/index.d.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarBlockTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarIconButton.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarInlineTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/CalloutStatusDropdown.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/FloatingLinkEditor.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/components/faq/FAQ.Item.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/milestone/Milestone.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in onboarding page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in email change verification page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in authenticate page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in welcome page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in profile page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in createSuperFormGenericErrorHandler to new implementation
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/utils.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
Due: eslint, prettier --write, stylelint

chore(i18n+recruit): remove outdated i18n config in floating-link-editor register
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/register.ts
Due: eslint, prettier --write

enhance(kit): simplify interface of Contentful
  packages/kit/src/components/contentful/Contentful.svelte
  packages/kit/src/components/contentful/index.d.ts
  packages/kit/src/dialogs/confirmation/index.d.ts
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in lang layout to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in posting details page to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in employer profile form to new implementation
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/schema.ts
Due: eslint, prettier --write, stylelint

fix(i18n+recruit): add back missing back_to_svelte_vietnam message
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: none

refactor(i18n+recruit): migrate i18n in posting create & edit pages to new implementation [Skip CI]
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/schema.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade vitest to v4
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(www): correctly pass params to i18n messages in BlueskyComments component
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/components/BlueskyComments.svelte
Due: eslint, prettier --write, stylelint

chore(kit): add default entries to exports
  packages/kit/package.json
Due: prettier --write

refactor(i18n+recruit): migrate i18n in uats to new implementation
  sites/recruit.sveltevietnam.dev/tests/001-authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/002-account.uat.ts
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/common.ts
  sites/recruit.sveltevietnam.dev/tests/poms/email-change-verification.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-list.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/poms/welcome.ts
Due: eslint, prettier --write

perf(www): add back short 100ms debounce for search
  sites/sveltevietnam.dev/src/lib/search/context.svelte.ts
Due: eslint, prettier --write

chore: upgrade dependencies, lock @paralleldrive/cuid2 to v2
  package.json
  packages/css/package.json
  packages/i18n-new/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore(recruit): remove old locale files
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

fix(recruit): clear session data cache cookie after user data update
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.server.ts
Due: eslint, prettier --write

test(recruit): move to faker.image.url (lorem being deprecated)
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-active.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-expired.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-pending.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-002-User-can-create-posting/aria-vi-listing.yaml
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
Due: eslint, prettier --write

test(recruit): migrate leftover old i18n artifact in poms
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-edit.ts
Due: eslint, prettier --write

chore: remove old i18n package
  packages/i18n/.gitignore
  packages/i18n/package.json
  packages/i18n/src/cli.js
  packages/i18n/src/index.js
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/internals/collect.js
  packages/i18n/src/internals/lint.js
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/private.d.ts
  packages/i18n/src/internals/transform.js
  packages/i18n/src/internals/utils.js
  packages/i18n/src/language.js
  packages/i18n/src/logger.js
  packages/i18n/src/runtime/T.svelte
  packages/i18n/src/runtime/T.svelte.d.ts
  packages/i18n/src/runtime/factory.js
  packages/i18n/src/runtime/index.js
  packages/i18n/src/runtime/types.public.d.ts
  packages/i18n/src/runtime/types.public.js
  packages/i18n/src/utils/index.js
  packages/i18n/src/utils/lang-var/index.js
  packages/i18n/src/utils/lang-var/pack-lang-var/pack-lang-var.js
  packages/i18n/src/utils/lang-var/types.public.d.ts
  packages/i18n/src/utils/lang-var/types.public.js
  packages/i18n/src/utils/lang-var/unpack-lang-var/unpack-lang-var.js
  packages/i18n/src/utils/url/delocalize-url/delocalize-url.js
  packages/i18n/src/utils/url/delocalize-url/delocalize-url.test.js
  packages/i18n/src/utils/url/get-lang-from-url/get-lang-from-url.js
  packages/i18n/src/utils/url/get-lang-from-url/get-lang-from-url.test.js
  packages/i18n/src/utils/url/index.js
  packages/i18n/src/utils/url/is-url-localized/is-url-localized.js
  packages/i18n/src/utils/url/is-url-localized/is-url-localized.test.js
  packages/i18n/src/utils/url/localize-url/localize-url.js
  packages/i18n/src/utils/url/localize-url/localize-url.test.js
  packages/i18n/src/vite.js
  packages/i18n/tsconfig.json
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  workers/backend/package.json
Due: eslint, prettier --write, stylelint

chore: clean up left over old references to @sveltevietnam/i18n
  packages/kit/src/contexts/routing.svelte.js
  sites/sveltevietnam.dev/src/app.d.ts
Due: eslint, prettier --write

fix(www): use the new async syntax for SearchDialog results (this also fixes a weird error from `$.get`, as user types)
  sites/sveltevietnam.dev/src/lib/dialogs/search-dialog/SearchDialog.svelte
Due: eslint, prettier --write, stylelint

test(recruit): at first() to alert locator to avoid failing in strict mode
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
Due: eslint, prettier --write

fix(kit): correct Contentful component content prop resolution
  packages/kit/src/components/contentful/Contentful.svelte
Due: eslint, prettier --write, stylelint

test(i18n): implement unit test case for vite to verify treeshaking and missing input warning [Skip CI]
  package.json
  packages/i18n/src/parser/parse-message-params/parse-message-params.test.ts
  packages/i18n/src/vite/tests/missing-input/i18n/locales/.gitkeep
  packages/i18n/src/vite/tests/missing-input/index.html
  packages/i18n/src/vite/tests/missing-input/index.js
  packages/i18n/src/vite/tests/treeshaking/i18n/locales/en.yaml
  packages/i18n/src/vite/tests/treeshaking/i18n/locales/vi.yaml
  packages/i18n/src/vite/tests/treeshaking/index.html
  packages/i18n/src/vite/tests/treeshaking/index.js
  packages/i18n/src/vite/vite.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier --write

test(i18n): filter dot files manually, move each test case to its fixture's location
  packages/i18n/src/vite/tests/missing-input/test.ts
  packages/i18n/src/vite/tests/missing-input/vite.config.js
  packages/i18n/src/vite/tests/treeshaking/test.ts
  packages/i18n/src/vite/tests/treeshaking/vite.config.js
  packages/i18n/src/vite/vite.js
  packages/i18n/src/vite/vite.test.ts
  packages/i18n/vitest.config.ts
Due: eslint, prettier --write

test(i18n): add test case for vite plugin with alias
  packages/i18n/src/vite/tests/alias/components/test/locales/en.yaml
  packages/i18n/src/vite/tests/alias/i18n/locales/en.yaml
  packages/i18n/src/vite/tests/alias/index.html
  packages/i18n/src/vite/tests/alias/index.js
  packages/i18n/src/vite/tests/alias/test.ts
  packages/i18n/src/vite/tests/alias/vite.config.js
Due: eslint, prettier --write

fix(i18n): set build to vite project root instead of process.cwd, reexport via index module
  packages/i18n/src/vite/index.js
  packages/i18n/src/vite/types.public.d.ts
  packages/i18n/src/vite/vite.js
Due: eslint, prettier --write

enhance(i18n): only skip build if in sveltekit projects
  packages/i18n/src/vite/index.js
Due: eslint, prettier --write

test(i18n): skip fs write for vite unit tests
  packages/i18n/src/vite/tests/alias/test.ts
  packages/i18n/src/vite/tests/missing-input/test.ts
  packages/i18n/src/vite/tests/treeshaking/test.ts
  packages/i18n/src/vite/tests/utils.ts
Due: eslint, prettier --write

test(i18n): add test case for error forwarding when using vite plugin
  packages/i18n/src/vite/tests/error-forwarding/i18n/locales/en.yaml
  packages/i18n/src/vite/tests/error-forwarding/index.html
  packages/i18n/src/vite/tests/error-forwarding/index.js
  packages/i18n/src/vite/tests/error-forwarding/test.ts
  packages/i18n/src/vite/tests/error-forwarding/vite.config.js
  packages/i18n/src/vite/tests/missing-input/test.ts
  packages/i18n/src/vite/tests/utils.ts
  packages/i18n/src/vite/vite.js
Due: eslint, prettier --write

refactor: simplify init & update method in contexts [Skip CI]
  packages/kit/src/contexts/color-scheme.svelte.js
  packages/kit/src/contexts/routing.svelte.js
Due: eslint, prettier --write

test(i18n): add unit test cases for runtime modules
  .gitignore
  package.json
  packages/i18n/package.json
  packages/i18n/src/runtime/T/T.svelte
  packages/i18n/src/runtime/context/context/index.svelte.d.ts
  packages/i18n/src/runtime/context/context/index.svelte.js
  packages/i18n/src/runtime/tests/augmentation.d.ts
  packages/i18n/src/runtime/tests/in-provider.svelte
  packages/i18n/src/runtime/tests/remote/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/remote/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/static/browser.test.svelte.ts
  packages/i18n/src/runtime/tests/static/ssr.test.svelte.ts
  packages/i18n/src/runtime/tests/utils.ts
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/.gitignore
Due: eslint, prettier --write, stylelint
