Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

chore(discord): change throttle -> debounce websocket message event
  pnpm-lock.yaml
  services/discord/package.json
  services/discord/src/discord/discord.websocket.js
Due: eslint, prettier --write

feat(www): to-be-announced section (empty listing)
  sites/www/src/lib/shared/assets/images/svg/tba.svg
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

fix(www): refactor splitFade action into components (allow update with lang text)
  sites/www/src/lib/client/actions/splitFade.ts
  sites/www/src/lib/client/components/ConsecutiveFadeUpIntro/ConsecutiveFadeUpIntro.svelte
  sites/www/src/lib/client/components/ConsecutiveFadeUpIntro/index.ts
  sites/www/src/lib/client/components/MailRegistrationForm/index.ts
  sites/www/src/lib/client/components/SplitFadeText/SplitFadeText.svelte
  sites/www/src/lib/client/components/SplitFadeText/index.ts
  sites/www/src/lib/client/components/SplitText/SplitText.svelte
  sites/www/src/lib/client/components/SplitText/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/_page/page.css
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): home page - apply TBA to events section if no events
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): events page - replace key visuals
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/header-figures.webp
  sites/www/src/routes/[[lang=lang]]/events/_page/images/key-visuals.svg
Due: eslint, prettier --write, stylelint

feat(www): events page - first design draft
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/components/btn.css
  sites/www/src/lib/client/styles/components/input.css
  sites/www/src/lib/client/styles/theme.cjs
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/header-figures.webp
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: move events page out of prototype phase
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/[slug]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: WIP events design first draft setup
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: add some TODOs to unit_tests github action workflow
  .github/workflows/unit_tests.yaml
Due: none

style(www): MailRegistrationForm - update style to latest design from events page
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
Due: eslint, prettier --write, stylelint

style(www): PageNav - active link disable pointer events
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
Due: eslint, prettier --write, stylelint

chore: downgrade to wrangler 3.4.x to resolve binding problem
  .github/workflows/cloudflare.yaml
Due: none

feat(www): mail action - perform data mutation with cloudflare d1 binding
  pnpm-lock.yaml
  sites/www/.gitignore
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/components/MailRegistrationForm/index.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/lib/server/actions/mail/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/wrangler.toml
Due: eslint, prettier --write, stylelint

chore: update dependencies
  libs/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

chore(discord): health check interval 10s -> 30s
  services/discord/fly.toml
Due: none

refactor: deprecate PageTransition (too many workarounds necessary)
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/PageTransition.svelte
Due: eslint, prettier --write, stylelint

chore(www): self-reference hreflang link tag for each page
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(www): put back __BUILD_TIMESTAMP__ (used in headless api like sitemap.xml)
  sites/www/.eslintrc.cjs
  sites/www/src/app.d.ts
  sites/www/vite.config.ts
Due: eslint, prettier --write

chore(www): setup sitemap.xml for all current pages
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/sitemap.template.xml
Due: eslint, prettier --write

chore(www): add sitemap ref to robots.txt
  sites/www/static/robots.txt
Due: none

chore: setup changesets toolset
  .changeset/config.json
  .github/workflows/changesets.yaml
  libs/utils/CHANGELOG.md
  package.json
  pnpm-lock.yaml
  services/discord/CHANGELOG.md
  sites/www/CHANGELOG.md
  sites/www/package.json
Due: prettier --write

chore: enter changeset pre-release mode
  .changeset/new-hotels-tell.md
  .changeset/pre.json
  libs/utils/CHANGELOG.md
  libs/utils/package.json
  services/discord/CHANGELOG.md
  services/discord/package.json
  sites/www/CHANGELOG.md
  sites/www/package.json
Due: prettier --write

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
  sites/www/src/lib/shared/services/i18n/index.ts
Due: eslint, prettier --write

chore: pass DKIM envs to build step (cloudflare workflow)
  .github/workflows/cloudflare.yaml
Due: none

chore: test mailchannels send API
  sites/www/.env
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore(www): turn off registration email notification (MailChannels) for now
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

fix(www): sitemap.xml - correct lang segment position
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

style(sites/www): design pages - adjust font size & weight
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): SEO - page url typo, .com -> .dev
  .changeset/gold-mangos-hug.md
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/en_contributor_nomination.yaml
  .github/ISSUE_TEMPLATE/en_external_blog_post_link_request.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_contributor_nomitaion.yaml
  .github/ISSUE_TEMPLATE/vi_external_blog_post_link_request.yaml
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
Due: eslint, prettier --write

style(www): roadmap navigation 2 columns desktop
  .changeset/wicked-suns-search.md
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/shared/services/i18n/translations/navigation/en.ts
  sites/www/src/lib/shared/services/i18n/translations/navigation/vi.ts
  sites/www/src/lib/shared/services/navigation/index.ts
Due: eslint, prettier --write, stylelint

style(www): footer spacing adjustments
  sites/www/src/lib/client/components/Footer/Footer.svelte
Due: eslint, prettier --write, stylelint

refactor(www): extract ToBeAnnounced component
  .changeset/metal-jobs-matter.md
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/index.ts
  sites/www/src/lib/shared/assets/images/svg/tba.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint
