Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

refactor(www): change word count to number, add ~ in markup
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
Due: eslint, prettier --write, stylelint

feat(www): structure ld+json for blog pages
  sites/www/_templates/post/create/data.ejs.t
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/data/structured.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
Due: eslint, prettier --write

style(www): adjust gradient in how section of /sponsor page
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): apply clip-path to avatars
  sites/www/src/lib/client/styles/components/avatar.css
  sites/www/src/lib/client/styles/utilities/utilities.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/authors.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/images/authors/vnphanquang.png
Due: eslint, prettier --write, stylelint

style(www): apply c-link--icon explicitly (firefox still doesn't support :has fully)
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(www): prepend ROOT_URL to logo & image properties of ld+json structured data
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/services/navigation/index.ts
Due: eslint, prettier --write

refactor(www): change Author to a more generic Person data model for reusability
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/data/people/avatars/vnphanquang.png
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
Due: eslint, prettier --write

refactor(www): move blog post data listing to $shared/data/blog module
  sites/www/_templates/post/create/data.ejs.t
  sites/www/_templates/post/create/listing-import.inject.ejs.t
  sites/www/_templates/post/create/listing-post.inject.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/data/blog/types.ts
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
Due: eslint, prettier --write

refactor(www): typing preprattion for events
  sites/www/src/lib/shared/data/events/index.ts
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/lib/shared/types/index.ts
Due: eslint, prettier --write

fix(www): correct item url of structured BreadcrumbList in blog posts
  sites/www/src/lib/shared/data/blog/helpers.ts
Due: eslint, prettier --write

refactor(www): resuable person localize & structure helpers
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/people/index.ts
Due: eslint, prettier --write

refactor(www): i18n resolveLangVar cover case where T is Array
  sites/www/src/lib/shared/services/i18n/index.ts
Due: eslint, prettier --write

feat(www): preprare data helpers for events
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/lib/shared/data/structured.ts
Due: eslint, prettier --write

refactor(www): resolveLangVar - throw if missing variant
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/lib/shared/services/i18n/index.ts
Due: eslint, prettier --write

fix(www): update import path to blog listing data
  sites/www/src/routes/(api)/rss.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

refactor(www): c-link - specify an ellipse variant for use in blog
  sites/www/src/lib/client/styles/components/avatar.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): implement listEvents for automatically splitting event into time-based buckets (ongoing, upcoming, past) for display in /events
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/events/index.ts
  sites/www/src/lib/shared/data/events/types.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(www): blog post do localization at server load level
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/data/blog/types.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
Due: eslint, prettier --write, stylelint

style(www): EventCard - add megaphone icon with tooltip for ongoing events
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/EventCard/translation/en.ts
  sites/www/src/lib/client/components/EventCard/translation/vi.ts
  sites/www/src/lib/client/tooltips/index.ts
  sites/www/src/lib/shared/assets/images/svg/google/campaign.svg
  sites/www/src/lib/shared/data/events/helpers.ts
  sites/www/src/lib/shared/data/events/index.ts
Due: eslint, prettier --write, stylelint

refactor(www): consolidate on one single fallback image
  sites/www/src/app.d.ts
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/shared/assets/images/fallback/company.webp
  sites/www/src/lib/shared/assets/images/fallback/default.jpg
  sites/www/src/lib/shared/assets/images/fallback/default.webp
  sites/www/src/lib/shared/assets/images/fallback/job.webp
  sites/www/src/lib/shared/assets/images/fallback/sponsor.webp
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/lib/shared/mocks/index.ts
Due: eslint, prettier --write, stylelint

feat(www): isEventWithinOneDay helper
  sites/www/src/lib/shared/data/events/helpers.ts
Due: eslint, prettier --write

fix(www): EventCard - remove duplicated nested p
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
Due: eslint, prettier --write, stylelint

style(www): set x padding variables for (max-w-pad) as global
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/lib/client/styles/utilities/utilities.css
Due: eslint, prettier --write, stylelint

feat(www): skip Splash for consecutive page visit (no JS users)
  .changeset/chilled-gorillas-burn.md
  sites/www/.env
  sites/www/src/app.d.ts
  sites/www/src/app.html
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/styles/splash.css
Due: eslint, prettier --write, stylelint

refactor(www): extract a Person component for reusability
  sites/www/src/lib/client/components/Person/Person.svelte
  sites/www/src/lib/client/components/Person/index.ts
  sites/www/src/lib/shared/data/people/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(www): data/events, should re-export helpers
  sites/www/src/lib/shared/data/events/index.ts
Due: eslint, prettier --write

feat(www): event page - Online Meetup Year-End 2023
  .changeset/sour-pans-pretend.md
  sites/www/src/lib/shared/assets/images/fallback/default.jpg
  sites/www/src/lib/shared/data/events/index.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/images/thumbnail-en.jpg
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/_page/images/key-visuals.png
Due: eslint, prettier --write, stylelint

feat(www): consistent datetime formatter for events
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/shared/utils/datetime.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

chore(www): setup sitemap & rss items for events
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/blog/types.ts
  sites/www/src/routes/(api)/rss.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

chore(www): Online Meetup Year End description section and adjust some spacing
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/translation/en.ts
Due: eslint, prettier --write, stylelint

chore(www): Online Meetup Year-End 2023 - reusable generateTimeSlot helper
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

style(www): align baseline for dl items of EventCard
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/styles/components/link.css
Due: eslint, prettier --write, stylelint

chore(www): Online Meetup Year-End 2023 - minor time & wording adjustments
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/translation/vi.ts
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
