Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

enhance(www): add sr texts for Header mobile menu btns (open & close)
  sites/www/src/lib/client/components/Header/Header.svelte
Due: eslint, prettier --write, stylelint

style(www): blog layout - prevent x overflow
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): /design/typography - add i18n meta tags
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): bootstrap blank /design/colors page
  sites/www/src/lib/shared/services/i18n/translations/navigation/en.ts
  sites/www/src/lib/shared/services/i18n/translations/navigation/vi.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(www): use ESM for tailwind and postcss
  .changeset/tidy-gorillas-help.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/postcss.config.cjs
  sites/www/postcss.config.js
  sites/www/prettier.config.cjs
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/components/index.js
  sites/www/src/lib/client/styles/components/intro.css
  sites/www/src/lib/client/styles/globals/custom-selectors.css
  sites/www/src/lib/client/styles/globals/mixins/index.cjs
  sites/www/src/lib/client/styles/mixins/index.js
  sites/www/src/lib/client/styles/postcss/css-node-loader.cjs
  sites/www/src/lib/client/styles/postcss/css-node-loader.js
  sites/www/src/lib/client/styles/postcss/plugins.cjs
  sites/www/src/lib/client/styles/postcss/tailwind.js
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/lib/client/styles/utilities/index.cjs
  sites/www/src/lib/client/styles/utilities/index.js
  sites/www/tailwind.config.js
Due: eslint, prettier --write, stylelint

refactor(mailer): use ESM for tailwind and postcss
  .changeset/healthy-humans-hang.md
  services/mailer/postcss.config.cjs
  services/mailer/postcss.config.js
  services/mailer/prettier.config.cjs
  services/mailer/tailwind.config.js
Due: eslint, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: add default formatter for svelte in vscode settings
  .vscode/settings.json
Due: prettier --write

feat(www): setup the primitive color palette with tailwind
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): set splash script to blocking (non-module)
  sites/www/src/app.html
  sites/www/src/lib/client/styles/components/intro.css
Due: prettier --write, stylelint

chore: changeset - skip publishing (no acutal publishing, just version bumping)
  .github/workflows/changesets.yaml
Due: none

fix: revert to vite@4 (incompatible build output)
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

feat(www): add loading indicator to signify navigation (better UX on slow network)
  .changeset/shaggy-walls-visit.md
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/PageLoadIndicator.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move global ColorScheme type to App namespace
  sites/www/.eslintrc.cjs
  sites/www/src/app.d.ts
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/ColorSchemeIcon.svelte
  sites/www/src/lib/client/contexts/color-scheme.ts
Due: eslint, prettier --write, stylelint

chore(www): setup global App.Status
  sites/www/src/app.d.ts
  sites/www/src/lib/client/notifications/BaseNotification.svelte
Due: eslint, prettier --write, stylelint

refactor(www): Dark Mode blog post - recommend adding global ColorScheme type in App namespace
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(www): move STATUSES & COLOR_SCHEMES global constants to lib/shared/constants (app.d.ts should only contain types)
  sites/www/src/app.d.ts
  sites/www/src/lib/shared/constants/index.ts
Due: eslint, prettier --write

feat(www): implement a new status color palette
  sites/www/.eslintrc.cjs
  sites/www/postcss.config.js
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/notifications/BaseNotification.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/components/callout.css
  sites/www/src/lib/client/styles/components/input.css
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
  sites/www/tailwind.config.js
Due: eslint, prettier --write, stylelint

refactor(www): consistent c-link css component
  .changeset/popular-glasses-play.md
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): add back global __BUILD_TIMESTAMP__ variable
  sites/www/.eslintrc.cjs
  sites/www/src/app.d.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

refactor(www): color-outline-* design tokens
  .changeset/fifty-masks-occur.md
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/lib/client/modals/QRCode/QRCode.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/components/container.css
  sites/www/src/lib/client/styles/components/input.css
  sites/www/src/lib/client/styles/components/tag.css
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/lib/client/styles/utilities/utilities.css
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/page.css
Due: eslint, prettier --write, stylelint

fix(www): replace the deprecated custom selector :--splashed
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

refactor(www): reconsolidate neutral, stone, and background linear gradient colors
  .changeset/metal-cobras-deliver.md
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
Due: eslint, prettier --write, stylelint

refactor(www): foreground & background semantic colors
  .changeset/perfect-ties-rush.md
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/lib/client/modals/QRCode/QRCode.svelte
  sites/www/src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/components/avatar.css
  sites/www/src/lib/client/styles/components/btn.css
  sites/www/src/lib/client/styles/components/callout.css
  sites/www/src/lib/client/styles/components/graphic.css
  sites/www/src/lib/client/styles/components/input.css
  sites/www/src/lib/client/styles/components/sponsor.css
  sites/www/src/lib/client/styles/splash.css
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/colors/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.svelte
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
  sites/www/tailwind.config.js
Due: eslint, prettier --write, stylelint

refactor(www): drop all outdated color setup
  sites/www/src/lib/client/components/AnimatedArrowCircle/AnimatedArrowCircle.svelte
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/components/input.css
  sites/www/src/lib/client/styles/components/tag.css
  sites/www/src/lib/client/styles/components/tooltip.css
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/page.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): add gradients to highlighted sections on /blog & /sponsor
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): ConsecutiveFadeUpIntro - soften animatinn
  sites/www/src/lib/client/components/ConsecutiveFadeUpIntro/ConsecutiveFadeUpIntro.svelte
Due: eslint, prettier --write, stylelint

style(www): adjustment for aria contrast WCAG Compliance
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/client/styles/code.css
  sites/www/src/lib/client/styles/colors.css
  sites/www/src/lib/client/styles/colors.js
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): update homepage header, complete #110
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/animation.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-ellipse.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-polygon.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-star.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-ellipse.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-star.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-large.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-small.webp
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/mesh.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/rhombus-large.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/rhombus-small.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/shape-svelte.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/shape-sveltevietnam.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/shape-title.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/shape-vietnam.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/star.png
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/tablet.png
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
Due: eslint, prettier --write, stylelint

chore(www): update mesh.svg for homepage intro background
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/images/mesh.svg
Due: none

feat(www): setup ld+json Organization structured data for homepage
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/shared/data/structured.ts
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
Due: eslint, prettier --write, stylelint

refactor(www): c-container-design -> max-w-pad utility class
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/styles/components/container.css
  sites/www/src/lib/client/styles/components/page.css
  sites/www/src/lib/client/styles/utilities/utilities.css
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/typography/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

chore: move /design out of prototype phase
  sites/www/src/routes/[[lang=lang]]/design/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/_page/images/logo-concept-nonla.webp
  sites/www/src/routes/[[lang=lang]]/design/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/design/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/colors/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/design/colors/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): organize colors setup into dedicated directory, add 'developers' section in /design/colors
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/colors/colors.css
  sites/www/src/lib/client/styles/colors/index.js
  sites/www/src/lib/client/styles/theme.js
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/colors/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/colors/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(www): dark mode blog post - link to /design/colors page instead of rendering screenshots
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/primitive-color-palette.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/semantic-color-palette.webp
Due: eslint, prettier --write, stylelint

chore(www): remove no-longer-needed mocking data notice on home page
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
Due: eslint, prettier --write

chore(www): workaround import type of mdsvex files that have code blocks
  sites/www/_templates/post/create/data.ejs.t
  sites/www/src/app.d.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
Due: eslint, prettier --write

refactor(www): LangText -> LangVar, to cover number as well
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/services/i18n/index.ts
  sites/www/src/routes/(api)/rss.xml/+server.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
