Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

feat(www): consistent datetime formatter for events
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/shared/utils/datetime.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

style(www): align baseline for dl items of EventCard
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/styles/components/link.css
Due: eslint, prettier --write, stylelint

fix(www): c-link--image should be inline-block / block for oveflow hidden to work
  sites/www/src/lib/client/styles/components/link.css
Due: stylelint

fix(www): put back initial 'coming-in' animation of figures in intro section of homepage
  sites/www/src/app.html
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

feat: e-g-g-s
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/services/easter/BlueScreenOfDeath.svelte
  sites/www/src/lib/client/services/easter/ascii-pho.ts
  sites/www/src/lib/client/services/easter/ascii-pho.txt
  sites/www/src/lib/client/services/easter/hat-blow.ts
  sites/www/src/lib/shared/assets/images/svg/sveltevietnam.svg
  sites/www/src/routes/+error.svelte
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

enhance(www): progressively enhance ColorSchemeMenu
  .changeset/shaggy-rivers-juggle.md
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/Header/components/arrow.svg
Due: eslint, prettier --write, stylelint

chore(www): add relevant tasks to roadmap
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

enhance(www): ColorSchemeMenu - add back clickoutside support
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/Header/components/arrow.svg
Due: eslint, prettier --write, stylelint

enhance(www): progressively enhance mobile header overlay menu
  .changeset/quiet-ears-own.md
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

fix(www): only set pointer-events to none on mobile devices
  sites/www/src/lib/client/components/Header/Header.svelte
Due: eslint, prettier --write, stylelint

feat(www): new page /design/blog
  .changeset/wicked-zebras-dress.md
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/[[lang=lang]]/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/design/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/design/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/components/CodeBlock.md.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/typography/+page.svelte
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

docs(www): DEV_BLOG_POST - link to /design/blog and more about css component
  docs/DEV_BLOG_POST.md
Due: prettier --write

refactor(www): use default fallback image for blog post thumbnail
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/FallbackImage/FallbackImage.svelte
  sites/www/src/lib/client/components/FallbackImage/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): add link to learn.sveltevietnam.dev in Community section of homepage
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(www): simpify API of c-link--box
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  internals/isc/package.json
  internals/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(www): setup Youtube & Discord event link for the "2023 Online Meetup" event
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): add youtube icon link to footer
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/shared/assets/images/svg/simpleicon/youtube.svg
Due: eslint, prettier --write, stylelint

fix(www): c-link - revert back to invert filter strategy instead of mix-blend-mode (not working for black text on black background)
  sites/www/src/lib/client/styles/components/link.css
Due: stylelint

Update content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

Update vi.ts: Sửa lỗi chính tả
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write

chore(www): mdsvex config - replace the deprecated transform with transformers
  sites/www/mdsvex.config.js
Due: eslint, prettier --write

fix(www): hat egg - init only on home page
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): new VI blog post "Một vài bí mật về sveltevietnam.dev (Behind the Screen)"
  .changeset/gorgeous-toes-heal.md
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/lib/client/services/easter/BlueScreenOfDeath.svelte
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/ascii-pho.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/blue-screen-of-death.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/devtools-slow-3g.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/disable-javascript.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/not-found-page.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/notification-hover.gif
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): blog post EN translation: "A Few Secrets of sveltevietnam.dev"
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): update gif for notification hover demo, blog post "A Few Secrets of sveltevietnam.dev"
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/notification-hover-en.gif
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/notification-hover-vi.gif
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/notification-hover.gif
Due: eslint, prettier --write, stylelint

chore(www): content update for blog post "A Few Secrets of sveltevietnam.dev"
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): specify metadata blog post "A Few Secrets of sveltevietnam.dev"
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/blog/types.ts
  sites/www/src/lib/shared/services/i18n/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/thumbnail-en.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/thumbnail-vi.jpg
Due: eslint, prettier --write

chore(www): temporarily hide blog post "A Few Secrets of sveltevietnam.dev" in listing (scheduled for later)
  sites/www/src/lib/shared/data/blog/index.ts
Due: eslint, prettier --write

chore(www): blue screen - emphasize YOUR "bug"
  sites/www/src/lib/client/services/easter/BlueScreenOfDeath.svelte
Due: eslint, prettier --write, stylelint

style(www): footer - put youtube icon link before twitter & facebook
  sites/www/src/lib/client/components/Footer/Footer.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
