Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(www): new VI blog post "Một vài bí mật về sveltevietnam.dev (Behind the Screen)"
  .changeset/gorgeous-toes-heal.md
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/lib/client/services/easter/BlueScreenOfDeath.svelte
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/ascii-pho.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/blue-screen-of-death.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/devtools-slow-3g.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/disable-javascript.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/not-found-page.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/notification-hover.gif
  sites/www/src/routes/[[lang=lang]]/design/colors/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): blog post EN translation: "A Few Secrets of sveltevietnam.dev"
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): temporarily hide blog post "A Few Secrets of sveltevietnam.dev" in listing (scheduled for later)
  sites/www/src/lib/shared/data/blog/index.ts
Due: eslint, prettier --write

style(www): attempt to fix hover filter not applied in prod
  sites/www/src/lib/client/components/Footer/Footer.svelte
Due: eslint, prettier --write, stylelint

style(www): set fill-current at base level in app.css
  sites/www/src/lib/client/modals/QRCode/QRCode.svelte
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): copy btn for code blocks
  .changeset/twelve-snakes-cross.md
  sites/www/src/lib/client/components/EnhancedCodeBlock/EnhancedCodeBlock.svelte
  sites/www/src/lib/client/components/EnhancedCodeBlock/index.ts
  sites/www/src/lib/shared/assets/images/svg/lucide/copy-check.svg
  sites/www/src/lib/shared/assets/images/svg/lucide/copy.svg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

fix(www): removeg grid in kv of event detail pages
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/key-visuals-without-grid.png
Due: eslint, prettier --write, stylelint

chore(mailer): change social icons to match www's
  .changeset/seven-tools-flash.md
  services/mailer/src/lib/server/mjml/includes/socials.mjml
  services/mailer/static/images/socials/facebook.png
  services/mailer/static/images/socials/github.png
  services/mailer/static/images/socials/twitter.png
  services/mailer/static/images/socials/youtube.png
Due: prettier --write

chore(mailer): re-build mjml
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template
Due: none

chore(mailer): consistent stroke width for social icons
  services/mailer/static/images/socials/facebook.png
  services/mailer/static/images/socials/github.png
  services/mailer/static/images/socials/opencollective.png
  services/mailer/static/images/socials/twitter.png
  services/mailer/static/images/socials/youtube.png
Due: none

style(www): EventCard - correctly align avatar for speaker
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
Due: eslint, prettier --write, stylelint

feat(www): add email template section to secret blog post
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/email-en.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/email-vi.jpg
Due: eslint, prettier --write, stylelint

style(www): let user click through the gradient
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  internals/isc/package.json
  internals/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: update @svletejs/kit
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: update stylelint
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint, prettier --write

chore(www): add link to youtube video in eggs blog post
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(www): event meetup year-end 2023 - close speaker applications, adjust timeline
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): event Online Meetup - add join link
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): turn on listing for secrets blog post
  sites/www/src/lib/shared/data/blog/index.ts
Due: eslint, prettier --write

chore(www): event 2023 Year-End Online Meetup - post-event adjustment
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/images/a-few-secrets-of-sveltevietnamdev.jpg
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/images/livestream-moment.jpg
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/images/state-of-sveltevietnam-2023.jpg
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

fix(www): resolveLangVar i18n util - handle empty string case
  sites/www/src/lib/shared/services/i18n/index.ts
Due: eslint, prettier --write

enhance(www): shikiji transformer for highlighting and diff syntax
  pnpm-lock.yaml
  sites/www/mdsvex.config.js
  sites/www/package.json
  sites/www/src/lib/client/styles/code.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/components/CodeBlockDiff.md.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/components/CodeBlockHighlight.md.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): design/blog - support i18n for the new Diff & Highlight sections
  sites/www/src/routes/[[lang=lang]]/design/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/design/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

enhance(www): EnhancedCodeBlock - copy exclude diff-removed
  .changeset/forty-needles-compete.md
  sites/www/src/lib/client/components/EnhancedCodeBlock/EnhancedCodeBlock.svelte
Due: eslint, prettier --write, stylelint

chore(www): hygen post - improve i18n during post bootstrap
  sites/www/_templates/post/create/data.ejs.t
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(www): upgrade to sveltekit 2.0 & vite 5
  .changeset/shy-ads-raise.md
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/svelte.config.js
  sites/www/package.json
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/routes/(api)/.well-known/webfinger/+server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.server.ts
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

chore(www): set up markdownlint to ignore certain rules in (posts) pages
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/.markdownlint.json
Due: prettier --write

refactor(www): global notification store -> context
  .changeset/shiny-needles-speak.md
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/notifications/NotificationPortal.svelte
  sites/www/src/lib/client/notifications/index.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(libs.ui): hygen helper command for create css component
  libs/ui/_templates/css/create/component.ejs.t
  libs/ui/_templates/css/create/component.inject.ejs.t
  libs/ui/_templates/css/create/prompt.js
  libs/ui/_templates/generator/help/index.ejs.t
  libs/ui/_templates/generator/new/hello.ejs.t
  libs/ui/_templates/generator/with-prompt/hello.ejs.t
  libs/ui/_templates/generator/with-prompt/prompt.ejs.t
  libs/ui/_templates/init/repo/new-repo.ejs.t
  libs/ui/_templates/package.json
  libs/ui/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

refactor(libs.ui): extract logo as CSS with mask-image
  libs/ui/css/components/c-logo.css
  sites/www/src/app.html
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/styles/splash.css
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/design/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade pnpm & node -> v20
  .github/workflows/deploy_discord.yaml
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
  package.json
Due: prettier --write
