Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: organize mixins & custom selectors
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/lib/client/styles/components/link.css
  src/lib/client/styles/globals/custom-selectors.css
  src/lib/client/styles/globals/mixins/dark.cjs
  src/lib/client/styles/globals/mixins/index.cjs
  src/lib/client/styles/globals/mixins/space.cjs
  src/lib/client/styles/mixins/space.css
  src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

fix(css.components.link): remove quotes for underline-swipe keyframes value
  src/lib/client/styles/components/link.css
  src/lib/client/styles/globals/custom-selectors.css
  src/lib/client/styles/globals/mixins/index.cjs
Due: eslint, prettier --write, stylelint

fix(css.components.btn): add unit for height
  src/lib/client/styles/components/btn.css
Due: stylelint

chore: upgrade to pnpm 8.0.0, regenerate lock file
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(css): allow style component declaration in css files
  package.json
  pnpm-lock.yaml
  src/lib/client/styles/components/action-card.css
  src/lib/client/styles/components/avatar.css
  src/lib/client/styles/components/btn.css
  src/lib/client/styles/components/container.css
  src/lib/client/styles/components/graphic.css
  src/lib/client/styles/components/index.cjs
  src/lib/client/styles/components/input.css
  src/lib/client/styles/components/link.css
  src/lib/client/styles/components/page.css
  src/lib/client/styles/components/sponsor.css
  src/lib/client/styles/css-node-loader.cjs
  src/lib/client/styles/tailwind.cjs
  src/lib/client/styles/theme.cjs
  stylelint.config.cjs
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor(css.components.btn+link): experiment with custom selector for code conciseness
  postcss.config.cjs
  src/lib/client/styles/components/btn.css
  src/lib/client/styles/components/index.cjs
  src/lib/client/styles/components/link.css
  src/lib/client/styles/css-node-loader.cjs
  src/lib/client/styles/postcss/css-node-loader.cjs
  src/lib/client/styles/postcss/plugins.cjs
  src/lib/client/styles/postcss/tailwind.cjs
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor(css): add workaround for lack of support of :has in Firefox, fixes #42
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/ProjectCard/ProjectCard.svelte
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(css.components.link+btn): cleaner selectors
  src/lib/client/styles/components/btn.css
  src/lib/client/styles/components/link.css
Due: stylelint

refactor: migrate handlebars -> mustache
  package.json
  pnpm-lock.yaml
  src/routes/(api)/.well-known/security.txt/+server.ts
  src/routes/(api)/.well-known/security.txt/security.template.txt
  src/routes/(api)/ads.txt/+server.ts
  src/routes/(api)/humans.txt/+server.ts
  src/routes/(api)/humans.txt/humans.template.txt
  src/routes/(api)/rss.xml/+server.ts
  src/routes/(api)/rss.xml/rss.template.xml
  src/routes/(api)/sitemap.xml/+server.ts
  src/routes/(api)/sitemap.xml/sitemap.template.xml
Due: eslint, prettier --write

chore: attempt to config for cloudflare deployment
  .nvmrc
  package.json
  pnpm-lock.yaml
  src/routes/(api)/.well-known/webfinger/+server.ts
  src/routes/+layout.server.ts
  svelte.config.js
Due: eslint, prettier --write

fix: degrade to cloudfare adapter 2.1.0 to ensure successful build
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies & resolve peer dependencies conflict
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: cleanup vercel artifacts & references following migration to cloudflare
  .env
  README.md
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/hooks.server.ts
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/services/web-vitals.ts
  src/lib/shared/assets/images/svg/simpleicon/cloudflare.svg
  src/lib/shared/assets/images/svg/simpleicon/cloudflarepages.svg
  src/lib/shared/assets/images/svg/simpleicon/vercel.svg
  src/routes/(api)/humans.txt/humans.template.txt
  src/routes/+layout.server.ts
  src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: try setting up cloudflare analytics script
  src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: cleanup comments
  src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: remove analytics script (auto-configured by cloudflare)
  src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: remove deployment status badge
  README.md
Due: prettier --write

feat: implement cloudflare turnstile
  .env
  .env.development.secret
  .gitignore
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
  package.json
  src/lib/client/actions/turnstile.ts
  src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  src/lib/client/utils/color-scheme.ts
  src/lib/server/services/turnstile.ts
  src/lib/shared/actions/mail/mail.server.ts
  src/lib/shared/actions/mail/translation/en.ts
  src/lib/shared/actions/mail/translation/vi.ts
  src/lib/shared/constants/index.ts
  src/routes/+layout.svelte
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

chore: add comment to trigger re-deploy
  src/lib/client/actions/turnstile.ts
Due: eslint, prettier --write

fix(vite.config): trim extracted commitHash
  vite.config.ts
Due: eslint, prettier --write

refactor(svelte.config.js): set path references to absolute
  package.json
  svelte.config.js
Due: eslint, prettier --write

refactor(app.d.ts): place global variables out of global declaration
  src/app.d.ts
Due: eslint, prettier --write

docs(CONTRIBUTING): more comprehensive development guidelines
  .nvmrc
  .vscode/extensions.json
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

docs(PROJECT_REFERENCES): fix typo and reference sveltevietnam/branding repo
  docs/PROJECT_REFERENCES.md
Due: prettier --write

feat(css): add Lora font
  src/lib/client/styles/app.css
  src/lib/client/styles/theme.cjs
  src/lib/shared/assets/fonts/lora/Lora-Italic[wght].woff2
  src/lib/shared/assets/fonts/lora/Lora[wght].woff2
  src/lib/shared/assets/fonts/lora/lora.font.css
Due: eslint, prettier --write, stylelint

feat(home): design implementation - community section
  src/lib/shared/assets/images/svg/icon/arrow-circle.svg
  src/lib/shared/assets/images/svg/icon/external-link.svg
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/_page/images/community-shape-ellipsis.png
  src/routes/[[lang=lang]]/_page/images/community-shape-polygon.png
  src/routes/[[lang=lang]]/_page/images/community-shape-star.png
  src/routes/[[lang=lang]]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(css): setup new design tokens
  src/lib/client/styles/app.css
  src/lib/client/styles/components/link.css
  src/lib/client/styles/theme.cjs
Due: eslint, prettier --write, stylelint

feat(home): design implementation - events section
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/EventCard/translation/en.ts
  src/lib/client/components/EventCard/translation/index.ts
  src/lib/client/components/EventCard/translation/vi.ts
  src/lib/client/styles/theme.cjs
  src/lib/shared/assets/images/fallback/sponsor.png
  src/lib/shared/assets/images/svg/icon/arrow-circle.svg
  src/lib/shared/assets/images/svg/icon/clock.svg
  src/lib/shared/assets/images/svg/icon/map-pin.svg
  src/lib/shared/mocks/index.ts
  src/lib/shared/types/index.ts
  src/lib/shared/utils/datetime.ts
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(home): design implementation - sponsors section
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(home): design implementation - jobs section
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/components/JobCard/JobCard.wireframe.svelte
  src/lib/client/styles/app.css
  src/lib/client/styles/theme.cjs
  src/lib/shared/assets/images/fallback/company.png
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint
