Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

chore: upgrade dependencies
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

refactor(libs.ui): expose @sveltevietnam/ui as tailwindcss presets insteadof single plugin
  libs/ui/css/tailwind.js
  libs/ui/tailwind.config.js
  sites/www/tailwind.config.js
Due: eslint, prettier --write

chore(libs.ui): hygen helper command for create css component
  libs/ui/_templates/css/create/component.ejs.t
  libs/ui/_templates/css/create/component.inject.ejs.t
  libs/ui/_templates/css/create/prompt.js
  libs/ui/_templates/generator/help/index.ejs.t
  libs/ui/_templates/generator/new/hello.ejs.t
  libs/ui/_templates/generator/with-prompt/hello.ejs.t
  libs/ui/_templates/generator/with-prompt/prompt.ejs.t
  libs/ui/_templates/init/repo/new-repo.ejs.t
  libs/ui/_templates/package.json
  libs/ui/package.json
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: upgrade pnpm & node -> v20
  .github/workflows/deploy_discord.yaml
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
  package.json
Due: prettier --write

refactor(libs.ui): extract logo as CSS with mask-image
  libs/ui/css/components/c-logo.css
  sites/www/src/app.html
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/styles/splash.css
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/design/+page.svelte
Due: eslint, prettier --write, stylelint

choe(libs.ui): set pre-release version to 1.0.0-next*
  libs/ui/package.json
Due: prettier --write

refactor(www): set last fresh visit timetstamp cookie name as private env
  sites/www/.env
  sites/www/src/hooks.server.ts
Due: eslint, prettier --write

chore(www): increase resolution of interval checking splash 500 -> 250 ms
  sites/www/src/lib/client/contexts/splash.ts
Due: eslint, prettier --write

chore(www): simplify splash HTML & CSS
  sites/www/src/app.html
  sites/www/src/lib/client/styles/splash.css
Due: prettier --write, stylelint

feat(www): blog - support multivariant highlight syntax in code block with shikiji transform
  sites/www/mdsvex.config.js
  sites/www/src/lib/client/styles/code.css
Due: eslint, prettier --write, stylelint

feat(www): new VI blog post: "Màn hình chờ với nâng cao tăng dần (Behind the Screen)"
  .changeset/dry-houses-yell.md
  sites/www/src/lib/client/styles/blog.css
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/blocking-render.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/hydration-after-splash.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/hydration-during-splash.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/hydration-vi.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/repetition-vi.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/splash-screen.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/vanilla.png
Due: eslint, prettier --write, stylelint

feat(www): EN blog post "Progressive Splash Screen (Behind the Screen) "
  .changeset/big-fans-greet.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/hydration-en.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/repetition-en.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail-en.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail.jpg
Due: eslint, prettier --write, stylelint

chore: EnhancedCodeBlock - only render copy btn when JS is available
  sites/www/src/lib/client/components/EnhancedCodeBlock/EnhancedCodeBlock.svelte
Due: eslint, prettier --write, stylelint

chore(www): blog Progressive SplashScreen - wording & metadata adjustment
  sites/www/src/lib/shared/services/i18n/translations/notification/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
Due: eslint, prettier --write, stylelint

chore(www): mark off in roadmap first online meetup
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

chore(www): link to next post in blog post dark mode
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(www): blog post SplashScreen - some typos
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/repetition-en.png
Due: eslint, prettier --write, stylelint

feat(www): show posts in same series
  .changeset/proud-spiders-happen.md
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/shared/data/blog/helpers.ts
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/data/blog/posts.ts
  sites/www/src/lib/shared/data/blog/series.ts
  sites/www/src/lib/shared/data/blog/types.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/components/MailSection.svelte
Due: eslint, prettier --write, stylelint

style(www): fix in-series blog post listing in mobile
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): limit in-series blog listing to 3 items max
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
Due: eslint, prettier --write

chore(www): update thumbnail for behind-the-screen posts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/thumbnail.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/thumbnail.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/thumbnail-en.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/images/thumbnail.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail-en.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/images/thumbnail.jpg
Due: eslint, prettier --write

WIP
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/postcss.config.js
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/client/styles/app.css
  services/mailer/src/routes/admin/+page.svelte
  services/mailer/tailwind.config.js
Due: eslint, prettier --write, stylelint

style(www): blog post listing grid spacing & heading adjustment
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): text on Blue Screen of Death screen should be white always
  sites/www/src/lib/client/services/easter/BlueScreenOfDeath.svelte
Due: eslint, prettier --write, stylelint

fix(www): wrongl:wq uppercase i18n t ref
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www+ui): extract splash to a CSS component
  libs/ui/css/components/c-splash.css
  libs/ui/css/components/index.js
  sites/www/src/app.html
Due: eslint, prettier --write, stylelint

feat(libs/ui): c-input for radio
  .changeset/bright-avocados-develop.md
  libs/ui/css/components/c-input.css
Due: prettier --write, stylelint

style(libs/ui): basic hover & disabled for c-btn default & outlined variants
  .changeset/spotty-cobras-beg.md
  libs/ui/css/components/c-btn.css
Due: prettier --write, stylelint

feat(www): SplashPlayground component, used in "Progressive Splash Screen" blog post
  .changeset/stale-jars-bow.md
  sites/www/src/lib/client/components/SplashPlayground/SplashPlayground.svelte
  sites/www/src/lib/client/components/SplashPlayground/index.ts
  sites/www/src/lib/client/styles/app.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify title svg in splash screen
  libs/ui/css/components/c-splash.css
  sites/www/src/app.html
  sites/www/src/lib/client/components/SplashPlayground/SplashPlayground.svelte
Due: eslint, prettier --write, stylelint

chore(www): update source code links in blog post "Progressive Splash Screen"
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

style(www): SplashPlayground - align left controls on mobile
  sites/www/src/lib/client/components/SplashPlayground/SplashPlayground.svelte
Due: eslint, prettier --write, stylelint

fix(www+ui): c-input should cover email type too
  libs/ui/css/components/c-input.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): fix the hygen injection template for blog post creation following previous structure change
  sites/www/_templates/post/create/listing-import.inject.ejs.t
  sites/www/_templates/post/create/listing-post.inject.ejs.t
Due: none

chore(www): blog post "Progressive Splash Screen" add section to discuss ux concern
  libs/ui/css/components/c-callout.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(www+ui): put back svg version of logo at splash & header for faster load and consistency with previous feature
  libs/ui/css/components/c-splash.css
  sites/www/src/app.html
  sites/www/src/lib/client/components/Header/Header.svelte
Due: eslint, prettier --write, stylelint

chore(www): blog post "Progressive Splash Screen" - typo fixes and content adjustments
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
Due: eslint, prettier --write, stylelint
