Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(www): reduce zod dependencies
  .changeset/lovely-cameras-add.md
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write, stylelint

chore: expand author field in package.json to object
  libs/utils/package.json
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

feat(isc+www+mailer): reconciliate /subscribe endpoint for mailer service
  .changeset/pink-moons-wonder.md
  .changeset/unlucky-seas-greet.md
  internals/isc/.gitignore
  internals/isc/CHANGELOG.md
  internals/isc/package.json
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/index.js
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/subscription/dto.js
  internals/isc/src/mailer/subscription/http.js
  internals/isc/src/mailer/subscription/index.js
  internals/isc/tsconfig.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/common/dto.ts
  services/mailer/src/lib/server/common/errors.ts
  services/mailer/src/lib/server/daos/clients.dao.ts
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/lib/server/subscriptions/subscriptions.dto.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  sites/www/.env
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/lib/server/actions/mail/translation/vi.ts
Due: eslint, prettier --write

chore: setup @services/mailer
  .changeset/tasty-pugs-play.md
  package.json
  pnpm-lock.yaml
  services/mailer/.env
  services/mailer/.eslintrc.cjs
  services/mailer/.gitignore
  services/mailer/CHANGELOG.md
  services/mailer/package.json
  services/mailer/postcss.config.cjs
  services/mailer/prettier.config.cjs
  services/mailer/src/additional-svelte-typings.d.ts
  services/mailer/src/app.d.ts
  services/mailer/src/app.html
  services/mailer/src/lib/client/styles/app.css
  services/mailer/src/reset.d.ts
  services/mailer/src/routes/+layout.svelte
  services/mailer/src/routes/+page.svelte
  services/mailer/static/robots.txt
  services/mailer/svelte.config.js
  services/mailer/tailwind.config.cjs
  services/mailer/tsconfig.json
  services/mailer/vite.config.ts
  services/mailer/wrangler.toml
  sites/www/tailwind.config.cjs
Due: eslint, prettier --write, stylelint

fix(mailer): clients.dao should expect object in query result
  .changeset/perfect-ligers-shop.md
  services/mailer/src/lib/server/daos/clients.dao.ts
Due: eslint, prettier --write

feat(mailer): hooks - basic authentication
  .changeset/small-zebras-tan.md
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/src/app.d.ts
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/daos/clients.dao.ts
  services/mailer/src/lib/server/errors.ts
Due: eslint, prettier --write

feat(utils): implement helpers for request signing and verification
  libs/utils/package.json
  libs/utils/src/index.js
  libs/utils/src/signature/index.js
  libs/utils/src/signature/request/request.js
  libs/utils/src/signature/request/request.test.js
  libs/utils/src/signature/signature/signature.js
  libs/utils/src/signature/signature/signature.test.js
  libs/utils/test/setup-crypto.js
  libs/utils/vitest.config.js
Due: eslint, prettier --write

chore: upgrade dependencies
  libs/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
  sites/www/static/~partytown/partytown-atomics.js
  sites/www/static/~partytown/partytown-media.js
  sites/www/static/~partytown/partytown-sw.js
  sites/www/static/~partytown/partytown.js
Due: eslint, prettier --write

chore(mailer): github deployment workflow
  .github/workflows/deploy_mailer.yaml
  services/mailer/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(www+mailer+isc): fix typos, missing error handling for /subscribe endpoint
  internals/isc/src/common/http.js
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  services/mailer/svelte.config.js
  sites/www/.env
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

fix(mailer): fix missing ambient types
  services/mailer/src/app.d.ts
  services/mailer/vite.config.ts
  sites/www/src/app.d.ts
Due: eslint, prettier --write

refactor(utils): rename @libs/utils -> @internals/utils
  .changeset/brown-cats-buy.md
  .changeset/new-hotels-tell.md
  .changeset/pre.json
  .github/workflows/deploy_www.yaml
  .github/workflows/unit_tests.yaml
  internals/utils/.gitignore
  internals/utils/CHANGELOG.md
  internals/utils/package.json
  internals/utils/src/index.js
  internals/utils/src/signature/index.js
  internals/utils/src/signature/request/request.js
  internals/utils/src/signature/request/request.test.js
  internals/utils/src/signature/signature/signature.js
  internals/utils/src/signature/signature/signature.test.js
  internals/utils/src/url/delocalize-url/delocalize-url.js
  internals/utils/src/url/delocalize-url/delocalize-url.test.js
  internals/utils/src/url/get-lang-from-url/get-lang-from-url.js
  internals/utils/src/url/get-lang-from-url/get-lang-from-url.test.js
  internals/utils/src/url/index.js
  internals/utils/src/url/is-url-localized/is-url-localized.js
  internals/utils/src/url/is-url-localized/is-url-localized.test.js
  internals/utils/src/url/localize-url/localize-url.js
  internals/utils/src/url/localize-url/localize-url.test.js
  internals/utils/test/setup-crypto.js
  internals/utils/tsconfig.json
  internals/utils/vitest.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/mailer/package.json
  services/mailer/src/hooks.server.ts
  sites/www/package.json
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(mailer): migrations for creating subscriptions and clients table
  .changeset/afraid-mayflies-explain.md
  services/mailer/README.md
  services/mailer/d1/migrations/0000_create_subscription_table.sql
  services/mailer/d1/migrations/0001_create_client_table.sql
  services/mailer/d1/seed.sql
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/wrangler.toml
Due: eslint, prettier --write

fix(mailer): await for verifyRequest
  .changeset/lucky-paws-explain.md
  internals/utils/src/signature/request/request.test.js
  services/mailer/src/hooks.server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore: attempt to trigger action from changests bot by using a fine-grained access token
  .github/workflows/changesets.yaml
Due: none

chore(mailer): save wrangler configs for preview & production as git secrets
  .gitsecret/paths/mapping.cfg
  services/discord/.env.secret
  services/mailer/.gitignore
  services/mailer/wrangler.preview.toml.secret
  services/mailer/wrangler.production.toml.secret
  services/mailer/wrangler.toml
  sites/www/wrangler.toml
Due: none

chore: reset GITHUB_TOKEN for changesets.yaml
  .github/workflows/changesets.yaml
Due: none

chore(www): add mailer setup task item to Tu milestone in roadmap
  .changeset/two-snakes-wait.md
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

chore(mailer+www): auto deploy production on merge PR from changesets
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
Due: none

chore: eslint extends prettier config to avoid conflicts
  .eslintrc.cjs
  internals/isc/package.json
  internals/utils/package.json
  services/discord/package.json
  services/mailer/.eslintrc.cjs
  services/mailer/package.json
  services/mailer/src/routes/(protected)/send/+server.ts
  sites/www/.eslintrc.cjs
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: set changesets to git tag versions for private packages
  .changeset/config.json
Due: prettier --write

chore(mailer): bootstrap mjml workflow with sample template, npm build:mjml command, and lint-staged auto build step
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  services/mailer/.lintstagedrc.js
  services/mailer/.mjmlconfig
  services/mailer/package.json
  services/mailer/scripts/lint-staged-mjml.js
  services/mailer/src/lib/server/templates/subscription-success.html
  services/mailer/src/lib/server/templates/subscription-success.mjml
Due: eslint, prettier --write

chore(mailer): bypass authentication for internal requests
  .changeset/strange-tips-doubt.md
  services/mailer/src/hooks.server.ts
Due: eslint, prettier --write

feat(mailer): /send api
  .changeset/beige-mails-eat.md
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/mail/dto.js
  internals/isc/src/mailer/mail/http.js
  internals/isc/src/mailer/mail/index.js
  services/mailer/d1/migrations/0002_create_mails_table.sql
  services/mailer/src/lib/server/daos/mails.dao.ts
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
Due: eslint, prettier --write

chore(mailer): apply locals.d1 binding to all routes
  .changeset/seven-frogs-kneel.md
  services/mailer/src/hooks.server.ts
Due: eslint, prettier --write

refactor(mailer): define id manually during insertion (mails table)
  .changeset/good-lizards-sell.md
  services/mailer/d1/migrations/0002_create_mails_table.sql
  services/mailer/src/lib/server/daos/mails.dao.ts
  services/mailer/src/routes/(protected)/send/+server.ts
Due: eslint, prettier --write

feat(mailer): i18n strategy for /send
  internals/isc/src/common/dto.js
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/mail/dto.js
  internals/isc/src/mailer/subscription/dto.js
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/lib/server/templates/subscription-success-en.html
  services/mailer/src/lib/server/templates/subscription-success-en.mjml
  services/mailer/src/lib/server/templates/subscription-success-vi.html
  services/mailer/src/lib/server/templates/subscription-success-vi.mjml
  services/mailer/src/lib/server/templates/subscription-success.html
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

feat(mailer): /mail/token GET for viewing mail in web
  pnpm-lock.yaml
  services/mailer/.env
  services/mailer/package.json
  services/mailer/src/lib/server/templates/subscription-success-en.html
  services/mailer/src/lib/server/templates/subscription-success-en.mjml
  services/mailer/src/lib/server/templates/subscription-success-vi.mjml
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/+layout.ts
  services/mailer/src/routes/mail/[token]/+server.ts
Due: eslint, prettier --write

chore(mailer): load JWT_SECRET in deploy workflow
  .github/workflows/deploy_mailer.yaml
Due: none

refactor(isc): ERRORS const mapping - more consistent naming
  internals/isc/src/mailer/errors.js
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

refactor(isc+mailer): throw idiomatic svelte-kit error instead of returning custom response
  .changeset/swift-days-punch.md
  internals/isc/package.json
  internals/isc/src/common/http.js
  internals/isc/src/common/index.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  services/mailer/src/app.d.ts
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/errors.ts
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  services/mailer/src/routes/mail/[token]/+server.ts
Due: eslint, prettier --write

chore(mailer): encode uri for mail URL
  services/mailer/src/routes/(protected)/send/+server.ts
Due: eslint, prettier --write

chore(mailer): change group layout (protected) -> (signed)
  services/mailer/src/hooks.server.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscribe/+server.ts
Due: eslint, prettier --write

refactor(mailer): rename schema & dto for consistency
  internals/isc/src/common/dto.js
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/mail/dto.js
  internals/isc/src/mailer/subscription/dto.js
  internals/isc/src/mailer/subscription/http.js
  services/mailer/src/routes/(signed)/subscription/+server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

feat(mailer): /verify token API
  .changeset/fair-poems-argue.md
  internals/isc/src/mailer/errors.js
  services/mailer/src/routes/(signed)/verify/[token]/+server.ts
Due: eslint, prettier --write

feat(mailer): PATCH /subscription for updating domain subscription
  .changeset/breezy-spiders-press.md
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/mail/http.js
  internals/isc/src/mailer/subscription/dto.js
  internals/isc/src/mailer/subscription/http.js
  internals/utils/src/signature/request/request.js
  internals/utils/src/signature/request/request.test.js
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/routes/(signed)/subscription/+server.ts
Due: eslint, prettier --write

feat(mailer): GET /subscription
  .changeset/stale-yaks-study.md
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/subscription/http.js
  services/mailer/src/routes/(signed)/subscription/+server.ts
Due: eslint, prettier --write

chore(mailer): additional errors when token contains no mail (/subscriptions GET & PATCH)
  internals/isc/src/mailer/errors.js
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

refactor(mailer): consistent naming
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/mails/dto.js
  internals/isc/src/mailer/mails/http.js
  internals/isc/src/mailer/mails/index.js
  internals/isc/src/mailer/subscriptions/dto.js
  internals/isc/src/mailer/subscriptions/http.js
  internals/isc/src/mailer/subscriptions/index.js
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  services/mailer/src/routes/mails/[token]/+server.ts
Due: eslint, prettier --write
