Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

refactor(www): move $shared/mocks -> $lib/data/mocks
  sites/www/src/lib/data/mocks/index.ts
  sites/www/src/lib/data/mocks/vietnam-image.webp
  sites/www/src/routes/(localized)/(prototype)/impact/+page.server.ts
  sites/www/src/routes/(localized)/(prototype)/people/+page.server.ts
Due: eslint, prettier --write

refactor(www,mailer,isc): language types & constants in one place
  internals/isc/src/common/dto.js
  services/mailer/src/app.d.ts
  services/mailer/src/lib/server/daos/mails.dao.ts
  services/mailer/src/lib/server/mjml/templates/index.ts
  sites/www/src/app.d.ts
  sites/www/src/hooks.server.ts
  sites/www/src/hooks.ts
  sites/www/src/lib/client/contexts/lang.ts
  sites/www/src/lib/client/contexts/navigation.ts
  sites/www/src/lib/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/data/blog/helpers.ts
  sites/www/src/lib/data/blog/types.ts
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/lib/data/events/index.ts
  sites/www/src/lib/data/events/types.ts
  sites/www/src/lib/data/people/index.ts
  sites/www/src/lib/i18n/index.ts
  sites/www/src/lib/notifications/index.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
  sites/www/src/lib/utils/datetime.ts
  sites/www/src/routes/(api)/rss.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(localized)/+page.server.ts
  sites/www/src/routes/(localized)/blog/+page.server.ts
  sites/www/src/routes/(localized)/code-of-conduct/+page.server.ts
  sites/www/src/routes/(localized)/events/+page.server.ts
  sites/www/src/routes/(localized)/roadmap/+page.server.ts
  sites/www/src/routes/(localized)/sponsor/+page.server.ts
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(utils): extract language constants, types, and utils to @internals/utils/language
  internals/isc/package.json
  internals/isc/src/common/dto.js
  internals/utils/package.json
  internals/utils/src/index.js
  internals/utils/src/language/index.js
  pnpm-lock.yaml
  services/mailer/src/app.d.ts
  sites/www/src/app.d.ts
  sites/www/src/hooks.server.ts
  sites/www/src/hooks.ts
  sites/www/src/lib/client/contexts/navigation.ts
  sites/www/src/lib/data/blog/helpers.ts
  sites/www/src/lib/data/blog/types.ts
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/lib/data/events/types.ts
  sites/www/src/lib/data/people/index.ts
  sites/www/src/lib/i18n/index.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
  sites/www/src/lib/types/index.ts
  sites/www/src/routes/(api)/rss.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(localized)/+layout.svelte
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(www): inline lib/i18n where applicable
  sites/www/src/lib/client/contexts/lang.ts
  sites/www/src/lib/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/components/EventCard/EventCard.svelte
  sites/www/src/lib/components/Footer/Footer.svelte
  sites/www/src/lib/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/components/JobCard/JobCard.svelte
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/components/SplashPlayground/SplashPlayground.svelte
  sites/www/src/lib/i18n/index.ts
  sites/www/src/lib/i18n/translations/color-scheme/en.ts
  sites/www/src/lib/i18n/translations/color-scheme/index.ts
  sites/www/src/lib/i18n/translations/color-scheme/vi.ts
  sites/www/src/lib/i18n/translations/common/en.ts
  sites/www/src/lib/i18n/translations/common/index.ts
  sites/www/src/lib/i18n/translations/common/vi.ts
  sites/www/src/lib/i18n/translations/navigation/en.ts
  sites/www/src/lib/i18n/translations/navigation/index.ts
  sites/www/src/lib/i18n/translations/navigation/vi.ts
  sites/www/src/lib/i18n/translations/notification/en.ts
  sites/www/src/lib/i18n/translations/notification/index.ts
  sites/www/src/lib/i18n/translations/notification/vi.ts
  sites/www/src/lib/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/notifications/DiscordNotification.svelte
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
  sites/www/src/routes/(localized)/+layout.svelte
  sites/www/src/routes/(localized)/_page/components/SectionCommunity.svelte
  sites/www/src/routes/(localized)/_page/components/SectionEvents.svelte
  sites/www/src/routes/(localized)/_page/components/SectionImpact.svelte
  sites/www/src/routes/(localized)/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/(localized)/_page/components/SectionJobs.svelte
  sites/www/src/routes/(localized)/_page/components/SectionPosts.svelte
  sites/www/src/routes/(localized)/_page/components/SectionSponsor.svelte
  sites/www/src/routes/(localized)/blog/_page/components/MailSection.svelte
  sites/www/src/routes/(localized)/events/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): update sitemap.xml with new localized slugs
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

style(www): c-tag - save some demo hover style for later
  libs/ui/css/components/c-tag.css
Due: stylelint

fix(www): update outdated imports
  docs/DEV_BLOG_POST.md
  sites/www/_templates/component/create/index.ejs.t
  sites/www/_templates/component/create/svelte.ejs.t
  sites/www/_templates/modal/create/index.ejs.t
  sites/www/_templates/modal/create/svelte.ejs.t
  sites/www/_templates/translation/create/prompt.js
  sites/www/src/routes/(api)/.well-known/webfinger/+server.ts
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

fix(www): correctly reroute subscriptions pages
  services/mailer/src/routes/mails/[token]/+server.ts
  sites/www/src/hooks.ts
  sites/www/src/routes/(localized)/blog/_page/components/MailSection.svelte
  sites/www/src/routes/(localized)/subscriptions/[token]/+page.server.ts
Due: eslint, prettier --write, stylelint

chore: correct turbo dependency of @sites/www dev script on @libs/ui build script
  pnpm-lock.yaml
  sites/www/package.json
  turbo.json
Due: prettier --write

chore: upgrade vite & svelte dependencies
  internals/utils/package.json
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: upgrade node & wrangler dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
Due: prettier --write

fix(www): correct githubUrl for splashscreen blog post
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/data.ts
Due: eslint, prettier --write

style(www): more resilient html+css implementation for PageLoadIndicator
  sites/www/src/routes/(localized)/_page/components/PageLoadIndicator.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade postcss dependencies
  libs/ui/package.json
  pnpm-lock.yaml
  services/mailer/package.json
Due: prettier --write

chore: upgrade fastify dependencies
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: upgrade dependencies
  internals/isc/package.json
  internals/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/mdsvex.config.js
  sites/www/package.json
Due: eslint, prettier --write

chore: allow VI slug in blog post proposal issue template
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
Due: none

fix(www): align text on OpenGraph image for Code of Conduct page
  sites/www/src/lib/assets/images/og/og-coc.en.jpg
  sites/www/src/lib/assets/images/og/og-coc.vi.jpg
Due: none

chore(www): more comprehensive dependency & input config - turbo
  turbo.json
Due: prettier --write

chore: bump pnpm version
  package.json
Due: prettier --write

style(libs.ui): ensure text on splash always has fg color
  libs/ui/css/components/c-splash.css
Due: stylelint

feat(libs.ui,sites/www): add primary & secondary colors
  libs/ui/css/colors/colors.css
  libs/ui/css/colors/colors.js
  sites/www/src/routes/(localized)/design/colors/+page.svelte
  sites/www/src/routes/(localized)/design/colors/_page/translation/en.ts
  sites/www/src/routes/(localized)/design/colors/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): blog content wording adjustments
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/_page/content.en.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): SplashPlayground - set consistent background and button type
  sites/www/src/lib/components/SplashPlayground/SplashPlayground.svelte
Due: eslint, prettier --write, stylelint

style(libs.ui): c-link - reduce transition duration for :--icon & :--lazy variants
  libs/ui/css/components/c-link.css
Due: stylelint

style(libs.ui): c-input - new variants :--checkbox & :--radio-labeled (prep for later use in /settings)
  libs/ui/css/components/c-input.css
Due: stylelint

style(www): set outline for element during keyboard navigation
  sites/www/src/lib/css/app.css
Due: stylelint

fix(turbo.json): correctly list inputs for build scripts
  turbo.json
Due: prettier --write

feat(www): add the Settings page & modal, allow user customization of splash screen
  sites/www/src/lib/components/Footer/Footer.svelte
  sites/www/src/lib/components/Footer/translation/en.ts
  sites/www/src/lib/components/Footer/translation/vi.ts
  sites/www/src/lib/components/Header/Header.svelte
  sites/www/src/lib/components/Settings/ColorSchemeSkeleton.svelte
  sites/www/src/lib/components/Settings/Settings.svelte
  sites/www/src/lib/components/Settings/index.ts
  sites/www/src/lib/modals/Confirmation/Confirmation.svelte
  sites/www/src/lib/modals/Confirmation/index.ts
  sites/www/src/lib/modals/QRCode/QRCode.svelte
  sites/www/src/lib/modals/Settings/Settings.svelte
  sites/www/src/lib/modals/Settings/index.ts
  sites/www/src/lib/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/lib/routing/routing.server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
  sites/www/src/routes/(localized)/settings/+page.server.ts
  sites/www/src/routes/(localized)/settings/+page.svelte
  sites/www/src/routes/(localized)/settings/_page/translation/en.ts
  sites/www/src/routes/(localized)/settings/_page/translation/index.ts
  sites/www/src/routes/(localized)/settings/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
