Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

feat(www): new blog post - [VI] Svelte Việt Nam: từ vườn nhà vươn ra thế giới
  .changeset/nine-timers-lick.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/authors.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

feat(www): add new blog posts to rss & sitemap
  .changeset/wild-shrimps-return.md
  sites/www/src/routes/(api)/rss.xml/+server.ts
  sites/www/src/routes/(api)/sitemap.xml/+server.ts
Due: eslint, prettier --write

feat(www): blog post page layout - More Posts section
  .changeset/early-rats-greet.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): blog listing page - add additional contact instruction
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): temporarily hide untouched pages
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): [EN] Svelte Vietnam: from Local to Global
  .changeset/tidy-humans-attack.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
Due: eslint, prettier --write, stylelint

chore(www): update text for blog post 'Svelte Việt Nam: từ vườn nhà vươn ra thế giới'
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

refactor(www): automatically inject `target` & `rel` attributes to external links via svelte preprocessor
  .changeset/yellow-mails-own.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/additional-svelte-typings.d.ts
  sites/www/src/lib/client/components/ContributorCard/ContributorCard.svelte
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/components/ProjectCard/ProjectCard.svelte
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

fix(www): outdated named export
  sites/www/src/lib/shared/mocks/index.ts
Due: eslint, prettier --write

feat(www): tooltip for language indicator - blog post layout
  .changeset/cold-fireants-hope.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/client/styles/components/index.cjs
  sites/www/src/lib/client/styles/components/tooltip.css
  sites/www/src/lib/client/tooltips/TextTooltip.svelte
  sites/www/src/lib/client/tooltips/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor: use a common registration CTA section for all blog/* pages
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): blog - turn off mocking data in listing page
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write

style(www): apply c-link to anchor tag inside prose
  sites/www/tailwind.config.cjs
Due: eslint, prettier --write

style(www): fade in up whole blog post page
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

docs: add TECHNICAL REFERENCES
  docs/DEVELOPMENT.md
  docs/TECHNICAL_REFERNCES.md
Due: prettier --write

docs: add more details to CONTRIBUTING about translations & blog post
  CONTRIBUTING.md
  README.md
Due: prettier --write

fix(www): correctly check for hostname - externalLink preprocessor
  .changeset/clever-mirrors-refuse.md
  sites/www/svelte.config.js
Due: eslint, prettier --write

refactor(www): turn color scheme into a global context
  .changeset/soft-queens-guess.md
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/contexts/colorScheme.ts
  sites/www/src/lib/client/utils/color-scheme.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): svelte context for locking scroll
  .changeset/heavy-coins-mix.md
  sites/www/src/lib/client/contexts/lockscroll.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): QR code generator with dedicated modal in blog post layout
  .changeset/three-scissors-draw.md
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/client/modals/QRCode/QRCode.svelte
  sites/www/src/lib/client/modals/QRCode/index.ts
  sites/www/src/lib/shared/assets/images/svg/google/close.svg
  sites/www/src/lib/shared/assets/images/svg/google/qr-code-2.svg
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): blog post layout - add hr between content and edit page text
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): reduce vertical padding to account for the exccesive line-height
  sites/www/src/lib/client/styles/components/btn.css
Due: stylelint

feat: VI version for blog post 'Cùng viết một Svelte preprocessor đơn giản'
  .changeset/tricky-icons-shave.md
  .eslintignore
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
Due: eslint, prettier --write, stylelint

feat(www): syntax highlight in blog post with shikiji
  .changeset/fuzzy-buckets-impress.md
  .vscode/settings.json
  pnpm-lock.yaml
  sites/www/mdsvex.config.js
  sites/www/package.json
  sites/www/src/lib/client/styles/app.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/svelte.config.js
  sites/www/vite.config.ts
Due: eslint, prettier --write, stylelint

feat(www): [VI] Let's Write a Simple Svelte Preprocessor
  .changeset/brave-buckets-care.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/images/thumbnail.webp
Due: eslint, prettier --write, stylelint

style(www): increase number of highlight internal post to 3 (shown in top blog and home page)
  .changeset/clean-yaks-repair.md
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): insert correct link to blog post in blog page, introduction section
  .changeset/thick-jars-impress.md
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
Due: eslint, prettier --write

chore: update dependencies
  internals/isc/package.json
  internals/utils/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: remove typing for inline-src (preprocessor strategy does not generate types)
  sites/www/src/additional-svelte-typings.d.ts
Due: eslint, prettier --write

feat(www): key visual for blog listing page
  .changeset/bright-olives-peel.md
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/images/key-visuals.webp
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/key-visuals.svg
Due: eslint, prettier --write, stylelint

refactor(www): move code-of-conduct out of prototype phase
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): mark TECHNICAL_REFERENCE docs as completed in roadmap
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

chore(www): change key visuals of blog listing page
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/images/key-visuals.webp
Due: eslint, prettier --write, stylelint

style(www): blog post page - change title style to tp-h2
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: add back sponsor page to navigation lists
  sites/www/src/lib/shared/services/navigation/index.ts
Due: eslint, prettier --write

refactor(www): move sponsor out of prototype phase
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(www): remove the outdated colorScheme prop for MailRegistrationForm
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): remove the spash node after on animation end
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
