Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

style(sites/www): adjust baseline alignment for location & time grid
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

chore: update dependnecies
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(mailer): gitignore generated email template
  services/mailer/.gitignore
  services/mailer/.lintstagedrc.js
  services/mailer/package.json
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template
Due: eslint, prettier --write

chore(sites/www): description & structure data location metadata for Spring 2024 Meetup
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

style(sites/www): ElectronicTicket - smoother transform animation on mousemove
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
Due: eslint, prettier --write, stylelint

fix(sites/www): turn on code
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
Due: eslint, prettier --write

fix(services/mailer): update calendar-links include mjml to render png (svg is not supported by some mail clients)
  services/mailer/src/lib/server/mjml/includes/calendar-links.mjml
  services/mailer/static/images/brands/google-calendar.png
  services/mailer/static/images/brands/google-calendar.svg
  services/mailer/static/images/brands/microsoft-office.png
  services/mailer/static/images/brands/microsoft-office.svg
  services/mailer/static/images/brands/microsoft-outlook.png
  services/mailer/static/images/brands/microsoft-outlook.svg
  services/mailer/static/images/brands/yahoo.png
  services/mailer/static/images/brands/yahoo.svg
Due: none

fix(mailer,www): create empty subscription instead of skipping if user does not tick box
  internals/isc/src/mailer/subscriptions/dto.js
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
Due: eslint, prettier --write

refactor(sites/www): move global layout data to (localized)
  sites/www/src/hooks.server.ts
  sites/www/src/routes/(localized)/+layout.server.ts
  sites/www/src/routes/+layout.server.ts
Due: eslint, prettier --write

chore(sites/www): put wrangler ignored files in root gitignore for conciseness
  .gitignore
  services/mailer/.gitignore
  sites/www/.gitignore
Due: none

chore(www, mailer): skip sending welcome email upon e ticket registration
  internals/isc/src/mailer/subscriptions/dto.js
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

feat(www): bootstrap the event self check-in page
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/routes/(localized)/events/self-check-in/+page.server.ts
  sites/www/src/routes/(localized)/events/self-check-in/+page.svelte
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/index.ts
  sites/www/src/routes/(localized)/events/self-check-in/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(serivces.qr): new QR png rendering service (cloudflare worker)
  internals/isc/package.json
  internals/isc/src/qr/index.js
  internals/isc/src/www/errors.js
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/qr/.dev.vars
  services/qr/package.json
  services/qr/src/index.js
  services/qr/src/resvg.js
  services/qr/wrangler.toml
  sites/www/package.json
Due: eslint, prettier --write

feat(www, mailer): update event registration event template to include check-in QR code and self check in link button
  .github/workflows/deploy_www.yaml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-vi.template.mjml
  services/mailer/src/routes/(signed)/send/+server.ts
  sites/www/.env
  sites/www/src/lib/daos/event_tickets.dao.ts
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/lib/data/events/types.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

refactor: extract BlueScreenOfDeath into a separate page
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/routes/(localized)/blue-screen-of-death/+page.server.ts
  sites/www/src/routes/(localized)/blue-screen-of-death/+page@.svelte
  sites/www/src/routes/+error.svelte
Due: eslint, prettier --write, stylelint

feat(services.qr): support colorScheme query param
  internals/isc/src/qr/index.js
  services/qr/src/index.js
Due: eslint, prettier --write

refactor(sites/www): swap qr code in blue screen of death to use the qr service instead of dynamic @svelte-put/qr
  sites/www/src/routes/(localized)/blue-screen-of-death/+page.server.ts
  sites/www/src/routes/(localized)/blue-screen-of-death/+page@.svelte
Due: eslint, prettier --write, stylelint

fix(www): make error page more lang aware
  sites/www/src/routes/+error.svelte
Due: eslint, prettier --write, stylelint

feat(sites/www): add frequently asked question section to Spring 2024 Meetup page
  services/mailer/src/routes/(signed)/send/+server.ts
  sites/www/src/lib/assets/images/svg/lucide/chevron-down.svg
  sites/www/src/lib/components/FrequentlyAskedQuestions/FrequentlyAskedQuestions.svelte
  sites/www/src/lib/components/FrequentlyAskedQuestions/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): add middle backgound image to timeline section (2024 Sprint Meetup event page)
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/middle-bg.jpg
Due: eslint, prettier --write, stylelint

chore(www): move the design/blog/code route definition to the official ROUTE_MAP
  sites/www/src/lib/routing/routing.map.ts
  sites/www/src/routes/(localized)/design/blog/code/+page.server.ts
Due: eslint, prettier --write

chore(libs/ui): allow explicit `cols` propffor``enhanced-code-block` group
  .changeset/wicked-tigers-judge.md
  libs/ui/src/lib/preprocessors/enhance-code-block/index.js
Due: eslint, prettier --write

feat(libs/ui): shiki - allow rendering content of code block from another file via the `src` meta prop
  .changeset/late-kids-count.md
  libs/ui/package.json
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(libs/ui): allow skipping meta block processing (diff & highlight) via the `skipMetaBlock` meta prop
  .changeset/wicked-ligers-carry.md
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write

style(libs/ui): shiki render line number for case 1 line + diff lines
  .changeset/brave-spiders-dream.md
  libs/ui/src/css/typography/base/prose.css
Due: prettier --write, stylelint

style(libs/ui, sites/www): more comprehensive test site for enhanced code block (/design/blog/code page)
  .editorconfig
  sites/www/src/routes/(localized)/design/blog/code/+page.svelte
  sites/www/src/routes/(localized)/design/blog/code/.markdownlint.json
  sites/www/src/routes/(localized)/design/blog/code/_page/content.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/from-file.example.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/from-file.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/group-files.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/group-tabs.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/meta-block-diff.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/meta-block-highlight.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/single-one-liner.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/single-with-filename.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/single.md.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  services/qr/package.json
  sites/www/package.json
Due: prettier --write

refactor(libs/ui): rewrite EnhancedCodeBlock, make room for fullscreen button
  .changeset/smooth-snails-stare.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
Due: eslint, prettier --write, stylelint

fix: typescript syntax error - declare keyword not needed in already ambient context
  services/mailer/src/app.d.ts
  sites/www/src/app.d.ts
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(libs/ui): max line number, collapsible, and minor fixes
  .changeset/beige-moles-film.md
  .changeset/calm-mice-develop.md
  .changeset/eighty-horses-wait.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write, stylelint

fix(libs/ui): more consistent screens config in Tailwind - avoid gaps
  .changeset/big-dancers-stare.md
  libs/ui/src/lib/css/theme.js
  sites/www/src/lib/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/components/Header/Header.svelte
  sites/www/src/lib/components/ProjectCard/ProjectCard.svelte
  sites/www/src/lib/components/Settings/Settings.svelte
  sites/www/src/lib/components/SplashPlayground/SplashPlayground.svelte
  sites/www/src/lib/notifications/NotificationPortal.svelte
  sites/www/src/routes/(localized)/_page/components/SectionPosts.svelte
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/+page.svelte
  sites/www/src/routes/(localized)/code-of-conduct/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

fix(libs/ui): safelist sr-only
  .changeset/tricky-swans-protect.md
  libs/ui/src/lib/css/tailwind.js
Due: eslint, prettier --write

refactor(libs/ui): merge `tab` and `filename` prop into one `title`
  .changeset/slimy-numbers-call.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-i-tailwindcss/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/_page/content.vi.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/group-files.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/group-tabs.md.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/examples/single-with-filename.md.svelte
Due: eslint, prettier --write, stylelint

feat(libs/ui): new variant `c-callout--icon-question`
  .changeset/neat-ties-return.md
  libs/ui/src/css/core/components/c-callout.css
  sites/www/src/routes/(localized)/design/blog/+page.svelte
  sites/www/src/routes/(localized)/design/blog/_page/translation/en.ts
  sites/www/src/routes/(localized)/design/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(sites/www): add greenwebfoundation badge to footer
  sites/www/src/lib/components/Footer/Footer.svelte
Due: eslint, prettier --write, stylelint

fix(sites/www): re-render TOC on blog page change
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(sites/www): add notbyai badge
  sites/www/src/lib/assets/images/svg/not-by-ai.svg
  sites/www/src/lib/components/Footer/Footer.svelte
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

docs(CONTRIBUTING): update links
  CONTRIBUTING.md
Due: prettier --write

docs(DEVELOPMENT): update links
  docs/DEVELOPMENT.md
Due: prettier --write

docs(DEV_BLOG_POST): update links
  docs/DEV_BLOG_POST.md
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
