Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(sveltevietnam.dev): render outdate callout when post.outdate applies
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/utils/datetime.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): prevent parsing error in async-dialog blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): improve precision of time relative formatter
  sites/sveltevietnam.dev/src/data/blog/posts/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/metadata.ts
  sites/sveltevietnam.dev/src/lib/utils/datetime.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): set outdate for relevant blog posts
  sites/sveltevietnam.dev/src/data/blog/posts/20231020-lets-write-a-simple-svelte-preprocessor/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/metadata.ts
Due: eslint, prettier --write

docs(sveltevietnam.dev): writing guide - add volta install pnpm step
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): update robots.txt to include notice and disallow common AI bots
  sites/sveltevietnam.dev/static/robots.txt
Due: none

docs(sveltevietnam.dev): writing guidelines - note aboute license and AI bot
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): use the new PageProps type
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): add email verification flow (resolve #342)
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.svelte
  sites/sveltevietnam.dev/static/robots.txt
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/data/subscribers/table.ts
  workers/backend/src/database/migrations/0002_add_verified_at_column_to_subscribers.sql
  workers/backend/src/database/migrations/meta/0002_snapshot.json
  workers/backend/src/database/migrations/meta/_journal.json
  workers/backend/src/mjml/includes/common-head.mjml
  workers/backend/src/mjml/templates/welcome/en.mjml
  workers/backend/src/mjml/templates/welcome/index.ts
  workers/backend/src/mjml/templates/welcome/vi.mjml
  workers/backend/src/worker.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): relax MaybePromise type [Skip CI]
  sites/sveltevietnam.dev/src/app.d.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): remove unused App.Locals['userId'] typedef [Skip CI]
  sites/sveltevietnam.dev/src/app.d.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): lock kit version to avoid strange runtime error (2.27.2)
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore(kit): set svelte as peerDependency, add svelte config to eslint
  eslint.config.js
  packages/kit/eslint.config.js
  packages/kit/package.json
Due: eslint, prettier --write

refactor(kit+sveltevietnam.dev): extract scroll toggler logics (header)
  eslint.config.js
  packages/kit/package.json
  packages/kit/src/utilities/index.js
  packages/kit/src/utilities/scroll-toggler.svelte.js
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

refactor(kit+sveltevietnam.dev): extract LanguageMenu to kit
  packages/kit/package.json
  packages/kit/src/components/index.js
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  packages/kit/src/components/language-menu/index.d.ts
  packages/kit/src/components/language-menu/index.js
  pnpm-lock.yaml
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: eslint, prettier --write, stylelint

fix(kit): language-menu - put back mobile label
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  packages/kit/src/components/language-menu/index.d.ts
Due: eslint, prettier --write, stylelint

refactor(kit+sveltevietnam.dev): extract ColorSchemeMenu to kit
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  packages/kit/src/components/color-scheme-menu/index.d.ts
  packages/kit/src/components/color-scheme-menu/index.js
  packages/kit/src/components/index.js
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

fix(kit): label display options for ColorSchemeMenu & LanguageMenu
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  packages/kit/src/components/color-scheme-menu/index.d.ts
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  packages/kit/src/components/language-menu/index.d.ts
Due: eslint, prettier --write, stylelint

chore(kit): allow customizing html transform behavior
  packages/kit/src/hooks.js
Due: eslint, prettier --write

refactor(kit+sveltevietnam.dev): extract ColorSchemeContext to kit
  packages/kit/package.json
  packages/kit/src/contexts/color-scheme.svelte.js
  packages/kit/src/contexts/index.js
  pnpm-lock.yaml
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/dialogs/components/qr-code-dialog/QrCodeDialog.svelte
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

chore: bump @svelte-put/async-stack version
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

refactor(kit+sveltevietnam.dev): extract RoutingContext to kit
  packages/kit/src/contexts/index.js
  packages/kit/src/contexts/routing.svelte.js
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/lib/routing/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): use lang from RoutingContext (previously in SettingsContext)
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250522-nguyen-le-not-a-javascript-developer-but-look-what-he-built/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250611-tuan-nguyen-code-as-a-tool-value-as-the-goal/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/pagination/Pagination.svelte
  sites/sveltevietnam.dev/src/lib/dialogs/components/search-dialog/SearchDialog.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpdateForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/events/SectionEvents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/sponsor/SectionSponsor.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(kit.sveltevietnam.dev): extract platform getter to kit
  packages/kit/src/utilities/index.js
  packages/kit/src/utilities/platform.js
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
Due: eslint, prettier --write, stylelint

docs(README): fix link to roadmap [Skip CI]
  README.md
Due: prettier --write

refactor(kit+sveltevietnam.dev): extract cloudflare validate function to kit
  packages/kit/src/utilities/index.js
  packages/kit/src/utilities/turnstile.js
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/lib/turnstile/turnstile.server.ts
Due: eslint, prettier --write

chore(stylelint): reduce noise from tailwind setup
  stylelint.config.js
Due: eslint, prettier --write

style: improve c-btn border consistency
  packages/css/src/components/c-btn/c-btn.css
Due: stylelint

chore: bump eslint [Skip CI]
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: bootstrap recruit.sveltevietnam.dev page with common header & footer layout
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/.env.example
  sites/recruit.sveltevietnam.dev/eslint.config.js
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/app.css
  sites/recruit.sveltevietnam.dev/src/app.d.ts
  sites/recruit.sveltevietnam.dev/src/app.html
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/recruit.sveltevietnam.dev/src/params/lang.ts
  sites/recruit.sveltevietnam.dev/src/reset.d.ts
  sites/recruit.sveltevietnam.dev/src/routes/+server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/onboarding/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/postings/create/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/signup/+page.svelte
  sites/recruit.sveltevietnam.dev/static/favicon.ico
  sites/recruit.sveltevietnam.dev/static/favicon.svg
  sites/recruit.sveltevietnam.dev/static/robots.txt
  sites/recruit.sveltevietnam.dev/svelte.config.js
  sites/recruit.sveltevietnam.dev/tsconfig.json
  sites/recruit.sveltevietnam.dev/vite.config.ts
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write, stylelint

feat(recruit): set up login page UI and form action
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): add routes configuration
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/recruit.sveltevietnam.dev/src/hooks.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/onboarding/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/postings/[id]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/postings/create/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/signup/+page.server.ts
  sites/recruit.sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): link to REPL async dialog blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): umami script - handle load event onMount
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): experiment with view transition on theme change
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: eslint, prettier --write, stylelint

enhance(sveltevietnam.dev): some a11y improvement for search dialog
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/dialogs/components/search-dialog/SearchDialog.svelte
Due: eslint, prettier --write, stylelint

enhance(sveltevietnam.dev): fix en lang and prevent duplicating texts in green web badge
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/GreenWebBadge.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): miscellaneous a11y issues (quick polypane audit)
  sites/sveltevietnam.dev/src/lib/components/pagination/Pagination.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/BaseNotification.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
Due: eslint, prettier --write, stylelint
