Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore: remove .env.dev, no reason to keep secret
  .env
  .env.development.secret
  .gitignore
Due: none

fix: add back in necessary packages (mistake from 187ae7b2e1161ffb5b4e4163a0222b9c7111c85b)
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(home.events): apply updated design for Eventcard
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/EventCard/translation/en.ts
  src/lib/client/components/EventCard/translation/vi.ts
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/styles/theme.cjs
  src/lib/shared/assets/images/fallback/default.png
  src/lib/shared/mocks/index.ts
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(home): vertical positioning arrow circle impact section
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(css): deprecate space mixin in favor for postcss-space-between plugin
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/components/ProjectCard/ProjectCard.svelte
  src/lib/client/styles/components/page.css
  src/lib/client/styles/globals/mixins/index.cjs
  src/lib/client/styles/globals/mixins/space.cjs
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  stylelint.config.cjs
Due: eslint, prettier --write, stylelint

feat(home): bootstrap top intro section (desktop)
  src/additional-svelte-typings.d.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/_page/images/community-shape-ellipse.png
  src/routes/[[lang=lang]]/_page/images/intro-shape-ellipse.png
  src/routes/[[lang=lang]]/_page/images/intro-shape-triangle-large.png
  src/routes/[[lang=lang]]/_page/images/intro-shape-triangle-small.png
  src/routes/[[lang=lang]]/_page/images/intro-svelte.svg
  src/routes/[[lang=lang]]/_page/images/intro-sveltevietnam.svg
  src/routes/[[lang=lang]]/_page/images/intro-title.svg
  src/routes/[[lang=lang]]/_page/images/intro-vietnam.svg
  src/routes/[[lang=lang]]/_page/translation/en.ts
  src/routes/[[lang=lang]]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(home): bootstrap project horizontal list section
  src/lib/client/styles/components/container.css
  src/lib/client/styles/postcss/tailwind.cjs
  src/lib/client/styles/utilities/index.cjs
  src/lib/client/styles/utilities/utilities.css
  src/lib/shared/mocks/index.ts
  src/lib/shared/mocks/vietnam-hoian.jpg
  src/lib/shared/mocks/vietnam-ninhbinh.jpg
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/_page/translation/en.ts
  src/routes/[[lang=lang]]/_page/translation/vi.ts
  stylelint.config.cjs
Due: eslint, prettier --write, stylelint

refactor(home): extract sections to components
  src/lib/shared/mocks/index.ts
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
  src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  src/routes/[[lang=lang]]/_page/style.css
Due: eslint, prettier --write, stylelint

refactor(tailwind): extract color scheme variants to own package
  package.json
  pnpm-lock.yaml
  src/lib/client/styles/postcss/tailwind.cjs
  tailwind.config.cjs
Due: eslint, prettier --write

style(home): add transition for section title arrow circle icon
  src/lib/client/components/AnimatedArrowCircle/AnimatedArrowCircle.svelte
  src/lib/client/components/AnimatedArrowCircle/index.ts
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  src/routes/[[lang=lang]]/_page/page.css
Due: eslint, prettier --write, stylelint

chore: upgrade to latest @svelte-put/preprocess-inline-svg
  package.json
  pnpm-lock.yaml
  src/additional-svelte-typings.d.ts
  svelte.config.js
  vite.config.ts
Due: eslint, prettier --write

style(home): add hover transition for links in Community section
  src/lib/client/styles/app.css
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
Due: eslint, prettier --write, stylelint

feat(home): add embla-carousel to Impact section
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  src/lib/client/styles/app.css
  src/lib/client/styles/components/link.css
  src/lib/client/styles/theme.cjs
  src/lib/shared/mocks/index.ts
  src/lib/shared/mocks/vietnam-hoian.jpg
  src/lib/shared/mocks/vietnam-image.jpg
  src/lib/shared/mocks/vietnam-ninhbinh.jpg
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
Due: eslint, prettier --write, stylelint

style(home): add star shape to backdrop of intro section
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
  src/routes/[[lang=lang]]/_page/images/intro-shape-star.png
Due: eslint, prettier --write, stylelint

style(home): intro section - set fixed text color, removed intersect animation for now
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

chore(hygen): setup css component template
  _templates/css/create/component.ejs.t
  _templates/css/create/component.inject.ejs.t
  _templates/css/create/prompt.js
Due: eslint, prettier --write

chore: fix cloudflare node conflict
  .nvmrc
Due: none

feat: implement global splash screen
  src/lib/client/components/SplashScreen/SplashScreen.svelte
  src/lib/client/components/SplashScreen/index.ts
  src/routes/[[lang=lang]]/+layout.server.ts
  src/routes/[[lang=lang]]/+layout.svelte
  stylelint.config.cjs
Due: eslint, prettier --write, stylelint

style(home): complete static parts of Intro section
  src/lib/client/utils/screen.ts
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
  src/routes/[[lang=lang]]/_page/page.css
Due: eslint, prettier --write, stylelint

style: fade-in intro animation for elements via IntersectionObserver (encapsulated as svelte action)
  src/lib/client/actions/intersect.ts
  src/lib/client/components/SplashScreen/SplashScreen.svelte
  src/lib/client/styles/components/index.cjs
  src/lib/client/styles/components/intro.css
  src/lib/client/styles/globals/custom-selectors.css
  src/routes/[[lang=lang]]/+layout.server.ts
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

refactor(SplashScreen): correctly detect splash screen ending with animationend event; expose svelte store for splash info & state
  src/lib/client/components/SplashScreen/SplashScreen.svelte
  src/lib/client/components/SplashScreen/index.ts
Due: eslint, prettier --write, stylelint

feat(components.Header): new design implementation
  src/lib/client/components/Header/ColorSchemeIcon.svelte
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/Header/components/ColorSchemeIcon.svelte
  src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  src/lib/client/components/Header/components/LanguageNav.svelte
  src/lib/client/components/Header/components/PageNav.svelte
  src/lib/client/styles/app.css
  src/lib/client/styles/components/intro.css
  src/lib/client/styles/components/link.css
  src/lib/shared/assets/images/svg/icon/moon.svg
  src/lib/shared/assets/images/svg/icon/sliders-horizontal.svg
  src/lib/shared/assets/images/svg/icon/sun.svg
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  static/~partytown/debug/partytown-atomics.js
  static/~partytown/debug/partytown-media.js
  static/~partytown/debug/partytown-sandbox-sw.js
  static/~partytown/debug/partytown-sw.js
  static/~partytown/debug/partytown-ww-atomics.js
  static/~partytown/debug/partytown-ww-sw.js
  static/~partytown/debug/partytown.js
  static/~partytown/partytown-atomics.js
  static/~partytown/partytown-media.js
  static/~partytown/partytown-sw.js
  static/~partytown/partytown.js
Due: eslint, prettier --write

style(components.Header): reduce pc height, add backdrop on scroll
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/SplashScreen/SplashScreen.svelte
  src/lib/client/styles/app.css
  src/lib/shared/utils/clamp.ts
Due: eslint, prettier --write, stylelint

style(Header): implement sp design
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/Header/components/LanguageNav.svelte
  src/lib/client/components/Header/components/PageNav.svelte
  src/lib/client/styles/app.css
  src/lib/shared/assets/images/svg/icon/x.svg
Due: eslint, prettier --write, stylelint

style(components.AnimatedArrowCircle): consistent style across clickable title
  src/lib/client/components/AnimatedArrowCircle/AnimatedArrowCircle.svelte
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/shared/mocks/index.ts
  src/lib/shared/types/index.ts
  src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  src/routes/[[lang=lang]]/_page/page.css
Due: eslint, prettier --write, stylelint

feat(home): design implementation - sponsors section
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(home): design implementation - events section
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/EventCard/translation/en.ts
  src/lib/client/components/EventCard/translation/index.ts
  src/lib/client/components/EventCard/translation/vi.ts
  src/lib/client/styles/theme.cjs
  src/lib/shared/assets/images/fallback/sponsor.png
  src/lib/shared/assets/images/svg/icon/arrow-circle.svg
  src/lib/shared/assets/images/svg/icon/clock.svg
  src/lib/shared/assets/images/svg/icon/map-pin.svg
  src/lib/shared/mocks/index.ts
  src/lib/shared/types/index.ts
  src/lib/shared/utils/datetime.ts
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
