Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

refactor(www): let event data be more flexible, put back ability to sort and group by status
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/data/events/types.ts
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListing.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/meta/structured/events.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/events/SectionEvents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/rss.xml/+server.ts
Due: eslint, prettier --write, stylelint

refactor(www): link to events page in event section of homepage
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

feat(www): support rendering start/end date as string for event listing item
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/data/events/types.ts
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/meta/structured/events.ts
Due: eslint, prettier --write, stylelint

refactor(www): fetch both upcoming & ongoing events for home page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.server.ts
Due: eslint, prettier --write

feat(www): add listing for monthly online meetup
  sites/sveltevietnam.dev/src/data/events/online-monthly-meetup/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/events/online-monthly-meetup/metadata.ts
Due: eslint, prettier --write

refactor(recruit+backend): extract posting type i18n mapping to backend (shareabilibty with main site)
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/schema.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  workers/backend/src/data/job-postings/enums.ts
Due: eslint, prettier --write, stylelint

chore(www): add job detail page placeholder
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): list all active postings onto jobs page
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/job-postings/schema.ts
Due: eslint, prettier --write, stylelint

feat(www): turn back link to recruit site on jobs page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): implement the job posting detail page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): skip backend fetch in jobs page load to to allow pagefind SSR during build
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
Due: eslint, prettier --write

feat(i18n): support variables with multiple occurences (resolves #343)
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/private.d.ts
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/DialogHelp.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/+page.svelte
Due: eslint, prettier --write, stylelint

chore(recruit): improve i18 messages for input notes in job posting upsert form
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

style(recruit): improve active listing header sizing on mobile
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): improve visual signifier for deleted postings
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

enhance(kit): noscroll and replacestate when switching lang
  packages/kit/src/components/language-menu/LanguageMenu.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): posting share actions (link/qr) targets the actual public job page, only enabled if posting statu or epxired
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
Due: eslint, prettier --write, stylelint

test(recruit): add test case to verify callout & share action visbility based on posting status
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
Due: eslint, prettier --write

fix(recruit): correct copied link to public posting page (and add test case)
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
Due: eslint, prettier --write, stylelint

test(recruit): add test case for qr code generation in posting detail page
  packages/kit/src/dialogs/qr-code/DialogQrCode.svelte
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
Due: eslint, prettier --write, stylelint

test(recruit): correct UAT-POST-009 test case
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
Due: eslint, prettier --write

feat(recruit): add a "simple and secure"" section to landing page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/kv-simple-secure.svg
Due: eslint, prettier --write, stylelint

feat(recruit): add a 'one platform for all' section to landing page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/kv-for-all.svg
Due: eslint, prettier --write, stylelint

chore(www): update text of benefit description in sponsor page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): increase width on tablet and up for mail content section
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(recruit+backend): include all job posting info in admin email notification upon creation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/en.mjml
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/index.ts
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/template.mjml
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/vi.mjml
Due: eslint, prettier --write

feat(recruit): limit rich text editor content length
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
