Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(svelvetvietnam.dev): extract notification system into kit
  packages/kit/package.json
  packages/kit/src/contexts/provider/ContextsProvider.svelte
  packages/kit/src/contexts/provider/context.js
  packages/kit/src/contexts/provider/index.d.ts
  packages/kit/src/contexts/provider/index.js
  packages/kit/src/notifications/base-notification/BaseNotification.svelte
  packages/kit/src/notifications/base-notification/index.d.ts
  packages/kit/src/notifications/base-notification/index.js
  packages/kit/src/notifications/context/index.svelte.js
  packages/kit/src/notifications/context/types.d.ts
  packages/kit/src/notifications/context/types.js
  packages/kit/src/notifications/index.js
  packages/kit/src/notifications/portal/NotificationPortal.svelte
  packages/kit/src/notifications/portal/index.d.ts
  packages/kit/src/notifications/portal/index.js
  packages/kit/src/notifications/toast/Toast.svelte
  packages/kit/src/notifications/toast/index.d.ts
  packages/kit/src/notifications/toast/index.js
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpdateForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/Toast.svelte
  sites/sveltevietnam.dev/src/lib/notifications/context.svelte.ts
  sites/sveltevietnam.dev/src/lib/notifications/discord-new-message/DiscordNewMessage.svelte
  sites/sveltevietnam.dev/src/lib/notifications/discord-new-message/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit): implement qr code generation (posting detail page)
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/postings/[id]/+page.svelte
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: eslint, prettier --write, stylelint

feat(recruit): add account management dropdown to header nav
  packages/kit/src/components/dropdown/Dropdown.svelte
  packages/kit/src/components/dropdown/index.d.ts
  packages/kit/src/components/dropdown/index.js
  packages/kit/src/components/index.js
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.server.ts
Due: eslint, prettier --write, stylelint

refactor(kit): use the new Dropdown component for LanguageMenu and ColorSchemeMenu
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  packages/kit/src/components/color-scheme-menu/index.d.ts
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  packages/kit/src/components/language-menu/index.d.ts
Due: eslint, prettier --write, stylelint

refactor(backend): Promise.all for ses secrets
  workers/backend/src/data/mails/index.ts
Due: eslint, prettier --write

feat(backend): configure recruit site url env and better auth secret
  workers/backend/src/app.d.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

feat(backend): configure r2 binding
  workers/backend/src/app.d.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

refactor(sveltevietnam.dev+backend): use generic actor_id instead of subscriber_id for mails table
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/mails/table.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/data/subscribers/schema.ts
  workers/backend/src/data/subscribers/table.ts
  workers/backend/src/database/migrations/0003_rename_mails_subscriber_id_to_actor_id.sql
  workers/backend/src/database/migrations/meta/0003_snapshot.json
  workers/backend/src/database/migrations/meta/_journal.json
Due: eslint, prettier --write, stylelint

refactor(recruit): change employer data field name avatar to image
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/schema.ts
Due: eslint, prettier --write, stylelint

refactor(backend): return table.ts -> tables.ts (one may contain multiple table definitions)
  workers/backend/src/data/bluesky-posts/index.ts
  workers/backend/src/data/bluesky-posts/schema.ts
  workers/backend/src/data/bluesky-posts/tables.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/mails/tables.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/data/subscribers/schema.ts
  workers/backend/src/data/subscribers/tables.ts
Due: eslint, prettier --write

chore(recruit): improve note on description field of employer profile form
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

chore(recruit): update en text of back to svelte vietnam link
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
Due: none

refactor(recruit): extract account menu into local component
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit): set logout to a fixed path (+server endpoint) for simplicity (previously a form action)
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/logout/+server.ts
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: add dev:wrangler script to recruit site
  sites/recruit.sveltevietnam.dev/package.json
Due: prettier --write

chore(recruit): point cloudflare platform proxy dev cache to same warngler dir as used in backend worker
  sites/recruit.sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

chore(recruit): set D1 binding (same db as backend)
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: prettier --write

enhance(recruit): add link to logout in onboarding page (escape hatch for user)
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/onboarding/+page.svelte
Due: eslint, prettier --write, stylelint

chore(backend): remove better auth secret binding (implement in recruit site instead)
  workers/backend/wrangler.json
Due: prettier --write

feat(backend): implement better-auth core tables for recruit site (employers, employer_sessions, employer_verifications)
  pnpm-lock.yaml
  workers/backend/package.json
  workers/backend/src/data/employers/tables.ts
  workers/backend/src/database/schema.ts
Due: eslint, prettier --write

feat(recruit): setup better-auth api instance factory and global hook
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/.env.example
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/app.d.ts
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
Due: eslint, prettier --write

chore(backend): set actor_id on mails table as nullable (support sending to anonymous emails that do not represent any identity in system)
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/mails/tables.ts
  workers/backend/src/database/migrations/0004_set_mails_actor_id_nullable.sql
  workers/backend/src/database/migrations/meta/0004_snapshot.json
  workers/backend/src/database/migrations/meta/_journal.json
Due: eslint, prettier --write

feat(recruit+backend): send onboarding invitation on signup
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/backend/utils.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/signup/+page.server.ts
  workers/backend/src/mjml/includes/recruit-footer/en.mjml
  workers/backend/src/mjml/includes/recruit-footer/vi.mjml
  workers/backend/src/mjml/templates/ids.ts
  workers/backend/src/mjml/templates/index.ts
  workers/backend/src/mjml/templates/recruit-onboard-employer/en.mjml
  workers/backend/src/mjml/templates/recruit-onboard-employer/index.ts
  workers/backend/src/mjml/templates/recruit-onboard-employer/vi.mjml
Due: eslint, prettier --write

fix(backend): ensure type for actorId in mails.send
  workers/backend/src/data/mails/index.ts
Due: eslint, prettier --write

feat(kit): add factory function to create valibot schema for turnstile (including server validation)
  packages/kit/package.json
  packages/kit/src/utilities/turnstile.js
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(recruit): validate against existing email during signup
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/signup/+page.server.ts
Due: eslint, prettier --write

fix(backend): employer service - use table model in magic sql template
  workers/backend/src/data/employers/index.ts
Due: eslint, prettier --write

refactor(recruit+backend): change table name employer_verifications -> employer_verifications
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  workers/backend/src/data/employers/tables.ts
Due: eslint, prettier --write

feat(backend): bootstrap employer service with exists (by email) method
  workers/backend/src/data/employers/index.ts
  workers/backend/src/data/employers/schema.ts
  workers/backend/src/worker.ts
Due: eslint, prettier --write

fix(recruit): typo in vi def for signout
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
Due: eslint, prettier --write

feat(recruit+backend): rate limit signup magic email to 90s
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/countdown/Countdown.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/countdown/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/signup/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/signup/+page.svelte
  workers/backend/src/data/employers/index.ts
Due: eslint, prettier --write, stylelint

feat(recruit): unify login & signup page into one single authenticate page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/_local/schema.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/login/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/logout/+server.ts
Due: eslint, prettier --write, stylelint

refactor(backend): use query instead of select (subscribers)
  workers/backend/src/data/subscribers/index.ts
Due: eslint, prettier --write

feat(recruit): on login send magic link via email
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  workers/backend/src/data/employers/index.ts
  workers/backend/src/data/employers/schema.ts
  workers/backend/src/mjml/templates/ids.ts
  workers/backend/src/mjml/templates/index.ts
  workers/backend/src/mjml/templates/recruit-login-employer/en.mjml
  workers/backend/src/mjml/templates/recruit-login-employer/index.ts
  workers/backend/src/mjml/templates/recruit-login-employer/vi.mjml
Due: eslint, prettier --write

refactor(backend): improve typing of SendMailInput by making templateId a separate param
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  workers/backend/src/app.d.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/mjml/templates/index.ts
  workers/backend/src/mjml/templates/recruit-login-employer/index.ts
  workers/backend/src/mjml/templates/recruit-onboard-employer/index.ts
  workers/backend/src/mjml/templates/welcome/index.ts
  workers/backend/src/worker.ts
Due: eslint, prettier --write

fix(backend): return early if not found (employers.getByEmail)
  workers/backend/src/data/employers/index.ts
  workers/backend/src/data/employers/schema.ts
  workers/backend/src/data/employers/tables.ts
Due: eslint, prettier --write

fix(recruit): website input should have type url
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): implement onboarding form submission
  sites/recruit.sveltevietnam.dev/src/app.d.ts
  sites/recruit.sveltevietnam.dev/src/lib/backend/utils.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/schema.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/onboarding/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/employers/[id]/image/+server.ts
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write

feat(recruit): load employer image to account menu if logged in
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint
