Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(sveltevietnam.dev): umami track newsletter submission
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/data/subscribers/schema.ts
Due: eslint, prettier --write, stylelint

chore: add current year to LICENSE
  LICENSE
Due: none

fix(i18n): safely ignore empty locales directories
  packages/i18n/src/cli.js
  packages/i18n/src/internals/collect.js
  packages/i18n/src/vite.js
Due: eslint, prettier --write

fix(sveltevietnam.dev): adjust import path to avoid falsy dependency parsing - progressive splash screen blog post & write guidelines
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/examples/codeblock-group-files.md.svelte
Due: eslint, prettier --write, stylelint

style(c-btn): allow icons on both side at the same time
  packages/css/src/components/c-btn/c-btn.css
Due: stylelint

style(colors): add a surface-subtle variant
  packages/css/src/theme/colors/index.css
  packages/css/src/typography.css
Due: stylelint

style(c-dialog): new dialog reusable CSS component (used in upcoming commits)
  packages/css/src/components/c-dialog.css
  packages/css/src/components/index.css
Due: stylelint

chore(sveltevietnam.dev): remove search page, will implement as dialog in an upcoming commit
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/search/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/search/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/search/_page/og-search.en.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/search/_page/og-search.vi.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/+server.ts
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): extract blocks svg in BlogNewsletter to static asset (resuse in an upcoming commit)
  sites/sveltevietnam.dev/src/lib/assets/images/svg/blocks.svg
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): untrack generated preprocess-inline-svg.d.ts (avoid format diff on different OS)
  sites/sveltevietnam.dev/.gitignore
  sites/sveltevietnam.dev/src/preprocess-inline-svg.d.ts
Due: eslint, prettier --write

perf(routes+i18n): only run once during build
  packages/i18n/src/vite.js
  packages/routes/src/vite.js
Due: eslint, prettier --write

chore(sveltevietnam.dev): add verbose log for pagefind vite plugin
  sites/sveltevietnam.dev/src/lib/pagefind/vite.ts
Due: eslint, prettier --write

feat(sveltevietnam.dev): new blog post - "Icon strategies at sveltevietnam.dev"
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/metadata.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): shorten time diff text in bluesky comment
  sites/sveltevietnam.dev/src/lib/utils/datetime.ts
Due: eslint, prettier --write

enhance(sveltevietnam.dev): remove debounce for search input
  sites/sveltevietnam.dev/src/lib/search/context.svelte.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): avoid false icon class parsing in icon-strategies blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore(sveltevietnam.dev): update thumbnail for reactive-extension-storage blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/images/thumbnail.jpg
Due: none

style(sveltevietnam.dev): prevent strange select zone in desktop of intro section on homepage
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): pride gradient on header logo for June
  sites/sveltevietnam.dev/src/lib/assets/images/svg/sveltevietnam-pride-gradients.svg
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

chore(enhanced-code-block): set default max-height for pre
  packages/markdown/src/components/code-block/CodeBlock.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): new blog post reactive-web-storage-svelte-5
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/code/configuration.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/code/lib.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/code/playground.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/code/storage.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/metadata.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/reactive-storage.ts
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): blog listing first item let space between
  sites/sveltevietnam.dev/src/lib/components/blog-post-common-list/BlogPostCommonList.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-showcase/BlogPostShowcase.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): contain fieldsets to screen width on mobile (blog post reactive-web-storage)
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/code/configuration.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/code/playground.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): typo & wording - reactive-web-storage blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250605-reactive-local-session-storage-in-svelte-5/content/en.md.svelte
Due: eslint, prettier --write, stylelint

feat(markdown): add support for YAML lang in code block
  packages/markdown/src/components/file-icon/FileIcon.svelte
  packages/markdown/src/shiki.js
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): update closing wording - icon strategies blog post vi
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): new blog post - collect-analytics-for-svelte-apps-with-umami
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/examples/docker-compose.yaml
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/images/screenshot.png
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/metadata.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): change pagefind plugin name to be sveltevietnam specific
  sites/sveltevietnam.dev/src/lib/pagefind/vite.ts
Due: eslint, prettier --write

chore: approve subbuild for some dependencies
  package.json
Due: prettier --write

fix(i18n): resolve all eslint issues
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/internals/collect.js
  packages/i18n/src/internals/lint.js
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/transform.js
Due: eslint, prettier --write

fix(i18n): reference locale directory correctly
  packages/i18n/src/cli.js
  packages/i18n/src/internals/transform.js
  packages/i18n/src/vite.js
Due: eslint, prettier --write

refactor(sveltevietnam.dev): load pagefind type directly
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/lib/pagefind/vite.ts
  sites/sveltevietnam.dev/src/lib/search/context.svelte.ts
  sites/sveltevietnam.dev/src/pagefind.d.ts
Due: eslint, prettier --write

style(css): support kbd tag in prose context
  packages/css/src/typography.css
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): new blog post - search-with-pagefind
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/images/search-dialog-screenshot.en.png
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/images/search-dialog-screenshot.vi.png
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/metadata.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): add insider category for the recent icon & pagefind blog posts
  sites/sveltevietnam.dev/src/data/blog/posts/20250603-icon-strategies-at-sveltevietnam-dev/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/metadata.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): correct translation type for the recent pagefind & umami blog posts
  sites/sveltevietnam.dev/src/data/blog/posts/20250607-collect-analytics-for-svelte-apps-with-umami/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/metadata.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): avoid white-on-white select option on chrome
  packages/css/src/base.css
Due: stylelint
