Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

test(recruit): update to accomodate for the new rich text editor
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/tests/001-authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev+kit): extract GreenWebBadge component to kit
  packages/kit/src/components/green-web-badge/GreenWebBadge.svelte
  packages/kit/src/components/green-web-badge/index.d.ts
  packages/kit/src/components/green-web-badge/index.js
  packages/kit/src/components/green-web-badge/logo-gwf.svg
  packages/kit/src/components/index.js
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev+kit): extract NotByAiBadge component to kit
  packages/kit/src/components/index.js
  packages/kit/src/components/not-by-ai-badge/NotByAiBadge.svelte
  packages/kit/src/components/not-by-ai-badge/index.d.ts
  packages/kit/src/components/not-by-ai-badge/index.js
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev+kit): extract SOCIAL_LINKS and EMAILS constants to kit
  packages/kit/src/constants.js
  sites/sveltevietnam.dev/src/data/emails.ts
  sites/sveltevietnam.dev/src/data/links.ts
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/social-links/SocialLinks.svelte
  sites/sveltevietnam.dev/src/lib/meta/structured/organization.ts
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev+kit): extract SocialLinks component to kit
  packages/i18n/src/internals/parse.js
  packages/kit/src/components/index.js
  packages/kit/src/components/social-links/SocialLinks.svelte
  packages/kit/src/components/social-links/index.d.ts
  packages/kit/src/components/social-links/index.js
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev+kit): extract Footer component to kit
  packages/kit/src/components/footer/Footer.svelte
  packages/kit/src/components/footer/index.d.ts
  packages/kit/src/components/footer/index.js
  packages/kit/src/components/index.js
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): reuse Footer from main site
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): update roadmap with progress of recruit app
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): missing code block content in async-dialog blog post due to file move
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(backend): query status as enum for job postings
  workers/backend/src/data/job-postings/enums.ts
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/job-postings/schema.ts
  workers/backend/src/data/job-postings/tables.ts
Due: eslint, prettier --write

feat(recruit): prevent edit once job is approved
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.server.ts
  workers/backend/src/mjml/templates/recruit-employer-create-job-posting/en.mjml
  workers/backend/src/mjml/templates/recruit-employer-create-job-posting/vi.mjml
Due: eslint, prettier --write, stylelint

feat(recruit): render status in job details page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

test(recruit): add test case for preventing job posting edit when status in not pending
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
Due: eslint, prettier --write

fix(recruit): move auth redirect check to hooks.server
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/+layout.server.ts
Due: eslint, prettier --write

chore(recruit): remove redirect from home -> postings when authenticated
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.server.ts
Due: eslint, prettier --write

chore(recruit): improve wording of authenticate link in footer navigation
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
Due: eslint, prettier --write

fix(css): max-w-pad-content should use min pad x, not scaling pad x
  packages/css/src/utilities/max-w-pad.css
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/Toolbar.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): only show public pages in footer primary navigation if not signed-in
  packages/kit/src/components/footer/Footer.svelte
  sites/recruit.sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

docs(recruit): add dev & test setup instruction
  docs/DEVELOPMENT.md
  sites/recruit.sveltevietnam.dev/README.md
Due: prettier --write

feat(recruit): add basic landing page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/kv-about.svg
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/kv-catch.svg
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/kv-intro.svg
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/kv-open.svg
Due: eslint, prettier --write, stylelint

feat(recruit): set title, description, og, and SEO info
  sites/recruit.sveltevietnam.dev/src/app.d.ts
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/og.en.jpg
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/images/og.vi.jpg
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/+page.server.ts
  sites/recruit.sveltevietnam.dev/static/ads.txt
  sites/recruit.sveltevietnam.dev/static/ai.txt
  sites/recruit.sveltevietnam.dev/static/humans.txt
  sites/recruit.sveltevietnam.dev/static/robots.txt
Due: eslint, prettier --write, stylelint

fix(recruit): adjust source link to use main branch
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(backend): better check for local env in drizzle config
  workers/backend/drizzle.config.ts
Due: eslint, prettier --write

fix(recruit): set consistent worker name explicitly across envs
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: prettier --write

enhance(recruit): open sveltevietnam.dev to new tab in intro section of homepage
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

enhance(recruit): homepage open why need sponsor link to exact section
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(backend): generate migration script for new data models from recruit app
  workers/backend/src/database/migrations/0005_new_data_models_for_recruit_app.sql
  workers/backend/src/database/migrations/meta/0005_snapshot.json
  workers/backend/src/database/migrations/meta/_journal.json
Due: prettier --write

fix(recruit): correct status i18n message in posting detail page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

fix(recruit): employer image should lead to employer's website if any
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): let user access detail page even if posting is deleted
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  workers/backend/src/data/job-postings/index.ts
Due: eslint, prettier --write, stylelint

enhance(recruit): set global preload data on link hover
  sites/recruit.sveltevietnam.dev/src/app.html
Due: prettier --write

fix(www+recruit): define CSS layers inline to make sure no style/link uses layers first
  sites/recruit.sveltevietnam.dev/src/app.html
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  eslint.config.js
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  packages/routes/src/internals/transform.js
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: eslint, prettier --write, stylelint

chore(recruit): load and initialize umami
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www+recruit+kit): add umami events to key actions
  packages/kit/package.json
  packages/kit/src/app.d.ts
  packages/kit/src/components/breadcrumbs/Breadcrumbs.svelte
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  packages/kit/src/components/footer/Footer.svelte
  packages/kit/src/components/social-links/SocialLinks.svelte
  packages/kit/src/components/social-links/index.d.ts
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/DialogHelp.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/Toolbar.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarBlockTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarInlineTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/sponsor-reminder/SponsorReminder.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): add back padding for language & color-scheme menus in header mobile
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

style(recurit): add bottom padding before footer on homepage
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
Due: eslint, prettier --write, stylelint

style(kit): add linkedin and threads to social links
  packages/kit/src/components/footer/Footer.svelte
  packages/kit/src/components/social-links/SocialLinks.svelte
  packages/kit/src/constants.js
Due: eslint, prettier --write, stylelint

style(recruit): add background for header on mobile
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): add proposal/feedback form to event page
  packages/kit/src/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/(nolang)/blue-screen-of-death/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
