Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

fix(sveltevietnam.dev): add sr text for home segment in breadcrumbs
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/breadcrumbs/Breadcrumbs.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): relax line height for long page sub title
  sites/sveltevietnam.dev/src/lib/components/blog-listing-intro/BlogListingIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): typo hiện thị -> hiển thị
  sites/sveltevietnam.dev/src/data/blog/posts/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/callout/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/image/vi.md.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): break inline code in chrome
  packages/css/src/components/c-tooltip.css
  packages/css/src/typography.css
Due: stylelint

feat(workers/backend): implement backend rpc via worker cloudflare, with subscribers service
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/.env.example
  workers/backend/.gitignore
  workers/backend/drizzle.config.ts
  workers/backend/package.json
  workers/backend/src/data/subscribers/domains.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/data/subscribers/schema.ts
  workers/backend/src/data/subscribers/table.ts
  workers/backend/src/database/migrations/meta/_journal.json
  workers/backend/src/database/orm.ts
  workers/backend/src/database/schema.ts
  workers/backend/src/global.d.ts
  workers/backend/src/worker.ts
  workers/backend/tsconfig.json
  workers/backend/vite.config.ts
  workers/backend/wrangler.json
  workers/tsconfig.json
Due: eslint, prettier --write

style(c-text-input): better support for c-text-input on label
  packages/css/src/components/c-text-input.css
Due: stylelint

fix(sveltevietnam.dev): turn off vite fs strict mode to load svg in packages
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): support render BaseNotification without title
  sites/sveltevietnam.dev/src/lib/notifications/components/BaseNotification.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): complete UI and add backend logics for SubscribeForm
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/forms/email-registration/EmailRegistrationForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/email-registration/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/SubscribeForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscribe/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/schema.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/server.ts
  sites/sveltevietnam.dev/src/lib/turnstile/turnstile.server.ts
  sites/sveltevietnam.dev/svelte.config.js
  sites/sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): set up subscribe actions and correctly pass data to SubscribeForm
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
Due: eslint, prettier --write, stylelint

fix(i18n): make it extra sure to rerender when params change (T.svelte)
  packages/i18n/src/runtime/T.svelte
Due: eslint, prettier --write, stylelint

style(css): correct default bg color for c-callout
  packages/css/src/components/c-callout/c-callout.css
Due: stylelint

chore(turbo): set to stream ui and add inputs for build task
  turbo.json
Due: prettier --write

chore: upgrade dependencies
  .gitignore
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/vite.config.ts
  workers/backend/package.json
Due: eslint, prettier --write

refactor(sveltevietnam.dev): make breadcrumbs optional in page data
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/lib/routing/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): web view for mail and subscriber update form
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/people/index.ts
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
  sites/sveltevietnam.dev/src/lib/backend/server.ts
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscribe/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/schema.ts
  sites/sveltevietnam.dev/src/lib/forms/subscribe/server.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpdateForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/schema.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/lib/utils/datetime.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): update language in SubscriberUpsertForm
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
Due: eslint, prettier --write, stylelint

chore(backend): save both from & to emails in mail record
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/mails/table.ts
Due: eslint, prettier --write, stylelint

feat(backend): send welcome emails from newsletter@sveltevietnam.dev
  workers/backend/src/mjml/includes/newsletter-footer/en.mjml
  workers/backend/src/mjml/includes/newsletter-footer/vi.mjml
  workers/backend/src/mjml/templates/constants.ts
  workers/backend/src/mjml/templates/index.ts
  workers/backend/src/mjml/templates/welcome/en.mjml
  workers/backend/src/mjml/templates/welcome/index.ts
  workers/backend/src/mjml/templates/welcome/vi.mjml
Due: eslint, prettier --write

feat(backend): send actual email via amazon ses in non-dev environments
  pnpm-lock.yaml
  workers/backend/.env.example
  workers/backend/package.json
  workers/backend/src/app.d.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/worker.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

feat(sveltevietnam.dev): add tiny svg logo for email BIMI
  sites/sveltevietnam.dev/static/logo/bimi.svg
Due: none

chore(backend): use envs via cloudflare, set up production build & deploy
  package.json
  turbo.json
  workers/backend/.env.example
  workers/backend/package.json
  workers/backend/src/app.d.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/worker.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

chore: add NODE_VERSION & turn off turbo telemetry in production build
  workers/backend/wrangler.json
Due: prettier --write

chore(turbo): add CLOUDFLARE_* envs for build & deploy
  turbo.json
Due: prettier --write

chore(backend): remove build-only envs from wrangler config (set in dashboard)
  workers/backend/wrangler.json
Due: prettier --write

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore(backend): set name of worker explicitly in production env
  turbo.json
  workers/backend/wrangler.json
Due: prettier --write

chore: approve tailwind oxide postbuild
  package.json
Due: prettier --write

chore: upgrade dependencies
  package.json
  packages/markdown/package.json
  pnpm-lock.yaml
  workers/backend/package.json
Due: prettier --write

chore: set $schema in wrangler.json
  sites/sveltevietnam.dev/wrangler.json
  workers/backend/wrangler.json
Due: prettier --write

fix(sveltevietnam): fix backend binding name
  sites/sveltevietnam.dev/wrangler.json
Due: prettier --write

chore(backend): remove test route
  workers/backend/src/worker.ts
Due: eslint, prettier --write

fix(backend): drizzle kit correctly check env and apply token
  workers/backend/.env.example
  workers/backend/drizzle.config.ts
  workers/backend/package.json
Due: eslint, prettier --write

chore(backend): squash initial database migration
  workers/backend/src/database/migrations/0000_init_with_subscribers_and_mails_tables.sql
  workers/backend/src/database/migrations/meta/0000_snapshot.json
  workers/backend/src/database/migrations/meta/_journal.json
Due: prettier --write

fix(backend): correct SITE_URL env in production
  workers/backend/wrangler.json
Due: prettier --write

fix(backend): set consistent worker name in development
  workers/backend/wrangler.json
Due: prettier --write

enhance(sveltevietnam.dev): prevent invalidation on submitting SubscriberUpsertForm (avoid form data reset)
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
Due: eslint, prettier --write, stylelint

refactor(backend): set logo images in email as inline base64 explicitly
  workers/backend/src/data/links.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/mjml/includes/header.mjml
  workers/backend/src/mjml/includes/socials.mjml
  workers/backend/src/mjml/templates/types.ts
Due: eslint, prettier --write
