Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

style: move `:target` style to css package and into base layer
  packages/css/src/base.css
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

style(www): BlogNewsletter - apply style to heading text when associated heading tag matches :target
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
Due: eslint, prettier --write, stylelint

feat(blog): highlight active heading
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

feat(i18n): new experimental yaml parser that supports @import directive [Skip CI]
  package.json
  packages/i18n/__mocks__/fs.cjs
  packages/i18n/__mocks__/fs/promises.cjs
  packages/i18n/package.json
  packages/i18n/src/here-be-dragon/parser/parse/index.js
  packages/i18n/src/here-be-dragon/parser/parse/parse.js
  packages/i18n/src/here-be-dragon/parser/parse/parse.test.ts
  packages/i18n/src/here-be-dragon/parser/parse/types.public.d.ts
  packages/i18n/src/here-be-dragon/parser/parse/types.public.js
  packages/i18n/src/here-be-dragon/parser/schema/json-schema.js
  packages/i18n/src/here-be-dragon/parser/schema/locale.js
  packages/i18n/src/here-be-dragon/utils/recursive-record/index.js
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

feat(i18n): imagine a new runtime API, with unit tests
  packages/i18n/src/here-be-dragon/runtime/factory/factory.js
  packages/i18n/src/here-be-dragon/runtime/factory/factory.test-d.ts
  packages/i18n/src/here-be-dragon/runtime/factory/factory.test.ts
  packages/i18n/src/here-be-dragon/runtime/factory/index.js
  packages/i18n/src/here-be-dragon/runtime/index.js
  packages/i18n/src/here-be-dragon/runtime/is-message/is-message.js
  packages/i18n/src/here-be-dragon/runtime/is-message/is-message.test.ts
  packages/i18n/src/here-be-dragon/runtime/types.public.d.ts
  packages/i18n/src/here-be-dragon/runtime/types.public.js
Due: eslint, prettier --write

test(i18n): parse-locale should still pass for file with empty messages
  packages/i18n/src/here-be-dragon/parser/parse-locale/parse-locale.test.ts
Due: eslint, prettier --write

feat(i18n): extend on parseParams and add unit tests
  packages/i18n/src/here-be-dragon/parser/parse-params/index.js
  packages/i18n/src/here-be-dragon/parser/parse-params/parse-params.js
  packages/i18n/src/here-be-dragon/parser/parse-params/parse-params.test.ts
  packages/i18n/src/here-be-dragon/parser/parse-params/types.public.d.ts
  packages/i18n/src/here-be-dragon/parser/parse-params/types.public.js
Due: eslint, prettier --write

refactor(i18n): rename the new parse to parse-locale, leave space for other types of parsing
  packages/i18n/src/here-be-dragon/parser/index.js
  packages/i18n/src/here-be-dragon/parser/parse-locale/index.js
  packages/i18n/src/here-be-dragon/parser/parse-locale/parse-locale.js
  packages/i18n/src/here-be-dragon/parser/parse-locale/parse-locale.test.ts
  packages/i18n/src/here-be-dragon/parser/parse-locale/types.public.d.ts
  packages/i18n/src/here-be-dragon/parser/parse-locale/types.public.js
Due: eslint, prettier --write

refactor(i18n): rename parse-params -> parse-message
  packages/i18n/src/here-be-dragon/parser/parse-message/index.js
  packages/i18n/src/here-be-dragon/parser/parse-message/parse-message.js
  packages/i18n/src/here-be-dragon/parser/parse-message/parse-message.test.ts
  packages/i18n/src/here-be-dragon/parser/parse-message/types.public.d.ts
  packages/i18n/src/here-be-dragon/parser/parse-message/types.public.js
  packages/i18n/src/here-be-dragon/parser/parse-params/index.js
Due: eslint, prettier --write

feat(i18n): new simplify compile workflow [Skip CI]
  .prettierignore
  packages/i18n/package.json
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/chunkify-content-with-params.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/define-message-function.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/export-identifiers-as-literals.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/import-factores.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/print.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/message-with-params/multiple.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/message-with-params/one.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/simple-message/multiple.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/simple-message/one.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/compile.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/compile.test.ts
  packages/i18n/src/here-be-dragon/compiler/compile/compile/index.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/types.public.d.ts
  packages/i18n/src/here-be-dragon/compiler/compile/compile/types.public.js
  packages/i18n/src/here-be-dragon/compiler/compile/index.js
  packages/i18n/src/here-be-dragon/parser/index.js
  packages/i18n/src/here-be-dragon/parser/parse-locale/parse-locale.test.ts
  packages/i18n/src/here-be-dragon/parser/parse-message/parse-message.test.ts
  packages/i18n/src/here-be-dragon/parser/types.public.d.ts
  packages/i18n/src/here-be-dragon/parser/types.public.js
  packages/i18n/src/here-be-dragon/runtime/factory/factory.test.ts
  packages/i18n/src/here-be-dragon/runtime/index.js
  packages/i18n/src/here-be-dragon/runtime/is-message/index.js
  packages/i18n/src/here-be-dragon/runtime/is-message/is-message.test.ts
  packages/i18n/src/here-be-dragon/runtime/types.public.d.ts
  packages/i18n/src/here-be-dragon/utils/recursive-record/flatten-recursive-record.test.ts
  packages/i18n/vitest.config.ts
Due: eslint, prettier --write

feat(i18n): implement the new builder
  packages/i18n/src/here-be-dragon/builder/build/build.js
  packages/i18n/src/here-be-dragon/builder/build/build.test.ts
  packages/i18n/src/here-be-dragon/builder/build/index.js
  packages/i18n/src/here-be-dragon/builder/build/types.public.d.ts
  packages/i18n/src/here-be-dragon/builder/build/types.public.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/compile.js
  packages/i18n/src/here-be-dragon/parser/parse-message/parse-message.js
Due: eslint, prettier --write

feat(i18n): add tree-shaking markers in compiled output and runtime factory
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/define-message-function.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/message-with-params/multiple.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/message-with-params/one.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/simple-message/multiple.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/simple-message/one.snap.js
  packages/i18n/src/here-be-dragon/runtime/factory/factory.js
  packages/i18n/src/here-be-dragon/runtime/types.public.d.ts
Due: eslint, prettier --write

test(i18n): set up test utils and alias path
  packages/i18n/package.json
  packages/i18n/tests/utils.ts
  packages/i18n/tsconfig.json
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
Due: eslint, prettier --write

refactor(i18n): split compiler logics into multiple functions; simplify interface for locale message function
  eslint.config.js
  lefthook.yaml
  packages/i18n/src/here-be-dragon/builder/build/build.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/define-message-function.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/export-identifiers-as-literals.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/import-factores.js
  packages/i18n/src/here-be-dragon/compiler/compile/codegen/print.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/message-with-params/multiple.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/message-with-params/one.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/simple-message/multiple.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/__snapshots__/simple-message/one.snap.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/compile.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/compile.test.ts
  packages/i18n/src/here-be-dragon/compiler/compile/compile/index.js
  packages/i18n/src/here-be-dragon/compiler/compile/compile/types.public.d.ts
  packages/i18n/src/here-be-dragon/compiler/compile/compile/types.public.js
  packages/i18n/src/here-be-dragon/compiler/compile/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/__snapshots__/simple.snap.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/__snapshots__/with-params.snap.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/generate-message-function.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/generate-message-function.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-locale-module/generate-message-locale-module.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-locale-module/generate-message-locale-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-locale-module/index.js
  packages/i18n/src/here-be-dragon/compiler/index.js
  packages/i18n/src/here-be-dragon/compiler/utils.js
  packages/i18n/src/here-be-dragon/runtime/factory/factory.js
  packages/i18n/src/here-be-dragon/runtime/translate/translate.js
  packages/i18n/src/here-be-dragon/runtime/types.public.d.ts
Due: eslint, prettier --write

refactor(i18n): better naming scheme for generate functions
  packages/i18n/src/here-be-dragon/builder/build/build.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/__snapshots__/simple.snap.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/__snapshots__/with-params.snap.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-function/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-locale-module/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target-module/generate-message-target-module.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target-module/generate-message-target-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-target-module/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target/generate-message-target.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target/generate-message-target.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-target/index.js
  packages/i18n/src/here-be-dragon/compiler/index.js
Due: eslint, prettier --write

feat(i18n): add generator for message index module
  packages/i18n/src/here-be-dragon/compiler/generate-message-module/generate-message-index-module.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-module/generate-message-index-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-module/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target/generate-message-target.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target/generate-message-target.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message/generate-message.js
  packages/i18n/src/here-be-dragon/compiler/generate-message/generate-message.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message/index.js
  packages/i18n/src/here-be-dragon/compiler/index.js
  packages/i18n/src/here-be-dragon/compiler/utils.js
  packages/i18n/src/here-be-dragon/runtime/factory/factory.js
Due: eslint, prettier --write

feat(i18n): tweak output of build to include messages/index.js
  packages/i18n/src/here-be-dragon/builder/build/__snapshots__/messages/en.js
  packages/i18n/src/here-be-dragon/builder/build/__snapshots__/messages/index.js
  packages/i18n/src/here-be-dragon/builder/build/__snapshots__/messages/vi.js
  packages/i18n/src/here-be-dragon/builder/build/build.js
  packages/i18n/src/here-be-dragon/builder/build/build.test.ts
  packages/i18n/src/here-be-dragon/builder/build/types.public.d.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-module/generate-message-module.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-module/generate-message-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-module/index.js
  packages/i18n/src/here-be-dragon/compiler/generate-message-target-module/generate-message-target-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message-target/generate-message-target.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-message/generate-message.js
  packages/i18n/src/here-be-dragon/compiler/generate-message/generate-message.test.ts
Due: eslint, prettier --write

feat(i18n): add generateStringArrayConstant
  packages/i18n/src/here-be-dragon/compiler/generate-string-array-constant/generate-string-array-constant.js
  packages/i18n/src/here-be-dragon/compiler/generate-string-array-constant/generate-string-array-constant.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-string-array-constant/index.js
Due: eslint, prettier --write

feat(i18n): add generateConstantsModule
  packages/i18n/src/here-be-dragon/compiler/generate-constants-module/generate-constants-module.js
  packages/i18n/src/here-be-dragon/compiler/generate-constants-module/generate-constants-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/generate-constants-module/index.js
Due: eslint, prettier --write

chore(i18n): add template for i18n.d.ts
  packages/i18n/src/here-be-dragon/compiler/i18n.d.ts.template
Due: none

chore(i18n): remove outdated translate function
  packages/i18n/src/here-be-dragon/runtime/translate/translate.js
Due: eslint, prettier --write

feat(i18n): add constants module to build output [Skip CI]
  packages/i18n/src/here-be-dragon/builder/build/__snapshots__/constants.js
  packages/i18n/src/here-be-dragon/builder/build/build.js
  packages/i18n/src/here-be-dragon/builder/build/build.test.ts
  packages/i18n/src/here-be-dragon/builder/build/types.public.d.ts
  packages/i18n/src/here-be-dragon/compiler/generate-constants-module/generate-constants-module.js
  packages/i18n/src/here-be-dragon/compiler/generate-constants-module/generate-constants-module.test.ts
  packages/i18n/src/here-be-dragon/compiler/index.js
Due: eslint, prettier --write

chore(i18n): rename toprocess to t, avoid alias, (go-to-def not leading to correct source)
  packages/i18n-new/src/runtime/index.js
  packages/i18n-new/src/runtime/t.js
  packages/i18n-new/src/runtime/toprocess.js
  packages/i18n-new/src/runtime/types.public.d.ts
Due: eslint, prettier --write

fix(i18n): correct jsdoc const tag
  packages/i18n-new/src/builder/build/__snapshots__/constants.js
  packages/i18n-new/src/compiler/generate-constants-module/generate-constants-module.test.ts
  packages/i18n-new/src/compiler/generate-string-array-constant/generate-string-array-constant.js
  packages/i18n-new/src/compiler/generate-string-array-constant/generate-string-array-constant.test.ts
  packages/i18n-new/src/compiler/i18n.d.ts.template
Due: eslint, prettier --write

feat(i18n): add T, t, and P to runtime subpackage
  packages/i18n-new/package.json
  packages/i18n-new/src/runtime/Provider/Provider.svelte
  packages/i18n-new/src/runtime/Provider/context.js
  packages/i18n-new/src/runtime/Provider/index.d.ts
  packages/i18n-new/src/runtime/Provider/index.js
  packages/i18n-new/src/runtime/T/T.svelte
  packages/i18n-new/src/runtime/T/index.d.ts
  packages/i18n-new/src/runtime/T/index.js
  packages/i18n-new/src/runtime/index.js
  packages/i18n-new/src/runtime/t.js
  packages/i18n-new/src/runtime/types.public.d.ts
Due: eslint, prettier --write, stylelint

fix(i18n): clean up here-be-dragon artifacts
  packages/i18n-new/package.json
  packages/i18n-new/tests/utils.ts
Due: eslint, prettier --write

fix(i18n): switch d.ts file for T.svelte to let dts-buddy correctly emit
  packages/i18n-new/src/runtime/T/T.svelte.d.ts
Due: eslint, prettier --write

chore(i18n): remote t function, call message directly
  packages/i18n-new/src/runtime/index.js
  packages/i18n-new/src/runtime/t.js
Due: eslint, prettier --write

fix(i18n): correct type for T component
  packages/i18n-new/src/runtime/T/T.svelte
  packages/i18n-new/src/runtime/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/types.public.d.ts
Due: eslint, prettier --write, stylelint

chore(i18n): allow all data attributes in default sanitization
  packages/i18n-new/src/runtime/T/T.svelte
Due: eslint, prettier --write, stylelint

chore(www+kit+i18n): add the new i18n package to www, include Provider in ContextsProvider
  packages/kit/package.json
  packages/kit/src/contexts/provider/ContextsProvider.svelte
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: eslint, prettier --write, stylelint

refactor(i18n): move factory module out of runtime for clarity, fix up factory tests
  packages/i18n-new/package.json
  packages/i18n-new/src/factory/factory.js
  packages/i18n-new/src/factory/factory.test-d.ts
  packages/i18n-new/src/factory/factory.test.ts
  packages/i18n-new/src/factory/index.js
  packages/i18n-new/src/runtime/factory/factory.test-d.ts
  packages/i18n-new/src/runtime/is-message/is-message.test.ts
Due: eslint, prettier --write

feat(i18n): return all parsed dependencies and more message info from parse-locale module
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/build.test.ts
  packages/i18n-new/src/builder/index.js
  packages/i18n-new/src/compiler/generate-message-module/generate-message-module.js
  packages/i18n-new/src/compiler/generate-message-module/generate-message-module.test.ts
  packages/i18n-new/src/compiler/generate-message-target-module/generate-message-target-module.js
  packages/i18n-new/src/compiler/generate-message-target-module/generate-message-target-module.test.ts
  packages/i18n-new/src/compiler/generate-message-target/generate-message-target.js
  packages/i18n-new/src/compiler/generate-message-target/generate-message-target.test.ts
  packages/i18n-new/src/compiler/generate-message/generate-message.js
  packages/i18n-new/src/compiler/generate-message/generate-message.test.ts
  packages/i18n-new/src/compiler/utils.js
  packages/i18n-new/src/parser/index.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.test.ts
  packages/i18n-new/src/parser/parse-locale/types.public.d.ts
  packages/i18n-new/src/parser/parse-message-params/index.js
  packages/i18n-new/src/parser/parse-message-params/parse-message-params.js
  packages/i18n-new/src/parser/parse-message-params/parse-message-params.test.ts
  packages/i18n-new/src/parser/parse-message-params/types.public.d.ts
  packages/i18n-new/src/parser/parse-message-params/types.public.js
  packages/i18n-new/src/parser/parse-message/index.js
  packages/i18n-new/src/parser/parse-message/types.public.d.ts
  packages/i18n-new/src/parser/parse-message/types.public.js
  packages/i18n-new/src/parser/types.public.d.ts
  packages/i18n-new/tests/utils.ts
Due: eslint, prettier --write

feat(i18n): return all parsed source local files from build
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/build.test.ts
  packages/i18n-new/src/builder/build/types.public.d.ts
Due: eslint, prettier --write

feat(i18n): return total number of collected messages in build
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/build.test.ts
  packages/i18n-new/src/builder/build/types.public.d.ts
Due: eslint, prettier --write

fix(i18n): correct import paths to include extension
  packages/i18n-new/src/compiler/generate-constants-module/generate-constants-module.js
  packages/i18n-new/src/compiler/generate-message/generate-message.js
Due: eslint, prettier --write

feat(i18n): implement vite plugin
  packages/i18n-new/package.json
  packages/i18n-new/src/vite/index.js
  packages/i18n-new/src/vite/logger.js
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

fix(i18n): run glob without cache, print cause when there is an error during vite run
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

feat(i18n): allow import alias, inherit from vite config
  packages/i18n-new/src/parser/parse-locale/parse-locale.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.test.ts
  packages/i18n-new/src/parser/parse-locale/types.public.d.ts
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
