Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

style(components): deprecate remaining custom selector usage
  packages/css/src/components/c-link-icon.css
  packages/css/src/components/c-radio.css
Due: stylelint

style(sveltevietnam.dev): avoid 'group' class clashing in text-arrow-link component
  sites/sveltevietnam.dev/src/lib/components/text-arrow-link/TextArrowLink.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): add a full variant to intro-separator component
  sites/sveltevietnam.dev/src/lib/components/intro-separator/IntroSeparator.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): people pages - render more pleasing avatar
  packages/css/src/variants.css
  sites/sveltevietnam.dev/src/data/people/index.ts
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/avatar.jpg
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/index.ts
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/og.en.jpg
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/og.vi.jpg
  sites/sveltevietnam.dev/src/data/people/vnphanquang/avatar.jpg
  sites/sveltevietnam.dev/src/data/people/vnphanquang/index.ts
  sites/sveltevietnam.dev/src/data/people/vnphanquang/og.en.jpg
  sites/sveltevietnam.dev/src/data/people/vnphanquang/og.vi.jpg
  sites/sveltevietnam.dev/src/data/people/vnphanquang/pop-image.png
  sites/sveltevietnam.dev/src/lib/components/avatar/Avatar.svelte
  sites/sveltevietnam.dev/src/routes/(site)/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

style: adjust codeblock background color on light mode
  packages/css/src/typography.css
Due: stylelint

chore(sveltevietnam.dev): add link to people page to footer and page menu
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

style: tune border-width to 1.5px for inputs
  packages/css/src/components/c-btn/c-btn.css
  packages/css/src/components/c-checkbox.css
  packages/css/src/components/c-radio.css
  packages/css/src/components/c-text-input.css
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

refactor: extract email registration form UI for resuability
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/forms/email-registration/EmailRegistrationForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/email-registration/index.ts
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): extract bg-gradient-primary-intro utility
  packages/css/src/theme/index.css
  sites/sveltevietnam.dev/src/lib/components/blog-listing-intro/BlogListingIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): automatically load domain data ids via import.meta.glob keys
  sites/sveltevietnam.dev/src/data/blog/categories/ids.ts
  sites/sveltevietnam.dev/src/data/blog/categories/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/types.ts
  sites/sveltevietnam.dev/src/data/blog/posts/ids.ts
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/blog/posts/types.ts
  sites/sveltevietnam.dev/src/data/blog/series/ids.ts
  sites/sveltevietnam.dev/src/data/blog/series/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/types.ts
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/data/events/types.ts
  sites/sveltevietnam.dev/src/data/people/index.ts
  sites/sveltevietnam.dev/src/data/people/types.ts
Due: eslint, prettier --write

fix(libs/i18n): await dangling promise
  packages/i18n/src/internals/parse.js
Due: eslint, prettier --write

fix(libs/i18n): allow parsing empty yaml value
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/utils.js
Due: eslint, prettier --write

feat(libs/i18n): cli - allow taking a glob pattern for multiple locale dirs
  packages/i18n/src/cli.js
Due: eslint, prettier --write

refactor(libs/i18n): deprecate build module, use transform, lint, and parse directly
  packages/i18n/src/cli.js
  packages/i18n/src/internals/lint.js
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/private.d.ts
  packages/i18n/src/internals/transform.js
Due: eslint, prettier --write

feat(libs/i18n): vite plugin - support glob pattern for multiple locale directories
  packages/i18n/src/cli.js
  packages/i18n/src/internals/build.js
  packages/i18n/src/vite.js
Due: eslint, prettier --write

style(sveltevietnam.dev): add gradient bg to Footer
  packages/css/src/components/index.css
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): add c-link-box component
  packages/css/src/components/c-link-box.css
  packages/css/src/theme/colors/index.css
  packages/markdown/src/components/file-icon/icons.css
Due: stylelint

fix(libs/i18n): make sure pattern in collect step is trimmed
  packages/i18n/src/internals/collect.js
Due: eslint, prettier --write

refactor(sveltevietnam.dev): migrate the 2023 online meetup page back in
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/locales/en.yaml
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/event-gallery/EventGallery.Container.svelte
  sites/sveltevietnam.dev/src/lib/components/event-gallery/EventGallery.Image.svelte
  sites/sveltevietnam.dev/src/lib/components/event-gallery/index.ts
  sites/sveltevietnam.dev/src/lib/components/event-timeline/EventTimeline.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/event-timeline/EventTimeline.List.svelte
  sites/sveltevietnam.dev/src/lib/components/event-timeline/index.ts
  sites/sveltevietnam.dev/src/lib/components/person/Person.svelte
  sites/sveltevietnam.dev/src/lib/components/person/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/events/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): EventListItem - align columns on @3xl variant
  sites/sveltevietnam.dev/src/lib/components/event-list-item/EventListItem.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): switch definition strategy to function for people data
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/people/index.ts
  sites/sveltevietnam.dev/src/data/people/locales/en.yaml
  sites/sveltevietnam.dev/src/data/people/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/people/trongnguyen24/index.ts
  sites/sveltevietnam.dev/src/data/people/types.ts
  sites/sveltevietnam.dev/src/data/people/vnphanquang/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/people/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.server.ts
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): link people & events
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/data/events/types.ts
  sites/sveltevietnam.dev/src/lib/components/event-list-item/index.ts
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListing.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/categories/[category]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/series/[series]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n): better public interface naming, added `isMessaage` helper
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/internals/transform.js
  packages/i18n/src/runtime/T.svelte
  packages/i18n/src/runtime/T.svelte.d.ts
  packages/i18n/src/runtime/index.js
  packages/i18n/src/runtime/types.public.d.ts
Due: eslint, prettier --write, stylelint

style(css): move all theme declaration for reactive spacing into theme/index.css
  packages/css/src/theme/index.css
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

fix(i18n): correctly set $t marker for messages
  packages/i18n/src/runtime/index.js
Due: eslint, prettier --write

refactor(sveltevietnam.dev): migrate spring 2024 meetup event page; added recap & completed images section
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/e-ticket.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/early-members.jpeg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/group.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/quiz-winners.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/settings-left.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/settings-right.jpeg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/sharing-trongnguyen24-closing.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/sharing-trongnguyen24-opening.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/sharing-vnphanquang.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/images/event/standee.jpg
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/en.yaml
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/types.ts
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/blog-listing-intro/BlogListingIntro.svelte
  sites/sveltevietnam.dev/src/lib/components/event-gallery/EventGallery.Image.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/components/event-timeline/EventTimeline.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/faq/FAQ.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/faq/FAQ.List.svelte
  sites/sveltevietnam.dev/src/lib/components/faq/index.ts
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/blog/SectionBlog.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/SectionEvents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/sponsor/SectionSponsor.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routing.generated.d.ts
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correctly export ids consts for series & categories data
  sites/sveltevietnam.dev/src/data/blog/categories/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/index.ts
Due: eslint, prettier --write

chore: make sure i18n & routing vite plugins run first (enforce: pre)
  packages/i18n/src/internals/utils.js
  packages/i18n/src/vite.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore(sveltevietnam.dev): sync before build
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: approve dependencies build script
  package.json
Due: prettier --write

chore: setup explicit VITE_PUBLIC|PRIVATE env prefix (avoid dropped by intermediate tools such as turborepo)
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/lib/forms/email-registration/EmailRegistrationForm.svelte
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/svelte.config.js
  turbo.json
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): update definition strategy for blog data
  sites/sveltevietnam.dev/src/data/blog/categories/community/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/ecosystem/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/insider/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/svelte-and-kit/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/types.ts
  sites/sveltevietnam.dev/src/data/blog/locales/en.yaml
  sites/sveltevietnam.dev/src/data/blog/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/blog/posts/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231012-svelte-vietnam-from-local-to-global/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231020-lets-write-a-simple-svelte-preprocessor/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/blog/posts/types.ts
  sites/sveltevietnam.dev/src/data/blog/series/behind-the-screen/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/styling-svelte-vietnam/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/types.ts
  sites/sveltevietnam.dev/src/data/people/ids.ts
  sites/sveltevietnam.dev/src/lib/components/blog-post-common-list/BlogPostCommonList.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): improvements to events page, link to past events from home page if TBA
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/events/SectionEvents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/events/+page.svelte
Due: eslint, prettier --write, stylelint

fix: correctly compare slug data (string !== String)
  sites/sveltevietnam.dev/src/data/blog/categories/index.ts
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/index.ts
Due: eslint, prettier --write

perf(sveltevietnam.dev): preload google font css
  sites/sveltevietnam.dev/src/app.html
Due: prettier --write

enhance(sveltevietnam.dev): add sr text to page edit link tooltip button
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/page-edit-link/PageEditLink.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

perf(sveltevietnam.dev): fix imagetools imports and optimize raster images
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/data/blog/posts/index.ts
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/puzzle.png
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/puzzle.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-docs.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-github.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-hack.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-lab.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-playground.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-radio.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-society.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-summit.jpg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/screenshot-svelte-tutorial.jpg
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

perf(sveltevietnam.dev): set sizes for images at resource section on homepage
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
