Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

perf(sveltevietnam.dev): set sizes for images on events listing page
  sites/sveltevietnam.dev/src/data/events/index.ts
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
Due: eslint, prettier --write, stylelint

add tymon3568 profile, not edit og image yet
  sites/sveltevietnam.dev/src/data/people/tymon3568/avatar.jpg
  sites/sveltevietnam.dev/src/data/people/tymon3568/index.ts
  sites/sveltevietnam.dev/src/data/people/tymon3568/og.en.jpg
  sites/sveltevietnam.dev/src/data/people/tymon3568/og.vi.jpg
  sites/sveltevietnam.dev/src/data/people/tymon3568/pop-image.png
Due: eslint, prettier --write

chore(sveltevietnam.dev): adjust pop-image sizing for tymon3568
  sites/sveltevietnam.dev/src/data/people/tymon3568/pop-image.png
Due: none

chore (people): update tymon3568 info
  sites/sveltevietnam.dev/src/data/people/locales/en.yaml
  sites/sveltevietnam.dev/src/data/people/locales/vi.yaml
Due: none

chore (people): update tymon3568 info
  sites/sveltevietnam.dev/src/data/people/locales/vi.yaml
Due: none

perf: optimize svg assets
  packages/css/src/icons/i-sveltevietnam.css
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/assets/images/svg/au-lac.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/chim-lac.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/dong-thai-binh-hung-bao.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/dong.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/sveltevietnam.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/tu-chu.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/tu-nom.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/tu_chu.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/tu_nom.svg
  sites/sveltevietnam.dev/src/preprocess-inline-svg.d.ts
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/SectionIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/images/cone.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/images/disk.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/images/mesh.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/images/pyramid.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/images/rect-washer.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/intro/images/title.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/book.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/box.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/rect-washer.svg
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/images/svelte-society-logo.svg
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/events/+page.svelte
  sites/sveltevietnam.dev/static/favicon.svg
  sites/sveltevietnam.dev/static/safari-pinned-tab.svg
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): hard code origin via env
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/lib/meta/structured/blog.ts
  sites/sveltevietnam.dev/src/lib/meta/structured/organization.ts
  sites/sveltevietnam.dev/src/lib/meta/structured/people.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/categories/[category]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/series/[series]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/events/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/people/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): use utility css from @svelte-put/cloudflare-turnstile
  packages/css/src/components/c-btn/c-btn--outlined.css
  packages/css/src/components/c-btn/c-btn.css
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/forms/email-registration/EmailRegistrationForm.svelte
  sites/sveltevietnam.dev/src/lib/styles/app.css
  stylelint.config.js
Due: eslint, prettier --write, stylelint

chore(pacakges/css): remove * in c-text-* file for windows compat
  packages/css/src/components/c-text.css
  packages/css/src/components/index.css
Due: stylelint

docs(DEVELOPMENT): fix typo to TECHNICAL_REFERENCES
  docs/DEVELOPMENT.md
Due: prettier --write

chore (sveltevietnam.dev): Update people page - file localses en.yaml
  sites/sveltevietnam.dev/src/data/people/locales/en.yaml
Due: none

fix(sveltevietnam.dev): fix aria-label lang resolution for LanguageMenu
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
Due: eslint, prettier --write, stylelint

docs(DEVELOPMENT): add note about env
  docs/DEVELOPMENT.md
Due: prettier --write

chore(sveltevietnam.dev): reroute with lang segment if missing from url
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): set preload for links in Footer
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): temporarily turn off prerendering until routing strategy is matured
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/events/[slug]/+page.server.ts
Due: eslint, prettier --write

fix: correctly resolve path in windows
  packages/i18n/src/cli.js
  packages/i18n/src/internals/collect.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
Due: eslint, prettier --write

style(sveltevietnam.dev): fix compat issue on chrome for drop-cap on resources section of homepage
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
Due: eslint, prettier --write, stylelint

docs(DEVELOPMENT): shift env section to earlier
  docs/DEVELOPMENT.md
Due: prettier --write

docs(DEVELOPMENT): add notes about image optimization
  docs/DEVELOPMENT.md
Due: prettier --write

fix(sveltevietnam.dev): allow CF functions to trigger for all pages
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

enhance(i18n): improve logger consistency
  packages/i18n/src/logger.js
  packages/i18n/src/vite.js
Due: eslint, prettier --write

chore(sveltevietnam.dev): temporarily add explicite dep optimization to prevent reload
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): rename dynamic param of series / categories to :slug for consistency
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/meta/structured/blog.ts
  sites/sveltevietnam.dev/src/lib/routing/utils.js
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/[category]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/categories/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/[series]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/(listing)/series/[slug]/_page/routing.json
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routing.generated.d.ts
Due: eslint, prettier --write, stylelint

chore: remove abundant options hook in i18n & routing vite plugins
  packages/i18n/src/vite.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
Due: eslint, prettier --write

feat(packages/routes): first working version of @sveltevietnam/routes - does not support i18n yet
  packages/routes/package.json
  packages/routes/src/cli.js
  packages/routes/src/index.js
  packages/routes/src/internals/codegen.js
  packages/routes/src/internals/collect.js
  packages/routes/src/internals/transform.js
  packages/routes/src/logger.js
  packages/routes/src/private.d.ts
  packages/routes/src/vite.js
  packages/routes/tsconfig.json
  packages/routes/types/index.d.ts
  packages/routes/types/index.d.ts.map
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: eslint, prettier --write

feat(packages/routes): generate typedef
  packages/routes/src/internals/codegen.js
  packages/routes/src/internals/transform.js
  packages/routes/src/vite.js
Due: eslint, prettier --write

fix(packages/routes): correctly handle optional parameter in codegen output
  packages/routes/src/internals/codegen.js
Due: eslint, prettier --write

feat(packages/routes): support localization for path resolution
  packages/routes/src/internals/codegen.js
  packages/routes/src/internals/transform.js
  packages/routes/src/private.d.ts
  packages/routes/src/vite.js
  packages/routes/types/index.d.ts
  packages/routes/types/index.d.ts.map
Due: eslint, prettier --write

chore(packages/routes): untrack type build output from git
  packages/routes/.gitignore
  packages/routes/types/index.d.ts
  packages/routes/types/index.d.ts.map
Due: eslint, prettier --write

chore:minor wording adjustment for generated content
  packages/i18n/src/internals/codegen.js
  packages/routes/src/internals/codegen.js
  sites/sveltevietnam.dev/src/lib/routing/vite-plugin.js
  sites/sveltevietnam.dev/src/preprocess-inline-svg.d.ts
Due: eslint, prettier --write

feat(packages/routes): support 'names' option and output name getters
  packages/routes/src/internals/codegen/breadcrumbs.js
  packages/routes/src/internals/codegen/index.js
  packages/routes/src/internals/codegen/names.js
  packages/routes/src/internals/codegen/routes.js
  packages/routes/src/internals/codegen/utils.js
  packages/routes/src/internals/transform.js
  packages/routes/src/private.d.ts
  packages/routes/src/vite.js
Due: eslint, prettier --write

feat(packages/routes): support optional breadcrumbs generation
  packages/routes/src/internals/codegen/breadcrumbs.js
  packages/routes/src/internals/codegen/names.js
  packages/routes/src/internals/codegen/routes.js
  packages/routes/src/internals/collect.js
  packages/routes/src/internals/transform.js
  packages/routes/src/internals/utils.js
  packages/routes/src/private.d.ts
  packages/routes/src/vite.js
Due: eslint, prettier --write

fix(packages/routes): correctly split paths during localization merging
  packages/routes/src/vite.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
