Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

feat(www): first draft of page Sponsor
  .changeset/eight-clouds-ring.md
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/images/key-visuals.svg
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore: add back sponsor page to navigation lists
  sites/www/src/lib/shared/services/navigation/index.ts
Due: eslint, prettier --write

refactor(www): remove the outdated colorScheme prop for MailRegistrationForm
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): remove the spash node after on animation end
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
Due: eslint, prettier --write, stylelint

refactor(www): move sponsor out of prototype phase
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(www): update dependencies
  .github/workflows/deploy_www.yaml
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

refactor(www): use inline-src svg and css classes for logo
  .changeset/fair-toys-punch.md
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
  sites/www/src/lib/client/components/SvelteVietnamLogo/SvelteVietnamLogo.svelte
  sites/www/src/lib/client/components/SvelteVietnamLogo/index.ts
  sites/www/src/lib/client/styles/components/index.cjs
  sites/www/src/lib/client/styles/components/logo.css
  sites/www/src/lib/shared/assets/images/svg/sveltevietnam.svg
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

refactor(www): refactor SplashScreen out of the hydration zone and progressively enable JS animation
  .changeset/five-carpets-bake.md
  package.json
  sites/www/src/app.html
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/ConsecutiveFadeUpIntro/ConsecutiveFadeUpIntro.svelte
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
  sites/www/src/lib/client/components/SplashScreen/index.ts
  sites/www/src/lib/client/contexts/splash.ts
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/components/intro.css
  sites/www/src/lib/client/styles/globals/custom-selectors.css
  sites/www/src/lib/client/styles/splash.css
  sites/www/src/routes/[[lang=lang]]/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): notify if slow connection (hydration 2s after splash)
  .changeset/honest-lemons-collect.md
  sites/www/src/app.html
  sites/www/src/lib/client/contexts/splash.ts
  sites/www/src/lib/client/styles/globals/custom-selectors.css
  sites/www/src/lib/shared/services/i18n/translations/notification/en.ts
  sites/www/src/lib/shared/services/i18n/translations/notification/vi.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): better mail list registration section on blog layout
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): mark completed Open Collective roadmap task
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

refactor(www): consistent nested constant naming (all uppercase)
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/routes/(api)/.well-known/webfinger/+server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): update roadmap with og image task
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write

feat(www): dedicated OG images
  .changeset/long-insects-turn.md
  sites/www/src/lib/shared/assets/images/og/og-blog.png
  sites/www/src/lib/shared/assets/images/og/og-coc.en.png
  sites/www/src/lib/shared/assets/images/og/og-coc.vi.png
  sites/www/src/lib/shared/assets/images/og/og-events.en.png
  sites/www/src/lib/shared/assets/images/og/og-events.vi.png
  sites/www/src/lib/shared/assets/images/og/og-home.png
  sites/www/src/lib/shared/assets/images/og/og-roadmap.en.png
  sites/www/src/lib/shared/assets/images/og/og-roadmap.vi.png
  sites/www/src/lib/shared/assets/images/og/og-sponsor.en.png
  sites/www/src/lib/shared/assets/images/og/og-sponsor.vi.png
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.server.ts
  sites/www/static/images/og/home.webp
Due: eslint, prettier --write, stylelint

fix(www): trigger toc rerun during blog post switching
  .changeset/plenty-rats-float.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): fix top margin for TBA in 'Sponsor' section of homepage
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

refactor: switch to jpg for OG images (better optimization)
  sites/www/src/lib/shared/assets/images/og/og-blog.jpg
  sites/www/src/lib/shared/assets/images/og/og-blog.png
  sites/www/src/lib/shared/assets/images/og/og-coc.en.jpg
  sites/www/src/lib/shared/assets/images/og/og-coc.en.png
  sites/www/src/lib/shared/assets/images/og/og-coc.vi.jpg
  sites/www/src/lib/shared/assets/images/og/og-coc.vi.png
  sites/www/src/lib/shared/assets/images/og/og-events.en.jpg
  sites/www/src/lib/shared/assets/images/og/og-events.en.png
  sites/www/src/lib/shared/assets/images/og/og-events.vi.jpg
  sites/www/src/lib/shared/assets/images/og/og-events.vi.png
  sites/www/src/lib/shared/assets/images/og/og-home.jpg
  sites/www/src/lib/shared/assets/images/og/og-home.png
  sites/www/src/lib/shared/assets/images/og/og-jobs.en.jpg
  sites/www/src/lib/shared/assets/images/og/og-jobs.vi.jpg
  sites/www/src/lib/shared/assets/images/og/og-roadmap.en.jpg
  sites/www/src/lib/shared/assets/images/og/og-roadmap.en.png
  sites/www/src/lib/shared/assets/images/og/og-roadmap.vi.jpg
  sites/www/src/lib/shared/assets/images/og/og-roadmap.vi.png
  sites/www/src/lib/shared/assets/images/og/og-sponsor.en.jpg
  sites/www/src/lib/shared/assets/images/og/og-sponsor.en.png
  sites/www/src/lib/shared/assets/images/og/og-sponsor.vi.jpg
  sites/www/src/lib/shared/assets/images/og/og-sponsor.vi.png
  sites/www/src/routes/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.server.ts
Due: eslint, prettier --write, stylelint

style(www): delay KV with scrub by ScrollTrigger
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): clean up duplicated humans.txt link tag
  sites/www/src/app.html
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

refactor: global lang context
  .changeset/fluffy-turtles-report.md
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
  sites/www/src/lib/client/components/ExternalBlogPostItem/ExternalBlogPostItem.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.wireframe.svelte
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/contexts/lang.ts
  sites/www/src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/client/notifications/DiscordNotification.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionPosts.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

feat(www): first draft, intial design of Jobs page
  .changeset/three-masks-return.md
  sites/www/src/lib/client/components/JobCard/JobCard.svelte
  sites/www/src/lib/client/styles/components/action-card.css
  sites/www/src/lib/client/styles/components/container.css
  sites/www/src/lib/client/styles/components/index.cjs
  sites/www/src/lib/client/styles/components/typography.css
  sites/www/src/lib/client/styles/theme.cjs
  sites/www/src/lib/client/styles/utilities/index.cjs
  sites/www/src/lib/shared/assets/images/fallback/job.webp
  sites/www/src/lib/shared/constants/index.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/jobs/_page/images/key-visuals.svg
  sites/www/src/routes/[[lang=lang]]/jobs/_page/images/key-visuals.webp
  sites/www/src/routes/[[lang=lang]]/jobs/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/jobs/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/jobs/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

style(www): code-of-conduct page design update
  .changeset/calm-lies-compare.md
  sites/www/src/lib/shared/assets/images/svg/icon/quote-close.svg
  sites/www/src/lib/shared/assets/images/svg/icon/quote-open.svg
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

fix(www): semantic - log role should not be set for aside (polypane detection)
  sites/www/src/lib/client/notifications/NotificationPortal.svelte
Due: eslint, prettier --write, stylelint

style(www): code-of-conduct quote - remove quote character in favor for svg decoration
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/_page/translation/vi.ts
Due: eslint, prettier --write

style(www): change typography styles to rem
  sites/www/src/lib/client/styles/components/typography.css
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): EventCard - refactor to use more tailwindcss
  sites/www/src/lib/client/components/EventCard/EventCard.svelte
Due: eslint, prettier --write, stylelint

refactor(www): LanguageNav - use svg for language label
  sites/www/src/lib/client/components/Header/components/LanguageNav.svelte
Due: eslint, prettier --write, stylelint

refactor(www): deprecate all applicable fixed-px texts
  sites/www/src/lib/client/components/ContributorCard/ContributorCard.svelte
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/client/components/JobCard/JobCard.wireframe.svelte
  sites/www/src/lib/client/modals/WireframeVersionNotice/WireframeVersionNotice.svelte
  sites/www/src/lib/client/styles/components/page.css
  sites/www/src/lib/client/styles/theme.cjs
  sites/www/src/routes/+error.svelte
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  sites/www/src/routes/[[lang=lang]]/_page/page.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): center text in TBA sections
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
