Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(www): change links to www subdomain
  .changeset/soft-clocks-sin.md
  .github/workflows/deploy_www.yaml
  CONTRIBUTING.md
  README.md
  internals/isc/package.json
  internals/utils/package.json
  package.json
  services/discord/package.json
  services/mailer/package.json
  services/mailer/src/routes/+page.svelte
  sites/www/CHANGELOG.md
  sites/www/package.json
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/mocks/index.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/(api)/.well-known/security.txt/security.template.txt
  sites/www/src/routes/(api)/.well-known/webfinger/+server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/events/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/jobs/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/roadmap/_page/translation/vi.ts
  sites/www/src/routes/[[lang=lang]]/sponsor/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.server.ts
  sites/www/static/robots.txt
  sites/www/static/site.webmanifest
Due: eslint, prettier --write, stylelint

style(www): update theme-color meta tag
  sites/www/src/app.html
Due: prettier --write

chore: update dependencies
  .github/workflows/changesets.yaml
  .github/workflows/codeql.yml
  .github/workflows/deploy_discord.yaml
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
  .github/workflows/unit_tests.yaml
  internals/isc/package.json
  internals/utils/package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

fix(www): set og image as absolute url
  .github/workflows/deploy_www.yaml
  sites/www/src/app.html
  sites/www/src/routes/+layout.svelte
  sites/www/static/site.webmanifest
Due: eslint, prettier --write, stylelint

refactor(www): set ColorScheme as global type
  sites/www/.eslintrc.cjs
  sites/www/src/app.d.ts
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/components/Header/components/ColorSchemeIcon.svelte
  sites/www/src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/contexts/color-scheme.ts
  sites/www/src/lib/client/modals/QRCode/QRCode.svelte
  sites/www/src/lib/shared/types/index.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

style(www): add scrub delay for intro section on homepage
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/animation.ts
Due: eslint, prettier --write

chore: create FUNDING.yml
  .github/FUNDING.yml
Due: none

style(www): add scrub delay to cards in intro section
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionIntro/animation.ts
Due: eslint, prettier --write

feat(www): allow highlighting lines in code blocks via shikiji
  sites/www/mdsvex.config.js
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/client/styles/code.css
  sites/www/src/lib/client/styles/heading-anchor.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(www): callout css component (usage in blog posts)
  sites/www/src/lib/client/styles/components/callout.css
  sites/www/src/lib/client/styles/components/index.cjs
Due: eslint, prettier --write, stylelint

feat(www): VI for new blog post 'Behind the Sreen: Dark Mode ...'
  .changeset/smooth-cars-swim.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/devtools-ssr-html.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/primitive-color-palette.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/semantic-color-palette.webp
  sites/www/src/routes/[[lang=lang]]/blog/_page/data.ts
Due: eslint, prettier --write, stylelint

style(www): blog post layout - put unsupported lang notice in callout block
  sites/www/src/lib/client/styles/components/callout.css
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
Due: eslint, prettier --write, stylelint

style(www): add optional word count to each blog post
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): EN for new blog post 'Behind the Sreen: Dark Mode ...'
  .changeset/mighty-news-greet.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
Due: eslint, prettier --write, stylelint

chore(www): completely remove splash element after animation completes
  sites/www/src/app.html
Due: prettier --write

style(www): apply new OG image & thumbnail for 'Behind the Screen' blog series
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/thumbnail.webp
Due: eslint, prettier --write, stylelint

feat(www): link between parts of blog series 'Behind the Screen'
  .changeset/gorgeous-mugs-mate.md
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/content.vi.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(www): robots.txt syntax (path should start with /)
  sites/www/static/robots.txt
Due: none

chore(www): setup maskable icons
  sites/www/src/app.html
  sites/www/static/images/favicon/android/android-chrome-144x144.png
  sites/www/static/images/favicon/android/android-chrome-256x256.png
  sites/www/static/images/favicon/android/android-chrome-36x36.png
  sites/www/static/images/favicon/android/android-chrome-384x384.png
  sites/www/static/images/favicon/android/android-chrome-48x48.png
  sites/www/static/images/favicon/android/android-chrome-512x512.png
  sites/www/static/images/favicon/android/android-chrome-72x72.png
  sites/www/static/images/favicon/android/android-chrome-96x96.png
  sites/www/static/images/favicon/android/maskable_icon_x128.png
  sites/www/static/images/favicon/android/maskable_icon_x192.png
  sites/www/static/images/favicon/android/maskable_icon_x384.png
  sites/www/static/images/favicon/android/maskable_icon_x48.png
  sites/www/static/images/favicon/android/maskable_icon_x512.png
  sites/www/static/images/favicon/android/maskable_icon_x72.png
  sites/www/static/images/favicon/android/maskable_icon_x96.png
  sites/www/static/images/favicon/favicon-192x192.png
  sites/www/static/site.webmanifest
Due: prettier --write

enhance(www): use svg for events page KV to switch colors based on theme
  sites/www/src/routes/[[lang=lang]]/events/+page.svelte
  sites/www/src/routes/[[lang=lang]]/events/_page/images/key-visuals.svg
Due: eslint, prettier --write, stylelint

enhance(www): ToBeAnnounced component - use svg for figure to switch color based on theme
  sites/www/src/lib/client/components/ToBeAnnounced/ToBeAnnounced.svelte
  sites/www/src/lib/client/components/ToBeAnnounced/tba-figure.svg
  sites/www/src/lib/client/components/ToBeAnnounced/tba-figure.webp
Due: eslint, prettier --write, stylelint

enhance(www): image optimization with the new @sveltejs/enhanced-img
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/client/components/BlogPostItem/BlogPostItem.svelte
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231009-behind-the-screen-a-yes-code-blog-of-svelte-vietnam/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/images/thumbnail.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231012-svelte-vietnam-from-local-to-global/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/images/thumbnail.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231020-lets-write-a-simple-svelte-preprocessor/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/data.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/thumbnail.png
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/images/thumbnail.webp
  sites/www/src/routes/[[lang=lang]]/blog/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/images/key-visuals.png
  sites/www/src/routes/[[lang=lang]]/blog/_page/images/key-visuals.webp
  sites/www/src/routes/[[lang=lang]]/jobs/+page.svelte
  sites/www/src/routes/[[lang=lang]]/jobs/_page/images/key-visuals.png
  sites/www/src/routes/[[lang=lang]]/jobs/_page/images/key-visuals.svg
  sites/www/src/routes/[[lang=lang]]/jobs/_page/images/key-visuals.webp
  sites/www/vite.config.ts
Due: eslint, prettier --write, stylelint

chore(www): set start_url in manifest as '.'
  sites/www/static/site.webmanifest
Due: none

chore(www): fix sharp error in github action
  .github/workflows/deploy_www.yaml
  package.json
Due: prettier --write

chore(www): update dependencies, fix misc accessibility issues
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/blog/_page/authors.ts
  sites/www/src/routes/[[lang=lang]]/blog/_page/images/authors/vnphanquang.png
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: update dependencies
  pnpm-lock.yaml
  sites/www/package.json
Due: prettier --write

style(www): MailRegistrationForm - set relative position to keep error in place
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
Due: eslint, prettier --write, stylelint

style(www): csscc-tag - reset line-height and set manual y padding
  sites/www/src/lib/client/styles/components/tag.css
Due: stylelint

chore(www): wording adjustments for blog post 'Behind the Screen: Dark Mode'
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.en.md.svelte
  sites/www/src/routes/[[lang=lang]]/blog/(posts)/20231110-behind-the-screen-dark-mode-with-sveltekit-tailwindcss-and-postcss/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(www): set a 7-day expiration for cookies
  sites/www/src/hooks.server.ts
  sites/www/src/lib/client/contexts/color-scheme.ts
Due: eslint, prettier --write
