Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor: correctly declare build info global constants & add to root layout data
  src/app.d.ts
  src/routes/+layout.server.ts
Due: eslint, prettier --write

style: consolidate & coordinate animation of AnimatedArrowCircle & clickable titles
  src/lib/client/components/AnimatedArrowCircle/AnimatedArrowCircle.svelte
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/JobCard/JobCard.svelte
  src/lib/client/styles/app.css
  src/lib/client/styles/theme.cjs
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/page.css
Due: eslint, prettier --write, stylelint

chore: setup eslint-plugin-svelte (new official)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/lib/client/components/EventCard/EventCard.svelte
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/components/ProjectCard/ProjectCard.svelte
  src/routes/+layout.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.svelte
Due: eslint, prettier --write, stylelint

feat(home): split text fading in up on intro for section titles
  src/lib/client/actions/intersect.ts
  src/lib/client/actions/splitFade.ts
  src/lib/client/components/SplitFadeText/SplitFadeText.svelte
  src/lib/client/components/SplitFadeText/index.ts
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  src/routes/[[lang=lang]]/_page/page.css
Due: eslint, prettier --write, stylelint

style(home): intro section - initial flying in animation for backdrop shapes
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

style(home.intro): fix height for cards
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

feat(home.intro): add intro & scrolling animation
  src/lib/client/actions/intersect.ts
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

chore: apply new job card image fallback
  src/lib/shared/assets/images/fallback/job.png
  src/lib/shared/mocks/index.ts
  src/lib/shared/mocks/job-image.jpg
Due: eslint, prettier --write

style(home): intro section - alternating rotating animation
  src/routes/[[lang=lang]]/_page/components/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

refactor: [intermadiate - not a working state] deprecate APP_ROUTE_TREE in favor of plain pure function helpers
  package.json
  pnpm-lock.yaml
  src/lib/client/components/Header/components/ColorSchemeMenu.svelte
  src/lib/client/components/Header/components/PageNav.svelte
  src/lib/client/components/Header/translation/en.ts
  src/lib/client/components/Header/translation/vi.ts
  src/lib/shared/constants/index.ts
  src/lib/shared/services/i18n/translations/color-scheme/en.ts
  src/lib/shared/services/i18n/translations/color-scheme/index.ts
  src/lib/shared/services/i18n/translations/color-scheme/vi.ts
  src/lib/shared/services/i18n/translations/navigation/en.ts
  src/lib/shared/services/i18n/translations/navigation/index.ts
  src/lib/shared/services/i18n/translations/navigation/vi.ts
  src/lib/shared/services/navigation/index.ts
  src/routes/(api)/rss.xml/+server.ts
  src/routes/(api)/sitemap.xml/+server.ts
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  src/routes/[[lang=lang]]/_page/components/SectionEvents.svelte
  src/routes/[[lang=lang]]/_page/components/SectionImpact.svelte
  src/routes/[[lang=lang]]/_page/components/SectionJobs.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

feat(components.Footer): complete with initial design
  src/lib/client/components/Footer/Footer.legacy.svelte
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/components/Footer/translation/en.ts
  src/lib/client/components/Footer/translation/vi.ts
  src/lib/client/styles/components/link.css
  src/lib/shared/assets/images/svg/google/mail.svg
  src/lib/shared/assets/images/svg/simpleicon/discord.svg
  src/lib/shared/services/i18n/translations/navigation/en.ts
  src/lib/shared/services/i18n/translations/navigation/vi.ts
  src/lib/shared/services/navigation/index.ts
  src/routes/[[lang=lang]]/+layout.svelte
  src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

chore: update dependencies
  package.json
  pnpm-lock.yaml
  src/routes/(api)/.well-known/security.txt/+server.ts
  src/routes/(api)/.well-known/webfinger/+server.ts
  svelte.config.js
Due: eslint, prettier --write

refactor: set /* as alias of /vi/*, fix cloudflare fallback build error
  src/hooks.server.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/jobs/+page.server.ts
  src/routes/[[lang=lang]]/people/+page.server.ts
  src/routes/[[lang=lang]]/sponsor/+page.server.ts
Due: eslint, prettier --write

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

style(home): scrub scrolling animation intro section
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro/animation.ts
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-ellipse.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-polygon.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/community-shape-star.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-ellipse.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-star.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-large.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-shape-triangle-small.png
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-svelte.svg
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-sveltevietnam.svg
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-title.svg
  src/routes/[[lang=lang]]/_page/components/SectionIntro/images/intro-vietnam.svg
Due: eslint, prettier --write, stylelint

style(home): adjust reasonable x padding for more widths
  src/lib/client/components/Footer/Footer.svelte
  src/lib/client/components/Header/Header.svelte
  src/lib/client/components/Header/components/PageNav.svelte
  src/lib/client/styles/components/container.css
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
Due: eslint, prettier --write, stylelint

style(home): better timing & consistency for intro scrolling animation
  src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro/animation.ts
Due: eslint, prettier --write, stylelint

style(home): add x direciton parallax for community shapes
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
Due: eslint, prettier --write, stylelint

refactor: group layout pages still in prototype (wireframe mode - trigger) - resolve #71
  src/routes/[[lang=lang]]/(prototype)/+layout.svelte
  src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/vi.ts
  src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/events/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/events/[slug]/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/events/[slug]/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/events/[slug]/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/events/[slug]/_page/translation/vi.ts
  src/routes/[[lang=lang]]/(prototype)/events/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/events/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/events/_page/translation/vi.ts
  src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/impact/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/impact/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/impact/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/impact/_page/translation/vi.ts
  src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/jobs/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/vi.ts
  src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/people/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/people/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/people/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/people/_page/translation/vi.ts
  src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/sponsor/+page.svelte
  src/routes/[[lang=lang]]/(prototype)/sponsor/_page/translation/en.ts
  src/routes/[[lang=lang]]/(prototype)/sponsor/_page/translation/index.ts
  src/routes/[[lang=lang]]/(prototype)/sponsor/_page/translation/vi.ts
  src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

fix: change language should trigger text update (do not rely on locals in load function)
  src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/events/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/impact/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/jobs/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/people/+page.server.ts
  src/routes/[[lang=lang]]/(prototype)/sponsor/+page.server.ts
Due: eslint, prettier --write

chore: update dependencies & improve cloudflare country detection in hook
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/hooks.server.ts
Due: eslint, prettier --write

chore: remove eslint-plugin-svelte3
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade node & dependencies - #77
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: resolve #74 - consistent & minimal gsap imports
  .lintstagedrc.json
  src/lib/3rd/gsap.ts
  src/lib/client/actions/splitFade.ts
  src/lib/client/components/SplitFadeText/SplitFadeText.svelte
  src/routes/+layout.server.ts
  src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  src/routes/[[lang=lang]]/_page/components/SectionIntro/animation.ts
  svelte.config.js
Due: eslint, prettier --write, stylelint

chore: run global lint & format
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/[[lang=lang]]/(prototype)/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/[[lang=lang]]/(prototype)/impact/+page.svelte
  sites/sveltevietnam.dev/src/routes/[[lang=lang]]/(prototype)/sponsor/+page.svelte
  sites/sveltevietnam.dev/src/routes/[[lang=lang]]/_page/components/SectionCommunity.svelte
  sites/sveltevietnam.dev/src/routes/[[lang=lang]]/_page/components/SectionIntro/SectionIntro.svelte
  sites/sveltevietnam.dev/static/site.webmanifest
Due: eslint, prettier --write, stylelint

chore: fix stylelint (upgrade version)
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: change main site project name to @sites/www
  sites/www/package.json
Due: prettier --write

feat: init @services/discord
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/discord/.gitignore
  services/discord/package.json
  services/discord/src/app.d.ts
  services/discord/src/server.js
  sites/www/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: update deps
  package.json
  pnpm-lock.yaml
  sites/www/package.json
Due: prettier --write

chore(@services/discord): add .env.development for references
  services/discord/.env.development
Due: none

chore(@services/discord): type checking with jsconfig. Improve env loading with zod & custom fastify plugin
  pnpm-lock.yaml
  services/discord/jsconfig.json
  services/discord/package.json
  services/discord/src/app.d.ts
  services/discord/src/env.js
  services/discord/src/server.js
Due: eslint, prettier --write

chore: better manage encrypted .env with git-secret
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
  services/discord/.env.development
  services/discord/.env.secret
Due: none

refactor(@services/discord): encapsulate discord logics into own file
  services/discord/package.json
  services/discord/src/app.d.ts
  services/discord/src/discord.js
  services/discord/src/env.js
  services/discord/src/server.js
Due: eslint, prettier --write
