Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

chore(recruit): cap description data field to avoid abuse
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/schema.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/schema.ts
Due: eslint, prettier --write

chore(recruit): improve heading of for_all section on landing page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

refactor(backend): try lazy init child services
  workers/backend/src/worker.ts
Due: eslint, prettier --write

refactor(backend): extract jwt logics to a child service
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/jwt.ts
  workers/backend/src/utils/jwt.ts
  workers/backend/src/worker.ts
Due: eslint, prettier --write

style(www): improve responsive column sizing in web mail page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(recruit): display status, link to public page when active (posting detail page)
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(backend): allow quick approving job posting in admin email
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/index.ts
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/template.mjml
  workers/backend/src/worker.ts
Due: eslint, prettier --write

refactor(recruit+backend): defer email notification queueing to backend for job posting creation
  sites/recruit.sveltevietnam.dev/.env.example
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/worker.ts
Due: eslint, prettier --write

chore(kit): remove peer dependencies specs for kit package, to enable use in backend as well
  packages/kit/package.json
  pnpm-lock.yaml
  workers/backend/package.json
Due: prettier --write

chore: update @svelte-put/qr package
  packages/kit/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(backend): avoid overriding approvedAt if job posting is already approved
  workers/backend/src/data/job-postings/index.ts
Due: eslint, prettier --write

chore: upgrade dependencies
  package.json
  packages/kit/package.json
  packages/markdown/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

test(recruit): do DB mutation for employer in page fixture, to avoid data conflict upon test retries over concurrency
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
Due: eslint, prettier --write

test(recurit): add test case for approving job posting via email to admin
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
Due: eslint, prettier --write

chore(backend): reduce queue batch timeout to 0 in local envs
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

test(recruit): on cleanup for tests with authenticated employer fixture, navigate back to site if not already there
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
Due: eslint, prettier --write

test(recruit): enable the capacity to run uat without automatically building & starting dev servers
  sites/recruit.sveltevietnam.dev/README.md
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/playwright.config.ts
Due: eslint, prettier --write

chore(backend): cleanup -wal & -shm in dev D1 util
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-backend.ts
  workers/backend/src/database/dev.ts
Due: eslint, prettier --write

refactor(recruit): fetch description lazily when needed
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.server.ts
  workers/backend/src/data/employers/index.ts
Due: eslint, prettier --write, stylelint

test(recruit): start test with authenticated employer fixutre in isolated context
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
Due: eslint, prettier --write

perf(recruit): turn on session data cookie cache to avoid hitting database too often
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
Due: eslint, prettier --write

chore(www,recruit): hardcode V1 in version string to and set package.json version field to semver
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/svelte.config.js
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

chore(backend+recruit): extend boot:env scripts to also generate .env.test
  sites/recruit.sveltevietnam.dev/README.md
  sites/recruit.sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

test(recruit): improve repeatability
  sites/recruit.sveltevietnam.dev/tests/001-authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
Due: eslint, prettier --write

feat(recruit+backend): send email to employer after posting is approved
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/mjml/templates/ids.ts
  workers/backend/src/mjml/templates/index.ts
  workers/backend/src/mjml/templates/recruit-employer-job-posting-approved/en.mjml
  workers/backend/src/mjml/templates/recruit-employer-job-posting-approved/index.ts
  workers/backend/src/mjml/templates/recruit-employer-job-posting-approved/vi.mjml
  workers/backend/src/worker.ts
Due: eslint, prettier --write

add blog post people-of-svelte quang-design
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/metadata.ts
  sites/sveltevietnam.dev/src/data/people/quang-design/avatar.jpg
  sites/sveltevietnam.dev/src/data/people/quang-design/index.ts
  sites/sveltevietnam.dev/src/data/people/quang-design/pop-image.png
Due: eslint, prettier --write, stylelint

chore(www): add authors, remove placeholders & empty lines, fix typo - quang-n people-of-svelte blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/metadata.ts
  sites/sveltevietnam.dev/src/data/people/quang-design/index.ts
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

fix(i18n): make sure yaml files are read from absolute path
  packages/i18n/src/internals/collect.js
Due: eslint, prettier --write

refactor(i18n): rescope re-exports for utils subpackage
  packages/i18n/src/language.js
  packages/i18n/src/utils/index.js
  packages/i18n/src/utils/lang-var/index.js
  packages/i18n/src/utils/lang-var/types.public.d.ts
  packages/i18n/src/utils/lang-var/types.public.js
  packages/i18n/src/utils/url/index.js
Due: eslint, prettier --write

feat(blog): highlight active heading
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

feat(i18n): add new experimental flattenRecursiveRecord util method with unit tests
  packages/i18n/src/here-be-dragon/utils/recursive-record/flatten-recursive-record.js
  packages/i18n/src/here-be-dragon/utils/recursive-record/flatten-recursive-record.test.ts
  packages/i18n/src/here-be-dragon/utils/recursive-record/index.js
  packages/i18n/src/here-be-dragon/utils/recursive-record/types.public.d.ts
  packages/i18n/src/here-be-dragon/utils/recursive-record/types.public.js
Due: eslint, prettier --write

fix: correct git branch name in contentEditUrl
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
Due: eslint, prettier --write

fix: update links from V1 back to main
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250610-site-wide-search-with-pagefind-for-sveltekit-ssr-sites/content/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/sop/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/code-block/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/en.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/_page/content/syntax/vi.md.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/[slug]/+page.server.ts
Due: eslint, prettier --write, stylelint

style: move `:target` style to css package and into base layer
  packages/css/src/base.css
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: stylelint

style(www): BlogNewsletter - apply style to heading text when associated heading tag matches :target
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
Due: eslint, prettier --write, stylelint
