Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(www): simplify i18n in events page with new implementation [Skip CI]
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in design page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in people pages with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in roadmap page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/milestone/Milestone.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/tasks/Tasks.Table.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in settings page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in blog index page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in mail page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

docs(i18n): instruct to pass args for message with params in TRemoteProps
  packages/i18n-new/src/runtime/T/types.public.d.ts
Due: eslint, prettier --write

refactor(www): simplify i18n in jobs pages with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in sponsor page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

chore: add heading for q&a section in quang-n blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20251017-quang-n-blending-branding-svelte-and-ai-curiosity/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

fix(www): broken fields in sitemap.xml endpoint
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/+server.ts
Due: eslint, prettier --write

refactor(www): simplify i18n in blog details page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in blog listing pages with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in blog write page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): replace import path for i18n messages in load functions
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.server.ts
Due: eslint, prettier --write

style(www): wrap author date line in blog listing item if too long
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
Due: eslint, prettier --write, stylelint

chore(www): remove old i18n package from dependencies
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

fix(www): add back split text on subtitle of homepage
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade svelte & kit
  packages/i18n-new/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

refactor(www): update the rest of old i18n usages to new implementation
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/locales/en.yaml
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/metadata.ts
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/en.yaml
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/locales/vi.yaml
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/metadata.ts
  sites/sveltevietnam.dev/src/lib/components/blog-post-collection-list-item/BlogPostCollectionListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/event-timeline/EventTimeline.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/faq/FAQ.Item.svelte
  sites/sveltevietnam.dev/src/lib/components/list-message/ListMessage.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/schema.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/components/BlueskyComments.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/tasks/Tasks.Row.svelte
Due: eslint, prettier --write, stylelint

fix(i18n): create a proxy component as workaround to await with @html
  packages/i18n-new/src/runtime/T/MaybeHtml.svelte
  packages/i18n-new/src/runtime/T/T.svelte
Due: eslint, prettier --write, stylelint

fix(www): exclude external events from sitemap
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sitemap.xml/+server.ts
Due: eslint, prettier --write

fix(www): avoid referecing undefined containerEl binding on scroll (blog details page)
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): turn on Cloudflare nodejs compat flag
  sites/sveltevietnam.dev/wrangler.json
Due: prettier --write

chore(www): remove old locales files
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

refactor(i18n+recurit): set up new i18n entries
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

refactor(i18n+recurit): move new i18n messages for components.footer to new location
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: none

chore(i18n+www): change footer.about.title key -> footer.about.heading
  packages/kit/src/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: eslint, prettier --write, stylelint

chore(i18n+www): move some common messages to kit
  packages/kit/src/locales/en.yaml
  packages/kit/src/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: none

chore(kit): turn off reload when switching lang (problem seems to be fixed in latest svelte & kit releases)
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recurit): move new i18n messages for rich-text-editor, account-menu, and sponsor-reminder components to new location
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/sponsor-reminder/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/sponsor-reminder/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: none

refactor(i18n+recruit): migrate i18n in AccountMenu component to new implementation
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in SponsorReminder component to new implementation
  sites/recruit.sveltevietnam.dev/src/lib/components/sponsor-reminder/SponsorReminder.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recurit): move new i18n messages for inputs & errors to new entry files
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: none

refactor(i18n+recurit): move new i18n messages for pages to colocate at local
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/welcome/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/_local/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/_local/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/_local/locales/vi.yaml
Due: none

fix(recruit+i18n): fixup rich-text-editor i18n locale files
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/locales/en.yaml
Due: none

refactor(i18n+recruit): migrate i18n in RichTextEditor components to new implementation
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/DialogHelp.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/Toolbar.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarBlockTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarIconButton.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarInlineTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/CalloutStatusDropdown.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/FloatingLinkEditor.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+recruit): migrate i18n in homepage to new implementation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(recruit): turn on experimental svelte async and sveltekit remoteFunction
  sites/recruit.sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write
