Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

feat(sveltevietnam.dev): new blog post - async dialog
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/confirmation-dialog.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/dialog.ts
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/layout.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/usage.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/metadata.ts
Due: eslint, prettier --write, stylelint

chore(backend): skip path check for d1 in miniflare if in development mode
  workers/backend/drizzle.config.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): use experimental enhance-dialog from @svelte-put/async-stack
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/dialogs/components/qr-code-dialog/QrCodeDialog.svelte
  sites/sveltevietnam.dev/src/lib/dialogs/components/search-dialog/SearchDialog.svelte
  sites/sveltevietnam.dev/src/lib/dialogs/enhanced-dialog.js
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): update async dialog blog post about usage of the new experimental enhanceDialog from async-stack
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/confirmation-dialog.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/example/dialog.ts
Due: eslint, prettier --write, stylelint

enhance(sveltevietnam.dev): render consistent label for checkboxes and dropdown triggers
  packages/markdown/src/components/btn-collapse/BtnCollapse.svelte
  packages/markdown/src/components/btn-fullscreen/BtnFullscreen.svelte
  packages/markdown/src/components/locales-context/LocalesContext.svelte.d.ts
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): prevent link focus offset from overflowing in breadcrumbs
  sites/sveltevietnam.dev/src/lib/components/breadcrumbs/Breadcrumbs.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): edit content - async dialog blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): experiment with quick nav bar in blog post page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): mistake in code example of async-modal blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250729-async-dialog-modal-pattern-in-svelte-land/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

v1-add-roadmap-page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/background.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/chim-hac.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/chu-nom.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/dong.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/environment-protection.svg
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): roadmap page - add milestone names
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): roadmap page - configure pagefind indexing
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): support dark mode within roadmap svgs
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/assets/images/svg/chim-lac.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/dong-thai-binh-hung-bao.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/tu-chu.svg
  sites/sveltevietnam.dev/src/lib/assets/images/svg/tu-nom.svg
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): roadmap page - extract patterns into local componnets
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/milestone/Milestone.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/milestone/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/tasks/Tasks.Row.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/tasks/Tasks.Table.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/tasks/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/background.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/chim-hac.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/chu-nom.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/dong.svg
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): put back roadmap milestone kv images
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): roadmap page - set up intro visual details with html elements
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/components/milestone/Milestone.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): adjust content of the Dong milestone
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): remove dual mode for roadmap page kv
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/_page/images/environment-protection.svg
Due: none

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: switch v1 -> www
  workers/backend/index.html
  workers/backend/wrangler.json
Due: prettier --write

chore(sveltevietnam.dev): add @svelte-put/async-stack/helpers to optimizeDeps explicitly
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): set version as V1
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore(sveltevietnam.dev): remove V1 under construction notificaiton
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/notifications/components/v1-site-construction/V1SiteConstruction.svelte
  sites/sveltevietnam.dev/src/lib/notifications/components/v1-site-construction/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): capitalize Javascript
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
Due: none

fix(sveltevietnam.dev): rerender comments (if any) on client-side navigation between posts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): design page - render logos in dual tones
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

fix(sveltevietnam.dev): avoid loading umami script twice
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): extract bluesky comment section into a separate file
  sites/sveltevietnam.dev/src/lib/backend/server.ts
  sites/sveltevietnam.dev/src/lib/backend/utils.ts
  sites/sveltevietnam.dev/src/lib/bluesky/index.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/components/BlueskyComments.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): gracefully skip fetching bluesky linkage if backend is not connected (helpful in dev)
  sites/sveltevietnam.dev/src/lib/backend/utils.ts
  workers/backend/src/worker.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): avoid fetching bluesky AT on server side
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/_page/components/BlueskyComments.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): access to mail web view page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): pass event to getBackend manually (instead of getRequestEvent), for best platform compatibility
  sites/sveltevietnam.dev/src/lib/backend/utils.ts
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
Due: eslint, prettier --write

fix: move images used in mails to site (avoid cors within iframe in /:lang/mails/:id page)
  sites/sveltevietnam.dev/static/mails/calendars/google.png
  sites/sveltevietnam.dev/static/mails/calendars/microsoft.png
  sites/sveltevietnam.dev/static/mails/calendars/yahoo.png
  sites/sveltevietnam.dev/static/mails/logo.png
  sites/sveltevietnam.dev/static/mails/socials/bluesky.png
  sites/sveltevietnam.dev/static/mails/socials/discord.png
  sites/sveltevietnam.dev/static/mails/socials/facebook.png
  sites/sveltevietnam.dev/static/mails/socials/github.png
  sites/sveltevietnam.dev/static/mails/socials/open-collective.png
  sites/sveltevietnam.dev/static/mails/socials/youtube.png
  workers/backend/src/data/links.ts
  workers/backend/src/data/mails/index.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): turn off cloudflare email obfuscation for mails page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
  sites/sveltevietnam.dev/static/ai.txt
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): upgrade to latest Svelte (app on hydration errors may be able to recover instead of crash)
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix(sveltevietnam.dev): add default value for keywords in create-post script (crash if receive no input)
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

feat(sveltevietnam.dev): add outdate property to BlogPostMetadata (bootstrap-able via create-post script)
  sites/sveltevietnam.dev/scripts/create-post.ts
  sites/sveltevietnam.dev/scripts/helpers.ts
  sites/sveltevietnam.dev/src/data/blog/posts/types.ts
Due: eslint, prettier --write

chore(sveltevietnam.dev): hide link to create job postings temporarily (under development)
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): allow BlogPostMetadata['outdate'] be Date
  sites/sveltevietnam.dev/scripts/create-post.ts
  sites/sveltevietnam.dev/scripts/helpers.ts
  sites/sveltevietnam.dev/src/data/blog/posts/types.ts
Due: eslint, prettier --write
