Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

test(recruit): implement UAT-001-sign-up-and-onboard-employer
  sites/recruit.sveltevietnam.dev/tests/assets/images/image-500x500.jpeg
  sites/recruit.sveltevietnam.dev/tests/assets/images/image-over-1MB.jpeg
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/welcome.ts
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write

test(recruit): abstract mails.openLatest into test-with-backend fixtures
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  workers/backend/package.json
  workers/backend/src/mjml/templates/ids.ts
Due: eslint, prettier --write

test(recruit): add more UATs for signup & login, add test case listing to README
  sites/recruit.sveltevietnam.dev/README.md
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/postings.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/poms/utils.ts
Due: eslint, prettier --write

refactor(recruit): load email expiration time from wrangler env
  sites/recruit.sveltevietnam.dev/src/app.d.ts
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write

feat(recruit): redirect to authenticate page with error on clicking expired link in email
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): switch authenticate output to alert role
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/authenticate/+page.svelte
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
Due: eslint, prettier --write, stylelint

test(recruit): add test case for expired login email
  sites/recruit.sveltevietnam.dev/README.md
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/wrangler.json
Due: eslint, prettier --write

test(recruit): add prefix per test suite, and list only test suite in README
  sites/recruit.sveltevietnam.dev/README.md
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
Due: eslint, prettier --write

test(recruit): change test-with-backend fixtures to worker scope
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
Due: eslint, prettier --write

test(recruit): bring lang option into test-with-backend context
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/test-with-backend.ts
Due: eslint, prettier --write

test(recruit): use faker for data generation via test fixtures
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/tests/_db.setup.ts
  sites/recruit.sveltevietnam.dev/tests/_db.teardown.ts
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/base.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
  sites/recruit.sveltevietnam.dev/tests/utils.ts
Due: eslint, prettier --write

refactor(backend+recruit): wrap data mutation queries in transaction
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  workers/backend/package.json
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/database/dev.ts
Due: eslint, prettier --write

fix(backend: add missing recruit-admin-job-posting-pending-approval mail template id
  workers/backend/src/mjml/templates/ids.ts
Due: eslint, prettier --write

Revert "refactor(backend+recruit): wrap data mutation queries in transaction" (D1 does not yet support transaction)
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  workers/backend/package.json
  workers/backend/src/data/job-postings/index.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/data/subscribers/index.ts
  workers/backend/src/database/dev.ts
Due: eslint, prettier --write

fix(recruit): correct createdAt->postedAt for posting preview during creation
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.svelte
Due: eslint, prettier --write, stylelint

fix(recruit): correct label for attributes in job posting upsert form, wrap application method & link inputs in fieldset for easier querying in UATs
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
Due: eslint, prettier --write, stylelint

fix(recruit): correct job posting type presentation mapping in listing page
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
Due: eslint, prettier --write

test(recruit): allow specifying id explicityly in job posting creation
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/schema.ts
Due: eslint, prettier --write, stylelint

test(recruit): rename PageProfile.expectData to PageProfile.match; use Promise.all for perf improvement
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
Due: eslint, prettier --write

test(recruit): add UAT test case for posting list page
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/aria-vi-posting-listing-active-empty.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/aria-vi-posting-listing-active.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/aria-vi-posting-listing-expired.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/aria-vi-posting-listing-pending.yaml
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write, stylelint

test(recruit): set CommonPageObjectModel and add path prop, goto, and waitForPage methods
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-list.ts
  sites/recruit.sveltevietnam.dev/tests/poms/postings.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/poms/utils.ts
  sites/recruit.sveltevietnam.dev/tests/poms/welcome.ts
Due: eslint, prettier --write

fix(recruit+backend): filter out deleted posting in queries
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.server.ts
  workers/backend/src/data/job-postings/index.ts
Due: eslint, prettier --write

test(recruit): correctly set base locale for faker
  sites/recruit.sveltevietnam.dev/tests/fixtures/base.ts
Due: eslint, prettier --write

enhance(kit): change BaseNotification to have alert role instead of status
  packages/kit/src/notifications/base-notification/BaseNotification.svelte
Due: eslint, prettier --write, stylelint

test(recruit): add data-testid to description list in posting details page for testing purposes
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

test(recruit): add UA test-case for job posting creation
  sites/recruit.sveltevietnam.dev/playwright.config.ts
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-active-empty.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-active.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-expired.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-pending.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-002-User-can-create-posting/aria-vi-listing.yaml
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write

enhance(recruit): navigate to posting details on edit success, for consistency with create flow
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+layout.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.svelte
Due: eslint, prettier --write, stylelint

test(recruit): dynamically import POM in other POM, whenever possible, to avoid circular dependency
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-list.ts
Due: eslint, prettier --write

test(recruit): add UA test case for editing posting
  sites/recruit.sveltevietnam.dev/tests/poms/posting-edit.ts
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write

test(recruit): add UA test case for deleting posting
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write

test(recruit): set default worker to 1, no parallelism for the time being
  sites/recruit.sveltevietnam.dev/playwright.config.ts
Due: eslint, prettier --write

test(recruit): more robust and modular test fixtures
  prettier.config.js
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/base.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-common.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-faker.ts
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write

test(recruit): rename poms/utils -> poms/common
  sites/recruit.sveltevietnam.dev/tests/poms/authenticate.ts
  sites/recruit.sveltevietnam.dev/tests/poms/common.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-details.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-edit.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-list.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/poms/welcome.ts
Due: eslint, prettier --write

test(recruit): extract with-authenticated-employer fixture
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-faker.ts
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write

fix(recruit): correctly return unwrapped Promise value when checking for existing email in email update flow
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.server.ts
Due: eslint, prettier --write

test(recruit): make sure email is lower-cased for params in databse queries
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-backend.ts
Due: eslint, prettier --write

test(recruit): add basic UA test cases for changing email
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/email-change-verification/[token]/+page.svelte
  sites/recruit.sveltevietnam.dev/tests/poms/email-change-verification.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/profile.uat.ts
Due: eslint, prettier --write, stylelint

test(recruit): add UA test case for changing email with bad input
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-active.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-expired.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-pending.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/postings.uat.ts/UAT-POST-002-User-can-create-posting/aria-vi-listing.yaml
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/profile.uat.ts
Due: eslint, prettier --write

test(recruit): scroll to top before interacting with account menu, to make sure it is visible first
  sites/recruit.sveltevietnam.dev/tests/poms/common.ts
Due: eslint, prettier --write

fix(recruit): typo at emplolyer input field description
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
Due: none
