Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

style(sites/www): MailRegistrationForm - move checkbox to last
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
Due: eslint, prettier --write, stylelint

feat(services/mailer): calendar-links.mjml for 'add-to-calendar' icon links
  services/mailer/src/lib/server/mjml/includes/calendar-links.mjml
  services/mailer/src/lib/server/mjml/includes/header.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-vi.template.mjml
  services/mailer/static/images/brands/google-calendar.svg
  services/mailer/static/images/brands/microsoft-office.svg
  services/mailer/static/images/brands/microsoft-outlook.svg
  services/mailer/static/images/brands/yahoo.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
Due: eslint, prettier --write

chore(sites/www): 2024 Spring Meetup - marked host
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/designveloper_logo.webp
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(sites/www): description & structure data location metadata for Spring 2024 Meetup
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

style(sites/www): adjust baseline alignment for location & time grid
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

chore(www): Spring 2024 meetup specify host in event description metadata
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write

chore: update workspace tooling
  .eslintignore
  .github/workflows/changesets.yaml
  .prettierignore
  package.json
  turbo.json
Due: prettier --write

style(sites/www): limit spring special footer within 2024 Spring HCM Meetup page only
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

chore: update dependnecies
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

style(sites/www): Breadcrumbs - ellipsis variant for scrolllable indicator
  sites/www/src/lib/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

style(libs/ui): new c-callout--icon-megaphone variant
  .changeset/modern-impalas-matter.md
  libs/ui/src/css/core/components/c-callout.css
Due: prettier --write, stylelint

chore(services/mailer): upate e-ticket image and wording for spring 2024 meetup
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-vi.template.mjml
  services/mailer/static/images/spring-2024-hcm-meetup-ticket.jpg
Due: none

chore(sites/www): Spring 2024 Meetup HCM - e-ticket design update, layout and content adjusments
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/bg-details.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/title.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail-en.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(sites/www): update timeline for 2024 Spring Meetup HCM
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

remove wrangler.(env).toml from git
  sites/www/.gitignore
  sites/www/wrangler.production.toml
Due: none

feat(internal/isc): expose WWW_ERRORS mapping
  internals/isc/package.json
  internals/isc/src/www/errors.js
  internals/isc/src/www/index.js
Due: eslint, prettier --write

chore: deprecate cssnano
  .changeset/cool-pigs-deliver.md
  libs/ui/package.json
  libs/ui/src/lib/css/postcss.js
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/postcss.config.js
Due: eslint, prettier --write

chore(sites/www): remove QR for eticket of Spring 2024 meetup event, adjust style, edit date
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/bg-details.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/designveloper_logo.webp
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

feat(sites/www): connect sv D1 database
  sites/www/src/app.d.ts
  sites/www/wrangler.production.toml
  sites/www/wrangler.toml
Due: eslint, prettier --write

feat(services/mailer): registration email for Spring 2024 HCM Meetup
  internals/isc/src/mailer/mails/dto.js
  services/mailer/src/lib/server/mjml/templates/index.ts
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-vi.template.mjml
  services/mailer/static/images/spring-2024-hcm-meetup-ticket.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): consistent svelte-kit error object
  services/mailer/src/lib/server/errors.ts
  sites/www/src/app.d.ts
  sites/www/src/lib/forms/actions/mail/mail.server.ts
Due: eslint, prettier --write

feat(sites/www): landing page for Spring 2024 HCM Meetup
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/assets/images/svg/lucide/circle-user-round.svg
  sites/www/src/lib/data/events/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/bg-details.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/title.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/footer-bg.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/header-bg.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail-en.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(sites/www): allow e-ticket registration via D1 (new 'event_tickets' table)
  services/mailer/README.md
  sites/www/d1/migrations/0000_create_event_tickets_table.sql
  sites/www/src/lib/daos/event_tickets.dao.ts
  sites/www/src/lib/errors/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): add optional checkbox field and extract translation & schema creation into util for better resuability
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/components/MailRegistrationForm/index.ts
  sites/www/src/lib/forms/actions/mail/mail.server.ts
  sites/www/src/routes/(localized)/blog/_page/components/MailSection.svelte
Due: eslint, prettier --write, stylelint

refactor(services/mailer): conditionally inject mailerURL into mjml template
  services/mailer/src/lib/server/mjml/includes/header.mjml
  services/mailer/src/lib/server/mjml/includes/socials.mjml
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template.mjml
  services/mailer/src/routes/(signed)/send/+server.ts
Due: eslint, prettier --write

refactor(servies/mailer): rename error utiltto throwMailerSvelteKitError to align with newer changes in SvelteKit 2.0
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/errors.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  services/mailer/src/routes/(signed)/verify/[token]/+server.ts
  services/mailer/src/routes/mails/[token]/+server.ts
Due: eslint, prettier --write

refactor(sites/www): consistent naming for daos and utils of event ticket routes
  sites/www/src/lib/daos/event_tickets.dao.ts
  sites/www/src/lib/errors/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write

chore: update dependencies
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore: add wrangler production config to git secret
  .gitsecret/paths/mapping.cfg
  services/discord/.env.secret
  services/mailer/wrangler.preview.toml.secret
  services/mailer/wrangler.production.toml.secret
  sites/www/wrangler.production.toml.secret
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
