Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

chore(i18n): allow all data attributes in default sanitization
  packages/i18n-new/src/runtime/T/T.svelte
Due: eslint, prettier --write, stylelint

fix(i18n): parse dependencies should be a set instead of array
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.test.ts
  packages/i18n-new/src/parser/parse-locale/types.public.d.ts
Due: eslint, prettier --write

fix(i18n): correct import paths to include extension
  packages/i18n-new/src/compiler/generate-constants-module/generate-constants-module.js
  packages/i18n-new/src/compiler/generate-message/generate-message.js
Due: eslint, prettier --write

fix(i18n): correctly record import traces
  packages/i18n-new/src/parser/parse-locale/parse-locale.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.test.ts
Due: eslint, prettier --write

fix(i18n): make sure special chacters are unescaped before calling fs
  packages/i18n-new/src/parser/parse-locale/parse-locale.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.test.ts
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

feat(i18n): allow import alias, inherit from vite config
  packages/i18n-new/src/parser/parse-locale/parse-locale.js
  packages/i18n-new/src/parser/parse-locale/parse-locale.test.ts
  packages/i18n-new/src/parser/parse-locale/types.public.d.ts
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

fix(i18n): run glob without cache, print cause when there is an error during vite run
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

feat(i18n): implement vite plugin
  packages/i18n-new/package.json
  packages/i18n-new/src/vite/index.js
  packages/i18n-new/src/vite/logger.js
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

fix(i18n): correctly escape _ in key in generated constant identifier
  packages/i18n-new/src/compiler/generate-message-target/generate-message-target.test.ts
  packages/i18n-new/src/compiler/utils.js
Due: eslint, prettier --write

chore(www): turn on experimental async & remote function
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

fix(i18n): parseOptions to vite plugin config should be optional
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

fix(i18n): generated modules should live in outputdir, not outputdir/locales
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

enhance(i18n): simplify Message interface by extending any by default for all type params
  packages/i18n-new/src/runtime/T/T.svelte
  packages/i18n-new/src/runtime/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/types.public.d.ts
Due: eslint, prettier --write, stylelint

refactor(i18n): rename factory file for more clarity
  packages/i18n-new/src/factory/create-message/create-message.js
  packages/i18n-new/src/factory/create-message/create-message.test-d.ts
  packages/i18n-new/src/factory/create-message/create-message.test.ts
  packages/i18n-new/src/factory/create-message/index.js
  packages/i18n-new/src/factory/index.js
Due: eslint, prettier --write

fix(i18n): update runtime types to point to correct factory module (moved in 287175db01c402c64af51b029ea324d3a7348bda)
  packages/i18n-new/src/factory/create-message/create-message.js
  packages/i18n-new/src/factory/create-message/create-message.test-d.ts
Due: eslint, prettier --write

feat(i1n): create-message-query-fn implementation
  packages/i18n-new/src/factory/create-message-query-fn/create-message-query-fn.d.ts
  packages/i18n-new/src/factory/create-message-query-fn/create-message-query-fn.js
  packages/i18n-new/src/factory/create-message-query-fn/create-message-query-fn.test.ts
  packages/i18n-new/src/factory/create-message-query-fn/index.js
  packages/i18n-new/src/factory/create-message-query-fn/types.private.d.ts
Due: eslint, prettier --write

feat(i18n): include mode constant in the output constants module
  packages/i18n-new/src/builder/build/__snapshots__/common/messages/en.js
  packages/i18n-new/src/builder/build/__snapshots__/common/messages/index.js
  packages/i18n-new/src/builder/build/__snapshots__/common/messages/vi.js
  packages/i18n-new/src/builder/build/__snapshots__/remote/constants.js
  packages/i18n-new/src/builder/build/__snapshots__/static/constants.js
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/build.test.ts
  packages/i18n-new/src/builder/build/types.public.d.ts
  packages/i18n-new/src/compiler/generate-constants-module/generate-constants-module.js
  packages/i18n-new/src/compiler/generate-constants-module/generate-constants-module.test.ts
  packages/i18n-new/src/vite/index.js
  packages/i18n-new/src/vite/types.public.d.ts
  packages/i18n-new/src/vite/types.public.js
Due: eslint, prettier --write

feat(i18n): add dts generator
  packages/i18n-new/src/compiler/generate-dts/generate-dts.js
  packages/i18n-new/src/compiler/generate-dts/generate-dts.test.ts
  packages/i18n-new/src/compiler/generate-dts/index.js
  packages/i18n-new/src/compiler/i18n.d.ts.template
  packages/i18n-new/src/compiler/index.js
Due: eslint, prettier --write

fix(i18n): generate dts for all modes, not just remote
  packages/i18n-new/src/builder/build/__snapshots__/remote/i18n.d.ts
  packages/i18n-new/src/builder/build/__snapshots__/static/i18n.d.ts
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/build.test.ts
  packages/i18n-new/src/builder/build/types.public.d.ts
  packages/i18n-new/src/compiler/generate-dts/generate-dts.js
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

feat(i18n): generate t.remote.js for remote mode
  packages/i18n-new/src/builder/build/__snapshots__/remote/t.remote.js
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/build.test.ts
  packages/i18n-new/src/builder/build/types.public.d.ts
  packages/i18n-new/src/compiler/utils.js
  packages/i18n-new/src/factory/index.js
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

feat(i18n): add string constant generator
  packages/i18n-new/src/compiler/generate-string-constant/genrate-string-constant.js
  packages/i18n-new/src/compiler/generate-string-constant/genrate-string-constant.test.ts
  packages/i18n-new/src/compiler/generate-string-constant/index.js
  packages/i18n-new/src/compiler/index.js
Due: eslint, prettier --write

feat(i18n): add dts to generated output
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/types.public.d.ts
  packages/i18n-new/src/compiler/generate-dts/generate-dts.js
  packages/i18n-new/src/vite/index.js
Due: eslint, prettier --write

fix(i18n): correct test case for remote build
  packages/i18n-new/src/builder/build/build.test.ts
Due: eslint, prettier --write

refactor(i18n): use Intl.DisplayNames api instead of locale messages for displaying language names
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  packages/kit/src/components/language-menu/index.d.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpdateForm.svelte
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

feat(i18n): add separate T for remote mode
  packages/i18n-new/package.json
  packages/i18n-new/src/runtime/T/T.svelte
  packages/i18n-new/src/runtime/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/generated.d.ts
  packages/i18n-new/src/runtime/generated.js
  packages/i18n-new/src/runtime/remote/T/T.svelte
  packages/i18n-new/src/runtime/remote/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/remote/T/index.js
  packages/i18n-new/src/runtime/remote/index.js
  packages/i18n-new/src/runtime/types.public.d.ts
  packages/i18n-new/svelte.config.js
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

refactor(i18n): simplify generate-dts to use tagged templte instead of ts factory
  packages/i18n-new/src/compiler/generate-dts/generate-dts.js
  packages/i18n-new/src/compiler/generate-dts/generate-dts.test.ts
Due: eslint, prettier --write

fix(i18n): remote faulty 'as const' in generated dts
  packages/i18n-new/src/builder/build/__snapshots__/remote/i18n.d.ts.snap
  packages/i18n-new/src/builder/build/__snapshots__/static/i18n.d.ts.snap
  packages/i18n-new/src/compiler/generate-dts/generate-dts.js
  packages/i18n-new/src/compiler/generate-dts/generate-dts.test.ts
Due: eslint, prettier --write

fix(i18n): test case for generate-dts (correct import order)
  packages/i18n-new/src/compiler/generate-dts/generate-dts.test.ts
Due: eslint, prettier --write

chore(i18n): set remote as default build mode
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/builder/build/types.public.d.ts
  packages/i18n-new/src/vite/types.public.d.ts
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

fix(i18n): rename snapshot filenames to avoid polluting global namespace
  packages/i18n-new/src/builder/build/__snapshots__/remote/i18n.d.ts.snap
  packages/i18n-new/src/builder/build/__snapshots__/static/i18n.d.ts.snap
  packages/i18n-new/src/builder/build/build.test.ts
Due: eslint, prettier --write

refactor: swap lang util import to i18n-new package
  packages/kit/src/components/breadcrumbs/Breadcrumbs.svelte
  packages/kit/src/components/footer/Footer.svelte
  packages/kit/src/hooks.js
  sites/recruit.sveltevietnam.dev/src/hooks.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/account-menu/AccountMenu.svelte
  sites/sveltevietnam.dev/src/hooks.ts
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

refactor(kit): Breadcrumbs component - simplify i18n dependency with i18n-new
  packages/kit/src/components/breadcrumbs/Breadcrumbs.svelte
  packages/kit/src/components/breadcrumbs/index.d.ts
Due: eslint, prettier --write, stylelint

chore: add i18n-new to recruit, remove old i18n-related npm script
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

feat(i18n): unite remote & static T, and enhance Context
  packages/i18n-new/package.json
  packages/i18n-new/src/runtime/Provider/context.js
  packages/i18n-new/src/runtime/T/T.svelte
  packages/i18n-new/src/runtime/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/T/index.js
  packages/i18n-new/src/runtime/T/types.public.d.ts
  packages/i18n-new/src/runtime/T/types.public.js
  packages/i18n-new/src/runtime/context/Provider/Provider.svelte
  packages/i18n-new/src/runtime/context/Provider/index.d.ts
  packages/i18n-new/src/runtime/context/Provider/index.js
  packages/i18n-new/src/runtime/context/context/index.svelte.d.ts
  packages/i18n-new/src/runtime/context/context/index.svelte.js
  packages/i18n-new/src/runtime/context/index.js
  packages/i18n-new/src/runtime/index.js
  packages/i18n-new/src/runtime/remote/T/T.svelte
  packages/i18n-new/src/runtime/remote/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/remote/T/index.js
  packages/i18n-new/src/runtime/remote/index.js
  packages/i18n-new/src/runtime/types.public.d.ts
  packages/kit/src/contexts/provider/ContextsProvider.svelte
Due: eslint, prettier --write, stylelint

refactor(kit): LanguageMenu component - simplify i18n dependency with i18n-new
  packages/kit/src/components/language-menu/LanguageMenu.svelte
  packages/kit/src/components/language-menu/index.d.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

refactor(kit): ColorSchemeMenu component - simplify i18n dependency with i18n-new
  packages/kit/src/components/color-scheme-menu/ColorSchemeMenu.svelte
  packages/kit/src/components/color-scheme-menu/index.d.ts
Due: eslint, prettier --write, stylelint

feat(i18n): add utility types to infer type, params, key, lang from message
  packages/i18n-new/src/runtime/types.public.d.ts
Due: eslint, prettier --write

refactor(kit): CopyBtn component - update to new i18n implementation
  packages/kit/src/components/copy-btn/CopyBtn.svelte
  packages/kit/src/components/copy-btn/index.d.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.svelte
Due: eslint, prettier --write, stylelint
