Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore: add codeGL workflow
  .github/workflows/codeql.yml
Due: none

docs(README): development notice
  README.md
Due: prettier --write

chore: config GA & turn on edge for vercel adapter
  .env
  svelte.config.js
Due: eslint, prettier --write

chore: setup github template for Contributor Nomination
  .github/ISSUE_TEMPLATE/contributor_nomination.yaml
Due: none

chore: setup CODE_OF_CONDUCT, CONTRIBUTING, and LICENSE
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
Due: prettier --write

chore: preset humans.txt, rss.xml, sitemap.xml
  src/app.d.ts
  src/lib/shared/utils/datetime.ts
  src/routes/humans.txt/+server.ts
  src/routes/humans.txt/humans.template.txt
  src/routes/rss.xml/+server.ts
  src/routes/rss.xml/rss.template.xml
  src/routes/sitemap.xml/+server.ts
  src/routes/sitemap.xml/sitemap.template.xml
Due: eslint, prettier --write

chore: update contributor_nomination template to have correct tags
  .github/ISSUE_TEMPLATE/contributor_nomination.yaml
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: update APP_ROUTE_TREE with correct path thanks to new version of static-tree
  src/lib/shared/constants/index.ts
Due: eslint, prettier --write

refactor: simplify param matcher language -> lang
  src/params/lang.ts
  src/routes/[lang=lang]/+page.svelte
  svelte.config.js
Due: eslint, prettier --write, stylelint

chore: setup edge config selectively (excluding rss, sitemap, humans)
  package.json
  pnpm-lock.yaml
  src/routes/+layout.server.ts
  src/routes/humans.txt/+server.ts
  src/routes/rss.xml/+server.ts
  src/routes/sitemap.xml/+server.ts
  stylelint.config.cjs
  svelte.config.js
Due: eslint, prettier --write

chore: support initial lang detection from ip address and correct redirection to 'langful' url
  src/hooks.server.ts
  src/routes/(api)/api/color-scheme/+server.ts
  src/routes/(api)/humans.txt/+server.ts
  src/routes/(api)/humans.txt/humans.template.txt
  src/routes/(api)/rss.xml/+server.ts
  src/routes/(api)/rss.xml/rss.template.xml
  src/routes/(api)/sitemap.xml/+server.ts
  src/routes/(api)/sitemap.xml/sitemap.template.xml
  src/routes/+error.svelte
  src/routes/+layout.server.ts
  src/routes/[[lang=lang]]/+page.svelte
  static/favicon.ico
Due: eslint, prettier --write, stylelint

docs: change temporary contact email in README
  README.md
Due: prettier --write

chore: setup alternative localized links
  src/app.d.ts
  src/hooks.server.ts
  src/lib/shared/constants/index.ts
  src/lib/shared/services/i18n/i18n.constants.ts
  src/lib/shared/services/i18n/i18n.types.ts
  src/lib/shared/services/i18n/i18n.utils.ts
  src/lib/shared/services/i18n/index.ts
  src/lib/shared/types/index.ts
  src/params/lang.ts
  src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: setup translations for i18n services
  src/lib/shared/constants/index.ts
  src/lib/shared/services/i18n/translations/footer/footer.en.ts
  src/lib/shared/services/i18n/translations/footer/footer.vi.ts
  src/lib/shared/services/i18n/translations/header/header.en.ts
  src/lib/shared/services/i18n/translations/header/header.vi.ts
  src/lib/shared/services/i18n/translations/pages/home/home.en.ts
  src/lib/shared/services/i18n/translations/pages/home/home.vi.ts
  src/routes/[[lang=lang]]/+page.server.ts
  src/routes/[[lang=lang]]/+page.svelte
Due: eslint, prettier --write, stylelint

style: hook in inter font as default
  src/lib/client/styles/app.css
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

refactor(services.i18n): re-export translation variants as single object & consistent naming
  src/lib/shared/services/i18n/translations/__template__/en.ts
  src/lib/shared/services/i18n/translations/__template__/index.ts
  src/lib/shared/services/i18n/translations/__template__/vi.ts
  src/lib/shared/services/i18n/translations/footer/en.ts
  src/lib/shared/services/i18n/translations/footer/footer.en.ts
  src/lib/shared/services/i18n/translations/footer/index.ts
  src/lib/shared/services/i18n/translations/footer/vi.ts
  src/lib/shared/services/i18n/translations/header/en.ts
  src/lib/shared/services/i18n/translations/header/header.en.ts
  src/lib/shared/services/i18n/translations/header/index.ts
  src/lib/shared/services/i18n/translations/header/vi.ts
  src/lib/shared/services/i18n/translations/pages/events-details/en.ts
  src/lib/shared/services/i18n/translations/pages/events-details/index.ts
  src/lib/shared/services/i18n/translations/pages/events-details/vi.ts
  src/lib/shared/services/i18n/translations/pages/events/en.ts
  src/lib/shared/services/i18n/translations/pages/events/index.ts
  src/lib/shared/services/i18n/translations/pages/events/vi.ts
  src/lib/shared/services/i18n/translations/pages/home/en.ts
  src/lib/shared/services/i18n/translations/pages/home/index.ts
  src/lib/shared/services/i18n/translations/pages/home/vi.ts
  src/lib/shared/services/i18n/translations/pages/impact/en.ts
  src/lib/shared/services/i18n/translations/pages/impact/index.ts
  src/lib/shared/services/i18n/translations/pages/impact/vi.ts
  src/lib/shared/services/i18n/translations/pages/jobs/en.ts
  src/lib/shared/services/i18n/translations/pages/jobs/index.ts
  src/lib/shared/services/i18n/translations/pages/jobs/vi.ts
  src/lib/shared/services/i18n/translations/pages/people/en.ts
  src/lib/shared/services/i18n/translations/pages/people/index.ts
  src/lib/shared/services/i18n/translations/pages/people/vi.ts
  src/lib/shared/services/i18n/translations/pages/sponsor/en.ts
  src/lib/shared/services/i18n/translations/pages/sponsor/index.ts
  src/lib/shared/services/i18n/translations/pages/sponsor/vi.ts
Due: eslint, prettier --write

chore: setup all pages with basic skeleton
  src/routes/[[lang=lang]]/+page.svelte
  src/routes/[[lang=lang]]/events/+page.server.ts
  src/routes/[[lang=lang]]/events/+page.svelte
  src/routes/[[lang=lang]]/events/[slug]/+page.server.ts
  src/routes/[[lang=lang]]/events/[slug]/+page.svelte
  src/routes/[[lang=lang]]/impact/+page.server.ts
  src/routes/[[lang=lang]]/impact/+page.svelte
  src/routes/[[lang=lang]]/jobs/+page.server.ts
  src/routes/[[lang=lang]]/jobs/+page.svelte
  src/routes/[[lang=lang]]/people/+page.server.ts
  src/routes/[[lang=lang]]/people/+page.svelte
  src/routes/[[lang=lang]]/sponsor/+page.server.ts
  src/routes/[[lang=lang]]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

fix: APP_ROUTE_TREE - specify pathResolver for :lang param
  src/lib/shared/constants/index.ts
Due: eslint, prettier --write

chore: setup color pallete & header height var
  src/lib/client/styles/app.css
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

chore: remove favicon.ico (used for testing only), will update logo is designed
  static/favicon.ico
Due: none

feat: bootstrap Header component with wireframe skeleton
  src/lib/client/components/organisms/Header/Header.svelte
  src/lib/client/components/organisms/Header/index.ts
  src/routes/[[lang=lang]]/+layout.svelte
  src/routes/[[lang=lang]]/+page.svelte
  stylelint.config.cjs
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

feat: bootstrap Footer component with wireframe skeleton
  src/lib/client/components/icons/Svg.svelte
  src/lib/client/components/icons/google/AccountTree.svelte
  src/lib/client/components/icons/google/Diversity.svelte
  src/lib/client/components/icons/google/Rss.svelte
  src/lib/client/components/icons/google/SettingsSuggest.svelte
  src/lib/client/components/icons/simpleicons/Discord.svelte
  src/lib/client/components/icons/simpleicons/Facebook.svelte
  src/lib/client/components/icons/simpleicons/Github.svelte
  src/lib/client/components/icons/simpleicons/Svelte.svelte
  src/lib/client/components/icons/simpleicons/Tailwind.svelte
  src/lib/client/components/icons/simpleicons/Twitter.svelte
  src/lib/client/components/icons/simpleicons/Vercel.svelte
  src/lib/client/components/organisms/Footer/Footer.svelte
  src/lib/client/components/organisms/Footer/index.ts
  src/lib/client/components/organisms/Header/Header.svelte
  src/lib/shared/constants/index.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/en.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/index.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/vi.ts
  src/routes/[[lang=lang]]/+layout.svelte
  src/routes/[[lang=lang]]/code-of-conduct/+page.server.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

style(organisms.Header): center nav links on desktop
  src/lib/client/components/organisms/Header/Header.svelte
Due: eslint, prettier --write, stylelint

feat(pages.code-of-conduct): bootstrap & wireframe for desktop
  src/lib/client/components/icons/google/Info.svelte
  src/lib/client/components/organisms/Footer/Footer.svelte
  src/lib/shared/constants/index.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/en.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/vi.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

chore: bump node requirement to 18
  package.json
Due: prettier --write

style(pages.code-of-conduct): support mobile ui with current wireframe
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

feat: support for theme switching & initial detection
  package.json
  pnpm-lock.yaml
  src/lib/client/components/icons/google/DarkMode.svelte
  src/lib/client/components/icons/google/LightMode.svelte
  src/lib/client/components/organisms/Header/Header.svelte
  src/lib/client/utils/color-scheme.ts
  src/lib/shared/services/i18n/translations/header/en.ts
  src/lib/shared/services/i18n/translations/header/vi.ts
  src/routes/[[lang=lang]]/+layout.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

style(page.code-of-conduct): minor adjustment for gap & icon switch
  src/lib/client/components/icons/google/ShieldWithHeart.svelte
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/en.ts
  src/lib/shared/services/i18n/translations/pages/code-of-conduct/vi.ts
  src/routes/[[lang=lang]]/code-of-conduct/+page.svelte
  tailwind.config.cjs
Due: eslint, prettier --write, stylelint

style(organisms.Footer): remove link text on >= md screen, add open collective social icon
  src/lib/client/components/icons/simpleicons/OpenCollective.svelte
  src/lib/client/components/organisms/Footer/Footer.svelte
  src/lib/shared/constants/index.ts
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
