Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

refactor(mailer): rename schema to be specific to either request / response
  internals/isc/src/mailer/mails/dto.js
  internals/isc/src/mailer/subscriptions/dto.js
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

chore(mailer): GET /subscriptions - parse data through zod before returning response
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/subscriptions/dto.js
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

feat(www): /subscriptions/[token] route
  .changeset/old-roses-chew.md
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/subscriptions/dto.js
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  sites/www/src/lib/client/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/client/forms/index.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/_page/translation/vi.ts
  sites/www/static/robots.txt
Due: eslint, prettier --write, stylelint

chore(mailer): push social icons at mailer.sveltevietnam.dev/images/socials/* for use in email template
  .changeset/poor-crews-smell.md
  services/mailer/static/images/socials/facebook.svg
  services/mailer/static/images/socials/github.svg
  services/mailer/static/images/socials/opencollective.svg
  services/mailer/static/images/socials/twitter.svg
Due: prettier --write

chore(www): publish versions of logo at /logo/*.svg
  .changeset/two-turkeys-decide.md
  sites/www/src/routes/(api)/.well-known/webfinger/+server.ts
  sites/www/static/logo/negative-with-text.svg
  sites/www/static/logo/negative.svg
  sites/www/static/logo/original-with-text.svg
  sites/www/static/logo/original.jpg
  sites/www/static/logo/original.png
  sites/www/static/logo/original.svg
  sites/www/static/logo/positive-with-text.svg
  sites/www/static/logo/positive.svg
Due: eslint, prettier --write

chore: only trigger deploy for pull_request event (minimize deplicated actions)
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
Due: none

feat(mailer): add `language` and `template_id` columns to `mails` table
  .changeset/weak-experts-type.md
  services/mailer/.env
  services/mailer/d1/migrations/0002_create_mails_table.sql
  services/mailer/src/lib/server/daos/mails.dao.ts
  services/mailer/src/routes/(signed)/send/+server.ts
Due: eslint, prettier --write

feat(mailer): complete WELCOME email template
  .changeset/lemon-shrimps-push.md
  internals/isc/src/mailer/mails/dto.js
  services/mailer/.lintstagedrc.js
  services/mailer/package.json
  services/mailer/scripts/lint-staged-mjml.js
  services/mailer/src/lib/server/mjml/includes/common-head.mjml
  services/mailer/src/lib/server/mjml/includes/header.mjml
  services/mailer/src/lib/server/mjml/includes/no-reply-footer-en.mjml
  services/mailer/src/lib/server/mjml/includes/no-reply-footer-vi.mjml
  services/mailer/src/lib/server/mjml/includes/socials.mjml
  services/mailer/src/lib/server/mjml/templates/index.ts
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
  services/mailer/src/lib/server/mjml/templates/welcome-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template.mjml
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/lib/server/templates/subscription-success-en.html
  services/mailer/src/lib/server/templates/subscription-success-en.mjml
  services/mailer/src/lib/server/templates/subscription-success-vi.html
  services/mailer/src/lib/server/templates/subscription-success-vi.mjml
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

chore(mailer): change group layout (protected) -> (signed)
  services/mailer/src/hooks.server.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscribe/+server.ts
Due: eslint, prettier --write

feat(mailer): GET /subscription
  .changeset/stale-yaks-study.md
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/subscription/http.js
  services/mailer/src/routes/(signed)/subscription/+server.ts
Due: eslint, prettier --write

feat(mailer): /send api
  .changeset/beige-mails-eat.md
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/mail/dto.js
  internals/isc/src/mailer/mail/http.js
  internals/isc/src/mailer/mail/index.js
  services/mailer/d1/migrations/0002_create_mails_table.sql
  services/mailer/src/lib/server/daos/mails.dao.ts
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
Due: eslint, prettier --write

refactor(isc+mailer): throw idiomatic svelte-kit error instead of returning custom response
  .changeset/swift-days-punch.md
  internals/isc/package.json
  internals/isc/src/common/http.js
  internals/isc/src/common/index.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  services/mailer/src/app.d.ts
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/errors.ts
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  services/mailer/src/routes/mail/[token]/+server.ts
Due: eslint, prettier --write

refactor(mailer): consistent naming
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/index.js
  internals/isc/src/mailer/mails/dto.js
  internals/isc/src/mailer/mails/http.js
  internals/isc/src/mailer/mails/index.js
  internals/isc/src/mailer/subscriptions/dto.js
  internals/isc/src/mailer/subscriptions/http.js
  internals/isc/src/mailer/subscriptions/index.js
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  services/mailer/src/routes/mails/[token]/+server.ts
Due: eslint, prettier --write

chore(mailer): load JWT_SECRET in deploy workflow
  .github/workflows/deploy_mailer.yaml
Due: none

refactor(mailer): rename schema & dto for consistency
  internals/isc/src/common/dto.js
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/mail/dto.js
  internals/isc/src/mailer/subscription/dto.js
  internals/isc/src/mailer/subscription/http.js
  services/mailer/src/routes/(signed)/subscription/+server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore(mailer): apply locals.d1 binding to all routes
  .changeset/seven-frogs-kneel.md
  services/mailer/src/hooks.server.ts
Due: eslint, prettier --write

refactor(mailer): define id manually during insertion (mails table)
  .changeset/good-lizards-sell.md
  services/mailer/d1/migrations/0002_create_mails_table.sql
  services/mailer/src/lib/server/daos/mails.dao.ts
  services/mailer/src/routes/(protected)/send/+server.ts
Due: eslint, prettier --write

chore(mailer): encode uri for mail URL
  services/mailer/src/routes/(protected)/send/+server.ts
Due: eslint, prettier --write

feat(mailer): i18n strategy for /send
  internals/isc/src/common/dto.js
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/mail/dto.js
  internals/isc/src/mailer/subscription/dto.js
  services/mailer/src/lib/server/templates/index.ts
  services/mailer/src/lib/server/templates/subscription-success-en.html
  services/mailer/src/lib/server/templates/subscription-success-en.mjml
  services/mailer/src/lib/server/templates/subscription-success-vi.html
  services/mailer/src/lib/server/templates/subscription-success-vi.mjml
  services/mailer/src/lib/server/templates/subscription-success.html
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

feat(mailer): /mail/token GET for viewing mail in web
  pnpm-lock.yaml
  services/mailer/.env
  services/mailer/package.json
  services/mailer/src/lib/server/templates/subscription-success-en.html
  services/mailer/src/lib/server/templates/subscription-success-en.mjml
  services/mailer/src/lib/server/templates/subscription-success-vi.mjml
  services/mailer/src/routes/(protected)/send/+server.ts
  services/mailer/src/routes/+layout.ts
  services/mailer/src/routes/mail/[token]/+server.ts
Due: eslint, prettier --write

feat(mailer): /verify token API
  .changeset/fair-poems-argue.md
  internals/isc/src/mailer/errors.js
  services/mailer/src/routes/(signed)/verify/[token]/+server.ts
Due: eslint, prettier --write

chore(mailer): additional errors when token contains no mail (/subscriptions GET & PATCH)
  internals/isc/src/mailer/errors.js
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

chore(mailer): bootstrap mjml workflow with sample template, npm build:mjml command, and lint-staged auto build step
  .lintstagedrc.js
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  services/mailer/.lintstagedrc.js
  services/mailer/.mjmlconfig
  services/mailer/package.json
  services/mailer/scripts/lint-staged-mjml.js
  services/mailer/src/lib/server/templates/subscription-success.html
  services/mailer/src/lib/server/templates/subscription-success.mjml
Due: eslint, prettier --write

refactor(isc): ERRORS const mapping - more consistent naming
  internals/isc/src/mailer/errors.js
  services/mailer/src/routes/(protected)/subscribe/+server.ts
  sites/www/src/lib/server/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore(mailer): bypass authentication for internal requests
  .changeset/strange-tips-doubt.md
  services/mailer/src/hooks.server.ts
Due: eslint, prettier --write

feat(mailer): PATCH /subscription for updating domain subscription
  .changeset/breezy-spiders-press.md
  internals/isc/src/common/http.js
  internals/isc/src/common/types.d.ts
  internals/isc/src/mailer/errors.js
  internals/isc/src/mailer/mail/http.js
  internals/isc/src/mailer/subscription/dto.js
  internals/isc/src/mailer/subscription/http.js
  internals/utils/src/signature/request/request.js
  internals/utils/src/signature/request/request.test.js
  services/mailer/src/lib/server/daos/subscriptions.dao.ts
  services/mailer/src/routes/(signed)/subscription/+server.ts
Due: eslint, prettier --write

chore: better checks for skipping duplicated workflows
  .github/workflows/deploy_discord.yaml
  .github/workflows/deploy_mailer.yaml
  .github/workflows/deploy_www.yaml
Due: none

fix(mailer): deploy workflow - main is production /shrug
  .github/workflows/deploy_mailer.yaml
Due: none

fix(www): accept json header in fetch request to mailer
  .changeset/nervous-donkeys-smoke.md
  internals/isc/src/common/http.js
Due: eslint, prettier --write

fix(mailer): should inject WWW_URL var in action workflow
  .github/workflows/deploy_mailer.yaml
Due: none

fix(mailer): social icons -> png
  .changeset/tiny-schools-count.md
  services/mailer/src/lib/server/mjml/includes/socials.mjml
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template
  services/mailer/static/images/socials/facebook.png
  services/mailer/static/images/socials/facebook.svg
  services/mailer/static/images/socials/github.png
  services/mailer/static/images/socials/github.svg
  services/mailer/static/images/socials/opencollective.png
  services/mailer/static/images/socials/opencollective.svg
  services/mailer/static/images/socials/twitter.png
  services/mailer/static/images/socials/twitter.svg
  sites/www/src/routes/[[lang=lang]]/subscriptions/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(mailer): convert logo -> png
  .changeset/tiny-gifts-unite.md
  services/mailer/src/lib/server/mjml/includes/header.mjml
  services/mailer/static/images/logo.png
Due: prettier --write

fix: regenerate templates
  services/mailer/.lintstagedrc.js
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template
Due: eslint, prettier --write

chore: add logging for /send api for debugging purposes
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
Due: eslint, prettier --write

chore: pause release & tag for now
  .changeset/config.json
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
