Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore: upgrade misc tooling dependencies
  package.json
  packages/markdown/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade misc backend dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
  workers/backend/package.json
Due: prettier --write

chore: upgrade shiki dependencies
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade iconify dependencies
  packages/css/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: upgrade misc dependencies
  package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade svelte
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix(www): correct output dirpath for create:person & create:post scripts
  packages/kit/src/contexts/loading.svelte.js
  sites/sveltevietnam.dev/scripts/create-person.ts
  sites/sveltevietnam.dev/scripts/create-post.ts
Due: eslint, prettier --write

enhance(kit.context.loading): simplify done to just a Promise (previously () => Promise)
  packages/kit/src/contexts/loading.svelte.js
  packages/kit/src/layouts/common/CommonLayout.svelte
Due: eslint, prettier --write, stylelint

enhance(kit.components.loading-bar): increase height to 4px
  packages/kit/src/components/loading-bar/LoadingBar.svelte
Due: eslint, prettier --write, stylelint

enhance(www): unload loading bar in finally clause
  sites/sveltevietnam.dev/src/lib/domains/subscriber/subscribe/subscribe.form.svelte
  sites/sveltevietnam.dev/src/lib/domains/subscriber/update-subscription/update-subscription.form.svelte
Due: eslint, prettier --write, stylelint

WIP
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/1-sveltekit-navgiating-state.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/2-context-abstraction.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/3-using-context.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/4-manual-trigger.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/5-manual-load.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/6-pattern-global-context.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/examples/7-pattern-passing-state.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20251118-progress-indicator-during-navigation-sveltekit/metadata.ts
Due: eslint, prettier --write, stylelint

fix: correct domain of color scheme cookie when set on client side
  packages/kit/src/constants.js
  packages/kit/src/contexts/color-scheme.svelte.js
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: enable lefthook during rebase & merge
  lefthook.yaml
Due: none

fix(backend): add missing employer name in text in recruit-admin-job-posting-pending-approval email template
  workers/backend/src/mjml/templates/recruit-admin-job-posting-pending-approval/template.mjml
Due: none

fix: set color-scheme cookie domain to same origin (set on client)
  packages/kit/src/constants.js
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(recurit): remove 'the' in 'the candidate' in job posting input notes
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
Due: none

chore(recruit): add note for employer website input
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
Due: eslint, prettier --write, stylelint

fix(recruit): color-scheme cookie name should be on recruit subdomain instead of www
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

fix: color-scheme cookie domain should also be scoped to same origin on server side
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/hooks.server.ts
Due: eslint, prettier --write

fix: do not set explicit domain for color-scheme cookie
  packages/kit/src/constants.js
  packages/kit/src/contexts/color-scheme.svelte.js
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(recruit): run color-scheme server hook before auth
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
Due: eslint, prettier --write

chore: turn off preloading until async & remote-function are stable
  packages/i18n/tests/e2e/remote/src/app.html
  packages/i18n/tests/e2e/static/src/app.html
  packages/kit/src/components/footer/Footer.svelte
  sites/recruit.sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

chore: ignore pnpm trust policy for some legacy deep dependencies
  pnpm-workspace.yaml
Due: none

chore: remove pnpm minimumReleaseAge config
  pnpm-workspace.yaml
Due: none

chore: upgrade vitest, playwright, memfs
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade changeset dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(recruit): upgrade lexical
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade publint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dotenvx
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade stylelint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade tailwindcss
  package.json
  packages/css/package.json
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade iconify
  packages/css/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade eslint
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade dedent
  .changeset/hot-forks-shop.md
  package.json
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade yaml
  .changeset/brave-lies-ask.md
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade valibot
  .changeset/tame-apes-shine.md
  packages/i18n/package.json
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade fast-xml-parser
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore(backend): upgrade @tsndr/cloudflare-worker-jwt
  pnpm-lock.yaml
  workers/backend/package.json
Due: prettier --write

chore(markdown): upgrade shiki
  packages/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
