Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(recruit): set employer profile validation schema to be async (allow checking all fields at the same time)
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/schema.ts
Due: eslint, prettier --write

fix(recruit): only load image preview (employer form) if no error
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

test(recruit): add UA test case for updating profile info
  sites/recruit.sveltevietnam.dev/tests/poms/profile.ts
  sites/recruit.sveltevietnam.dev/tests/profile.uat.ts
Due: eslint, prettier --write

test(recruit): server input validation of employer upsert form
  sites/recruit.sveltevietnam.dev/tests/assets/sample.txt
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/poms/onboarding.ts
Due: eslint, prettier --write

test(recruit): make sure the email fixture is auto in testWithEmail
  sites/recruit.sveltevietnam.dev/tests/authentication.uat.ts
Due: eslint, prettier --write

test(recruit): remove outdated .only marker in profile UATs
  sites/recruit.sveltevietnam.dev/tests/profile.uat.ts
Due: eslint, prettier --write

enhance(recruit): improve application method & link validation schema with v.variant
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/schema.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/edit/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/create/+page.server.ts
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
Due: eslint, prettier --write, stylelint

style(recruit): better rendering for error message in posting upsert form
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
Due: eslint, prettier --write, stylelint

test(recruit): add UA test case for server validation in posting upsert form
  sites/recruit.sveltevietnam.dev/tests/poms/posting-create.ts
  sites/recruit.sveltevietnam.dev/tests/postings.uat.ts
Due: eslint, prettier --write

fix(backend): add missing vars mapping for recruit-admin-job-posting-pending-approval template
  workers/backend/src/mjml/templates/index.ts
Due: eslint, prettier --write

feat(backend): add db util to build on conflict update for drizzle
  workers/backend/src/database/dev.ts
  workers/backend/src/database/utils.ts
Due: eslint, prettier --write

test(recruit): add tags, rename profile -> account, add index prefix for priority sorting, wrap d1 write queries in 'immediate' transaction
  sites/recruit.sveltevietnam.dev/README.md
  sites/recruit.sveltevietnam.dev/tests/001-authentication.uat.ts
  sites/recruit.sveltevietnam.dev/tests/002-account.uat.ts
  sites/recruit.sveltevietnam.dev/tests/003-postings.uat.ts
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-active-empty.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-active.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-expired.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-001-User-sees-listing-grouped-by-status/aria-vi-pending.yaml
  sites/recruit.sveltevietnam.dev/tests/__snapshots__/003-postings.uat.ts/UAT-POST-002-User-can-create-posting/aria-vi-listing.yaml
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-authenticated-employer.ts
  sites/recruit.sveltevietnam.dev/tests/fixtures/with-backend.ts
  sites/recruit.sveltevietnam.dev/tests/poms/mail.ts
Due: eslint, prettier --write

fix(www): remove orphaned reactive-storage.ts file
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/reactive-storage.ts
Due: eslint, prettier --write

feat(recruit): rich text editor with editorjs and custom block for callout, using editorjs-html for parsing to html
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/callout.css
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/callout.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/parse.ts
Due: eslint, prettier --write, stylelint

style(recruit): increase max-width for onboardin & profile box layout, to accomodate for the incoming rich text editor
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(newcommer)/onboarding/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/profile/+page.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): apply rich text editor to employer profile form (onboarding & profile)
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): render employer description (editorjs output) to posting detail page
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

style(kit): support align & direction for Dropdown component
  packages/kit/src/components/dropdown/Dropdown.svelte
  packages/kit/src/components/dropdown/index.d.ts
Due: eslint, prettier --write, stylelint

feat(recruit): switch to using Lexical for rich text editor
  packages/kit/src/utilities/scroll-toggler.svelte.js
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.svelte.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/floating-link-editor/FloatingLinkEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/floating-link-editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/parse.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/utils/get-selected-node.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/utils/is-selecting-link.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.server.ts
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): support custom CalloutNode for lexical editor
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/CalloutStatusDropdown.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/callout.css
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/callout.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/callout/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.svelte.ts
Due: eslint, prettier --write, stylelint

refactor(recruit): declare state subscribers at top instead of in constructor
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.svelte.ts
Due: eslint, prettier --write

refactor(recruit): render placeholder in rich text editor
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.svelte.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit): abstract heading node level capping into Editor class
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.svelte.ts
Due: eslint, prettier --write, stylelint

refactor(recruit): abstract caching functinality to Editor class
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.svelte.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit): return to $function naming convention from lexical
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/floating-link-editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/utils/get-selected-node.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/utils/is-selecting-link.ts
Due: eslint, prettier --write, stylelint

style(recruit): narrow prose to only editablecontent (rich text editor)
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit): reorganize lexical plugins, utils, editor into directories
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/CalloutStatusDropdown.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/node.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/register.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/FloatingLinkEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/index.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/floating-link-editor/register.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/utils/get-selected-node.ts
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/utils/is-selecting-link.ts
Due: eslint, prettier --write, stylelint

fix(recruit): allow callout classes after sanitization
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/recruit.sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write, stylelint

feat(recruit): apply rich text editor for job posting description field
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

style(recruit): rrich text editor hide dropdown label on toolbar in mobile
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/CalloutStatusDropdown.svelte
Due: eslint, prettier --write, stylelint

refactor(recruit): organize block type selection / indicator in rich text editor toolbar as its own component
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarBlockTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/index.ts
Due: eslint, prettier --write, stylelint

refactor(recruit): organize inline actions of rich text editor into own component
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarIconButton.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarInlineTools.svelte
Due: eslint, prettier --write, stylelint

style(css): use rem for max-w-pad, add max-w-pad-content utility
  packages/css/src/utilities/max-w-pad.css
Due: stylelint

refactor(recruit): organize rich text editor toolbar into own component
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/Toolbar.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarBlockTools.svelte
Due: eslint, prettier --write, stylelint

feat(recruit): implement help dialog for rich text editor
  sites/recruit.sveltevietnam.dev/src/data/locales/en.yaml
  sites/recruit.sveltevietnam.dev/src/data/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/DialogHelp.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/Toolbar.svelte
Due: eslint, prettier --write, stylelint

feat(kit): implement alternative dropdown with popover
  packages/kit/package.json
  packages/kit/src/components/dropdown-popover/DropdownPopover.svelte
  packages/kit/src/components/dropdown-popover/index.d.ts
  packages/kit/src/components/dropdown-popover/index.js
  packages/kit/src/components/index.js
  pnpm-lock.yaml
Due: eslint, prettier --write, stylelint

fix(recruit): swap out dropdown to use popover variant for rich text editor - resolve stacking context issue
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/components/ToolbarBlockTools.svelte
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/editor/plugins/callout/CalloutStatusDropdown.svelte
Due: eslint, prettier --write, stylelint

enhance(recurit): allow user to resize rich text editor (as with textarea)
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
Due: eslint, prettier --write, stylelint

enhance(recruit): improve a11y and of rich text editor
  sites/recruit.sveltevietnam.dev/src/lib/components/rich-text-editor/RichTextEditor.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/employer-profile/FormEmployerProfile.svelte
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/FormJobPostingUpsert.svelte
Due: eslint, prettier --write, stylelint

fix(kit): clean up floating-ui computation on component unmount instead of beforetoggle
  packages/kit/src/components/dropdown-popover/DropdownPopover.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
