Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,cjs,svelte}": ["eslint", "prettier --write"],
  "*.{svelte,css}": ["stylelint"],
  "*.{md,json,html}": "prettier --write"
}

refactor(i18n): simplify generated remote interface using utility type & new exported types from generated submodule [Skip CI]
  packages/i18n-new/src/builder/build/__snapshots__/remote/t.remote.js
  packages/i18n-new/src/builder/build/build.js
  packages/i18n-new/src/factory/create-message-query-fn/create-message-query-fn.d.ts
  packages/i18n-new/src/factory/create-message-query-fn/types.private.d.ts
Due: eslint, prettier --write

refactor(kit): Contentful component - update to new i18n implementation
  packages/kit/src/components/contentful/Contentful.svelte
  packages/kit/src/components/contentful/index.d.ts
  packages/kit/src/dialogs/confirmation/DialogConfirmation.svelte
  packages/kit/src/dialogs/confirmation/index.d.ts
Due: eslint, prettier --write, stylelint

refactor(i18n): simplify context interface using utility type & new exported types from generated submodule
  packages/i18n-new/src/runtime/context/Provider/Provider.svelte
  packages/i18n-new/src/runtime/context/Provider/Provider.svelte.d.ts
  packages/i18n-new/src/runtime/context/context/index.svelte.d.ts
  packages/i18n-new/src/runtime/context/context/index.svelte.js
Due: eslint, prettier --write, stylelint

feat(i18n): export Mode, Language, Mapping, Key from generated submodule based on $$Runtime
  packages/i18n-new/src/runtime/generated.d.ts
Due: eslint, prettier --write

refactor(i18n): simplify T interface using utility type & new exported types from generated submodule
  packages/i18n-new/src/runtime/T/T.svelte
  packages/i18n-new/src/runtime/T/T.svelte.d.ts
  packages/i18n-new/src/runtime/T/types.public.d.ts
Due: eslint, prettier --write, stylelint

fix(i18n): correct import types from vite submodule
  packages/i18n-new/src/vite/types.public.d.ts
Due: eslint, prettier --write

refactor(kit): JobPostingList component - simplify i18n with new implementation
  packages/kit/src/components/job-posting-list/JobPosting.svelte
  packages/kit/src/components/job-posting-list/JobPostingList.svelte
  packages/kit/src/components/job-posting-list/index.d.ts
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
Due: eslint, prettier --write, stylelint

fix(www): type error at DateTimeRangeText
  sites/sveltevietnam.dev/src/lib/components/date-time-range-text/DateTimeRangeText.svelte
Due: eslint, prettier --write, stylelint

chore: clean up old i18n prop args to Breadcrumbs
  sites/recruit.sveltevietnam.dev/src/lib/forms/job-posting-upsert/PageJobPostingUpsert.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/+page.svelte
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/(authenticated)/(onboarded)/postings/[id]/+page.svelte
  sites/sveltevietnam.dev/src/data/events/202312-year-end-online-meetup/content.svelte
  sites/sveltevietnam.dev/src/data/events/202404-spring-ho-chi-minh-meetup/content.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-listing-intro/BlogListingIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/roadmap/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/sponsor/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(kit): Footer component - simplify i18n with new implementation
  packages/kit/src/components/footer/Footer.svelte
  packages/kit/src/components/footer/index.d.ts
  packages/kit/src/components/footer/locales/en.yaml
  packages/kit/src/components/footer/locales/vi.yaml
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(kit): NotByAiBadge component - simplify i18n with new implementation
  packages/kit/src/components/footer/Footer.svelte
  packages/kit/src/components/not-by-ai-badge/NotByAiBadge.svelte
  packages/kit/src/components/not-by-ai-badge/index.d.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify BlogNewsetter i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify CalloutPlayground i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/callout-playground/CalloutPlayground.svelte
Due: eslint, prettier --write, stylelint

refactor(www): remove green-web-badge component (already moved to kit)
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/GreenWebBadge.svelte
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/index.ts
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/logo-gwf.svg
Due: eslint, prettier --write, stylelint

refactor(www): simplify PageEditLink i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/page-edit-link/PageEditLink.svelte
  sites/sveltevietnam.dev/src/lib/components/page-edit-link/locales/vi.yaml
Due: eslint, prettier --write, stylelint

refactor(www): simplify PageMenu i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify EventListingItem i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify Pagination i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/pagination/Pagination.svelte
  sites/sveltevietnam.dev/src/lib/components/pagination/locales/en.yaml
Due: eslint, prettier --write, stylelint

refactor(www): simplify Header i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify SplashScreenPlayground i18n with new implementation
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/SplashScreenPlayground.svelte
Due: eslint, prettier --write, stylelint

fix(www): RSS page name typo
  sites/sveltevietnam.dev/src/data/routes/routes.config.ts
Due: eslint, prettier --write

refactor(www): simplify search dialog i18n with new implementation
  sites/sveltevietnam.dev/src/lib/dialogs/search-dialog/SearchDialog.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade svelte & kit
  packages/i18n-new/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

refactor(www+kit): update toaster i18n with new implementation
  packages/kit/src/notifications/base-notification/BaseNotification.svelte
  packages/kit/src/notifications/base-notification/index.d.ts
  packages/kit/src/notifications/context/types.d.ts
  packages/kit/src/notifications/toast/Toast.svelte
  packages/kit/src/notifications/toast/index.d.ts
  packages/kit/svelte.config.js
  packages/markdown/src/index.js
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpdateForm.svelte
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
  sites/sveltevietnam.dev/src/lib/notifications/discord-new-message/DiscordNewMessage.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/settings/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(i18n+kit): init i18n context via kit batch contexts abstraction
  packages/kit/src/contexts/provider/ContextsProvider.svelte
  packages/kit/src/contexts/provider/context.js
  sites/recruit.sveltevietnam.dev/src/routes/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

fix(www): correct i18n locale def, typo, and misplaced vi <-> en
  sites/sveltevietnam.dev/src/lib/i18n/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/i18n/locales/vi.yaml
  sites/sveltevietnam.dev/src/lib/notifications/locales/en.yaml
  sites/sveltevietnam.dev/src/lib/notifications/locales/vi.yaml
Due: none

fix(www): fix up i18n references in rss endpoint
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/rss.xml/+server.ts
Due: eslint, prettier --write

chore(i18n): remove $derived for context.t, doesn't seem necessary
  packages/i18n-new/src/runtime/context/context/index.svelte.js
Due: eslint, prettier --write

refactor(kit): simplify notification portal, render as popopver
  packages/kit/src/notifications/base-notification/BaseNotification.svelte
  packages/kit/src/notifications/base-notification/index.d.ts
  packages/kit/src/notifications/portal/NotificationPortal.svelte
Due: eslint, prettier --write, stylelint

fix(www): pass promise directly to BaseNotification (follow-up for 74c2b5271205ddbd00094991b8a8db782b00302e) [Skip CI]
  sites/sveltevietnam.dev/src/lib/notifications/discord-new-message/DiscordNewMessage.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
Due: eslint, prettier --write, stylelint

fix(kit): reloading page as switching lang for now
  packages/kit/src/components/language-menu/LanguageMenu.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade vite & cloudflare dependencies
  package.json
  packages/css/package.json
  packages/i18n-new/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

fix(kit): add more right padding to BaseNotification, avoid overlapping content (e.g. online toast)
  packages/kit/src/notifications/base-notification/BaseNotification.svelte
Due: eslint, prettier --write, stylelint

fix(i18n): await in script first (otherwise weird nodeType undefined error upon hydration)
  packages/i18n-new/src/runtime/T/T.svelte
Due: eslint, prettier --write, stylelint

chore: remove peer dependencies i18n-new
  packages/i18n-new/package.json
Due: prettier --write

refactor(www): simplify i18n in homepage with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/blog/SectionBlog.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/events/SectionEvents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/sponsor/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in subscriber upsert form with new implementation
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in everify page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/everify/[token]/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(www): simplify i18n in coc page with new implementation
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(kit): simplify i18n in QR code dialog with new implementation
  packages/kit/src/dialogs/qr-code/DialogQrCode.svelte
  packages/kit/src/dialogs/qr-code/index.d.ts
Due: eslint, prettier --write, stylelint
