Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(backend): upgrade mjml
  pnpm-lock.yaml
  workers/backend/package.json
Due: prettier --write

chore(backend): upgrade hono
  pnpm-lock.yaml
  workers/backend/package.json
Due: prettier --write

chore: upgrade turbo
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(backend): upgrade @aws-sdk/client-sesv2
  pnpm-lock.yaml
  workers/backend/package.json
Due: prettier --write

chore: upgrade prettier
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade vite
  packages/css/package.json
  packages/i18n/package.json
  packages/kit/package.json
  packages/markdown/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade cloudflare dependencies
  package.json
  packages/kit/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore: upgrade misc typing dependencies
  package.json
  packages/markdown/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore(recruit,backend): upgrade drizzle dependencies
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  workers/backend/package.json
Due: prettier --write

chore(www,recruit): upgrade @sveltejs/enhanced-img
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade svelte-check
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(kit.CommonLayout): mark hydration completion via hydrated attribute on HtmlElement
  packages/kit/src/layouts/common/CommonLayout.svelte
Due: eslint, prettier --write, stylelint

test(recruit): check for hydration completion before proceeding during POM navigation
  sites/recruit.sveltevietnam.dev/tests/poms/common.ts
Due: eslint, prettier --write

chore: upgrade svelte & svelte-kit
  packages/i18n/package.json
  packages/i18n/tests/e2e/remote/package.json
  packages/i18n/tests/e2e/static/package.json
  packages/kit/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix(recruit): skip auth hook on root path
  sites/recruit.sveltevietnam.dev/src/hooks.server.ts
Due: eslint, prettier --write

fix(recruit): bootstrap better-auth secret as 32 character-long string during development (required in newer version of better-auth)
  sites/recruit.sveltevietnam.dev/.env.example
Due: none

chore(recruit): upgrade better-auth, update code to support new email-change workflow, remove better-auth dependency from backend
  pnpm-lock.yaml
  sites/recruit.sveltevietnam.dev/package.json
  sites/recruit.sveltevietnam.dev/src/lib/auth/index.ts
  sites/recruit.sveltevietnam.dev/tests/002-account.uat.ts
  workers/backend/package.json
Due: eslint, prettier --write

chore(prettier): no trailing comma in jsonc file, to avoid error by standard JSON parsers
  prettier.config.js
Due: eslint, prettier --write

feat(sveltevietnam.dev): adding 'testing' blog category
  sites/sveltevietnam.dev/src/data/blog/categories/entries/testing/index.ts
  sites/sveltevietnam.dev/src/data/blog/categories/entries/testing/thumbnail.jpg
Due: eslint, prettier --write

feat(sveltevietnam.dev): new blog post - hydration assertion in e2e tests with sveltekit & playwright
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/metadata.ts
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): add missing vi word count & reading time, remove unnecessary character in latest blog post
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/metadata.ts
Due: eslint, prettier --write, stylelint

feat(markdown): add support for common lisp and lua syntax highlighting (shiki)
  packages/markdown/src/components/file-icon/FileIcon.svelte
  packages/markdown/src/shiki.js
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): adjust wording in code example for latest blog post
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): update thumbnail of latest blog post (change font of hydration text)
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/images/thumbnail.jpg
Due: none

feat(sveltevietnam.dev): new blog post - custom svelte treesitter ext objects in neovim
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260321-custom-svelte-treesitter-text-objects-in-neovim/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260321-custom-svelte-treesitter-text-objects-in-neovim/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260321-custom-svelte-treesitter-text-objects-in-neovim/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260321-custom-svelte-treesitter-text-objects-in-neovim/metadata.ts
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correct code snippet in latest blog post (custom-svelte-treesitter-text-objects-in-neovim)
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260321-custom-svelte-treesitter-text-objects-in-neovim/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260321-custom-svelte-treesitter-text-objects-in-neovim/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): add additional note about how to test for flakiness in "hydration-assertion-in-tests-with-sveltekit-playwright" blog post
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/entries/20260322-hydration-assertion-in-tests-with-sveltekit-playwright/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
