Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(backend): set alt for social image
  workers/backend/src/mjml/includes/socials.mjml
Due: none

fix(backend): serve images as static assets instead of base64 (problematic in emails)
  workers/backend/index.html
  workers/backend/public/images/calendars/google.png
  workers/backend/public/images/calendars/microsoft.png
  workers/backend/public/images/calendars/yahoo.png
  workers/backend/public/images/logo.png
  workers/backend/public/images/socials/bluesky.png
  workers/backend/public/images/socials/discord.png
  workers/backend/public/images/socials/facebook.png
  workers/backend/public/images/socials/github.png
  workers/backend/public/images/socials/open-collective.png
  workers/backend/public/images/socials/youtube.png
  workers/backend/src/app.d.ts
  workers/backend/src/data/links.ts
  workers/backend/src/data/mails/index.ts
  workers/backend/src/mjml/includes/header.mjml
  workers/backend/src/mjml/includes/socials.mjml
  workers/backend/src/mjml/templates/types.ts
  workers/backend/wrangler.json
Due: eslint, prettier --write

style(c-text-input): let input spans whole height when used inside label
  packages/css/src/components/c-text-input.css
Due: stylelint

fix(sveltevietnam.dev): sm text size for turnstile error - SubscriberUpsertForm
  sites/sveltevietnam.dev/src/lib/forms/subscriber/SubscriberUpsertForm.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): increase z-index close button in BaseNotification for clickability
  sites/sveltevietnam.dev/src/lib/notifications/components/BaseNotification.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): temporarily turn off splash screen raw script
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/lib/components/splash-screen/SplashScreen.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): set anonymous value for crossorigin attribute on google font prefetch link
  sites/sveltevietnam.dev/src/app.html
Due: prettier --write

chore(sveltevietnam.dev): turn off prerendering completely (causing too verbose setup & interfereing with splash screen)
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.server.ts
  sites/sveltevietnam.dev/svelte.config.js
Due: eslint, prettier --write

fix(sveltevietnam.dev): inline splash screen outside hydration zone
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/lib/assets/images/svg/splash-svelte-vietnam.svg
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/SplashScreenPlayground.svelte
  sites/sveltevietnam.dev/src/lib/components/splash-screen/index.ts
  sites/sveltevietnam.dev/src/lib/components/splash-screen/name.svg
  sites/sveltevietnam.dev/src/lib/components/splash-screen/splash.js
  sites/sveltevietnam.dev/src/lib/styles/app.css
  sites/sveltevietnam.dev/src/lib/styles/splash.css
  sites/sveltevietnam.dev/src/preprocess-inline-svg.d.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam.dev): copy events & blog posts from current origin
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListing.svelte
  sites/sveltevietnam.dev/src/lib/components/event-listing/EventListingItem.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): avoid coupling env in structured data helpers
  sites/sveltevietnam.dev/src/lib/meta/structured/blog.ts
  sites/sveltevietnam.dev/src/lib/meta/structured/events.ts
  sites/sveltevietnam.dev/src/lib/meta/structured/organization.ts
  sites/sveltevietnam.dev/src/lib/meta/structured/people.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): correct props type for BlogNewsletter
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
Due: eslint, prettier --write, stylelint

style(sveltevietnam.dev): add border for table of contents in blog posts
  sites/sveltevietnam.dev/src/lib/components/table-of-contents/TableOfContents.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/write/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): EN version of new blog post - reactive extension storage with createSubscriber
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/images/thumbnail.jpg
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/metadata.ts
  sites/sveltevietnam.dev/src/data/blog/series/mini-snippet/index.ts
  sites/sveltevietnam.dev/src/data/blog/series/mini-snippet/thumbnail.jpg
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): VI version of new blog post - reactive extension storage with createSubscriber
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/metadata.ts
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): missing translation in en ver of come-for-svelte-stay-for-the-web blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/content/en.md.svelte
Due: eslint, prettier --write, stylelint

style(c-callout): set isolate
  packages/css/src/components/c-callout/c-callout.css
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/mails/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

style(palette): fix error colors on light mode
  packages/css/src/theme/colors/index.css
Due: stylelint

style(sveltevietnam.dev): simplify markup of intro section on code-of-conduct page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/code-of-conduct/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): implement new design page
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/_page/colors.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/_page/images/non-la.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/_page/images/og-design.en.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/_page/images/og-design.vi.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/_page/images/rays.jpg
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): buffer some travel distance before toggling header visibility on scrolling
  sites/sveltevietnam.dev/src/lib/components/header/Header.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): lang specific alt for images in design page, logo section
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/design/+page.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): add superforms to explicit optimized deps
  sites/sveltevietnam.dev/vite.config.ts
Due: eslint, prettier --write

feat(sveltevietnam.dev): implement scroll-linked animation for svg illustrations on events page
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): animation for write section on blog page
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): add rel & target attributes for links in resources section on homepage
  sites/sveltevietnam.dev/src/data/locales/en.yaml
  sites/sveltevietnam.dev/src/data/locales/vi.yaml
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
Due: eslint, prettier --write, stylelint

refactor(sveltevietnam): migrate animation to animejs
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/events/+page.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): animate intro section & fade in out step sections on home page
  sites/sveltevietnam.dev/src/lib/components/split-text/SplitText.svelte
  sites/sveltevietnam.dev/src/lib/components/split-text/index.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/components/StepContainer.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): duplicated Discord text at footer
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): wxt blog post - correct lang tag in code example
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20250425-mini-snippet-reactive-extension-storage-wxt/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): moving cursor animation on homepage
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/resources/components/StepContainer.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): correctly capture splash timestamp
  sites/sveltevietnam.dev/src/app.html
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
Due: eslint, prettier --write

enhance(sveltevietnam.dev): coordinate intro animation on homepage after splashscreen
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/_page/sections/intro/SectionIntro.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): add back delayed notification if hydration is 2 seconds or more after splash screen
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): new v1 UI for jobs listing page, with TBA sections hardcoded
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/_page/images/electricity.svg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/_page/images/og-jobs.en.jpg
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/jobs/_page/images/og-jobs.vi.jpg
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): normalize email to lower case before saving to database (subscriber data)
  sites/sveltevietnam.dev/src/lib/forms/subscriber/server.ts
Due: eslint, prettier --write

fix(sveltevietnam.dev): set consistent import extension for svelte.ts modules
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/+layout.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/categories/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/latest/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/blog/(listing)/series/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/[lang=lang]/people/[id]/+page.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/routes/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  workers/backend/package.json
  workers/backend/src/data/subscribers/index.ts
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
