Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

feat(www): setup & hygen template for new blog post
  .editorconfig
  sites/www/_templates/post/create/content.en.ejs.t
  sites/www/_templates/post/create/content.vi.ejs.t
  sites/www/_templates/post/create/data.ejs.t
  sites/www/_templates/post/create/listing-import.inject.ejs.t
  sites/www/_templates/post/create/listing-post.inject.ejs.t
  sites/www/_templates/post/create/page.ejs.t
  sites/www/_templates/post/create/page.server.ejs.t
  sites/www/_templates/post/create/prompt.js
  sites/www/src/app.d.ts
  sites/www/src/lib/shared/data/blog/index.ts
  sites/www/src/lib/shared/services/i18n/index.ts
  sites/www/src/lib/shared/types/index.ts
  sites/www/src/routes/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/_page/data.ts
Due: eslint, prettier --write, stylelint

feat(sites): setup @tailwind/typography for blog post
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/[[lang=lang]]/(prototype)/blog/(posts)/+layout.svelte
  sites/www/tailwind.config.cjs
Due: eslint, prettier --write, stylelint

fix: move hygen _template files (missing after monorepo migration)
  sites/www/_templates/component/create/index.ejs.t
  sites/www/_templates/component/create/prompt.js
  sites/www/_templates/component/create/svelte.ejs.t
  sites/www/_templates/css/create/component.ejs.t
  sites/www/_templates/css/create/component.inject.ejs.t
  sites/www/_templates/css/create/prompt.js
  sites/www/_templates/generator/help/index.ejs.t
  sites/www/_templates/generator/new/hello.ejs.t
  sites/www/_templates/generator/with-prompt/hello.ejs.t
  sites/www/_templates/generator/with-prompt/prompt.ejs.t
  sites/www/_templates/init/repo/new-repo.ejs.t
  sites/www/_templates/modal/create/index.ejs.t
  sites/www/_templates/modal/create/prompt.js
  sites/www/_templates/modal/create/svelte.ejs.t
  sites/www/_templates/package.json
  sites/www/_templates/translation/create/en.ejs.t
  sites/www/_templates/translation/create/index.ejs.t
  sites/www/_templates/translation/create/prompt.js
  sites/www/_templates/translation/create/vi.ejs.t
Due: eslint, prettier --write

chore(www): add some comments in hooks.server for redirection purposes
  sites/www/src/hooks.server.ts
Due: eslint, prettier --write

refactor(www): i18n - simplify translation type import for en
  sites/www/_templates/translation/create/en.ejs.t
  sites/www/src/lib/client/components/EventCard/translation/en.ts
  sites/www/src/lib/client/components/Footer/translation/en.ts
  sites/www/src/lib/client/components/JobCard/translation/en.ts
  sites/www/src/lib/client/modals/WireframeVersionNotice/translation/en.ts
  sites/www/src/lib/server/actions/mail/translation/en.ts
  sites/www/src/lib/shared/services/i18n/translations/color-scheme/en.ts
  sites/www/src/lib/shared/services/i18n/translations/navigation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/code-of-conduct/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/[slug]/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/events/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/impact/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/jobs/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/people/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/sponsor/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/_page/translation/en.ts
Due: eslint, prettier --write

refactor(www): Footer - group links specifically for footer links
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/shared/services/navigation/index.ts
Due: eslint, prettier --write, stylelint

style(www): encapsulate Svelte Vietnam logo into component
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
  sites/www/src/lib/client/components/SvelteVietnamLogo/SvelteVietnamLogo.svelte
  sites/www/src/lib/client/components/SvelteVietnamLogo/index.ts
  sites/www/src/lib/client/styles/app.css
  sites/www/src/lib/shared/assets/images/svg/sveltevietnam-grayscale.svg
  sites/www/src/lib/shared/assets/images/svg/sveltevietnam.svg
  sites/www/src/routes/[[lang=lang]]/_page/components/SectionSponsor.svelte
Due: eslint, prettier --write, stylelint

feat(www): /design page bootstrap
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/components/Footer/translation/en.ts
  sites/www/src/lib/client/components/Footer/translation/vi.ts
  sites/www/src/lib/shared/assets/images/svg/icon/plus.svg
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/_page/images/logo-concept-nonla.webp
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/_page/translation/en.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/_page/translation/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(www): typography css system & /design/typography page bootstrap
  sites/www/src/lib/client/styles/utilities/index.cjs
  sites/www/src/lib/client/styles/utilities/typography.css
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.server.ts
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): typography - simplify typography classes. Add more info to /design/typography page
  sites/www/src/lib/client/styles/utilities/typography.css
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/typography/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): SvelteVietnamLogo - deprecate hoverToOriginal, let parent handle via css variable
  sites/www/src/lib/client/components/Header/Header.svelte
  sites/www/src/lib/client/components/SvelteVietnamLogo/SvelteVietnamLogo.svelte
Due: eslint, prettier --write, stylelint

fix(www): SplashScreen icon css selector should be global
  sites/www/src/lib/client/components/SplashScreen/SplashScreen.svelte
Due: eslint, prettier --write, stylelint

style(www): /design, simplify logo & correct plus icon color
  sites/www/src/lib/shared/assets/images/svg/icon/plus.svg
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): /design - reapply typography classes
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
Due: eslint, prettier --write, stylelint

style(www): Header - logo hover | should not annimate bg paths
  sites/www/src/lib/client/components/Header/Header.svelte
Due: eslint, prettier --write, stylelint

fix(www): localize URL object instead of pathname to keep query params
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(www): save referrer from hooks.server.ts into locals (as URL)
  sites/www/src/app.d.ts
  sites/www/src/hooks.server.ts
Due: eslint, prettier --write

feat(www): page transition, resolve #66
  sites/www/src/lib/client/styles/app.css
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/src/routes/[[lang=lang]]/_page/components/PageTransition.svelte
Due: eslint, prettier --write, stylelint

style(www): /design - remove fixed width, let content wrap
  sites/www/src/routes/[[lang=lang]]/(prototype)/design/+page.svelte
Due: eslint, prettier --write, stylelint

chore: add vi translation for contributor_nomiation issue template
  .github/ISSUE_TEMPLATE/contributor_nomination_en.yaml
  .github/ISSUE_TEMPLATE/contributor_nomitaion_vi.yaml
Due: none

chore: github issue template for blog post proposal (EN version)
  .github/ISSUE_TEMPLATE/blog_post_proposal_en.yaml
  .github/ISSUE_TEMPLATE/contributor_nomination_en.yaml
  .github/ISSUE_TEMPLATE/contributor_nomitaion_vi.yaml
Due: none

chore: github issue tempalte: link external blog post (EN)
  .github/ISSUE_TEMPLATE/external_blog_post_link_request_en.yaml
  sites/www/src/lib/shared/data/blog/index.ts
Due: eslint, prettier --write

chore: rename github issue tempalte for better lang visual grouping
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/en_contributor_nomination.yaml
  .github/ISSUE_TEMPLATE/en_external_blog_post_link_request.yaml
  .github/ISSUE_TEMPLATE/vi_contributor_nomitaion.yaml
Due: none

chore: github issue tempalte: link external blog post (VI)
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/en_contributor_nomination.yaml
  .github/ISSUE_TEMPLATE/en_external_blog_post_link_request.yaml
  .github/ISSUE_TEMPLATE/vi_contributor_nomitaion.yaml
  .github/ISSUE_TEMPLATE/vi_external_blog_post_link_request.yaml
Due: none

chore: github issue template for blog post proposal (VI)
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
Due: none

chore: github template issue - blog post proposal - wording adjustments
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
Due: none

docs(DEV_SETUP): extract from CONTRIBUTING into own doc
  CONTRIBUTING.md
  docs/DEV_SETUP.md
  package.json
Due: prettier --write

docs(DEV_BLOG_POST): guidelines for implementing blog post
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
  CONTRIBUTING.md
  docs/DEV_BLOG_POST.md
Due: prettier --write

docs: correct link to DEV_BLOG_POST from github issue template
  .github/ISSUE_TEMPLATE/en_blog_post_proposal.yaml
  .github/ISSUE_TEMPLATE/vi_blog_post_proposal.yaml
Due: none

docs(DEV_SETUP): use 'package' terminology for monorepo to align with pnpm workspace
  docs/DEV_SETUP.md
Due: prettier --write

docs(SUPPORT): add support resources
  SUPPORT.md
Due: prettier --write

docs: move healh files to organization level (https://github.com/sveltevietnam/.github/commit/3da3e5604bda4cfd9c8716339532532688a20aa9)
  CODE_OF_CONDUCT.md
  SECURITY.md
  SUPPORT.md
Due: prettier --write

refactor: utilize app.environment.version of svelte kit to replace global constants (resolve #89)
  sites/www/.eslintrc.cjs
  sites/www/package.json
  sites/www/src/app.d.ts
  sites/www/src/lib/client/components/Footer/translation/en.ts
  sites/www/src/routes/+layout.server.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/svelte.config.js
  sites/www/vite.config.ts
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  libs/utils/package.json
  pnpm-lock.yaml
  services/discord/package.json
  sites/www/package.json
Due: prettier --write

chore: setup site version polling
  sites/www/src/lib/shared/services/i18n/translations/notification/en.ts
  sites/www/src/lib/shared/services/i18n/translations/notification/index.ts
  sites/www/src/lib/shared/services/i18n/translations/notification/vi.ts
  sites/www/src/routes/[[lang=lang]]/+layout.svelte
  sites/www/svelte.config.js
Due: eslint, prettier --write, stylelint

chore: deprecate simple-git-hooks in favor of husky (#75)
  .husky/pre-commit
  .simple-git-hooks.json
  docs/DEV_SETUP.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(www): util buildBreadcrumbs in navigation service
  sites/www/src/lib/client/components/Header/components/PageNav.svelte
  sites/www/src/lib/shared/services/i18n/translations/navigation/en.ts
  sites/www/src/lib/shared/services/i18n/translations/navigation/vi.ts
  sites/www/src/lib/shared/services/navigation/index.ts
  sites/www/src/lib/shared/services/navigation/server.ts
Due: eslint, prettier --write, stylelint

feat(www): initial implementation for Breadcrumbs component
  sites/www/src/lib/client/components/Breadcrumbs/Breadcrumbs.svelte
  sites/www/src/lib/client/components/Breadcrumbs/index.ts
  sites/www/src/lib/client/components/Footer/Footer.svelte
  sites/www/src/lib/client/styles/components/link.css
  sites/www/src/lib/shared/assets/images/svg/icon/caret.svg
Due: eslint, prettier --write, stylelint

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
