Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

fix(sveltevietnam/css): separate css entry for layer declaration
  packages/css/package.json
  packages/css/src/base.css
  packages/css/src/layers.css
  sites/sveltevietnam.dev/src/lib/styles/app.css
Due: prettier --write, stylelint

feat(sveltevietnam.dev): put back splash screen
  sites/sveltevietnam.dev/.env.example
  sites/sveltevietnam.dev/src/app.d.ts
  sites/sveltevietnam.dev/src/hooks.server.ts
  sites/sveltevietnam.dev/src/lib/components/splash-screen/SplashScreen.svelte
  sites/sveltevietnam.dev/src/lib/components/splash-screen/index.ts
  sites/sveltevietnam.dev/src/lib/components/splash-screen/splash.js
  sites/sveltevietnam.dev/src/lib/settings/context.svelte.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.server.ts
  sites/sveltevietnam.dev/src/routes/(site)/+layout.svelte
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): migrate splash-screen blog post to new system
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/SplashScreenPlayground.svelte
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/index.ts
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/locales/en.json
  sites/sveltevietnam.dev/src/lib/components/splash-screen-playground/locales/vi.json
  sites/sveltevietnam.dev/src/routes/(site)/+layout.ts
Due: eslint, prettier --write, stylelint

chore(sveltevietnam.dev): render name as svg in splash screen (avoid FOUC)
  sites/sveltevietnam.dev/src/lib/components/splash-screen/SplashScreen.svelte
  sites/sveltevietnam.dev/src/lib/components/splash-screen/name.svg
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): put back tailwindcss blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/images/tailwind-content.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/images/tailwind-hate-en.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/images/tailwind-hate-vi.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/images/tailwind-in-postcss-en.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-i-tailwindcss/images/tailwind-in-postcss-vi.png
Due: eslint, prettier --write, stylelint

refator: remove svelte CSS layer, merge into components
  packages/css/src/layers.css
  sites/sveltevietnam.dev/src/lib/components/avatar/Avatar.svelte
  sites/sveltevietnam.dev/src/lib/components/gradient-background/GradientBackground.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): put back styling vietnam part ii blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/atomic-design-comic-en.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/atomic-design-comic-vi.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/atomic-design-nightmare.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/component-based-development.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/just-changing-color-en.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/just-changing-color-vi.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/network-transfer.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/images/template-based-development.png
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): put back styling vietnam part iii blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-ii-css-components/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/images/css-to-jss-build.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/images/css-to-jss-inline.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/images/design-system-package.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240125-styling-svelte-vietnam-part-iii-code-discovery-portability/images/tailwindcss-vscode-intellisense.png
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore(sveltevietnam.dev): remove workaround in reroute (fixed by upstream)
  sites/sveltevietnam.dev/src/hooks.ts
Due: eslint, prettier --write

refactor(sveltevietnam.dev): better naming for locales of static notifications
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231204-behind-the-screen-a-few-secrets-of-sveltevietnam-dev/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/notifications/static/delayed-hydration/locales/en.json
  sites/sveltevietnam.dev/src/lib/notifications/static/delayed-hydration/locales/vi.json
  sites/sveltevietnam.dev/src/lib/notifications/static/new-site-version/locales/en.json
  sites/sveltevietnam.dev/src/lib/notifications/static/new-site-version/locales/vi.json
  sites/sveltevietnam.dev/src/lib/notifications/static/sample/locales/en.json
  sites/sveltevietnam.dev/src/lib/notifications/static/sample/locales/vi.json
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): put back action blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240414-introduction-to-svelte-action-runtime-superpower/content/vi.md.svelte
  sites/sveltevietnam.dev/src/lib/assets/images/svg/svelte.svg
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/preprocess-inline-svg.d.ts
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): update locale reference - splashscreen blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20231220-behind-the-screen-progressive-splashscreen/content/vi.md.svelte
Due: eslint, prettier --write, stylelint

chore: bump tailwind 4 beta version
  packages/css/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

fix(sveltevietnam.dev): avoid Tailwind minification problem with gradient & currentcolor
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
Due: eslint, prettier --write, stylelint

feat(sveltevietnam.dev): put back come-for-svelte-stay-for-the-web blog post
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/content/en.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/content/vi.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/examples/.markdownlint.json
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/examples/clickoutside.react.txt
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/examples/clickoutside.svelte.txt
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/examples/clickoutside.vue.txt
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/examples/example.md.svelte
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/images/clickoutside.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/images/preprocess-blog.png
  sites/sveltevietnam.dev/src/data/blog/posts/20240420-come-for-svelte-stay-for-the-web/images/svelte-preprocessor.png
Due: eslint, prettier --write, stylelint

fix(components/green-web-badge): correct href
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/GreenWebBadge.svelte
Due: eslint, prettier --write, stylelint

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: bump node version
  package.json
  pnpm-lock.yaml
Due: prettier --write

enhance(components.GreenWebBadge): optimize, switch to using HTML instead of SVG
  packages/css/src/theme/index.css
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/GreenWebBadge.svelte
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/logo-gwf.svg
Due: eslint, prettier --write, stylelint

chore: rework package.json scripts
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  sites/sveltevietnam.dev/package.json
Due: prettier --write

chore: upgrade shiki -> v3
  packages/markdown/package.json
  packages/markdown/src/shiki.js
  pnpm-lock.yaml
Due: eslint, prettier --write

chore: upgrade eslint and fix all issues
  eslint.config.js
  lefthook.yaml
  package.json
  packages/css/package.json
  packages/i18n/package.json
  packages/markdown/package.json
  packages/markdown/src/shiki.js
  pnpm-lock.yaml
  sites/sveltevietnam.dev/eslint.config.js
  sites/sveltevietnam.dev/package.json
  sites/sveltevietnam.dev/src/lib/components/blog-post-common-list/BlogPostCommonList.svelte
  sites/sveltevietnam.dev/src/lib/components/blog-post-list-item/BlogPostListItem.svelte
  sites/sveltevietnam.dev/src/lib/components/breadcrumbs/Breadcrumbs.svelte
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/footer/Footer.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/person-links/PersonLinks.svelte
  sites/sveltevietnam.dev/src/routes/(site)/_page/sections/resources/SectionResources.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/[slug]/+page.svelte
  sites/sveltevietnam.dev/src/routes/(site)/blog/categories/[category]/+page.server.ts
  sites/sveltevietnam.dev/src/routes/+layout.svelte
Due: eslint, prettier --write, stylelint

chore: update lefthook.yaml
  .editorconfig
  lefthook.yaml
Due: none

chore: upgrade tailwindcss
  packages/css/package.json
  packages/css/src/base.css
  packages/css/src/theme/breakpoints.css
  packages/css/src/theme/colors/variants.css
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
  stylelint.config.js
Due: eslint, prettier --write, stylelint

style: set cloudflare turnstile size to flexible, add markdown package to tailwind source
  sites/sveltevietnam.dev/src/lib/components/blog-newsletter/BlogNewsletter.svelte
  sites/sveltevietnam.dev/src/lib/styles/app.css
  stylelint.config.js
Due: eslint, prettier --write, stylelint

style: define theme colors using light-dark function
  packages/css/src/theme/colors/index.css
  packages/css/src/typography.css
  sites/sveltevietnam.dev/src/lib/components/gradient-background/GradientBackground.svelte
  sites/sveltevietnam.dev/src/lib/components/green-web-badge/GreenWebBadge.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
Due: eslint, prettier --write, stylelint

style: declare CSS layers explicitly in app.html
  sites/sveltevietnam.dev/src/app.html
Due: prettier --write

chore: upgrade eslint config
  eslint.config.js
  package.json
  packages/i18n/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: eslint, prettier --write

chore: better lefthook management
  lefthook.yaml
Due: none

chore: upgrade dependencies
  package.json
  packages/css/package.json
  packages/i18n/package.json
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: prettier --write

refactor(i18n): change strategy to parsing from a single YAML file
  packages/i18n/package.json
  packages/i18n/src/cli.js
  packages/i18n/src/internals/build.js
  packages/i18n/src/internals/codegen.js
  packages/i18n/src/internals/collect.js
  packages/i18n/src/internals/lint.js
  packages/i18n/src/internals/locale.schema.json
  packages/i18n/src/internals/parse.js
  packages/i18n/src/internals/private.d.ts
  packages/i18n/src/internals/transform.js
  packages/i18n/src/internals/utils.js
  packages/i18n/src/runtime/T.svelte
  packages/i18n/src/runtime/T.svelte.d.ts
  packages/i18n/src/runtime/index.js
  packages/i18n/src/runtime/types.public.d.ts
  packages/i18n/src/vite.js
  pnpm-lock.yaml
  sites/sveltevietnam.dev/package.json
Due: eslint, prettier --write, stylelint

fix(css): remove dependencies on postcss-custom-selectors inside CSS
  packages/css/src/assets/images/animated-spinner.svg
  packages/css/src/assets/images/animated-three-dots.svg
  packages/css/src/base.css
  packages/css/src/components/c-btn/c-btn--icon.css
  packages/css/src/components/c-btn/c-btn--outlined.css
  packages/css/src/components/c-btn/c-btn--pop.css
  packages/css/src/components/c-btn/c-btn.css
  packages/css/src/components/c-checkbox.css
  packages/css/src/components/c-link-icon.css
  packages/css/src/components/c-link-image.css
  packages/css/src/components/c-link-lazy.css
  packages/css/src/components/c-link-preserved.css
  packages/css/src/components/c-link.css
  packages/css/src/components/c-text-input.css
  packages/css/src/icons/animated/ia-3dots.css
  packages/css/src/icons/animated/ia-spinner.css
  packages/css/src/selectors.css
  packages/css/src/variants.css
Due: stylelint

style(sveltevietnam.dev): more pronounced color for active items on header dropdowns
  sites/sveltevietnam.dev/src/lib/components/color-scheme-menu/ColorSchemeMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/language-menu/LanguageMenu.svelte
  sites/sveltevietnam.dev/src/lib/components/page-menu/PageMenu.svelte
Due: eslint, prettier --write, stylelint

fix(sveltevietnam.dev): fix typo in docs.turnstile.desc message
  sites/sveltevietnam.dev/src/data/locales/en.yaml
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
