Repository sveltevietnam/sveltevietnam.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, stylelint

chore(sites/www): update links to c-callout source code in blog
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20240125-styling-svelte-vietnam-part-ii-css-components/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

style(sites/www): increase stroke-width of status icon in notification to 2px
  sites/www/src/lib/notifications/BaseNotification.svelte
Due: eslint, prettier --write, stylelint

chore(sites/www): credit link to huymai credit in event page
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
Due: eslint, prettier --write

refactor(sites/www): extract generateTimeSlot to event data helpers
  sites/www/src/lib/data/events/helpers.ts
  sites/www/src/lib/data/events/index.ts
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

refactor(libs/ui): explicit width & height for FileIcon
  .changeset/witty-cherries-relate.md
  libs/ui/src/lib/components/FileIcon.svelte
Due: eslint, prettier --write, stylelint

chore(sites/www): adjust hygen event create script for correct typing of EN translation
  sites/www/_templates/event/create/translation-en.ejs.t
Due: none

chore(libs/ui): rename c-callout icon modifier to be more specific
  .changeset/happy-ways-occur.md
  libs/ui/src/css/core/components/c-callout.css
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.en.md.svelte
  sites/www/src/routes/(localized)/blog/(posts)/20231220-behind-the-screen-progressive-splashscreen/_page/content.vi.md.svelte
Due: eslint, prettier --write, stylelint

chore(sites/www): clean up event detail page of 2023 year-end online meetup
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/202312-year-end-online-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(sites/www): typo at event TBA section
  sites/www/src/routes/(localized)/_page/translation/vi.ts
  sites/www/src/routes/(localized)/events/_page/translation/vi.ts
Due: eslint, prettier --write

feat(libs/ui): new icon variants for c-callout - confetti and trophy
  .changeset/eleven-pears-type.md
  libs/ui/src/css/core/components/c-callout.css
  sites/www/src/routes/(localized)/design/blog/+page.svelte
  sites/www/src/routes/(localized)/design/blog/_page/translation/en.ts
  sites/www/src/routes/(localized)/design/blog/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

chore(sites/www): adjust wording to avoid listing sponsors on the site, defer to Open Collective page
  sites/www/src/routes/(localized)/+page.server.ts
  sites/www/src/routes/(localized)/+page.svelte
  sites/www/src/routes/(localized)/_page/components/SectionSponsor.svelte
  sites/www/src/routes/(localized)/_page/translation/en.ts
  sites/www/src/routes/(localized)/_page/translation/vi.ts
  sites/www/src/routes/(localized)/sponsor/+page.svelte
  sites/www/src/routes/(localized)/sponsor/_page/translation/en.ts
  sites/www/src/routes/(localized)/sponsor/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

feat(sites/www): setup util for fetch open collective sponsors
  sites/www/src/lib/data/sponors/index.ts
  sites/www/src/lib/types/index.ts
Due: eslint, prettier --write

style(libs/ui): better lang overlay for EnhancedCodeBlock
  .changeset/many-needles-walk.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
Due: eslint, prettier --write, stylelint

style(sites/www): Settings - move splash playground out of c-callout
  sites/www/src/lib/components/Settings/Settings.svelte
Due: eslint, prettier --write, stylelint

fix(libs/ui): should safelist .shiki class name
  .changeset/famous-pugs-relate.md
  libs/ui/src/lib/css/tailwind.js
  sites/www/src/routes/(localized)/blog/(posts)/+layout.svelte
Due: eslint, prettier --write, stylelint

feat(libs/ui): shiki - hide line number if only 1 line
  .changeset/seven-guests-flow.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write, stylelint

refactor(libs/ui): enhance-code-block (group) - explicit name prop
  .changeset/mighty-dodos-sleep.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
  libs/ui/src/lib/preprocessors/enhance-code-block/index.js
Due: eslint, prettier --write, stylelint

feat(libs/ui): explicit hiding line numbers via meta prop `hideLineNumber`
  .changeset/rude-glasses-dress.md
  libs/ui/src/css/typography/base/prose.css
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
Due: eslint, prettier --write, stylelint

feat(libs/ui): enhanced code block group - 2 display mode `tabs` and `files` (default)
  .changeset/weak-colts-yawn.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
Due: eslint, prettier --write, stylelint

chore(sites/www): a /design/blog/code private page for testing enhanced-code-block
  sites/www/src/routes/(localized)/design/blog/code/+page.server.ts
  sites/www/src/routes/(localized)/design/blog/code/+page.svelte
  sites/www/src/routes/(localized)/design/blog/code/_page/content.md.svelte
Due: eslint, prettier --write, stylelint

feat(libs/ui): binding current & initial code block group
  .changeset/eighty-poems-return.md
  libs/ui/src/lib/components/EnhancedCodeBlock.svelte
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
Due: eslint, prettier --write, stylelint

fix(libs/ui): EnhancedCodeBlockGroup - shift first-row-las-col-fill down 1px for better alignment
  .changeset/twelve-nails-fold.md
  libs/ui/src/lib/components/EnhancedCodeBlockGroup.svelte
Due: eslint, prettier --write, stylelint

fix(libs/ui): mdsvex shiki `parseMetadata` - avoid infinite loop when there is only one line
  .changeset/breezy-dots-march.md
  libs/ui/src/lib/preprocessors/mdsvex/shiki.js
Due: eslint, prettier --write

refactor(sites/www): add optional checkbox field and extract translation & schema creation into util for better resuability
  sites/www/src/lib/components/MailRegistrationForm/MailRegistrationForm.svelte
  sites/www/src/lib/components/MailRegistrationForm/index.ts
  sites/www/src/lib/forms/actions/mail/mail.server.ts
  sites/www/src/routes/(localized)/blog/_page/components/MailSection.svelte
Due: eslint, prettier --write, stylelint

feat(sites/www): connect sv D1 database
  sites/www/src/app.d.ts
  sites/www/wrangler.production.toml
  sites/www/wrangler.toml
Due: eslint, prettier --write

feat(internal/isc): expose WWW_ERRORS mapping
  internals/isc/package.json
  internals/isc/src/www/errors.js
  internals/isc/src/www/index.js
Due: eslint, prettier --write

feat(sites/www): landing page for Spring 2024 HCM Meetup
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/lib/assets/images/svg/lucide/circle-user-round.svg
  sites/www/src/lib/data/events/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/bg-details.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/title.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/footer-bg.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/header-bg.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail-en.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/images/thumbnail-vi.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/en.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/translation/vi.ts
Due: eslint, prettier --write, stylelint

refactor(sites/www): consistent svelte-kit error object
  services/mailer/src/lib/server/errors.ts
  sites/www/src/app.d.ts
  sites/www/src/lib/forms/actions/mail/mail.server.ts
Due: eslint, prettier --write

chore: deprecate cssnano
  .changeset/cool-pigs-deliver.md
  libs/ui/package.json
  libs/ui/src/lib/css/postcss.js
  pnpm-lock.yaml
  services/mailer/package.json
  services/mailer/postcss.config.js
Due: eslint, prettier --write

chore: add wrangler production config to git secret
  .gitsecret/paths/mapping.cfg
  services/discord/.env.secret
  services/mailer/wrangler.preview.toml.secret
  services/mailer/wrangler.production.toml.secret
  sites/www/wrangler.production.toml.secret
Due: none

remove wrangler.(env).toml from git
  sites/www/.gitignore
  sites/www/wrangler.production.toml
Due: none

chore: update dependencies
  internals/utils/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  services/discord/package.json
  services/mailer/package.json
  sites/www/package.json
Due: prettier --write

chore(sites/www): allow e-ticket registration via D1 (new 'event_tickets' table)
  services/mailer/README.md
  sites/www/d1/migrations/0000_create_event_tickets_table.sql
  sites/www/src/lib/daos/event_tickets.dao.ts
  sites/www/src/lib/errors/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

style(sites/www): ElectronicTicket - smoother transform animation on mousemove
  pnpm-lock.yaml
  sites/www/package.json
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
Due: eslint, prettier --write, stylelint

refactor(sites/www): consistent naming for daos and utils of event ticket routes
  sites/www/src/lib/daos/event_tickets.dao.ts
  sites/www/src/lib/errors/index.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write

refactor(servies/mailer): rename error utiltto throwMailerSvelteKitError to align with newer changes in SvelteKit 2.0
  services/mailer/src/hooks.server.ts
  services/mailer/src/lib/server/errors.ts
  services/mailer/src/routes/(signed)/send/+server.ts
  services/mailer/src/routes/(signed)/subscriptions/+server.ts
  services/mailer/src/routes/(signed)/verify/[token]/+server.ts
  services/mailer/src/routes/mails/[token]/+server.ts
Due: eslint, prettier --write

refactor(services/mailer): conditionally inject mailerURL into mjml template
  services/mailer/src/lib/server/mjml/includes/header.mjml
  services/mailer/src/lib/server/mjml/includes/socials.mjml
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template.mjml
  services/mailer/src/routes/(signed)/send/+server.ts
Due: eslint, prettier --write

chore(sites/www): remove QR for eticket of Spring 2024 meetup event, adjust style, edit date
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/ElectronicTicket.svelte
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/bg-details.svg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/components/designveloper_logo.webp
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/_page/data.ts
Due: eslint, prettier --write, stylelint

feat(services/mailer): registration email for Spring 2024 HCM Meetup
  internals/isc/src/mailer/mails/dto.js
  services/mailer/src/lib/server/mjml/templates/index.ts
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-en.template.mjml
  services/mailer/src/lib/server/mjml/templates/spring-2024-hcm-meetup-registration-vi.template.mjml
  services/mailer/static/images/spring-2024-hcm-meetup-ticket.jpg
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.server.ts
  sites/www/src/routes/(localized)/events/(events)/2024-04-spring-2024-ho-chi-minh-meetup/+page.svelte
Due: eslint, prettier --write, stylelint

chore(mailer): gitignore generated email template
  services/mailer/.gitignore
  services/mailer/.lintstagedrc.js
  services/mailer/package.json
  services/mailer/src/lib/server/mjml/templates/welcome-en.template
  services/mailer/src/lib/server/mjml/templates/welcome-vi.template
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx,cjs,svelte}
  prettier --write: (any of: *.{ts,tsx,js,jsx,cjs,svelte}) or (any of: *.{md,json,html})
  stylelint: any of: *.{svelte,css}
